Repository carbon-design-system/ibm-security: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

.lintstagedrc:

{
  '*.{js,md,scss}': ['yarn format:precommit', 'git add'],
  '*.js': ['yarn lint:js:precommit', 'git add', 'yarn test:precommit'],
  '*.scss': ['yarn lint:scss:precommit', 'git add'],
}

Notes added by 'git notes add'
  44/97f889c9be15ff0d3d579d5e8762ae4aea44ec
Due: none

test(page-title): update tests
  src/components/UNSTABLE__PageTitle/__tests__/PageTitle.spec.js
  src/components/UNSTABLE__PageTitle/index.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

test(page-title): update test documentation
  src/components/UNSTABLE__PageTitle/__tests__/PageTitle.spec.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

fix(focus-trap): update version, enable outside clicks
  .yarn/offline-mirror/focus-trap-4.0.2.tgz
  .yarn/offline-mirror/focus-trap-5.1.0.tgz
  .yarn/offline-mirror/focus-trap-react-6.0.0.tgz
  .yarn/offline-mirror/focus-trap-react-7.0.1.tgz
  .yarn/offline-mirror/tabbable-3.1.2.tgz
  .yarn/offline-mirror/tabbable-4.0.0.tgz
  package.json
  src/components/Portal/Portal.js
  yarn.lock
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

fix(focus-trap): enable outside clicks function
  src/components/Portal/Portal.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

chore(release): 1.29.0 [skip ci]
  package.json
Due: none

Notes added by 'git notes add'
  66/ab719ee54ed957adb1c791c464894d829ea569
Due: none

fix(tag-wall-filter): fix input positioning
  src/__tests__/scss/__snapshots__/SCSS.spec.js.snap
  src/components/TagWallFilter/Filter/Filter.js
  src/components/TagWallFilter/Filter/_mixins.scss
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

chore(nav-item): add instance ID
  src/components/Nav/NavItem/NavItem.js
  src/components/Nav/NavItem/__tests__/__snapshots__/NavItem.spec.js.snap
  src/components/Nav/NavList/__tests__/__snapshots__/NavList.spec.js.snap
  src/components/Nav/__tests__/__snapshots__/Nav.spec.js.snap
  src/components/__tests__/__snapshots__/publicAPI.spec.js.snap
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

fix(toolbar): update panel semantics
  src/components/Toolbar/Toolbar.js
  src/components/Toolbar/__tests__/__snapshots__/Toolbar.spec.js.snap
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

feat(header): add profile.description prop to the popover (#698)
  src/__tests__/scss/__snapshots__/SCSS.spec.js.snap
  src/components/Header/Header.js
  src/components/Header/_mixins.scss
  src/components/Header/_mocks_/index.js
  src/components/Header/constants.js
  src/components/__tests__/__snapshots__/publicAPI.spec.js.snap
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

chore(release): 1.30.0-prerelease.1 [skip ci]
  package.json
Due: none

Notes added by 'git notes add'
  46/06908cbb67e326fcd416e4fe1907f07f6d388c
Due: none

fix(overflow-menu): add `visually-hidden` dependency
  src/components/OverflowMenu/_index.scss
Due: yarn format:precommit, yarn lint:scss:precommit

fix(overflow-menu): add `visually-hidden` dependency (#715)
  src/components/OverflowMenu/_index.scss
Due: yarn format:precommit, yarn lint:scss:precommit

chore(release): 1.30.0-prerelease.2 [skip ci]
  package.json
Due: none

Notes added by 'git notes add'
  c0/35825952910e932b3736e273cbd80d4badf034
Due: none

fix(header): add popover a11y attributes
  src/components/Header/Header.js
  src/components/Header/HeaderPopoverHeader/HeaderPopoverHeader.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

fix(toolbar-panel): remove role, aside use
  src/components/Toolbar/Toolbar.js
  src/components/Toolbar/__tests__/__snapshots__/Toolbar.spec.js.snap
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

import SkeletonText styles in SummaryCard component scss file
  src/components/SummaryCard/_index.scss
Due: yarn format:precommit, yarn lint:scss:precommit

fix(SummaryCard): import SkeletonText styles (#719)
  src/components/SummaryCard/_index.scss
Due: yarn format:precommit, yarn lint:scss:precommit

chore(release): 1.30.0-prerelease.3 [skip ci]
  package.json
Due: none

Notes added by 'git notes add'
  82/264612ef8f81e612e675a72bddb09e206b46a4
Due: none

feat(combo-button): add menuOffset and menuOffsetFlip props for inner OverflowMenu
  src/components/ComboButton/ComboButton.js
  src/components/ComboButton/__tests__/__snapshots__/ComboButton.spec.js.snap
  src/components/__tests__/__snapshots__/publicAPI.spec.js.snap
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

fix(combo-button): update menuOffset and menuOffsetFlip proptypes
  src/components/ComboButton/ComboButton.js
  src/components/__tests__/__snapshots__/publicAPI.spec.js.snap
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

feat(combo-button): add menuOffset and menuOffsetFlip props for inner OverflowMenu (#721)
  src/components/ComboButton/ComboButton.js
  src/components/ComboButton/__tests__/__snapshots__/ComboButton.spec.js.snap
  src/components/__tests__/__snapshots__/publicAPI.spec.js.snap
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

chore(release): 1.30.0-prerelease.4 [skip ci]
  package.json
Due: none

Notes added by 'git notes add'
  f1/c54896459bb0a4beeebdbe7e248d783dde053e
Due: none

feat(search-bar): apply titleText prop for inner multiselect
  src/__tests__/scss/__snapshots__/SCSS.spec.js.snap
  src/components/SearchBar/SearchBar.js
  src/components/SearchBar/__tests__/__snapshots__/SearchBar.spec.js.snap
  src/components/SearchBar/_index.scss
  src/components/__tests__/__snapshots__/publicAPI.spec.js.snap
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

chore(toolbar): pass in ID to `NavItem`
  src/components/Nav/NavItem/NavItem.js
  src/components/Nav/NavItem/__tests__/__snapshots__/NavItem.spec.js.snap
  src/components/Nav/NavList/__tests__/__snapshots__/NavList.spec.js.snap
  src/components/Nav/__tests__/__snapshots__/Nav.spec.js.snap
  src/components/Toolbar/Toolbar.js
  src/components/Toolbar/_mocks_/index.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

chore(toolbar): pass in ID to `NavItem`
  src/components/Toolbar/_mocks_/index.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

fix(header): remove footer element from popover
  src/components/Header/Header.js
  src/components/Panel/PanelContainer.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

feat(portal): add `focusTrapOptions` parameter and calculate default `fallbackFocus`
  src/components/Portal/Portal.js
  src/components/TagWallFilter/__tests__/__snapshots__/TagWallFilter.spec.js.snap
  src/components/Tearsheet/TearsheetSmall/__tests__/__snapshots__/TearsheetSmall.spec.js.snap
  src/components/Tearsheet/__tests__/__snapshots__/Tearsheet.spec.js.snap
  src/components/__tests__/__snapshots__/publicAPI.spec.js.snap
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

feat(tag-wall-filter): override `ListBox` defaults
  src/__tests__/scss/__snapshots__/SCSS.spec.js.snap
  src/components/TagWallFilter/Filter/_mixins.scss
  src/components/TagWallFilter/_mixins.scss
  src/components/Tearsheet/_mixins.scss
Due: yarn format:precommit, yarn lint:scss:precommit

chore: commit updated lockfile and remove wrong downshift offline file
  .yarn/offline-mirror/downshift-5.4.7.tgz
  yarn.lock
Due: none

fix: restore panelv2 z-index, update offline files
  .yarn/offline-mirror/@babel-runtime-7.11.2.tgz
  .yarn/offline-mirror/flatpickr-4.6.3.tgz
  .yarn/offline-mirror/react-is-16.13.0.tgz
  package.json
  src/__tests__/scss/__snapshots__/SCSS.spec.js.snap
  src/components/PanelV2/_mixins.scss
  yarn.lock
Due: yarn format:precommit, yarn lint:scss:precommit

chore: update lock file
  yarn.lock
Due: none

fix(header): remove footer element from popover (#725)
  src/components/Header/Header.js
  src/components/Panel/PanelContainer.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

chore(release): 1.30.0-prerelease.5 [skip ci]
  package.json
Due: none

Notes added by 'git notes add'
  84/cdadad2055d0ada3622a4601e2df26ef67b95e
Due: none
