Repository carbon-design-system/ibm-security: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

.lintstagedrc:

{
  '*.{js,md,scss}': ['yarn format:precommit', 'git add'],
  '*.js': ['yarn lint:js:precommit', 'git add', 'yarn test:precommit'],
  '*.scss': ['yarn lint:scss:precommit', 'git add'],
}

fix(ui-shell): apply pr feedback for story names and scss imports
  src/components/Shell/Shell.stories.js
  src/components/UIShell/UIShell.stories.js
  src/components/UIShell/_index.scss
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

fix(carbon): upgrade dependencies (#230)
  .yarn/offline-mirror/carbon-components-10.7.3.tgz
  .yarn/offline-mirror/carbon-components-10.7.4.tgz
  .yarn/offline-mirror/carbon-components-react-7.7.3.tgz
  .yarn/offline-mirror/carbon-components-react-7.7.4.tgz
  package.json
  src/components/Nav/NavItem/NavItem.js
  src/components/ScrollGradient/ScrollGradient.js
  src/components/StatusIcon/StatusIcon.js
  yarn.lock
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

chore(release): 1.8.1-prerelease.6 [skip ci]
  package.json
Due: none

feat(ui-shell): proxy carbon uishell and add simple uishell header stories (#229)
  src/components/Shell/Shell.stories.js
  src/components/UIShell/UIShell.stories.js
  src/components/UIShell/_index.scss
  src/components/UIShell/index.js
  src/components/_index.scss
  src/index.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

chore(release): 1.8.1-prerelease.7 [skip ci]
  package.json
Due: none

chore(release): 1.9.0 [skip ci]
  package.json
Due: none

test(summary-card): add basic test file
  src/components/SummaryCard/SummaryCard.stories.js
  src/components/SummaryCard/SummaryCardContainer/__tests__/SummaryCardContainer.test.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

chore(release): create major branch, align release configuration
  .releaserc
Due: none

chore(summary-card): update story
  src/components/SummaryCard/SummaryCard.stories.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

test(summary-card): add scaffold
  src/components/SummaryCard/SummaryCardContainer/__tests__/SummaryCardContainer.test.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

fix(combo-button): positioning issues
  src/components/ComboButton/ComboButton.js
  src/components/ComboButton/ComboButton.stories.js
  src/components/ComboButton/_mixins.scss
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

chore: tweak story
  src/components/ComboButton/ComboButton.stories.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

test: update snapshot
  src/components/ComboButton/__tests__/__snapshots__/ComboButton.spec.js.snap
Due: none

fix(theme): add support for legacy theme switching
  src/globals/theme/_index.scss
Due: yarn format:precommit, yarn lint:scss:precommit

feat(summary-card): pass through object instead of ID
  src/components/SummaryCard/SummaryCard.stories.js
  src/components/SummaryCard/SummaryCardContainer/SummaryCardContainer.js
  src/components/SummaryCard/SummaryCardContainer/__tests__/SummaryCardContainer.test.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

feat(summary-card): return all properties
  src/components/SummaryCard/SummaryCard.stories.js
  src/components/SummaryCard/SummaryCardContainer/SummaryCardContainer.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

chore: revert container styles
  src/components/ComboButton/ComboButton.stories.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

docs(summary-card): update story
  src/components/SummaryCard/SummaryCard.stories.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

fix(theme): add support for legacy theme switching (#233)
  src/globals/theme/_index.scss
Due: yarn format:precommit, yarn lint:scss:precommit

chore(release): 1.9.1-prerelease.1 [skip ci]
  package.json
Due: none

docs(themes): update theme documentation, remove Carbon references
  README.md
  docs/themes/README.md
Due: yarn format:precommit

docs(themes): update theme documentation, remove Carbon references (#234)
  README.md
  docs/themes/README.md
Due: yarn format:precommit

chore: remove typo
  src/components/ComboButton/ComboButton.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

refactor(summary-card): use function declarations
  src/components/SummaryCard/SummaryCard.stories.js
  src/components/SummaryCard/SummaryCardContainer/SummaryCardContainer.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

refactor(summary-card): add text ellipsis to `Select`
  src/components/SummaryCard/SummaryCard.stories.js
  src/components/SummaryCard/SummaryCardSelect/SummaryCardSelect.js
  src/components/SummaryCard/_index.scss
  src/components/SummaryCard/_mixins.scss
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

feat(status-indicator): refactor component and update class names, fix icon size and text misalignment (#207)
  src/components/StatusIndicator/StatusIndicator.js
  src/components/StatusIndicator/__tests__/__snapshots__/StatusIndicator.spec.js.snap
  src/components/StatusIndicator/_mixins.scss
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

chore(release): 1.9.1-prerelease.2 [skip ci]
  package.json
Due: none

test: update tests
  src/components/ComboButton/__tests__/__snapshots__/ComboButton.spec.js.snap
Due: none

test(summary-card-select): add snapshot test
  package.json
  src/components/SummaryCard/SummaryCardContainer/__tests__/SummaryCardContainer.test.js
  src/components/SummaryCard/SummaryCardSelect/__tests__/SummaryCardSelect.spec.js
  src/components/SummaryCard/SummaryCardSelect/__tests__/__snapshots__/SummaryCardSelect.spec.js.snap
  src/components/SummaryCard/SummaryCardSelect/_mocks_/index.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

fix(combo-button): placement in scrollable parent (#232)
  src/components/ComboButton/ComboButton.js
  src/components/ComboButton/ComboButton.stories.js
  src/components/ComboButton/__tests__/__snapshots__/ComboButton.spec.js.snap
  src/components/ComboButton/_mixins.scss
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

test(summary-card-batch-actions): add snapshot test
  src/components/SummaryCard/SummaryCardBatchAction/__tests__/SummaryCardBatchActions.spec.js
  src/components/SummaryCard/SummaryCardBatchAction/__tests__/__snapshots__/SummaryCardBatchActions.spec.js.snap
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

chore(release): 1.9.1-prerelease.3 [skip ci]
  package.json
Due: none

feat(summary-card): add props validation
  src/components/SummaryCard/SummaryCard.stories.js
  src/components/SummaryCard/SummaryCardBatchActions/SummaryCardBatchActions.js
  src/components/SummaryCard/SummaryCardBatchActions/__tests__/SummaryCardBatchActions.spec.js
  src/components/SummaryCard/SummaryCardBatchActions/__tests__/__snapshots__/SummaryCardBatchActions.spec.js.snap
  src/components/SummaryCard/SummaryCardContainer/SummaryCardContainer.js
  src/components/SummaryCard/SummaryCardContainer/__tests__/SummaryCardContainer.test.js
  src/components/SummaryCard/SummaryCardContainer/__tests__/__snapshots__/SummaryCardContainer.test.js.snap
  src/components/SummaryCard/SummaryCardContainer/_mocks_/index.js
  src/components/SummaryCard/SummaryCardSelect/SummaryCardSelect.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

test(summary-card): add unit tests
  .yarn/offline-mirror/@babel-runtime-7.7.4.tgz
  .yarn/offline-mirror/@testing-library-jest-dom-4.2.4.tgz
  .yarn/offline-mirror/css-2.2.4.tgz
  .yarn/offline-mirror/css.escape-1.5.1.tgz
  .yarn/offline-mirror/min-indent-1.0.0.tgz
  .yarn/offline-mirror/redent-3.0.0.tgz
  .yarn/offline-mirror/strip-indent-3.0.0.tgz
  config/jest/index.js
  package.json
  src/components/SummaryCard/SummaryCardContainer/__tests__/SummaryCardContainer.spec.js
  src/components/SummaryCard/SummaryCardContainer/__tests__/SummaryCardContainer.test.js
  src/components/SummaryCard/SummaryCardContainer/__tests__/__snapshots__/SummaryCardContainer.spec.js.snap
  yarn.lock
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

test(summary-card): refactor unit tests
  src/components/SummaryCard/SummaryCardContainer/__tests__/SummaryCardContainer.spec.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

chore(test): update test script
  package.json
Due: none

chore(release): 1.10.0 [skip ci]
  package.json
Due: none

fix(filter-subcategory): expand and collapse
  src/components/FilterPanel/FilterSubcategory/FilterSubcategory.js
  src/components/FilterPanel/FilterSubcategory/__tests__/FilterSubcategory.spec.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

feat(time-estimator): add component
  .storybook/config.js
  .storybook/index.js
  .yarn/offline-mirror/@babel-runtime-7.7.4.tgz
  .yarn/offline-mirror/@testing-library-jest-dom-4.2.4.tgz
  .yarn/offline-mirror/css-2.2.4.tgz
  .yarn/offline-mirror/css.escape-1.5.1.tgz
  .yarn/offline-mirror/min-indent-1.0.0.tgz
  .yarn/offline-mirror/redent-3.0.0.tgz
  .yarn/offline-mirror/strip-indent-3.0.0.tgz
  config/jest/index.js
  package.json
  src/components/TimeEstimator/TimeEstimator.stories.js
  src/components/TimeEstimator/__tests__/TimeEstimator.spec.js
  src/components/TimeEstimator/__tests__/__snapshots__/TimeEstimator.spec.js.snap
  src/components/TimeEstimator/_index.scss
  src/components/TimeEstimator/index.js
  src/components/_index.scss
  src/index.js
  yarn.lock
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit
