Repository carbon-design-system/ibm-security: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

chore(release): 2.4.1 [skip ci]
  package.json
Due: none

Notes added by 'git notes add'
  8ecb2cea1b328041b726e4ea6eba96c71c16d3b5
Due: none

fix(header-notification): add visible hover state to clear button (#437)
  src/components/Header/HeaderNotification/_mixins.scss
Due: yarn format:precommit, yarn lint:scss:precommit

chore(release): 1.18.1-prerelease.13 [skip ci]
  package.json
Due: none

Notes added by 'git notes add'
  0649549da748e6dc49cfae428e0d66b69aea5573
Due: none

test(loading-message): update tests per feedback
  src/components/Loading/LoadingMessage/LoadingMessage.js
  src/components/Loading/LoadingMessage/__tests__/LoadingMessage.spec.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

text(loading-message): add test if active prop is true
  src/components/Loading/LoadingMessage/__tests__/LoadingMessage.spec.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

test(stacked-notification): add tests for all props
  src/components/StackedNotification/__tests__/StackedNotification.spec.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

test(profile-image): add tests for profile object
  src/components/ProfileImage/__tests__/ProfileImage.spec.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

fix(stacked-notification): update tests and remove old snapshots (#381)
  src/components/StackedNotification/__tests__/StackedNotification.spec.js
  src/components/StackedNotification/__tests__/__snapshots__/StackedNotification.spec.js.snap
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

chore(release): 1.18.1-prerelease.14 [skip ci]
  package.json
Due: none

Notes added by 'git notes add'
  6bd307e61569e02a74bfc9ae191c1d9b2e36d92f
Due: none

docs(contributing): update directions for forking the repo
  .github/CONTRIBUTING.md
Due: yarn format:precommit

docs(contributing): update heading punctuation
  .github/CONTRIBUTING.md
Due: yarn format:precommit

test(loading-message): fix typo in test block
  src/components/Loading/LoadingMessage/__tests__/LoadingMessage.spec.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

test(loading-message): remove redundant test
  src/components/Loading/LoadingMessage/__tests__/LoadingMessage.spec.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

fix(loading-message): update tests, move spread attribute (#369)
  src/components/Loading/LoadingMessage/LoadingMessage.js
  src/components/Loading/LoadingMessage/__tests__/LoadingMessage.spec.js
  src/components/Loading/__tests__/LoadingMessage.spec.js
  src/components/Loading/__tests__/__snapshots__/LoadingMessage.spec.js.snap
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

chore(release): 1.18.1-prerelease.15 [skip ci]
  package.json
Due: none

Notes added by 'git notes add'
  f493d97e300d0c2fe5c8b35c3682da58c888e9ef
Due: none

test(status-icon): add tests to check each status
  src/components/StatusIcon/__tests__/StatusIcon.spec.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

test(status-icon): update test text
  src/components/StatusIcon/__tests__/StatusIcon.spec.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

test(status-icon): apply PR feedback to undefined status tests
  src/components/StatusIcon/__tests__/StatusIcon.spec.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

test: update snapshots
  src/components/DataTable/DataTablePagination/__tests__/__snapshots__/DataTablePagination.spec.js.snap
  src/components/Icon/__tests__/__snapshots__/Icon.spec.js.snap
  src/components/StackedNotification/__tests__/__snapshots__/StackedNotification.spec.js.snap
  src/components/StepIndicator/__tests__/__snapshots__/StepIndicator.spec.js.snap
  src/components/TagWallFilter/Filter/__tests__/__snapshots__/Filter.spec.js.snap
  src/components/TagWallFilter/__tests__/__snapshots__/TagWallFilter.spec.js.snap
Due: none

refactor(exports): revert changes
  src/index.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

chore: update public api snapshot
  src/components/__tests__/__snapshots__/publicAPI.spec.js.snap
Due: none

feat: upgrade to carbon 10.10.0 release
  .yarn/offline-mirror/@carbon-colors-10.7.2.tgz
  .yarn/offline-mirror/@carbon-colors-10.8.1.tgz
  .yarn/offline-mirror/@carbon-grid-10.8.2.tgz
  .yarn/offline-mirror/@carbon-icon-helpers-10.5.2.tgz
  .yarn/offline-mirror/@carbon-icons-react-10.8.2.tgz
  .yarn/offline-mirror/@carbon-icons-react-10.9.2.tgz
  .yarn/offline-mirror/@carbon-layout-10.7.3.tgz
  .yarn/offline-mirror/@carbon-layout-10.8.2.tgz
  .yarn/offline-mirror/@carbon-motion-10.5.2.tgz
  .yarn/offline-mirror/@carbon-themes-10.9.3.tgz
  .yarn/offline-mirror/@carbon-type-10.8.3.tgz
  .yarn/offline-mirror/@carbon-type-10.9.2.tgz
  .yarn/offline-mirror/carbon-components-10.9.3.tgz
  .yarn/offline-mirror/carbon-components-react-7.9.3.tgz
  docs/themes/themes.md
  package.json
  yarn.lock
Due: yarn format:precommit

fix(filter-panel-search): update tests to use getplaceholdertext
  src/components/FilterPanel/FilterPanelSearch/__tests__/FilterSearch.spec.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

test(external-link): fix path to component
  src/components/ExternalLink/__tests__/ExternalLink.spec.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

test(snapshots): update snapshots to reflect carbon updates
  src/components/DataTable/DataTablePagination/__tests__/__snapshots__/DataTablePagination.spec.js.snap
  src/components/Icon/__tests__/__snapshots__/Icon.spec.js.snap
  src/components/StepIndicator/__tests__/__snapshots__/StepIndicator.spec.js.snap
  src/components/TagWallFilter/Filter/__tests__/__snapshots__/Filter.spec.js.snap
  src/components/TagWallFilter/__tests__/__snapshots__/TagWallFilter.spec.js.snap
Due: none

docs(progress-indicator): update story to reflect new vertical alignment prop
  src/components/ProgressIndicator/ProgressIndicator.stories.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

chore: update yarn lock files
  .yarn/offline-mirror/@carbon-colors-10.8.0.tgz
  .yarn/offline-mirror/@carbon-grid-10.9.0.tgz
  .yarn/offline-mirror/@carbon-icon-helpers-10.6.0.tgz
  .yarn/offline-mirror/@carbon-icons-react-10.9.0.tgz
  .yarn/offline-mirror/@carbon-layout-10.8.0.tgz
  .yarn/offline-mirror/@carbon-motion-10.6.0.tgz
  .yarn/offline-mirror/@carbon-themes-10.10.0.tgz
  .yarn/offline-mirror/@carbon-type-10.9.0.tgz
  .yarn/offline-mirror/carbon-components-10.10.0.tgz
  .yarn/offline-mirror/carbon-components-react-7.10.0.tgz
  .yarn/offline-mirror/color-3.1.2.tgz
  .yarn/offline-mirror/color-string-1.5.3.tgz
  .yarn/offline-mirror/cssmin-0.4.3.tgz
  .yarn/offline-mirror/is-arrayish-0.3.2.tgz
  .yarn/offline-mirror/lodash.findlast-4.6.0.tgz
  .yarn/offline-mirror/node-sass-4.13.1.tgz
  .yarn/offline-mirror/scss-to-json-2.0.0.tgz
  .yarn/offline-mirror/simple-swizzle-0.2.2.tgz
Due: none

fix(profile-image): add a11y tests, update test structure, add spread attribute (#386)
  src/components/ProfileImage/ProfileImage.js
  src/components/ProfileImage/__tests__/ProfileImage.spec.js
  src/components/ProfileImage/__tests__/__snapshots__/ProfileImage.spec.js.snap
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

chore(release): 1.18.1-prerelease.16 [skip ci]
  package.json
Due: none

Notes added by 'git notes add'
  3cfeebdbcf56ee88148809206899ed4677a0d81b
Due: none

chore(release): 1.19.0-prerelease.1 [skip ci]
  package.json
Due: none

Notes added by 'git notes add'
  e78908a987ade3681dec40afa49492474ec62db5
Due: none

test(api): update imports in public api interface test
  docs/themes/themes.md
  src/components/__tests__/publicAPI.spec.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

docs(api-test): remove eslint override
  src/components/__tests__/publicAPI.spec.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

test(api): update public api interface snapshot
  src/components/__tests__/__snapshots__/publicAPI.spec.js.snap
  src/components/__tests__/publicAPI.spec.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

Path conditions:
  yarn format:precommit: any of: *.{js,md,scss}
  yarn lint:js:precommit: any of: *.js
  yarn test:precommit: any of: *.js
  yarn lint:scss:precommit: any of: *.scss
