Repository carbon-design-system/ibm-security: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

fix(decorator): change interactive decorator text color (#537)
  src/components/DataDecorator/Decorator/Decorator.js
  src/components/DataDecorator/_mixins.scss
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

chore(release): 1.23.1-prerelease.1 [skip ci]
  package.json
Due: none

Notes added by 'git notes add'
  e2/7ec13e81776c4cd67443b88c7bc57cf57c567d
Due: none

test(a11y): replace aat package with accessibility-checker
  .achecker.yml
  .yarn/offline-mirror/@testim-chrome-version-1.0.7.tgz
  .yarn/offline-mirror/@types-mime-types-2.1.0.tgz
  .yarn/offline-mirror/@types-yauzl-2.9.1.tgz
  .yarn/offline-mirror/accessibility-checker-3.0.2.tgz
  .yarn/offline-mirror/axios-0.19.2.tgz
  .yarn/offline-mirror/chromedriver-77.0.0.tgz
  .yarn/offline-mirror/chromedriver-80.0.2.tgz
  .yarn/offline-mirror/del-4.1.1.tgz
  .yarn/offline-mirror/extract-zip-2.0.0.tgz
  .yarn/offline-mirror/fd-slicer-1.1.0.tgz
  .yarn/offline-mirror/ibma-aat-2.0.3-alpha.tgz
  .yarn/offline-mirror/is-path-in-cwd-2.1.0.tgz
  .yarn/offline-mirror/is-path-inside-2.1.0.tgz
  .yarn/offline-mirror/mime-db-1.44.0.tgz
  .yarn/offline-mirror/mime-types-2.1.27.tgz
  .yarn/offline-mirror/mkdirp-1.0.4.tgz
  .yarn/offline-mirror/puppeteer-1.20.0.tgz
  .yarn/offline-mirror/puppeteer-2.1.1.tgz
  .yarn/offline-mirror/yauzl-2.10.0.tgz
  config/jest/matchers/toHaveNoDAPViolations.js
  package.json
  yarn.lock
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

test(a11y): formatting config file
  .achecker.yml
Due: none

chore: commit yarn offline file
  .yarn/offline-mirror/follow-redirects-1.5.10.tgz
Due: none

test(a11y): replace aat package with accessibility-checker (#547)
  .achecker.yml
  .yarn/offline-mirror/@testim-chrome-version-1.0.7.tgz
  .yarn/offline-mirror/@types-mime-types-2.1.0.tgz
  .yarn/offline-mirror/@types-yauzl-2.9.1.tgz
  .yarn/offline-mirror/accessibility-checker-3.0.2.tgz
  .yarn/offline-mirror/axios-0.19.2.tgz
  .yarn/offline-mirror/chromedriver-77.0.0.tgz
  .yarn/offline-mirror/chromedriver-80.0.2.tgz
  .yarn/offline-mirror/del-4.1.1.tgz
  .yarn/offline-mirror/extract-zip-2.0.0.tgz
  .yarn/offline-mirror/fd-slicer-1.1.0.tgz
  .yarn/offline-mirror/follow-redirects-1.5.10.tgz
  .yarn/offline-mirror/ibma-aat-2.0.3-alpha.tgz
  .yarn/offline-mirror/is-path-in-cwd-2.1.0.tgz
  .yarn/offline-mirror/is-path-inside-2.1.0.tgz
  .yarn/offline-mirror/mime-db-1.44.0.tgz
  .yarn/offline-mirror/mime-types-2.1.27.tgz
  .yarn/offline-mirror/mkdirp-1.0.4.tgz
  .yarn/offline-mirror/puppeteer-1.20.0.tgz
  .yarn/offline-mirror/puppeteer-2.1.1.tgz
  .yarn/offline-mirror/yauzl-2.10.0.tgz
  config/jest/matchers/toHaveNoDAPViolations.js
  package.json
  yarn.lock
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

fix(combo-button): use id for keys, allow id attr, update stories
  src/components/ComboButton/ComboButton.js
  src/components/ComboButton/ComboButton.stories.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

docs(combo-button): add id to story demo
  src/components/ComboButton/ComboButton.stories.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

test(combo-button): include id in tests, update snapshots
  src/components/ComboButton/__tests__/ComboButton.spec.js
  src/components/ComboButton/__tests__/__snapshots__/ComboButton.spec.js.snap
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

chore: add experimental `LayoutModules`
  .storybook/index.js
  src/components/ErrorPage/ErrorPage.stories.js
  src/components/Header/Header.stories.js
  src/components/Layouts/Layouts.stories.js
  src/components/Layouts/Overview/Overview.stories.js
  src/components/Layouts/Overview/_index.scss
  src/components/Layouts/_index.scss
  src/components/NonEntitledSection/NonEntitledSection.stories.js
  src/components/PanelV2/PanelV2.stories.js
  src/components/Shell/Shell.stories.js
  src/components/UIShell/UIShell.stories.js
  src/components/UNSTABLE__LayoutModules/LayoutModules.stories.js
  src/components/UNSTABLE__LayoutModules/_index.scss
  src/components/UNSTABLE__LayoutModules/index.js
  src/components/__tests__/__snapshots__/publicAPI.spec.js.snap
  src/components/_index.scss
  src/index.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

fix(storybook): add keys to theme components
  .storybook/addons/addon-theme/index.js
  .storybook/addons/addon-theme/register.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

feat(tagwall): apply id to each tag, allow extra attrs for tags (#531)
  src/components/TagWall/TagWall.js
  src/components/TagWall/__tests__/__snapshots__/TagWall.spec.js.snap
  src/components/TagWall/_mixins.scss
  src/components/TagWall/_mocks_/index.js
  src/components/TagWallFilter/__tests__/__snapshots__/TagWallFilter.spec.js.snap
  src/components/__tests__/__snapshots__/publicAPI.spec.js.snap
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

chore(release): 1.24.0-prerelease.1 [skip ci]
  package.json
Due: none

Notes added by 'git notes add'
  8a/7d376619be8058c6d5b90320faa4321f99cbd7
Due: none

fix(header): inherit height to accommodate breadcrumb shadow
  src/components/Header/_mixins.scss
Due: yarn format:precommit, yarn lint:scss:precommit

fix(combo-button): use id for keys, allow id attr, update stories (#548)
  src/components/ComboButton/ComboButton.js
  src/components/ComboButton/ComboButton.stories.js
  src/components/ComboButton/__tests__/ComboButton.spec.js
  src/components/ComboButton/__tests__/__snapshots__/ComboButton.spec.js.snap
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

chore(release): 1.24.0-prerelease.2 [skip ci]
  package.json
Due: none

Notes added by 'git notes add'
  4d/d8c48bf85ac7433b5fdf0224345be58945ce6d
Due: none

fix(storybook): add keys to theme components (#550)
  .storybook/addons/addon-theme/index.js
  .storybook/addons/addon-theme/register.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

chore(release): 1.24.0-prerelease.3 [skip ci]
  package.json
Due: none

Notes added by 'git notes add'
  e3/93f026502285d383ef23af0b30d8c050e14076
Due: none

feat(filter-panel): add new prop for title attribute on filter panel labels
  src/components/FilterPanel/FilterPanel.stories.js
  src/components/FilterPanel/FilterPanelAccordionItem/FilterPanelAccordiontItem.js
  src/components/FilterPanel/FilterPanelLabel/FilterPanelLabel.js
  src/components/__tests__/__snapshots__/publicAPI.spec.js.snap
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

docs(filter-panel): update story with new prop usage
  src/components/FilterPanel/FilterPanel.stories.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

fix(filter-panel): update prop desc
  src/components/FilterPanel/FilterPanelLabel/FilterPanelLabel.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

fix(card): add spread attribute to component wrapper
  src/components/Card/Card.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

build(storybook): remove static assets from package
  package.json
Due: none

chore: upgrade Carbon packages
  .yarn/offline-mirror/carbon-icons-7.0.7.tgz
  .yarn/offline-mirror/extract-zip-1.6.7.tgz
  .yarn/offline-mirror/fd-slicer-1.0.1.tgz
  .yarn/offline-mirror/minimist-0.0.8.tgz
  .yarn/offline-mirror/mkdirp-0.5.1.tgz
  .yarn/offline-mirror/yauzl-2.4.1.tgz
  package.json
  src/components/DataTable/DataTablePagination/__tests__/__snapshots__/DataTablePagination.spec.js.snap
  src/components/DataTable/__tests__/__snapshots__/DataTable.spec.js.snap
  src/components/Panel/PanelContainer.js
  src/components/PanelV2/PanelV2.js
  src/components/SearchBar/__tests__/__snapshots__/SearchBar.spec.js.snap
  src/components/TagWall/__tests__/__snapshots__/TagWall.spec.js.snap
  src/components/UNSTABLE__Pagination/Pagination.js
  src/components/__tests__/__snapshots__/publicAPI.spec.js.snap
  yarn.lock
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

feat(layout-modules): add draft structure
  src/components/UNSTABLE__Layout/LayoutModules/LayoutBackground/_index.scss
  src/components/UNSTABLE__Layout/LayoutModules/LayoutBackground/index.js
  src/components/UNSTABLE__Layout/LayoutModules/LayoutModule.js
  src/components/UNSTABLE__Layout/LayoutModules/LayoutModules.stories.js
  src/components/UNSTABLE__Layout/LayoutModules/_index.scss
  src/components/UNSTABLE__Layout/LayoutModules/_variables.scss
  src/components/UNSTABLE__Layout/LayoutModules/index.js
  src/components/UNSTABLE__Layout/_index.scss
  src/components/UNSTABLE__Layout/_variables.scss
  src/components/__tests__/__snapshots__/publicAPI.spec.js.snap
  src/components/_index.scss
  src/globals/border/_index.scss
  src/index.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

feat(layout-modules): add draft structure
  src/components/UNSTABLE__Layout/LayoutModules/index.js
  src/components/__tests__/__snapshots__/publicAPI.spec.js.snap
  src/index.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

fix(card): add spread attribute to component wrapper (#559)
  src/components/Card/Card.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

chore(release): 1.24.0-prerelease.4 [skip ci]
  package.json
Due: none

Notes added by 'git notes add'
  34/dd906969a0f032598cd99f601f98a5cfc49246
Due: none

chore(release): 1.24.0 [skip ci]
  package.json
Due: none

Notes added by 'git notes add'
  cf/0819c334010dd430319482d56ec9941d729d39
Due: none

fix(accordion): update tests
  package.json
  src/components/Accordion/__tests__/Accordion.spec.js
  src/components/Accordion/_index.scss
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

fix(combo-button): fix regressing with upgrade
  src/components/ComboButton/ComboButton.js
  src/components/ComboButton/_index.scss
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

feat(filter-panel): allow for string counts
  src/components/FilterPanel/FilterPanelAccordion/FilterPanelAccordion.js
  src/components/FilterPanel/FilterPanelAccordionItem/FilterPanelAccordiontItem.js
  src/components/FilterPanel/FilterPanelCheckbox/FilterPanelCheckbox.js
  src/components/FilterPanel/FilterPanelCheckbox/FilterPanelCheckbox.stories.js
  src/components/FilterPanel/FilterPanelCheckboxWithOverflowMenu/FilterPanelCheckboxWithOverflowMenu.stories.js
  src/components/FilterPanel/FilterPanelGroup/FilterPanelGroup.js
  src/components/FilterPanel/FilterPanelLabel/FilterPanelLabel.js
  src/components/__tests__/__snapshots__/publicAPI.spec.js.snap
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

Path conditions:
  yarn format:precommit: any of: *.{js,md,scss}
  yarn lint:js:precommit: any of: *.js
  yarn test:precommit: any of: *.js
  yarn lint:scss:precommit: any of: *.scss
