Repository carbon-design-system/ibm-security: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

feat(ica): add `truncate` prop (#744)
  src/components/ICA/ICA.js
  src/components/ICA/ICA.stories.js
  src/components/ICA/__tests__/ICA.spec.js
  src/components/__tests__/__snapshots__/publicAPI.spec.js.snap
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

chore(release): 1.32.0-prerelease.1 [skip ci]
  package.json
Due: none

Notes added by 'git notes add'
  04/563fa1e9b1aa2f3b29dee9a62c01cd4cf80025
Due: none

chore(layout-modules): add higher-order components
  src/__tests__/scss/__snapshots__/SCSS.spec.js.snap
  src/components/UNSTABLE__Layout/Layout.stories.js
  src/components/UNSTABLE__Layout/LayoutModules/Background/_index.scss
  src/components/UNSTABLE__Layout/LayoutModules/Background/_mixins.scss
  src/components/UNSTABLE__Layout/LayoutModules/CardModule/_index.scss
  src/components/UNSTABLE__Layout/LayoutModules/Layout/_index.scss
  src/components/UNSTABLE__Layout/LayoutModules/Layout/index.js
  src/components/UNSTABLE__Layout/LayoutModules/_index.scss
  src/components/UNSTABLE__Layout/LayoutModules/index.js
  src/components/__tests__/__snapshots__/publicAPI.spec.js.snap
  src/index.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

docs(layout-modules): update documentation
  .yarn/offline-mirror/@storybook-addon-links-6.0.21.tgz
  src/__tests__/scss/__snapshots__/SCSS.spec.js.snap
  src/components/UNSTABLE__Layout/Layout.stories.js
  src/components/UNSTABLE__Layout/LayoutModules/ActionBar/ActionBar.stories.js
  src/components/UNSTABLE__Layout/LayoutModules/ActionBar/_index.scss
  src/components/UNSTABLE__Layout/LayoutModules/ActionBar/index.js
  src/components/UNSTABLE__Layout/LayoutModules/ActionBar/index.mdx
  src/components/UNSTABLE__Layout/LayoutModules/ActionBarModule/index.js
  src/components/UNSTABLE__Layout/LayoutModules/ButtonCluster/ButtonCluster.stories.js
  src/components/UNSTABLE__Layout/LayoutModules/ButtonCluster/index.js
  src/components/UNSTABLE__Layout/LayoutModules/ButtonCluster/index.mdx
  src/components/UNSTABLE__Layout/LayoutModules/Description/_index.scss
  src/components/UNSTABLE__Layout/LayoutModules/Description/index.js
  src/components/UNSTABLE__Layout/LayoutModules/LayoutModules.stories.js
  src/components/UNSTABLE__Layout/LayoutModules/PageTab/PageTab.mdx
  src/components/UNSTABLE__Layout/LayoutModules/PageTab/PageTab.stories.js
  src/components/UNSTABLE__Layout/LayoutModules/PageTab/_index.scss
  src/components/UNSTABLE__Layout/LayoutModules/PageTab/index.js
  src/components/UNSTABLE__Layout/LayoutModules/PageTab/index.mdx
  src/components/UNSTABLE__Layout/LayoutModules/Title/Title.stories.js
  src/components/UNSTABLE__Layout/LayoutModules/Title/index.mdx
  src/components/UNSTABLE__Layout/LayoutModules/_index.scss
  src/components/UNSTABLE__Layout/LayoutModules/index.js
  src/components/__tests__/__snapshots__/publicAPI.spec.js.snap
  src/index.js
  yarn.lock
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

chore: merge `dev` into `modular-layouts-documentation`
  .yarn/offline-mirror/@storybook-addon-links-6.0.21.tgz
  yarn.lock
Due: none

docs(type-layout): add basic documentation
  .storybook/decorators/_index.scss
  .storybook/decorators/index.js
  .storybook/index.scss
  .storybook/preview.js
  src/components/UNSTABLE__Layout/LayoutModules/ActionBar/ActionBar.stories.js
  src/components/UNSTABLE__Layout/LayoutModules/ActionBar/index.mdx
  src/components/UNSTABLE__Layout/LayoutModules/ButtonCluster/ButtonCluster.stories.js
  src/components/UNSTABLE__Layout/LayoutModules/ButtonCluster/index.mdx
  src/components/UNSTABLE__Layout/LayoutModules/LayoutModules.stories.js
  src/components/UNSTABLE__Layout/LayoutModules/PageTab/PageTab.stories.js
  src/components/UNSTABLE__Layout/LayoutModules/PageTab/index.mdx
  src/components/UNSTABLE__Layout/LayoutModules/Title/Title.stories.js
  src/components/UNSTABLE__Layout/LayoutModules/Title/index.js
  src/components/UNSTABLE__Layout/LayoutModules/Title/index.mdx
  src/components/UNSTABLE__Layout/LayoutModules/TypeLayoutModule/TypeLayoutModule.stories.js
  src/components/UNSTABLE__Layout/LayoutModules/TypeLayoutModule/index.mdx
  src/components/UNSTABLE__Layout/stories/index.js
  src/components/__tests__/__snapshots__/publicAPI.spec.js.snap
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

feat(wizard): add prop to provide accessible label to nav (#738)
  src/components/Wizard/Wizard.js
  src/components/__tests__/__snapshots__/publicAPI.spec.js.snap
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

chore(release): 1.32.0-prerelease.2 [skip ci]
  package.json
Due: none

Notes added by 'git notes add'
  87/ba060ce4b70051e96ba518df488ed4b945483e
Due: none

chore(description): add `Description` documentation
  .storybook/preview.js
  src/__tests__/scss/__snapshots__/SCSS.spec.js.snap
  src/components/UNSTABLE__Layout/Layout.stories.js
  src/components/UNSTABLE__Layout/LayoutModules/ActionBar/ActionBar.stories.js
  src/components/UNSTABLE__Layout/LayoutModules/ActionBar/index.mdx
  src/components/UNSTABLE__Layout/LayoutModules/ButtonCluster/ButtonCluster.stories.js
  src/components/UNSTABLE__Layout/LayoutModules/Description/Description.stories.js
  src/components/UNSTABLE__Layout/LayoutModules/Description/index.js
  src/components/UNSTABLE__Layout/LayoutModules/Description/index.mdx
  src/components/UNSTABLE__Layout/LayoutModules/LayoutModules.stories.js
  src/components/UNSTABLE__Layout/LayoutModules/PageTab/PageTab.stories.js
  src/components/UNSTABLE__Layout/LayoutModules/Title/Title.stories.js
  src/components/UNSTABLE__Layout/LayoutModules/Title/_index.scss
  src/components/UNSTABLE__Layout/LayoutModules/TitleBar/TitleBar.stories.js
  src/components/UNSTABLE__Layout/LayoutModules/TitleBar/_index.scss
  src/components/UNSTABLE__Layout/LayoutModules/TitleBar/index.js
  src/components/UNSTABLE__Layout/LayoutModules/TitleBar/index.mdx
  src/components/UNSTABLE__Layout/LayoutModules/TitleBarModule/index.js
  src/components/UNSTABLE__Layout/LayoutModules/TypeLayout/TypeLayout.stories.js
  src/components/UNSTABLE__Layout/LayoutModules/TypeLayout/_index.scss
  src/components/UNSTABLE__Layout/LayoutModules/TypeLayout/index.js
  src/components/UNSTABLE__Layout/LayoutModules/TypeLayout/index.mdx
  src/components/UNSTABLE__Layout/LayoutModules/TypeLayoutModule/index.mdx
  src/components/UNSTABLE__Layout/LayoutModules/_index.scss
  src/components/UNSTABLE__Layout/LayoutModules/index.js
  src/components/__tests__/__snapshots__/publicAPI.spec.js.snap
  src/index.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

docs(with-layout): test examples
  src/components/UNSTABLE__Layout/LayoutModules/Background/index.js
  src/components/UNSTABLE__Layout/LayoutModules/Layout/Layout.stories.js
  src/components/UNSTABLE__Layout/LayoutModules/Layout/index.js
  src/components/UNSTABLE__Layout/LayoutModules/Layout/index.mdx
  src/components/UNSTABLE__Layout/stories/index.js
  src/components/__tests__/__snapshots__/publicAPI.spec.js.snap
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

ci: update configuration
  .circleci/config.yml
Due: none

ci(node): update node version in configuration
  .circleci/config.yml
Due: none

chore(layout-modules): restructure folders
  .storybook/addons/addon-theme/Theme/index.js
  .storybook/addons/addon-theme/index.js
  .storybook/preview.js
  .storybook/theme/index.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

ci(node): update node version in configuration (#746)
  .circleci/config.yml
Due: none

docs(action-bar): force open snippet
  .storybook/decorators/_index.scss
  src/components/UNSTABLE__LayoutModules/ActionBar/index.mdx
  src/components/UNSTABLE__LayoutModules/ButtonCluster/index.mdx
Due: yarn format:precommit, yarn lint:scss:precommit

docs(action-bar): force open snippet
  .storybook/components/Canvas/index.js
  src/components/UNSTABLE__LayoutModules/ActionBar/index.mdx
  src/components/UNSTABLE__LayoutModules/ButtonCluster/index.mdx
  src/components/UNSTABLE__LayoutModules/Description/index.mdx
  src/components/UNSTABLE__LayoutModules/Layout/index.mdx
  src/components/UNSTABLE__LayoutModules/PageTab/index.mdx
  src/components/UNSTABLE__LayoutModules/Title/index.mdx
  src/components/UNSTABLE__LayoutModules/TitleBar/index.mdx
  src/components/UNSTABLE__LayoutModules/TypeLayout/index.mdx
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

fix(scroll-gradient): add immediate child combinator to prevent overwriting other scroll gradient styles further down the DOM
  src/__tests__/scss/__snapshots__/SCSS.spec.js.snap
  src/components/ScrollGradient/_index.scss
Due: yarn format:precommit, yarn lint:scss:precommit

Update src/components/Portal/Portal.js
  src/components/Portal/Portal.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

feat(summary-card-skeleton): add `className`, spread props
  src/components/SummaryCard/SummaryCardSkeleton/SummaryCardSkeleton.js
  src/components/SummaryCard/SummaryCardSkeleton/__tests__/SummaryCardSkeleton.spec.js
  src/components/__tests__/__snapshots__/publicAPI.spec.js.snap
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

docs(summary-card-skeleton): add prop documentation
  src/components/SummaryCard/SummaryCardSkeleton/SummaryCardSkeleton.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

fix: add unique nav aria labels and NavItem IDs
  src/components/Toolbar/Toolbar.js
  src/components/Toolbar/locales/en/Toolbar.json
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

fix: update snapshot after recent changes
  src/components/Toolbar/__tests__/__snapshots__/Toolbar.spec.js.snap
Due: none

fix: update public API snapshot after recent changes
  src/components/__tests__/__snapshots__/publicAPI.spec.js.snap
Due: none

fix(portal): correctly spread `focusTrapOptions`
  src/components/Portal/Portal.js
  src/components/TagWallFilter/__tests__/__snapshots__/TagWallFilter.spec.js.snap
  src/components/Tearsheet/TearsheetSmall/__tests__/__snapshots__/TearsheetSmall.spec.js.snap
  src/components/Tearsheet/__tests__/__snapshots__/Tearsheet.spec.js.snap
  src/components/__tests__/__snapshots__/publicAPI.spec.js.snap
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

fix: remove nav item IDs as its already being addressed in #714
  src/components/Toolbar/Toolbar.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

feat(panel): pass through `focusTrapOptions`
  src/components/PanelV2/PanelV2.js
  src/components/Portal/Portal.js
  src/components/TagWallFilter/__tests__/__snapshots__/TagWallFilter.spec.js.snap
  src/components/__tests__/__snapshots__/publicAPI.spec.js.snap
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

feat(summary-card-skeleton): add `className`, spread props (#761)
  src/components/SummaryCard/SummaryCardSkeleton/SummaryCardSkeleton.js
  src/components/SummaryCard/SummaryCardSkeleton/__tests__/SummaryCardSkeleton.spec.js
  src/components/__tests__/__snapshots__/publicAPI.spec.js.snap
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

chore(release): 1.32.0-prerelease.3 [skip ci]
  package.json
Due: none

Notes added by 'git notes add'
  55/2b07b1d09bf3a848cbd746ea8d29536a803c06
Due: none

feat(toolbar): support supplying IDs to navigation items (#714)
  src/components/Nav/NavItem/NavItem.js
  src/components/Nav/NavItem/__tests__/__snapshots__/NavItem.spec.js.snap
  src/components/Nav/NavList/__tests__/__snapshots__/NavList.spec.js.snap
  src/components/Nav/__tests__/__snapshots__/Nav.spec.js.snap
  src/components/Toolbar/Toolbar.js
  src/components/Toolbar/_mocks_/index.js
  src/components/__tests__/__snapshots__/publicAPI.spec.js.snap
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

chore(release): 1.32.0-prerelease.4 [skip ci]
  package.json
Due: none

Notes added by 'git notes add'
  b1/e434b3aad1eacb373e7aa2c05a5e82de342e0d
Due: none

fix(summary-card): fix action overflow
  src/__tests__/scss/__snapshots__/SCSS.spec.js.snap
  src/components/SummaryCard/_mixins.scss
Due: yarn format:precommit, yarn lint:scss:precommit

fix(scroll-gradient): add immediate child combinator to prevent overwriting other scroll gradient styles further down the DOM (#757)
  src/__tests__/scss/__snapshots__/SCSS.spec.js.snap
  src/components/ScrollGradient/_index.scss
Due: yarn format:precommit, yarn lint:scss:precommit

docs(button-cluster): update documentation format
  src/components/UNSTABLE__LayoutModules/ButtonCluster/images/anatomy.png
  src/components/UNSTABLE__LayoutModules/ButtonCluster/index.mdx
Due: none

chore(release): 1.32.0-prerelease.5 [skip ci]
  package.json
Due: none

Path conditions:
  yarn format:precommit: any of: *.{js,md,scss}
  yarn lint:js:precommit: any of: *.js
  yarn test:precommit: any of: *.js
  yarn lint:scss:precommit: any of: *.scss
