Repository carbon-design-system/ibm-security: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn format:precommit, yarn lint:js:precommit, yarn lint:scss:precommit

chore(tag-wall-filter): fix `prop-type` declaration
  src/components/TagWallFilter/TagWallFilter.js
  src/components/__tests__/__snapshots__/publicAPI-test.js.snap
Due: yarn format:precommit, yarn lint:js:precommit

chore(release): 1.44.0-prerelease.5 [skip ci]
  package.json
Due: none

Notes added by 'git notes add'
  01/c2e2c9450ecd746ebe840bddf020ba3d221e3e
Due: none

chore: update stylelint-config-carbon@1.7.0
  .yarn/offline-mirror/@types-minimatch-3.0.4.tgz
  .yarn/offline-mirror/@types-minimatch-3.0.5.tgz
  .yarn/offline-mirror/caniuse-lite-1.0.30001247.tgz
  .yarn/offline-mirror/postcss-8.3.5.tgz
  .yarn/offline-mirror/postcss-8.3.6.tgz
  .yarn/offline-mirror/stylelint-config-carbon-1.6.0.tgz
  .yarn/offline-mirror/stylelint-config-carbon-1.7.0.tgz
  .yarn/offline-mirror/stylelint-config-recommended-3.0.0.tgz
  .yarn/offline-mirror/stylelint-config-recommended-5.0.0.tgz
  .yarn/offline-mirror/stylelint-config-standard-20.0.0.tgz
  .yarn/offline-mirror/stylelint-config-standard-22.0.0.tgz
  .yarn/offline-mirror/stylelint-no-unsupported-browser-features-4.1.4.tgz
  .yarn/offline-mirror/stylelint-no-unsupported-browser-features-5.0.1.tgz
  .yarn/offline-mirror/stylelint-scss-3.19.0.tgz
  .yarn/offline-mirror/stylelint-scss-3.20.1.tgz
  package.json
  yarn.lock
Due: none

chore: update stylelint-config-carbon@1.7.0 (#1056)
  .yarn/offline-mirror/@types-minimatch-3.0.4.tgz
  .yarn/offline-mirror/@types-minimatch-3.0.5.tgz
  .yarn/offline-mirror/caniuse-lite-1.0.30001247.tgz
  .yarn/offline-mirror/postcss-8.3.5.tgz
  .yarn/offline-mirror/postcss-8.3.6.tgz
  .yarn/offline-mirror/stylelint-config-carbon-1.6.0.tgz
  .yarn/offline-mirror/stylelint-config-carbon-1.7.0.tgz
  .yarn/offline-mirror/stylelint-config-recommended-3.0.0.tgz
  .yarn/offline-mirror/stylelint-config-recommended-5.0.0.tgz
  .yarn/offline-mirror/stylelint-config-standard-20.0.0.tgz
  .yarn/offline-mirror/stylelint-config-standard-22.0.0.tgz
  .yarn/offline-mirror/stylelint-no-unsupported-browser-features-4.1.4.tgz
  .yarn/offline-mirror/stylelint-no-unsupported-browser-features-5.0.1.tgz
  .yarn/offline-mirror/stylelint-scss-3.19.0.tgz
  .yarn/offline-mirror/stylelint-scss-3.20.1.tgz
  package.json
  yarn.lock
Due: none

chore: jsdoc and prop type fixes
  src/components/NonEntitledSection/NonEntitledSection.js
  src/components/_mocks_/index.js
Due: yarn format:precommit, yarn lint:js:precommit

chore: udpate snapshot
  src/components/__tests__/__snapshots__/publicAPI-test.js.snap
Due: none

chore: jsdoc and prop type fixes (#1057)
  src/components/NonEntitledSection/NonEntitledSection.js
  src/components/__tests__/__snapshots__/publicAPI-test.js.snap
  src/components/_mocks_/index.js
Due: yarn format:precommit, yarn lint:js:precommit

updates snapshots and fixes margin-bottom on subsection with actions
  src/__tests__/scss/__snapshots__/SCSS.spec.js.snap
  src/components/LayoutModules/TitleBarModule/_index.scss
Due: yarn format:precommit, yarn lint:scss:precommit

chore(release): 1.44.0 [skip ci]
  package.json
Due: none

Notes added by 'git notes add'
  5e/8da21198bc2ba40cafe52b7019fb8b5a0222d1
Due: none

feat(deps): upgrade production dependencies (#1049)
  .yarn/offline-mirror/focus-trap-6.5.0.tgz
  .yarn/offline-mirror/focus-trap-6.6.0.tgz
  .yarn/offline-mirror/focus-trap-react-8.5.1.tgz
  .yarn/offline-mirror/focus-trap-react-8.7.0.tgz
  .yarn/offline-mirror/react-is-16.13.0.tgz
  .yarn/offline-mirror/react-transition-group-4.4.2.tgz
  .yarn/offline-mirror/throttle-debounce-3.0.1.tgz
  package.json
  src/components/__tests__/__snapshots__/publicAPI-test.js.snap
  yarn.lock
Due: none

chore(release): 1.45.0-prerelease.1 [skip ci]
  package.json
Due: none

Notes added by 'git notes add'
  d2/ce00af8482a6a27b34787cc3ec34e1a74ac2a4
Due: none

chore: merge `dev` into `tag-wall-filter-warning`
  src/components/TagWallFilter/TagWallFilter.js
  src/components/TagWallFilter/__tests__/TagWallFilter-test.js
  src/components/TagWallFilter/__tests__/__snapshots__/TagWallFilter-test.js.snap
Due: yarn format:precommit, yarn lint:js:precommit

removes padding testing in styles
  src/__tests__/scss/__snapshots__/styles-test.js.snap
  src/components/LayoutModules/DescriptionListModule/DescriptionListModule-story.js
Due: yarn format:precommit, yarn lint:js:precommit

updates snapshots
  src/__tests__/scss/__snapshots__/styles-test.js.snap
Due: none

chore: test structure
  src/components/TagWallFilter/__tests__/TagWallFilter-test.js
  src/components/TagWallFilter/__tests__/__snapshots__/TagWallFilter-test.js.snap
Due: yarn format:precommit, yarn lint:js:precommit

refactor(tag-wall-filter): remove `recompose` as production dependency, convert tests to React Testing Library (#1059)
  .yarn/offline-mirror/reduced-utils-0.1.2.tgz
  package.json
  src/components/TagWallFilter/TagWallFilter.js
  src/components/TagWallFilter/__tests__/TagWallFilter-test.js
  src/components/TagWallFilter/__tests__/__snapshots__/TagWallFilter-test.js.snap
  src/globals/utils/shallowEqual.js
  yarn.lock
Due: yarn format:precommit, yarn lint:js:precommit

chore(stylelint): fix `ComboButton` and some `DataDecorator` warnings
  src/__tests__/scss/__snapshots__/styles-test.js.snap
  src/components/Button/_mixins.scss
  src/components/ComboButton/_index.scss
  src/components/DataDecorator/_mixins.scss
  src/components/TrendingCard/_index.scss
  src/globals/motion/_index.scss
Due: yarn format:precommit, yarn lint:scss:precommit

short variant with namespacing
  src/components/LayoutModules/DescriptionListModule/DescriptionListModule-story.js
  src/components/LayoutModules/DescriptionListModule/_index.scss
Due: yarn format:precommit, yarn lint:js:precommit, yarn lint:scss:precommit

updates docs and snapshots
  src/components/LayoutModules/ICAModule/index.mdx
Due: none

update snapshots
  src/__tests__/scss/__snapshots__/styles-test.js.snap
Due: none

chore(stylelint): fix `ComboButton` and some `DataDecorator` warnings (#1061)
  src/__tests__/scss/__snapshots__/styles-test.js.snap
  src/components/Button/_mixins.scss
  src/components/ComboButton/_index.scss
  src/components/DataDecorator/_mixins.scss
  src/components/TrendingCard/_index.scss
  src/globals/motion/_index.scss
Due: yarn format:precommit, yarn lint:scss:precommit

chore(css-gridish): clean up vendor usage, address Stylelint warning
  css-gridish.json
  src/globals/grid/_index.scss
  src/globals/grid/vendor/css-gridish/README.md
  src/globals/grid/vendor/css-gridish/scss/_core.scss
  src/globals/grid/vendor/css-gridish/scss/_functions.scss
  src/globals/grid/vendor/css-gridish/scss/_mixins.scss
  src/globals/grid/vendor/css-gridish/scss/_sass-list-maps.scss
  src/globals/grid/vendor/css-gridish/scss/_utilities.scss
  src/globals/grid/vendor/css-gridish/scss/_values.scss
  src/globals/grid/vendor/css-gridish/scss/_variables.scss
  src/globals/grid/vendor/css-gridish/scss/bx-grid-legacy.scss
  src/globals/grid/vendor/css-gridish/scss/bx-grid.scss
Due: yarn format:precommit, yarn lint:scss:precommit

chore(nav): fix eslint issues
  src/components/Nav/Nav.js
  src/components/Nav/NavItem/NavItem.js
  src/components/Nav/NavItem/__tests__/NavItem-test.js
  src/components/Nav/NavList/__tests__/__snapshots__/NavList-test.js.snap
  src/components/Nav/__tests__/__snapshots__/Nav-test.js.snap
Due: yarn format:precommit, yarn lint:js:precommit

chore(panel): fix eslint issues
  src/components/PanelV2/PanelV2.js
Due: yarn format:precommit, yarn lint:js:precommit

fix(nav-item): update public snapshot
  src/components/__tests__/__snapshots__/publicAPI-test.js.snap
Due: none

fix(nav-item): remove unused prop `onKeyPress` (#1065)
  src/components/Nav/Nav.js
  src/components/Nav/NavItem/NavItem.js
  src/components/Nav/NavItem/__tests__/NavItem-test.js
  src/components/Nav/NavList/__tests__/__snapshots__/NavList-test.js.snap
  src/components/Nav/__tests__/__snapshots__/Nav-test.js.snap
  src/components/__tests__/__snapshots__/publicAPI-test.js.snap
Due: yarn format:precommit, yarn lint:js:precommit

Notes added by 'git notes add'
  90/b1fdef8a29ab26f11589976cc34047296d312b
Due: none

chore(release): 1.45.0-prerelease.2 [skip ci]
  package.json
Due: none

chore(css-gridish): clean up vendor usage, address Stylelint warning (#1064)
  css-gridish.json
  src/globals/grid/_index.scss
  src/globals/grid/vendor/css-gridish/README.md
  src/globals/grid/vendor/css-gridish/scss/_core.scss
  src/globals/grid/vendor/css-gridish/scss/_functions.scss
  src/globals/grid/vendor/css-gridish/scss/_mixins.scss
  src/globals/grid/vendor/css-gridish/scss/_sass-list-maps.scss
  src/globals/grid/vendor/css-gridish/scss/_utilities.scss
  src/globals/grid/vendor/css-gridish/scss/_values.scss
  src/globals/grid/vendor/css-gridish/scss/_variables.scss
  src/globals/grid/vendor/css-gridish/scss/bx-grid-legacy.scss
  src/globals/grid/vendor/css-gridish/scss/bx-grid.scss
Due: yarn format:precommit, yarn lint:scss:precommit

updates docs and snapshots (#1062)
  src/components/LayoutModules/ICAModule/index.mdx
Due: none

260title bar label (#1040)
  src/__tests__/scss/__snapshots__/styles-test.js.snap
  src/components/LayoutModules/TitleBarModule/TitleBarModule-story.js
  src/components/LayoutModules/TitleBarModule/_index.scss
  src/components/LayoutModules/TitleBarModule/images/variants.png
  src/components/LayoutModules/TitleBarModule/images/with-actions-and-label.png
  src/components/LayoutModules/TitleBarModule/images/with-actions.png
  src/components/LayoutModules/TitleBarModule/images/with-label-positions.png
  src/components/LayoutModules/TitleBarModule/images/with-label.png
  src/components/LayoutModules/TitleBarModule/index.js
  src/components/LayoutModules/TitleBarModule/index.mdx
  src/components/__tests__/__snapshots__/publicAPI-test.js.snap
Due: yarn format:precommit, yarn lint:js:precommit, yarn lint:scss:precommit

Path conditions:
  yarn format:precommit: any of: *.{js,md,scss}
  yarn lint:js:precommit: any of: *.js
  yarn lint:scss:precommit: any of: *.scss
