Repository carbon-design-system/ibm-security: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

.lintstagedrc:

{
  '*.{js,md,scss}': ['yarn format:precommit', 'git add'],
  '*.js': ['yarn lint:js:precommit', 'git add', 'yarn test:precommit'],
  '*.scss': ['yarn lint:scss:precommit', 'git add'],
}

fix(panelv2): update test structure for onclose
  src/components/PanelV2/__tests__/PanelV2.spec.js
  src/components/PanelV2/__tests__/__snapshots__/PanelV2.spec.js.snap
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

fix(panelv2): add test todos, update snapshots
  src/components/PanelV2/__tests__/PanelV2.spec.js
  src/components/PanelV2/__tests__/__snapshots__/PanelV2.spec.js.snap
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

feat(panelv2): add user tab test, update snapshots
  src/components/PanelV2/__tests__/PanelV2.spec.js
  src/components/PanelV2/__tests__/__snapshots__/PanelV2.spec.js.snap
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

docs(panelv2): add comments to tests
  src/components/PanelV2/__tests__/PanelV2.spec.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

chore(semantic-release): upgrade package
  .yarn/offline-mirror/@semantic-release-commit-analyzer-7.0.0-beta.4.tgz
  .yarn/offline-mirror/@semantic-release-commit-analyzer-7.0.0.tgz
  .yarn/offline-mirror/@semantic-release-github-5.6.0-beta.2.tgz
  .yarn/offline-mirror/@semantic-release-github-6.0.1.tgz
  .yarn/offline-mirror/@semantic-release-npm-6.0.0-beta.3.tgz
  .yarn/offline-mirror/@semantic-release-npm-6.0.0.tgz
  .yarn/offline-mirror/@types-color-name-1.1.1.tgz
  .yarn/offline-mirror/@types-parse-json-4.0.0.tgz
  .yarn/offline-mirror/agent-base-5.1.1.tgz
  .yarn/offline-mirror/ansi-regex-5.0.0.tgz
  .yarn/offline-mirror/ansi-styles-4.2.1.tgz
  .yarn/offline-mirror/cliui-6.0.0.tgz
  .yarn/offline-mirror/color-convert-2.0.1.tgz
  .yarn/offline-mirror/conventional-commits-parser-3.0.8.tgz
  .yarn/offline-mirror/cosmiconfig-6.0.0.tgz
  .yarn/offline-mirror/env-ci-4.5.1.tgz
  .yarn/offline-mirror/env-ci-5.0.1.tgz
  .yarn/offline-mirror/execa-4.0.0.tgz
  .yarn/offline-mirror/http-proxy-agent-3.0.0.tgz
  .yarn/offline-mirror/https-proxy-agent-3.0.1.tgz
  .yarn/offline-mirror/https-proxy-agent-4.0.0.tgz
  .yarn/offline-mirror/import-fresh-3.2.1.tgz
  .yarn/offline-mirror/issue-parser-4.0.0.tgz
  .yarn/offline-mirror/issue-parser-6.0.0.tgz
  .yarn/offline-mirror/marked-0.7.0.tgz
  .yarn/offline-mirror/marked-0.8.0.tgz
  .yarn/offline-mirror/parse-github-url-1.0.2.tgz
  .yarn/offline-mirror/semantic-release-16.0.0-beta.27.tgz
  .yarn/offline-mirror/semantic-release-16.0.3.tgz
  .yarn/offline-mirror/semver-7.1.1.tgz
  .yarn/offline-mirror/string-width-4.2.0.tgz
  .yarn/offline-mirror/strip-ansi-6.0.0.tgz
  .yarn/offline-mirror/wrap-ansi-6.2.0.tgz
  .yarn/offline-mirror/yaml-1.7.2.tgz
  .yarn/offline-mirror/yargs-14.2.0.tgz
  .yarn/offline-mirror/yargs-15.1.0.tgz
  .yarn/offline-mirror/yargs-parser-15.0.0.tgz
  .yarn/offline-mirror/yargs-parser-16.1.0.tgz
  package.json
  yarn.lock
Due: none

chore: update release configuration
  .releaserc
Due: none

fix(themes): use helper just for filtering sasscolor
  scripts/themes/index.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

fix(themes): remove default colors value when making theme doc
  scripts/themes/index.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

chore(release): 2.0.0 [skip ci]
  package.json
Due: none

Notes added by 'git notes add'
  d364c5d3c2ab335a890b10a18ee677a8fc150ce6
Due: none

fix(panelv2): remove snapshots and update tests per PR feedback
  src/components/PanelV2/__tests__/PanelV2.spec.js
  src/components/PanelV2/__tests__/__snapshots__/PanelV2.spec.js.snap
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

Notes added by 'git notes add'
  21dd96ec21ca1de576e310a93bbf7869ca866d62
Due: none

fix(theme-docs): filter for color tokens when generating themes.md (#289)
  docs/themes/themes.md
  scripts/themes/index.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

chore(release): 1.15.1-prerelease.2 [skip ci]
  package.json
Due: none

Notes added by 'git notes add'
  55117dad132a62379905695e3da0c8833b60ab59
Due: none

fix(unstable-pagination): add initial tests for a11y, page size, and page select
  .yarn/offline-mirror/@testing-library-user-event-8.0.4.tgz
  package.json
  src/components/UNSTABLE__Pagination/__tests__/UNSTABLE_Pagination.spec.js
  yarn.lock
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

fix(unstable-pagination): add tests for next/previous buttons
  src/components/UNSTABLE__Pagination/__tests__/UNSTABLE_Pagination.spec.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

fix(unstable-pagination): add tests for totalitems, unknownpages, and diff text props
  src/components/UNSTABLE__Pagination/__tests__/UNSTABLE_Pagination.spec.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

chore(unstable-pagination): formatting and comment updates
  src/components/UNSTABLE__Pagination/__tests__/UNSTABLE_Pagination.spec.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

fix(unstable-pagination): add tab order test
  src/components/UNSTABLE__Pagination/__tests__/UNSTABLE_Pagination.spec.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

chore(unstable-pagination): fix test name
  src/components/UNSTABLE__Pagination/__tests__/UNSTABLE_Pagination.spec.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

chore(security-shell): add `SkipToContent`
  .yarn/offline-mirror/lodash._baseindexof-3.1.0.tgz
  .yarn/offline-mirror/lodash._bindcallback-3.0.1.tgz
  .yarn/offline-mirror/lodash._cacheindexof-3.0.2.tgz
  .yarn/offline-mirror/lodash._createcache-3.1.2.tgz
  .yarn/offline-mirror/node-pre-gyp-0.14.0.tgz
  src/components/SecurityShell/SecurityShell.js
  src/components/SecurityShell/SecurityShell.stories.js
  src/components/SecurityShell/index.js
  src/components/Tag/migrate-to-2.x.md
  src/components/TagWallFilter/Filter/tools/__tests__/sorting-test.js
  src/components/TagWallFilter/TagWallFilter.js
  src/components/TagWallFilter/TagWallFilter.stories.js
  src/components/Toolbar/Toolbar.js
  src/index.js
  yarn.lock
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

chore(security-shell): add `SkipToContent`
  src/components/SecurityShell/SecurityShell.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

feat(shell): add `ReturnToBanner`
  src/components/SecurityShell/SecurityShell.js
  src/components/SecurityShell/SecurityShell.stories.js
  src/components/SecurityShell/_index.scss
  src/components/SecurityShell/index.js
  src/components/Shell/_mixins.scss
  src/components/Toolbar/_mixins.scss
  src/index.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

feat(shell): refactor internal logic
  src/components/IconButton/IconButton.js
  src/components/SecurityShell/SecurityShell.js
  src/components/SecurityShell/SecurityShell.stories.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

feat(shell): refactor internal logic
  src/components/SecurityShell/SecurityShell.stories.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

fix(panel-v2): add a11y tests for node title and deprecated footer props
  src/components/PanelV2/__tests__/PanelV2.spec.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

fix(unstable-pagination): split up last test
  src/components/UNSTABLE__Pagination/__tests__/UNSTABLE_Pagination.spec.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

docs(themes): revise notes about using sass to apply themes (#323)
  docs/themes/README.md
Due: yarn format:precommit

fix(panel): remove spread attr, update aria-label in story, update story labels
  src/components/Panel/PanelContainer.js
  src/components/PanelV2/PanelV2.js
  src/components/PanelV2/PanelV2.stories.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

fix(panel-v2): update snapshot
  src/components/PanelV2/__tests__/__snapshots__/PanelV2.spec.js.snap
Due: none

chore(release): 1.16.0-prerelease.1 [skip ci]
  package.json
Due: none

Notes added by 'git notes add'
  405df62ec37826ad8c1385c510f42b26d286b1d0
Due: none

chore: use recommended yml file format for aat config
  .aat.yml
  aat/aat.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

chore: add new line at the end of aat yml file
  .aat.yml
Due: none

chore: use recommended yml file format for aat config (#330)
  .aat.yml
  aat/aat.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit
