Repository carbon-design-system/ibm-security: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn precommit:format, yarn precommit:lint:js, yarn precommit:lint:scss

.lintstagedrc:

{
  '*.{js, json, html, md, mdx, scss}': ['yarn precommit:format', 'git add'],
  '*.js': ['yarn precommit:lint:js', 'git add'],
  '*.scss': ['yarn precommit:lint:scss', 'git add'],
}

chore(stylelint): fix various warnings
  src/components/IconButton/_mixins.scss
  src/components/PanelV2/_mixins.scss
  src/components/SummaryCard/_mixins.scss
  src/components/Tearsheet/TearsheetSmall/_mixins.scss
  src/components/Tearsheet/_mixins.scss
  src/components/Toolbar/_mixins.scss
  src/globals/rtl/_index.scss
Due: yarn precommit:lint:scss

fix(tearsheet-small): update maximum size styles (#968)
  src/__tests__/scss/__snapshots__/styles-test.js.snap
  src/components/Tearsheet/TearsheetSmall/_mixins.scss
Due: yarn precommit:lint:scss

chore(deps): update `accessibility-checker`, align configuration (#1095)
  .achecker.yml
  .yarn/offline-mirror/accessibility-checker-3.1.10.tgz
  .yarn/offline-mirror/accessibility-checker-3.1.9.tgz
  package.json
  yarn.lock
Due: none

chore(release): 1.45.0-prerelease.4 [skip ci]
  package.json
Due: none

Notes added by 'git notes add'
  c9/1b0bc7e6a1cc3dcd117da9c563361f583ae3a2
Due: none

fix(title-bar-module): update margin values
  src/__tests__/scss/__snapshots__/styles-test.js.snap
  src/components/LayoutModules/TitleBarModule/_index.scss
Due: yarn precommit:lint:scss

feat(layout modules): add new Getting Started Page Layout and Module
  src/__tests__/scss/__snapshots__/styles-test.js.snap
  src/components/IconButtonBar/__tests__/__snapshots__/IconButtonBar-test.js.snap
  src/components/LayoutModules/GettingStartedModule/GettingStartedModule-story.js
  src/components/LayoutModules/GettingStartedModule/images/placeholder.svg
  src/components/LayoutModules/GettingStartedModule/index.js
  src/components/LayoutModules/GettingStartedModule/index.mdx
  src/components/LayoutModules/GettingStartedModule/index.scss
  src/components/LayoutModules/_index.scss
  src/components/LayoutModules/docs/examples/Getting Started/images/gettingStarted.png
  src/components/LayoutModules/docs/examples/Getting Started/index.mdx
  src/components/LayoutModules/index.js
  src/components/PageLayouts/GettingStarted-story.js
  src/components/__tests__/__snapshots__/public-api-test.js.snap
  src/images/aurora_full_width.png
  src/index.js
Due: yarn precommit:format, yarn precommit:lint:js, yarn precommit:lint:scss

chore(stylelint): fix various warnings (#1094)
  src/__tests__/scss/__snapshots__/styles-test.js.snap
  src/components/DataDecorator/_mixins.scss
  src/components/Header/HeaderNotification/_mixins.scss
  src/components/Header/_mixins.scss
  src/components/IconButton/_mixins.scss
  src/components/LayoutModules/DescriptionModule/_index.scss
  src/components/LayoutModules/TitleBarModule/_index.scss
  src/components/Nav/_mixins.scss
  src/components/NonEntitledSection/_index.scss
  src/components/PanelV2/_mixins.scss
  src/components/SummaryCard/_mixins.scss
  src/components/Tearsheet/TearsheetSmall/_mixins.scss
  src/components/Tearsheet/_mixins.scss
  src/components/Toolbar/_mixins.scss
  src/globals/rtl/_index.scss
  src/globals/type/_index.scss
Due: yarn precommit:lint:scss

build: add Stylelint to CI (#1084)
  .circleci/config.yml
  .stylelintrc
  package.json
Due: none

refactor(nav): fix overlooked linting warning
  .stylelintrc
  src/components/Nav/_mixins.scss
Due: yarn precommit:lint:scss

fix: add a storybook preview and update snapshots
  .storybook/preview.js
  src/__tests__/scss/__snapshots__/styles-test.js.snap
  src/components/IconButtonBar/__tests__/__snapshots__/IconButtonBar-test.js.snap
  src/components/__tests__/__snapshots__/public-api-test.js.snap
Due: yarn precommit:format, yarn precommit:lint:js

fix(toolbar): vertical icon alignment for multi-line labels
  src/components/Toolbar/_mixins.scss
Due: yarn precommit:lint:scss

"fix(toolbar): vertical icon alignment for multi-line labels
  src/components/Toolbar/_mixins.scss
Due: yarn precommit:lint:scss

refactor(nav): fix overlooked linting warning (#1098)
  .stylelintrc
  src/components/Nav/_mixins.scss
Due: yarn precommit:lint:scss

Convert px to min units
  src/components/Toolbar/_mixins.scss
Due: yarn precommit:lint:scss

feat(deps): add remaining Carbon dependencies
  .yarn/offline-mirror/@carbon-colors-10.31.0.tgz
  .yarn/offline-mirror/@carbon-grid-10.33.0.tgz
  .yarn/offline-mirror/@carbon-grid-10.35.0.tgz
  .yarn/offline-mirror/@carbon-layout-10.31.0.tgz
  .yarn/offline-mirror/@carbon-themes-10.42.0.tgz
  .yarn/offline-mirror/@carbon-type-10.35.0.tgz
  package.json
  src/__tests__/scss/__snapshots__/styles-test.js.snap
  src/components/__tests__/__snapshots__/public-api-test.js.snap
  yarn.lock
Due: none

fix(decorator): add oncontextmenu
  src/components/DataDecorator/Decorator/Decorator.js
Due: yarn precommit:format, yarn precommit:lint:js

feat(deps): add remaining Carbon dependencies (#1101)
  .yarn/offline-mirror/@carbon-colors-10.31.0.tgz
  .yarn/offline-mirror/@carbon-grid-10.33.0.tgz
  .yarn/offline-mirror/@carbon-grid-10.35.0.tgz
  .yarn/offline-mirror/@carbon-layout-10.31.0.tgz
  .yarn/offline-mirror/@carbon-themes-10.42.0.tgz
  .yarn/offline-mirror/@carbon-type-10.35.0.tgz
  package.json
  src/__tests__/scss/__snapshots__/styles-test.js.snap
  src/components/__tests__/__snapshots__/public-api-test.js.snap
  yarn.lock
Due: none

chore(release): 1.45.0-prerelease.5 [skip ci]
  package.json
Due: none

Notes added by 'git notes add'
  0c/9158c494972c51d7c04f5cb6b9967226dfcdd5
Due: none

chore: update carbon component to latest stable version (10.43.0)
  .yarn/offline-mirror/carbon-components-react-7.41.0.tgz
  package.json
  yarn.lock
Due: none

chore: update remaining @carbon packages
  .yarn/offline-mirror/@carbon-motion-10.23.0.tgz
  package.json
  src/__tests__/scss/__snapshots__/styles-test.js.snap
  src/components/__tests__/__snapshots__/public-api-test.js.snap
  yarn.lock
Due: none

fix(toolbar): vertical icon alignment for multi-line labels
  src/__tests__/scss/__snapshots__/styles-test.js.snap
  src/components/Toolbar/_mixins.scss
Due: yarn precommit:lint:scss

fix(toolbar): vertical icon alignment for multi-line labels (#1089)
  src/__tests__/scss/__snapshots__/styles-test.js.snap
  src/components/Nav/_mixins.scss
  src/components/Toolbar/Toolbar.js
  src/components/Toolbar/_mixins.scss
Due: yarn precommit:format, yarn precommit:lint:js, yarn precommit:lint:scss

chore(release): 1.45.0-prerelease.6 [skip ci]
  package.json
Due: none

Notes added by 'git notes add'
  b9/bd2b50290f7c40cc90b6f72bef570f6a4a587b
Due: none

fix(decorator): added tests
  src/components/DataDecorator/Decorator/Decorator.js
  src/components/DataDecorator/Decorator/__tests__/Decorator-test.js
Due: yarn precommit:format, yarn precommit:lint:js

fix(decorator): fix icon `fill` styles
  src/__tests__/scss/__snapshots__/styles-test.js.snap
  src/components/DataDecorator/_mixins.scss
Due: yarn precommit:lint:scss

Update src/components/DataDecorator/Decorator/__tests__/Decorator-test.js
  src/components/DataDecorator/Decorator/__tests__/Decorator-test.js
Due: yarn precommit:format, yarn precommit:lint:js

feat(decorator): add onContextMenu to decorator (#1102)
  src/components/DataDecorator/Decorator/Decorator.js
  src/components/DataDecorator/Decorator/__tests__/Decorator-test.js
Due: yarn precommit:format, yarn precommit:lint:js

chore(release): 1.45.0-prerelease.7 [skip ci]
  package.json
Due: none

Notes added by 'git notes add'
  ad/599e167b2acacad197d27ee84a25b812c7a6fe
Due: none

fix(decorator): fix icon `fill` styles (#1103)
  src/__tests__/scss/__snapshots__/styles-test.js.snap
  src/components/DataDecorator/_mixins.scss
Due: yarn precommit:lint:scss

chore(release): 1.45.0-prerelease.8 [skip ci]
  package.json
Due: none
