Repository carbon-design-system/ibm-security: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

.lintstagedrc:

{
  '*.{js,md,scss}': ['yarn format:precommit', 'git add'],
  '*.js': ['yarn lint:js:precommit', 'git add', 'yarn test:precommit'],
  '*.scss': ['yarn lint:scss:precommit', 'git add'],
}

fix(filter-subcategory): expand and collapse (#239)
  src/components/FilterPanel/FilterSubcategory/FilterSubcategory.js
  src/components/FilterPanel/FilterSubcategory/__tests__/FilterSubcategory.spec.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

chore(release): 1.10.1-prerelease.1 [skip ci]
  package.json
Due: none

ci: fix dependencies
  .yarn/offline-mirror/@sheerun-mutationobserver-shim-0.3.2.tgz
  .yarn/offline-mirror/@testing-library-dom-6.10.1.tgz
  .yarn/offline-mirror/@testing-library-react-9.3.2.tgz
  .yarn/offline-mirror/@types-react-dom-16.9.4.tgz
  .yarn/offline-mirror/@types-testing-library__dom-6.10.0.tgz
  .yarn/offline-mirror/@types-testing-library__react-9.1.2.tgz
  .yarn/offline-mirror/wait-for-expect-3.0.1.tgz
  package.json
Due: none

docs(time-estimator): add props documentation
  src/components/TimeEstimator/index.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

feat(modular-styles): finalise imports
  .storybook/components/Container/_index.scss
  .storybook/components/Container/index.js
  .storybook/index.scss
  src/components/ErrorPage/_mixins.scss
  src/components/IconButton/_mixins.scss
  src/globals/_index.scss
  src/globals/scss-exports/spacing.module.scss
  src/globals/type/_index.scss
  src/index.scss
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

docs(theme): update Storybook imports
  .storybook/addons/addon-theme/index.scss
  .storybook/addons/addon-theme/register.js
  src/components/Select/_index.scss
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

refactor(error-page): add unused spacing values
  src/components/ErrorPage/_mixins.scss
Due: yarn format:precommit, yarn lint:scss:precommit

feat(trending-card): add component
  .storybook/config.js
  .storybook/index.js
  config/jest/index.js
  package.json
  src/components/TrendingCard/TrendingCard.stories.js
  src/components/TrendingCard/__tests__/TrendingCard.spec.js
  src/components/TrendingCard/__tests__/__snapshots__/TrendingCard.spec.js.snap
  src/components/TrendingCard/_index.scss
  src/components/TrendingCard/index.js
  src/components/_index.scss
  src/index.js
  yarn.lock
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

test(testing-library): add dependencies
  .yarn/offline-mirror/@babel-runtime-7.7.4.tgz
  .yarn/offline-mirror/@sheerun-mutationobserver-shim-0.3.2.tgz
  .yarn/offline-mirror/@testing-library-dom-6.10.1.tgz
  .yarn/offline-mirror/@testing-library-jest-dom-4.2.4.tgz
  .yarn/offline-mirror/@testing-library-react-9.3.2.tgz
  .yarn/offline-mirror/@types-react-dom-16.9.4.tgz
  .yarn/offline-mirror/@types-testing-library__dom-6.10.0.tgz
  .yarn/offline-mirror/@types-testing-library__react-9.1.2.tgz
  .yarn/offline-mirror/css-2.2.4.tgz
  .yarn/offline-mirror/css.escape-1.5.1.tgz
  .yarn/offline-mirror/min-indent-1.0.0.tgz
  .yarn/offline-mirror/redent-3.0.0.tgz
  .yarn/offline-mirror/strip-indent-3.0.0.tgz
  .yarn/offline-mirror/wait-for-expect-3.0.1.tgz
Due: none

test: revert commands
  package.json
Due: none

test: optimise commands
  package.json
Due: none

build(testing-library): add dependencies, update configuration
  .yarn/offline-mirror/@babel-runtime-7.7.4.tgz
  .yarn/offline-mirror/@sheerun-mutationobserver-shim-0.3.2.tgz
  .yarn/offline-mirror/@testing-library-dom-6.10.1.tgz
  .yarn/offline-mirror/@testing-library-jest-dom-4.2.4.tgz
  .yarn/offline-mirror/@testing-library-react-9.3.2.tgz
  .yarn/offline-mirror/@types-react-dom-16.9.4.tgz
  .yarn/offline-mirror/@types-testing-library__dom-6.10.0.tgz
  .yarn/offline-mirror/@types-testing-library__react-9.1.2.tgz
  .yarn/offline-mirror/css-2.2.4.tgz
  .yarn/offline-mirror/css.escape-1.5.1.tgz
  .yarn/offline-mirror/min-indent-1.0.0.tgz
  .yarn/offline-mirror/redent-3.0.0.tgz
  .yarn/offline-mirror/strip-indent-3.0.0.tgz
  .yarn/offline-mirror/wait-for-expect-3.0.1.tgz
  config/jest/index.js
  package.json
  yarn.lock
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

build(test): fix precommit
  package.json
Due: none

feat(trending-card): add custom link prop
  src/components/TrendingCard/TrendingCard.stories.js
  src/components/TrendingCard/__tests__/__snapshots__/TrendingCard.spec.js.snap
  src/components/TrendingCard/_index.scss
  src/components/TrendingCard/index.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

chore(trending-card): add `min-width` and motion
  .yarn/offline-mirror/@carbon-motion-10.4.0.tgz
  package.json
  src/components/TrendingCard/TrendingCard.stories.js
  src/components/TrendingCard/__tests__/TrendingCard.spec.js
  src/components/TrendingCard/__tests__/__snapshots__/TrendingCard.spec.js.snap
  src/components/TrendingCard/_index.scss
  src/components/TrendingCard/index.js
  yarn.lock
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

chore(trending-card): add `min-width` and motion
  src/components/TrendingCard/TrendingCard.stories.js
  src/components/TrendingCard/__tests__/__snapshots__/TrendingCard.spec.js.snap
  src/globals/grid/css-gridish/README.md
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

build(testing-library): add dependencies, update configuration (#245)
  .yarn/offline-mirror/@babel-runtime-7.7.4.tgz
  .yarn/offline-mirror/@sheerun-mutationobserver-shim-0.3.2.tgz
  .yarn/offline-mirror/@testing-library-dom-6.10.1.tgz
  .yarn/offline-mirror/@testing-library-jest-dom-4.2.4.tgz
  .yarn/offline-mirror/@testing-library-react-9.3.2.tgz
  .yarn/offline-mirror/@types-react-dom-16.9.4.tgz
  .yarn/offline-mirror/@types-testing-library__dom-6.10.0.tgz
  .yarn/offline-mirror/@types-testing-library__react-9.1.2.tgz
  .yarn/offline-mirror/css-2.2.4.tgz
  .yarn/offline-mirror/css.escape-1.5.1.tgz
  .yarn/offline-mirror/min-indent-1.0.0.tgz
  .yarn/offline-mirror/redent-3.0.0.tgz
  .yarn/offline-mirror/strip-indent-3.0.0.tgz
  .yarn/offline-mirror/wait-for-expect-3.0.1.tgz
  config/jest/index.js
  package.json
  yarn.lock
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

chore(release): 1.10.1 [skip ci]
  package.json
Due: none

refactor(error-page): add unused spacing values (#243)
  src/components/ErrorPage/_mixins.scss
Due: yarn format:precommit, yarn lint:scss:precommit

feat(UNSTABLE_pagination): add component scaffolding
  .eslintrc
  src/components/UNSTABLE_Pagination/Pagination.js
  src/components/UNSTABLE_Pagination/Pagination.stories.js
  src/components/UNSTABLE_Pagination/_index.scss
  src/components/UNSTABLE_Pagination/index.js
  src/index.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

chore: update eslint config formatting
  .eslintrc
Due: none

feat(unstable-pagination): updates structure, add styles
  src/components/UNSTABLE_Pagination/Pagination.js
  src/components/UNSTABLE_Pagination/_index.scss
  src/components/UNSTABLE_Pagination/_mixins.scss
  src/components/_index.scss
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

fix(unstable-pagination): update styles and story
  src/components/UNSTABLE_Pagination/Pagination.js
  src/components/UNSTABLE_Pagination/Pagination.stories.js
  src/components/UNSTABLE_Pagination/_mixins.scss
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

fix(header): add hyphenated word break for popover title
  src/components/Header/_mixins.scss
Due: yarn format:precommit, yarn lint:scss:precommit

fix(data-table): fix theme tokens, reduce overrides
  src/components/DataTable/_index.scss
Due: yarn format:precommit, yarn lint:scss:precommit

fix(data-table): add correct props for overflow example
  src/components/DataTable/_index.scss
  src/components/DataTable/stories/with-overflow-menu.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

fix(header): add hyphenated word break for popover title (#250)
  src/components/Header/_mixins.scss
Due: yarn format:precommit, yarn lint:scss:precommit

chore(release): 1.10.2-prerelease.1 [skip ci]
  package.json
Due: none

feat(panel): deprecate `Panel` in favor of `PanelV2`
  src/components/DataDecorator/DataDecorator.js
  src/components/DataDecorator/__tests__/__snapshots__/DataDecorator.spec.js.snap
  src/components/Panel/Panel.js
  src/components/Panel/Panel.stories.js
  src/components/Panel/PanelContainer.js
  src/components/Panel/PanelController.js
  src/components/Panel/README.md
  src/components/Panel/__tests__/Panel.spec.js
  src/components/Panel/__tests__/__snapshots__/Panel.spec.js.snap
  src/components/Panel/_index.scss
  src/components/Panel/_mixins.scss
  src/components/Panel/_mocks_/index.js
  src/components/Panel/index.js
  src/components/Panel/migrate-to-2.x.md
  src/components/PanelV2/PanelV2.js
  src/components/PanelV2/PanelV2.stories.js
  src/components/PanelV2/__tests__/PanelV2.spec.js
  src/components/PanelV2/__tests__/__snapshots__/PanelV2.spec.js.snap
  src/components/PanelV2/_index.scss
  src/components/PanelV2/_mixins.scss
  src/components/PanelV2/_mocks_/index.js
  src/components/PanelV2/index.js
  src/components/_index.scss
  src/index.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

docs(panel): update migration documentation
  docs/migration/migrate-to-2.x.md
  src/components/DataDecorator/migrate-to-2.x.md
  src/components/Panel/migrate-to-2.x.md
Due: yarn format:precommit

fix(data-table): fix theme tokens, reduce overrides (#252)
  src/components/DataTable/_index.scss
  src/components/DataTable/stories/with-overflow-menu.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

chore(release): 1.10.2-prerelease.2 [skip ci]
  package.json
Due: none

feat(pagination): add pagechanger subcomponent and demo
  .gitignore
  src/components/UNSTABLE_Pagination/PageChanger.js
  src/components/UNSTABLE_Pagination/Pagination.js
  src/components/UNSTABLE_Pagination/Pagination.stories.js
  src/components/UNSTABLE_Pagination/index.js
  src/index.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

docs(pagination): remove used func
  src/components/UNSTABLE_Pagination/Pagination.stories.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit
