Repository carbon-design-system/ibm-security: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

.lintstagedrc:

{
  '*.{js,md,scss}': ['yarn format:precommit', 'git add'],
  '*.js': ['yarn lint:js:precommit', 'git add', 'yarn test:precommit'],
  '*.scss': ['yarn lint:scss:precommit', 'git add'],
}

chore: merge `modular-layouts-documentation` into `dev`
  .storybook/components/DocsContainer/index.js
  .storybook/components/Source/index.js
  .storybook/docs/_index.scss
  .storybook/preview.js
  .yarn/offline-mirror/@storybook-addon-a11y-6.0.22.tgz
  .yarn/offline-mirror/@storybook-addon-a11y-6.0.26.tgz
  .yarn/offline-mirror/@storybook-addon-actions-6.0.22.tgz
  .yarn/offline-mirror/@storybook-addon-actions-6.0.26.tgz
  .yarn/offline-mirror/@storybook-addon-google-analytics-6.0.22.tgz
  .yarn/offline-mirror/@storybook-addon-google-analytics-6.0.26.tgz
  .yarn/offline-mirror/@storybook-addon-knobs-6.0.22.tgz
  .yarn/offline-mirror/@storybook-addon-knobs-6.0.26.tgz
  .yarn/offline-mirror/@storybook-addon-storysource-6.0.22.tgz
  .yarn/offline-mirror/@storybook-addon-storysource-6.0.26.tgz
  .yarn/offline-mirror/@storybook-addon-viewport-6.0.22.tgz
  .yarn/offline-mirror/@storybook-addon-viewport-6.0.26.tgz
  .yarn/offline-mirror/@storybook-addons-6.0.22.tgz
  .yarn/offline-mirror/@storybook-api-6.0.22.tgz
  .yarn/offline-mirror/@storybook-channel-postmessage-6.0.22.tgz
  .yarn/offline-mirror/@storybook-channels-6.0.22.tgz
  .yarn/offline-mirror/@storybook-client-api-6.0.22.tgz
  .yarn/offline-mirror/@storybook-client-logger-6.0.22.tgz
  .yarn/offline-mirror/@storybook-components-6.0.22.tgz
  .yarn/offline-mirror/@storybook-core-6.0.22.tgz
  .yarn/offline-mirror/@storybook-core-events-6.0.22.tgz
  .yarn/offline-mirror/@storybook-node-logger-6.0.22.tgz
  .yarn/offline-mirror/@storybook-react-6.0.22.tgz
  .yarn/offline-mirror/@storybook-react-6.0.26.tgz
  .yarn/offline-mirror/@storybook-router-6.0.22.tgz
  .yarn/offline-mirror/@storybook-source-loader-6.0.22.tgz
  .yarn/offline-mirror/@storybook-theming-6.0.22.tgz
  .yarn/offline-mirror/@storybook-ui-6.0.22.tgz
  yarn.lock
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

build(kodiak): add Kodiak configuration
  .kodiak.toml
Due: none

feat(portal): add prop for overlay class
  src/components/Portal/Portal.js
  src/components/Portal/__tests__/Portal.spec.js
  src/components/TagWallFilter/__tests__/__snapshots__/TagWallFilter.spec.js.snap
  src/components/Tearsheet/TearsheetSmall/__tests__/__snapshots__/TearsheetSmall.spec.js.snap
  src/components/Tearsheet/__tests__/__snapshots__/Tearsheet.spec.js.snap
  src/components/__tests__/__snapshots__/publicAPI.spec.js.snap
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

build(stale): add empty file for default configuration (#820)
  .github/stale.yml
Due: none

chore: merge `dev` into `combobutton-positioning`
  src/components/ComboButton/ComboButton.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

fix(combo-button): update default `menuOffset` to account for scrolling (#812)
  src/components/ComboButton/ComboButton.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

chore: format `dev`
  src/components/ComboButton/ComboButton.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

chore(release): 1.34.1-prerelease.2 [skip ci]
  package.json
Due: none

Notes added by 'git notes add'
  0a/6edae8c9ae32596d22bb782a5129a8b745d44d
Due: none

feat(portal): add `overlayOptions`
  docs/migration/migrate-to-2.x.md
  src/components/PanelV2/PanelV2.js
  src/components/Portal/Portal.js
  src/components/Portal/__tests__/Portal.spec.js
  src/components/Portal/migrate-to-2.x.md
  src/components/TagWallFilter/__tests__/__snapshots__/TagWallFilter.spec.js.snap
  src/components/Tearsheet/TearsheetSmall/__tests__/__snapshots__/TearsheetSmall.spec.js.snap
  src/components/Tearsheet/__tests__/__snapshots__/Tearsheet.spec.js.snap
  src/components/__tests__/__snapshots__/publicAPI.spec.js.snap
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

feat(portal): add `overlayOptions`
  src/components/Portal/Portal.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

docs(portal): fix prop typo
  src/components/Portal/Portal.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

feat(carbon): upgrade dependencies (#814)
  .yarn/offline-mirror/@carbon-colors-10.13.0.tgz
  .yarn/offline-mirror/@carbon-colors-10.15.0.tgz
  .yarn/offline-mirror/@carbon-grid-10.15.0.tgz
  .yarn/offline-mirror/@carbon-grid-10.16.0.tgz
  .yarn/offline-mirror/@carbon-icons-react-10.18.0.tgz
  .yarn/offline-mirror/@carbon-icons-react-10.20.0.tgz
  .yarn/offline-mirror/@carbon-layout-10.13.0.tgz
  .yarn/offline-mirror/@carbon-layout-10.14.0.tgz
  .yarn/offline-mirror/@carbon-themes-10.19.0.tgz
  .yarn/offline-mirror/@carbon-themes-10.22.1.tgz
  .yarn/offline-mirror/@carbon-type-10.16.0.tgz
  .yarn/offline-mirror/@carbon-type-10.17.0.tgz
  .yarn/offline-mirror/carbon-components-10.20.0.tgz
  .yarn/offline-mirror/carbon-components-10.23.2.tgz
  .yarn/offline-mirror/carbon-components-react-7.20.0.tgz
  .yarn/offline-mirror/carbon-components-react-7.23.2.tgz
  docs/themes/themes.md
  package.json
  src/__tests__/scss/__snapshots__/SCSS.spec.js.snap
  src/components/ComboButton/__tests__/__snapshots__/ComboButton.spec.js.snap
  src/components/Header/__tests__/__snapshots__/Header.spec.js.snap
  src/components/__tests__/__snapshots__/publicAPI.spec.js.snap
  yarn.lock
Due: yarn format:precommit

chore(release): 1.35.0-prerelease.1 [skip ci]
  package.json
Due: none

Notes added by 'git notes add'
  72/02347e1313359ca31cc11bd18d9369fc347945
Due: none

feat(portal): add prop for overlay class (#824)
  docs/migration/migrate-to-2.x.md
  src/components/PanelV2/PanelV2.js
  src/components/Portal/Portal.js
  src/components/Portal/__tests__/Portal.spec.js
  src/components/Portal/migrate-to-2.x.md
  src/components/TagWallFilter/__tests__/__snapshots__/TagWallFilter.spec.js.snap
  src/components/Tearsheet/TearsheetSmall/__tests__/__snapshots__/TearsheetSmall.spec.js.snap
  src/components/Tearsheet/__tests__/__snapshots__/Tearsheet.spec.js.snap
  src/components/__tests__/__snapshots__/publicAPI.spec.js.snap
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

chore(release): 1.35.0-prerelease.2 [skip ci]
  package.json
Due: none

Notes added by 'git notes add'
  f3/c261547fb58b6cb089079c69d3efe217bc4340
Due: none

fix(summary-card): prevent scrollbar on action text
  src/__tests__/scss/__snapshots__/SCSS.spec.js.snap
  src/components/SummaryCard/_mixins.scss
Due: yarn format:precommit, yarn lint:scss:precommit

feat: add NavItem element support for Toolbar
  src/components/Toolbar/Toolbar.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

feat: add NavItem element support for Toolbar (#828)
  src/components/Toolbar/Toolbar.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

chore(release): 1.35.0-prerelease.3 [skip ci]
  package.json
Due: none

Notes added by 'git notes add'
  87/e2b9ef586bec5f36cdea56acb06dbf8d275a7f
Due: none

build(audit): always run audit
  .circleci/config.yml
Due: none

build(audit): add CI audit script
  .circleci/config.yml
  .yarn/offline-mirror/shelljs-0.8.4.tgz
  package.json
  scripts/audit/index.js
  yarn.lock
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

build(audit): add link to Yarn documentation
  scripts/audit/index.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

fix(ComboButton): key is not a prop error
  src/components/ComboButton/ComboButton.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

fix(ComboButton): update snapshot
  src/components/ComboButton/__tests__/__snapshots__/ComboButton.spec.js.snap
Due: none

fix(ComboButton): small optimization
  src/components/ComboButton/ComboButton.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

build(codeql): test CodeQL workflow
  .github/workflows/codeql.yml
Due: none

build(codeql): tidy up workflow
  .github/workflows/codeql.yml
Due: none

fix(combo-button): key is not a prop warning (#831)
  src/components/ComboButton/ComboButton.js
  src/components/ComboButton/__tests__/__snapshots__/ComboButton.spec.js.snap
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

chore(release): 1.35.0-prerelease.4 [skip ci]
  package.json
Due: none

Notes added by 'git notes add'
  b8/3549048d9c41f9795a6544e545cb11bac4f195
Due: none

build(audit): add CI audit script (#830)
  .circleci/config.yml
  .yarn/offline-mirror/shelljs-0.8.4.tgz
  package.json
  scripts/audit/index.js
  yarn.lock
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

build(codeql): add cron job
  .github/workflows/codeql.yml
Due: none

chore(release): 1.35.0 [skip ci]
  package.json
Due: none

Notes added by 'git notes add'
  b1/dbefe19291d8d0aaca8b84908542b7ab6000d4
Due: none
