Repository carbon-design-system/ibm-security: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn precommit:format, yarn precommit:lint:js, yarn precommit:test, yarn precommit:lint:scss

.lintstagedrc:

{
  '*.{js,md,scss}': ['yarn precommit:format', 'git add'],
  '*.js': ['yarn precommit:lint:js', 'git add', 'yarn precommit:test'],
  '*.scss': ['yarn precommit:lint:scss', 'git add'],
}

docs(delimited-list): update copyright notice
  src/components/DelimitedList/DelimitedList.js
Due: yarn precommit:format, yarn precommit:lint:js, yarn precommit:test

feat(tearsheet-small): undeprecate `children` prop
  src/components/Tearsheet/TearsheetSmall/TearsheetSmall.js
  src/components/__tests__/__snapshots__/publicAPI-test.js.snap
Due: yarn precommit:format, yarn precommit:lint:js, yarn precommit:test

feat(tearsheet-small): undeprecate `children` prop (#1022)
  src/components/Tearsheet/TearsheetSmall/TearsheetSmall.js
  src/components/__tests__/__snapshots__/publicAPI-test.js.snap
Due: yarn precommit:format, yarn precommit:lint:js, yarn precommit:test

chore(release): 1.43.0-prerelease.4 [skip ci]
  package.json
Due: none

Notes added by 'git notes add'
  ba/9c2dc7091bff819d5c99f19737316bb57ec0a0
Due: none

chore(panel): migrate tests to react-testing-library and remove some that didn't do anything
  src/components/Panel/__tests__/Panel-test.js
  src/components/Panel/__tests__/__snapshots__/Panel-test.js.snap
Due: yarn precommit:format, yarn precommit:lint:js, yarn precommit:test

test(data-table-pagination): migrate to react-testing-library
  src/components/DataTable/DataTablePagination/__tests__/DataTablePagination-test.js
  src/components/DataTable/DataTablePagination/__tests__/__snapshots__/DataTablePagination-test.js.snap
Due: yarn precommit:format, yarn precommit:lint:js, yarn precommit:test

fix(focus): add `blurTimer` as Hook dependency (#878)
  src/globals/utils/focus.js
Due: yarn precommit:format, yarn precommit:lint:js, yarn precommit:test

chore(release): 1.43.0-prerelease.5 [skip ci]
  package.json
Due: none

Notes added by 'git notes add'
  72/0c3afcd0cff931eb7743f02e4d4a4144d6c926
Due: none

build: update stylelint-plugin-carbon-tokens-0.11.1
  .yarn/offline-mirror/stylelint-plugin-carbon-tokens-0.11.0.tgz
  .yarn/offline-mirror/stylelint-plugin-carbon-tokens-0.11.1.tgz
  package.json
  src/components/LayoutModules/DescriptionModule/_index.scss
  yarn.lock
Due: yarn precommit:format, yarn precommit:lint:scss

chore(deps): upgrade downshift dependency (#1009)
  .yarn/offline-mirror/compute-scroll-into-view-1.0.17.tgz
  .yarn/offline-mirror/downshift-1.31.16.tgz
  .yarn/offline-mirror/downshift-6.1.3.tgz
  package.json
  src/components/TagWallFilter/Filter/Filter.js
  src/components/TagWallFilter/Filter/__tests__/__snapshots__/Filter-test.js.snap
  src/components/TagWallFilter/__tests__/__snapshots__/TagWallFilter-test.js.snap
  yarn.lock
Due: yarn precommit:format, yarn precommit:lint:js, yarn precommit:test

build(stylelint): update carbon plugin and code to leverage layout and theme token linting (#1014)
  .stylelintrc
  .yarn/offline-mirror/stylelint-plugin-carbon-tokens-0.10.0.tgz
  .yarn/offline-mirror/stylelint-plugin-carbon-tokens-0.11.1.tgz
  package.json
  yarn.lock
Due: none

chore: merge `dev` into `refactor-scss-test`
  .yarn/offline-mirror/is-resolvable-1.1.0.tgz
  .yarn/offline-mirror/mute-stream-0.0.7.tgz
  src/__tests__/scss/__snapshots__/styles-test.js.snap
  src/__tests__/scss/styles-test.js
Due: yarn precommit:format, yarn precommit:lint:js, yarn precommit:test

fix(delimited-list): remove unnecessary Hooks dependent (#877)
  src/components/DelimitedList/DelimitedList.js
Due: yarn precommit:format, yarn precommit:lint:js, yarn precommit:test

docs: align documentation with Cloud & Cognitive
  README.md
  docs/themes/README.md
  src/components/Panel/README.md
  src/globals/scss-exports/spacing.module.scss
Due: yarn precommit:format, yarn precommit:lint:scss

chore(release): 1.43.0-prerelease.6 [skip ci]
  package.json
Due: none

Notes added by 'git notes add'
  0d/37f7a8a18928eca25b9beef4ec2b58e18ca15d
Due: none

docs: align documentation with Cloud & Cognitive
  README.md
Due: yarn precommit:format

chore(panel): migrate tests to react-testing-library and remove some that didn't do anything (#1023)
  src/components/Panel/__tests__/Panel-test.js
  src/components/Panel/__tests__/__snapshots__/Panel-test.js.snap
Due: yarn precommit:format, yarn precommit:lint:js, yarn precommit:test

build: increase jest timeout to 20 seconds
  jest.config.js
Due: yarn precommit:format, yarn precommit:lint:js, yarn precommit:test

build: increase jest timeout to 20 seconds (#1026)
  jest.config.js
Due: yarn precommit:format, yarn precommit:lint:js, yarn precommit:test

chore: merge `dev` into `tag-wall-filter-warning`
  src/components/TagWallFilter/TagWallFilter.js
  src/components/TagWallFilter/__tests__/TagWallFilter-test.js
  src/components/__tests__/__snapshots__/publicAPI-test.js.snap
Due: yarn precommit:format, yarn precommit:lint:js, yarn precommit:test

test(data-table-pagination): migrate to react-testing-library (#1024)
  src/components/DataTable/DataTablePagination/__tests__/DataTablePagination-test.js
  src/components/DataTable/DataTablePagination/__tests__/__snapshots__/DataTablePagination-test.js.snap
Due: yarn precommit:format, yarn precommit:lint:js, yarn precommit:test

test(styles): fix file reference
  src/__tests__/scss/styles-test.js
Due: yarn precommit:format, yarn precommit:lint:js, yarn precommit:test

fix(filter-panel-search): fix accessibility error
  .achecker.yml
  src/components/FilterPanel/FilterPanelSearch/FilterPanelSearch.js
  src/components/__tests__/__snapshots__/publicAPI-test.js.snap
Due: yarn precommit:format, yarn precommit:lint:js, yarn precommit:test

test(styles): fix file reference (#1027)
  src/__tests__/scss/styles-test.js
Due: yarn precommit:format, yarn precommit:lint:js, yarn precommit:test

refactor: fix linting errors
  src/__tests__/scss/__snapshots__/styles-test.js.snap
  src/components/Card/Card.js
  src/components/DataDecorator/_mixins.scss
  src/components/ICA/ICASkeleton/_index.scss
  src/components/TypeLayout/TypeLayout.js
Due: yarn precommit:format, yarn precommit:lint:js, yarn precommit:test, yarn precommit:lint:scss

feat(tag-wall-filter): refactor to use hooks
  src/components/TagWallFilter/TagWallFilter.js
  src/components/TagWallFilter/__tests__/TagWallFilter-test.js
  src/components/TagWallFilter/__tests__/__snapshots__/TagWallFilter-test.js.snap
Due: yarn precommit:format, yarn precommit:lint:js, yarn precommit:test

test(scroll-gradient): mock polyfill instead of actual implementation
  src/components/ScrollGradient/__mocks__/index.js
  src/components/ScrollGradient/__tests__/ScrollGradient-test.js
Due: yarn precommit:format, yarn precommit:lint:js, yarn precommit:test

refactor(tag-wall-filter): refactor to use Hooks instead of recompose
  src/components/TagWallFilter/TagWallFilter.js
  src/components/TagWallFilter/__tests__/TagWallFilter-test.js
  src/components/TagWallFilter/__tests__/__snapshots__/TagWallFilter-test.js.snap
Due: yarn precommit:format, yarn precommit:lint:js, yarn precommit:test

feat(resize-observer): remove polyfill
  config/jest/index.js
  package.json
  src/components/ScrollGradient/ScrollGradient.js
  src/components/ScrollGradient/__mocks__/index.js
  src/components/ScrollGradient/__tests__/ScrollGradient-test.js
  src/components/__tests__/__snapshots__/publicAPI-test.js.snap
Due: yarn precommit:format, yarn precommit:lint:js, yarn precommit:test

feat(resize-observer): remove polyfill
  src/components/ScrollGradient/__tests__/ScrollGradient-test.js
Due: yarn precommit:format, yarn precommit:lint:js, yarn precommit:test

chore(release): 1.43.0 [skip ci]
  package.json
Due: none

Notes added by 'git notes add'
  02/f42aeb9d14060a268c63bc885f928654c80c69
Due: none

Latest changes to nav and toolbar
  src/components/Nav/_mixins.scss
  src/components/Toolbar/_mixins.scss
Due: yarn precommit:format, yarn precommit:lint:scss

update tests and code with feedback
  src/__tests__/scss/__snapshots__/styles-test.js.snap
  src/components/Nav/_mixins.scss
  src/components/Toolbar/_mixins.scss
Due: yarn precommit:format, yarn precommit:lint:scss

update tests and code with feedback
  src/__tests__/scss/__snapshots__/styles-test.js.snap
  src/components/Nav/_mixins.scss
Due: yarn precommit:format, yarn precommit:lint:scss
