Repository carbon-design-system/ibm-security: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

.lintstagedrc:

{
  '*.{js,md,scss}': ['yarn format:precommit', 'git add'],
  '*.js': ['yarn lint:js:precommit', 'git add', 'yarn test:precommit'],
  '*.scss': ['yarn lint:scss:precommit', 'git add'],
}

feat(telemetry): add Carbon telemetry (#894)
  README.md
  package.json
Due: yarn format:precommit

chore(release): 1.40.0-prerelease.1 [skip ci]
  package.json
Due: none

Notes added by 'git notes add'
  f6/61acfb4f377a2ea44acf99cac4146c80835c9b
Due: none

chore: merge `dev` into `restructure-documentation`
  .github/CONTRIBUTING.md
  README.md
  docs/g11n.md
  docs/migration/carbon-for-ibm-security/color.md
  docs/migration/carbon-for-ibm-security/grid.md
  docs/migration/carbon-for-ibm-security/layout.md
  docs/migration/carbon-for-ibm-security/type.md
  docs/themes/README.md
  src/components/Button/migration/carbon-for-ibm-security.md
  src/components/DataTable/migration/carbon-for-ibm-security.md
  src/components/ICA/ICA.stories.js
  src/components/Tag/migration/carbon-for-ibm-security.md
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

chore(release): 1.40.0-alpha.2 [skip ci]
  package.json
Due: none

Notes added by 'git notes add'
  90/fd9797f960dd0836524165b1de7a2e4ba4471f
Due: none

chore(css-grid): using Grid's built-in css
  .storybook/index.scss
  docs/themes/themes.md
  src/components/UNSTABLE__LayoutModules/Layout.stories.js
  src/components/UNSTABLE__PageLayouts/Detail.stories.js
  src/components/UNSTABLE__PageLayouts/Overview.stories.js
  src/components/UNSTABLE__PageLayouts/stories/index.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

fix: use explicit spacing versus browser default (#939)
  src/__tests__/scss/__snapshots__/SCSS.spec.js.snap
  src/components/Card/_mixins.scss
  src/components/FilterPanel/LEGACY_FilterPanel/FilterCategory/_index.scss
  src/components/FilterPanel/_index.scss
  src/components/PanelV2/_mixins.scss
  src/components/TagWall/_mixins.scss
  src/components/Tearsheet/_mixins.scss
Due: yarn format:precommit, yarn lint:scss:precommit

chore(release): 1.40.0-prerelease.2 [skip ci]
  package.json
Due: none

Notes added by 'git notes add'
  90/19b237d392419222ba05a57c1db9ab92ab96b4
Due: none

docs(globals): add migration justification
  docs/migration/2.x/color.md
  docs/migration/2.x/grid.md
  docs/migration/2.x/layout.md
  docs/migration/2.x/themes.md
  docs/migration/2.x/type.md
  docs/migration/carbon-for-ibm-security/grid.md
  docs/migration/carbon-for-ibm-security/type.md
  src/components/Breadcrumb/_index.scss
  src/globals/_index.scss
  src/globals/deprecate/_index.scss
  src/globals/deprecate/index.js
  src/platform/body/_index.scss
  src/platform/body/_mixins.scss
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

docs(globals): add migration justification
  src/globals/color/_index.scss
  src/globals/grid/_index.scss
  src/globals/layout/_index.scss
  src/globals/scss-exports/spacing.module.scss
  src/globals/theme/_index.scss
  src/globals/type/_index.scss
  src/index.scss
Due: yarn format:precommit, yarn lint:scss:precommit

docs(globals): add migration justification
  docs/migration/2.x/README.md
  docs/migration/2.x/color.md
  docs/migration/2.x/grid.md
  docs/migration/2.x/layout.md
  docs/migration/2.x/themes.md
  docs/migration/2.x/type.md
  src/globals/_index.scss
  src/globals/deprecate/_index.scss
  src/globals/type/_index.scss
Due: yarn format:precommit, yarn lint:scss:precommit

docs(globals): add migration justification
  docs/migration/2.x/README.md
  src/globals/color/_index.scss
  src/globals/layout/_index.scss
Due: yarn format:precommit, yarn lint:scss:precommit

docs(themes): add migration justification
  .releaserc
  docs/migration/2.x/themes.md
  docs/themes/README.md
Due: yarn format:precommit

docs: update theming documentation
  docs/themes/README.md
Due: yarn format:precommit

chore(release): 1.40.0-prerelease.3 [skip ci]
  package.json
Due: none

Notes added by 'git notes add'
  d3/ffef83a48806e178f7513fbc02167b9b63429c
Due: none

docs(themes): reduce warning messages
  docs/migration/2.x/themes.md
  src/globals/feature-flags/_index.scss
  src/globals/theme/_mixins.scss
Due: yarn format:precommit, yarn lint:scss:precommit

docs(globals): improve justification
  docs/migration/2.x/README.md
  docs/migration/2.x/color.md
  docs/migration/2.x/grid.md
  docs/migration/2.x/layout.md
  docs/migration/2.x/themes.md
  docs/migration/2.x/type.md
Due: yarn format:precommit

chore(release): 1.40.0 [skip ci]
  package.json
Due: none

Notes added by 'git notes add'
  a0/35af29fcfec0ae4b49102121144e984d11cd2b
Due: none

fix(unstable): align experimental components with Carbon format
  src/__tests__/scss/__snapshots__/SCSS.spec.js.snap
  src/components/Background/_index.scss
  src/components/Background/index.js
  src/components/LayoutModules/CardAreaModule/CardAreaModule.stories.js
  src/components/PageLayouts/Detail.stories.js
  src/components/PageLayouts/Overview.stories.js
  src/components/PageLayouts/stories/index.js
  src/components/Pagination/_index.scss
  src/components/UNSTABLE__Pagination/PageSelector.js
  src/components/UNSTABLE__Pagination/Pagination.js
  src/components/UNSTABLE__Pagination/Pagination.stories.js
  src/components/UNSTABLE__Pagination/__tests__/Pagination.spec.js
  src/components/UNSTABLE__Pagination/_index.scss
  src/components/UNSTABLE__Pagination/index.js
  src/components/__tests__/__snapshots__/publicAPI.spec.js.snap
  src/components/_index.scss
  src/index.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

feat(carbon): upgrade packages
  .yarn/offline-mirror/@carbon-colors-10.22.0.tgz
  .yarn/offline-mirror/@carbon-colors-10.23.0.tgz
  .yarn/offline-mirror/@carbon-feature-flags-0.2.0.tgz
  .yarn/offline-mirror/@carbon-feature-flags-0.3.0.tgz
  .yarn/offline-mirror/@carbon-grid-10.24.0.tgz
  .yarn/offline-mirror/@carbon-icon-helpers-10.15.0.tgz
  .yarn/offline-mirror/@carbon-icon-helpers-10.16.0.tgz
  .yarn/offline-mirror/@carbon-icons-react-10.29.0.tgz
  .yarn/offline-mirror/@carbon-icons-react-10.30.0.tgz
  .yarn/offline-mirror/@carbon-layout-10.22.0.tgz
  .yarn/offline-mirror/@carbon-layout-10.23.0.tgz
  .yarn/offline-mirror/@carbon-motion-10.15.0.tgz
  .yarn/offline-mirror/@carbon-themes-10.31.0.tgz
  .yarn/offline-mirror/@carbon-themes-10.32.0.tgz
  .yarn/offline-mirror/@carbon-type-10.25.0.tgz
  .yarn/offline-mirror/@carbon-type-10.26.0.tgz
  .yarn/offline-mirror/carbon-components-10.32.0.tgz
  .yarn/offline-mirror/carbon-components-10.33.0.tgz
  .yarn/offline-mirror/carbon-components-react-7.32.0.tgz
  .yarn/offline-mirror/carbon-components-react-7.33.0.tgz
  .yarn/offline-mirror/classnames-2.3.1.tgz
  docs/themes/themes.md
  package.json
  src/__tests__/scss/__snapshots__/SCSS.spec.js.snap
  src/components/Header/__tests__/__snapshots__/Header.spec.js.snap
  src/components/TagWall/__tests__/__snapshots__/TagWall.spec.js.snap
  src/components/TagWallFilter/__tests__/__snapshots__/TagWallFilter.spec.js.snap
  src/components/__tests__/__snapshots__/publicAPI.spec.js.snap
  yarn.lock
Due: yarn format:precommit

fix(list-module): changed api to return an object of props
  src/components/LayoutModules/ListItemModule/ListItemModule.stories.js
  src/components/LayoutModules/ListItemModule/index.js
  src/components/LayoutModules/ListItemModule/index.mdx
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

feat(themes): add check for Carbon feature flag
  src/globals/feature-flags/_index.scss
  src/globals/theme/_mixins.scss
Due: yarn format:precommit, yarn lint:scss:precommit

build(peer-dependencies): mark as peer dependencies to warn consumers
  README.md
  package.json
Due: yarn format:precommit

docs(peer-dependencies): update installation order
  README.md
Due: yarn format:precommit

fix(telemetry): use dependencies from `carbon-components-react`
  package.json
  yarn.lock
Due: none

fix(telemetry): use dependencies from `carbon-components-react` (#949)
  package.json
  yarn.lock
Due: none

chore(release): 1.40.1-prerelease.1 [skip ci]
  package.json
Due: none

Notes added by 'git notes add'
  86/b7aa30484ba4f219410e8f679c9065c2e4f5bf
Due: none

chore: merge `dev` into `sass-migrator`
  src/__tests__/scss/__snapshots__/SCSS.spec.js.snap
  src/components/Breadcrumb/_index.scss
  src/components/Component/_mixins.scss
  src/components/_index.scss
  src/globals/_index.scss
  src/globals/theme/_mixins.scss
Due: yarn format:precommit, yarn lint:scss:precommit

fix(type-layout): fix AVT issues
  src/components/TypeLayout/TypeLayout.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

fix(type-layout): fix AVT issues
  src/components/TypeLayout/__tests__/TypeLayout.spec.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

fix(a-checker): pin rule archive
  .achecker.yml
Due: none
