Repository carbon-design-system/ibm-security: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

docs(layout-modules): add page layout workarounds (#933)
  .storybook/components/Background/_index.scss
  .storybook/index.scss
  src/components/UNSTABLE__PageLayouts/Detail.stories.js
  src/components/UNSTABLE__PageLayouts/Overview.stories.js
  src/components/UNSTABLE__PageLayouts/stories/index.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

chore(release): 1.39.0-prerelease.7 [skip ci]
  package.json
Due: none

Notes added by 'git notes add'
  c9/024467403773a317788e9e981b02257f191d69
Due: none

chore: merge `dev` into `spike/carbon-prefix`
  src/components/Button/__tests__/Button.spec.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

refactor(prefix): normalise Carbon prefix across codebase (#915)
  src/components/Accordion/__tests__/Accordion.spec.js
  src/components/Button/__tests__/Button.spec.js
  src/components/ComboButton/ComboButton.js
  src/components/DataDecorator/Decorator/Decorator.stories.js
  src/components/DataTable/Table.js
  src/components/ExternalLink/ExternalLink.stories.js
  src/components/ICA/ICA.stories.js
  src/components/Loading/LoadingMessage/LoadingMessage.js
  src/components/Loading/LoadingMessage/__tests__/LoadingMessage.spec.js
  src/components/NonEntitledSection/NonEntitledSection.js
  src/components/Pill/Pill.stories.js
  src/components/StatusIcon/__tests__/StatusIcon.spec.js
  src/components/StepIndicator/__tests__/Step.spec.js
  src/components/StepIndicator/__tests__/StepIndicator.spec.js
  src/components/SummaryCard/SummaryCard.stories.js
  src/components/SummaryCard/SummaryCardAction/__tests__/SummaryCardAction.spec.js
  src/components/SummaryCard/__tests__/SummaryCard.spec.js
  src/components/TagWall/TagWall.js
  src/components/TagWallFilter/Filter/Filter.js
  src/globals/namespace/index.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

docs(layout-modules): add documentation revisions
  src/components/LayoutModules/ButtonClusterModule/images/layout-considerations.png
  src/components/LayoutModules/CardAreaModule/index.mdx
  src/components/LayoutModules/DescriptionListModule/images/layout-considerations.png
  src/components/LayoutModules/DescriptionListModule/index.mdx
  src/components/LayoutModules/DescriptionModule/images/layout-considerations.png
  src/components/LayoutModules/DescriptionModule/index.mdx
  src/components/LayoutModules/ICAModule/index.mdx
  src/components/LayoutModules/TitleBarModule/index.mdx
Due: none

docs(layout-modules): add documentation revisions (#935)
  src/components/LayoutModules/ButtonClusterModule/images/layout-considerations.png
  src/components/LayoutModules/CardAreaModule/index.mdx
  src/components/LayoutModules/DescriptionListModule/images/layout-considerations.png
  src/components/LayoutModules/DescriptionListModule/index.mdx
  src/components/LayoutModules/DescriptionModule/images/layout-considerations.png
  src/components/LayoutModules/DescriptionModule/index.mdx
  src/components/LayoutModules/ICAModule/index.mdx
  src/components/LayoutModules/TitleBarModule/index.mdx
Due: none

chore(release): 1.39.0 [skip ci]
  package.json
Due: none

Notes added by 'git notes add'
  fe/b67986763481a7fff893da0e5b4439ed44b7bd
Due: none

chore: merge `dev` into `spike/css-custom-properties`
  src/globals/type/_index.scss
Due: yarn format:precommit, yarn lint:scss:precommit

chore(css-grid): update for merge
  .storybook/index.scss
  src/components/UNSTABLE__PageLayouts/Detail.stories.js
  src/components/UNSTABLE__PageLayouts/Overview.stories.js
  src/components/UNSTABLE__PageLayouts/stories/index.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

build(telemetry): move to `npx` script
  package.json
Due: none

refactor(themes): add existing compatibility
  src/globals/feature-flags/_index.scss
  src/globals/theme/_mixins.scss
Due: yarn format:precommit, yarn lint:scss:precommit

refactor(theme): add development warning
  src/globals/theme/_mixins.scss
Due: yarn format:precommit, yarn lint:scss:precommit

fix(css-grid): remove unnecessary comment
  src/components/UNSTABLE__LayoutModules/Layout.stories.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

fix(list-module): Profile img resize, margin/padding, text update
  src/components/UNSTABLE__LayoutModules/ListItemModule/ListItemModule.stories.js
  src/components/UNSTABLE__LayoutModules/ListItemModule/_index.scss
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

chore(list-module): snapshot update
  src/__tests__/scss/__snapshots__/SCSS.spec.js.snap
Due: none

fix(list-module): Using Detailed story as new Default, fixed Button width, snapshot update
  src/__tests__/scss/__snapshots__/SCSS.spec.js.snap
  src/components/UNSTABLE__LayoutModules/ListItemModule/ListItemModule.stories.js
  src/components/UNSTABLE__LayoutModules/ListItemModule/_index.scss
  src/components/UNSTABLE__LayoutModules/ListItemModule/index.mdx
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

chore(css-grid): snapshot update
  docs/themes/themes.md
  src/components/Header/__tests__/__snapshots__/Header.spec.js.snap
  src/components/TagWall/__tests__/__snapshots__/TagWall.spec.js.snap
  src/components/TagWallFilter/__tests__/__snapshots__/TagWallFilter.spec.js.snap
Due: yarn format:precommit

feat(themes): align CSS custom properties with Carbon
  .releaserc
  src/__tests__/scss/__snapshots__/SCSS.spec.js.snap
  src/globals/_index.scss
  src/globals/theme/_mixins.scss
Due: yarn format:precommit, yarn lint:scss:precommit

chore(release): 1.40.0-alpha.1 [skip ci]
  package.json
Due: none

Notes added by 'git notes add'
  e6/957148e7a9d4fdc10b02ea04b6deedf3234282
Due: none

chore(list-module): update specs from jest
  src/__tests__/scss/__snapshots__/SCSS.spec.js.snap
  src/components/ComboButton/__tests__/__snapshots__/ComboButton.spec.js.snap
  src/components/DataTable/DataTablePagination/__tests__/__snapshots__/DataTablePagination.spec.js.snap
  src/components/FilterPanel/LEGACY_FilterPanel/FilterSearch/__tests__/__snapshots__/FilterSearch.spec.js.snap
  src/components/FilterPanel/LEGACY_FilterPanel/FilterSubcategory/__tests__/__snapshots__/FilterSubcategory.spec.js.snap
  src/components/Header/__tests__/__snapshots__/Header.spec.js.snap
  src/components/Panel/__tests__/__snapshots__/Panel.spec.js.snap
  src/components/SearchBar/__tests__/__snapshots__/SearchBar.spec.js.snap
  src/components/TagWall/__tests__/__snapshots__/TagWall.spec.js.snap
  src/components/TagWallFilter/Filter/__tests__/__snapshots__/Filter.spec.js.snap
  src/components/TagWallFilter/__tests__/__snapshots__/TagWallFilter.spec.js.snap
  src/components/Tearsheet/TearsheetSmall/__tests__/__snapshots__/TearsheetSmall.spec.js.snap
  src/components/Tearsheet/__tests__/__snapshots__/Tearsheet.spec.js.snap
  src/components/__tests__/__snapshots__/publicAPI.spec.js.snap
Due: none

chore(list-module): updated with the actual snapshots this time
  docs/themes/themes.md
  src/__tests__/scss/__snapshots__/SCSS.spec.js.snap
  src/components/ComboButton/__tests__/__snapshots__/ComboButton.spec.js.snap
  src/components/DataTable/DataTablePagination/__tests__/__snapshots__/DataTablePagination.spec.js.snap
  src/components/FilterPanel/LEGACY_FilterPanel/FilterSearch/__tests__/__snapshots__/FilterSearch.spec.js.snap
  src/components/FilterPanel/LEGACY_FilterPanel/FilterSubcategory/__tests__/__snapshots__/FilterSubcategory.spec.js.snap
  src/components/Header/__tests__/__snapshots__/Header.spec.js.snap
  src/components/Panel/__tests__/__snapshots__/Panel.spec.js.snap
  src/components/SearchBar/__tests__/__snapshots__/SearchBar.spec.js.snap
  src/components/TagWall/__tests__/__snapshots__/TagWall.spec.js.snap
  src/components/TagWallFilter/Filter/__tests__/__snapshots__/Filter.spec.js.snap
  src/components/TagWallFilter/__tests__/__snapshots__/TagWallFilter.spec.js.snap
  src/components/Tearsheet/TearsheetSmall/__tests__/__snapshots__/TearsheetSmall.spec.js.snap
  src/components/Tearsheet/__tests__/__snapshots__/Tearsheet.spec.js.snap
  src/components/__tests__/__snapshots__/publicAPI.spec.js.snap
Due: yarn format:precommit

chore(card-microlayout): update snapshots
  .yarn/offline-mirror/@babel-parser-7.13.15.tgz
  .yarn/offline-mirror/@babel-traverse-7.13.15.tgz
  .yarn/offline-mirror/@carbon-charts-0.41.55.tgz
  .yarn/offline-mirror/@carbon-charts-react-0.41.55.tgz
  .yarn/offline-mirror/d3-cloud-1.2.5.tgz
  .yarn/offline-mirror/fecha-4.2.1.tgz
  .yarn/offline-mirror/resolve-alpn-1.1.1.tgz
  .yarn/offline-mirror/y18n-5.0.8.tgz
  src/__tests__/scss/__snapshots__/SCSS.spec.js.snap
  src/components/__tests__/__snapshots__/publicAPI.spec.js.snap
  yarn.lock
Due: none

build(dependencies): revert peer dependencies
  package.json
Due: none

fix: use explicit spacing versus browser default
  src/__tests__/scss/__snapshots__/SCSS.spec.js.snap
  src/components/Card/_mixins.scss
  src/components/FilterPanel/LEGACY_FilterPanel/FilterCategory/_index.scss
  src/components/FilterPanel/_index.scss
  src/components/PanelV2/_mixins.scss
  src/components/TagWall/_mixins.scss
  src/components/Tearsheet/_mixins.scss
Due: yarn format:precommit, yarn lint:scss:precommit

fix(PanelV2): change footer position to absolute
  src/__tests__/scss/__snapshots__/SCSS.spec.js.snap
  src/components/PanelV2/_mixins.scss
Due: yarn format:precommit, yarn lint:scss:precommit

fix(PanelV2): change footer position to absolute (#940)
  src/__tests__/scss/__snapshots__/SCSS.spec.js.snap
  src/components/PanelV2/_mixins.scss
Due: yarn format:precommit, yarn lint:scss:precommit

chore(release): 1.39.1-prerelease.1 [skip ci]
  package.json
Due: none

Notes added by 'git notes add'
  c7/07955e72b3889bba3df17ba5676dd10d29f01d
Due: none

build(imports): add deprecation for imports
  .storybook/index.scss
  scripts/styles.js
  src/__tests__/scss/__snapshots__/SCSS.spec.js.snap
  src/components/Breadcrumb/_index.scss
  src/components/UNSTABLE__Pagination/_index.scss
  src/globals/_index.scss
  src/globals/color/_index.scss
  src/globals/deprecate/_index.scss
  src/globals/grid/_index.scss
  src/globals/layout/_index.scss
  src/globals/scss-exports/spacing.module.scss
  src/globals/suppress/_index.scss
  src/globals/theme/_index.scss
  src/globals/theme/_variables.scss
  src/globals/type/_index.scss
  src/index.scss
  src/platform/body/_index.scss
  src/platform/body/_mixins.scss
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

build(imports): add deprecation for imports
  scripts/styles.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

build(imports): add deprecation for imports
  src/globals/layout/_index.scss
  src/globals/type/_index.scss
Due: yarn format:precommit, yarn lint:scss:precommit

build(imports): add deprecation for imports
  src/globals/deprecate/_index.scss
  src/index.scss
Due: yarn format:precommit, yarn lint:scss:precommit

build(imports): add deprecation for imports
  src/globals/layout/_index.scss
Due: yarn format:precommit, yarn lint:scss:precommit

build(imports): add deprecation for imports
  src/globals/_index.scss
  src/globals/suppress/_index.scss
  src/index.scss
Due: yarn format:precommit, yarn lint:scss:precommit

Path conditions:
  yarn format:precommit: any of: *.{js,md,scss}
  yarn lint:js:precommit: any of: *.js
  yarn test:precommit: any of: *.js
  yarn lint:scss:precommit: any of: *.scss
