Repository carbon-design-system/ibm-security: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

feat(layout-modules): add `DescriptionModule`
  src/__tests__/scss/__snapshots__/SCSS.spec.js.snap
  src/components/UNSTABLE__LayoutModules/DescriptionModule/DescriptionModule.stories.js
  src/components/UNSTABLE__LayoutModules/DescriptionModule/_index.scss
  src/components/UNSTABLE__LayoutModules/DescriptionModule/index.js
  src/components/UNSTABLE__LayoutModules/_index.scss
  src/components/UNSTABLE__LayoutModules/index.js
  src/components/__tests__/__snapshots__/publicAPI.spec.js.snap
  src/index.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

docs(description-module): update `propTypes` content
  src/components/UNSTABLE__LayoutModules/DescriptionModule/index.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

chore(description-module): update margin
  src/__tests__/scss/__snapshots__/SCSS.spec.js.snap
  src/components/UNSTABLE__LayoutModules/DescriptionModule/_index.scss
Due: yarn format:precommit, yarn lint:scss:precommit

chore(description-module): fix broken improt
  src/components/UNSTABLE__LayoutModules/DescriptionModule/_index.scss
Due: yarn format:precommit, yarn lint:scss:precommit

docs(type-layout): rewrite stories to CSF (#786)
  src/components/TypeLayout/TypeLayout.stories.js
  src/components/TypeLayout/_mocks_/index.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

chore(ica-module): add structure
  src/components/UNSTABLE__LayoutModules/ICAModule/ICAModule.stories.js
  src/components/UNSTABLE__LayoutModules/ICAModule/index.js
  src/components/UNSTABLE__LayoutModules/ICAModule/index.scss
  src/components/UNSTABLE__LayoutModules/_index.scss
  src/components/UNSTABLE__LayoutModules/index.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

feat(layout-modules): add `DescriptionModule` (#792)
  src/__tests__/scss/__snapshots__/SCSS.spec.js.snap
  src/components/UNSTABLE__LayoutModules/DescriptionModule/DescriptionModule.stories.js
  src/components/UNSTABLE__LayoutModules/DescriptionModule/_index.scss
  src/components/UNSTABLE__LayoutModules/DescriptionModule/index.js
  src/components/UNSTABLE__LayoutModules/_index.scss
  src/components/UNSTABLE__LayoutModules/index.js
  src/components/__tests__/__snapshots__/publicAPI.spec.js.snap
  src/index.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

chore(release): 1.34.0-prerelease.7 [skip ci]
  package.json
Due: none

Notes added by 'git notes add'
  bb/b1ef513757ba1dc31553425fc10d52785e6740
Due: none

feat(layout-modules): add `ICAModule`
  src/__tests__/scss/__snapshots__/SCSS.spec.js.snap
  src/components/UNSTABLE__LayoutModules/ICAModule/ICAModule.stories.js
  src/components/UNSTABLE__LayoutModules/ICAModule/index.js
  src/components/UNSTABLE__LayoutModules/ICAModule/index.scss
  src/components/UNSTABLE__LayoutModules/TitleBarModule/_index.scss
  src/components/UNSTABLE__LayoutModules/TitleBarModule/_variables.scss
  src/components/UNSTABLE__LayoutModules/_index.scss
  src/components/UNSTABLE__LayoutModules/index.js
  src/components/__tests__/__snapshots__/publicAPI.spec.js.snap
  src/index.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

fix(title-bar-module): update spacing
  src/__tests__/scss/__snapshots__/SCSS.spec.js.snap
  src/components/UNSTABLE__LayoutModules/ICAModule/index.scss
  src/components/UNSTABLE__LayoutModules/TitleBarModule/_index.scss
Due: yarn format:precommit, yarn lint:scss:precommit

docs(layout-modules): update story naming
  src/components/UNSTABLE__LayoutModules/ActionBarModule/ActionBarModule.stories.js
  src/components/UNSTABLE__LayoutModules/DescriptionListModule/DescriptionListModule.stories.js
  src/components/UNSTABLE__LayoutModules/DescriptionModule/DescriptionModule.stories.js
  src/components/UNSTABLE__LayoutModules/PageTabModule/PageTabModule.stories.js
  src/components/UNSTABLE__LayoutModules/TitleBarModule/TitleBarModule.stories.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

docs(layout-modules): rename variations
  src/components/UNSTABLE__LayoutModules/CardModule/CardModule.stories.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

docs(ica-module): update story name
  src/components/UNSTABLE__LayoutModules/ICAModule/ICAModule.stories.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

feat(layout-modules): add `ICAModule`, fix `TitleBarModule` spacing (#793)
  src/__tests__/scss/__snapshots__/SCSS.spec.js.snap
  src/components/UNSTABLE__LayoutModules/ICAModule/ICAModule.stories.js
  src/components/UNSTABLE__LayoutModules/ICAModule/index.js
  src/components/UNSTABLE__LayoutModules/ICAModule/index.scss
  src/components/UNSTABLE__LayoutModules/TitleBarModule/_index.scss
  src/components/UNSTABLE__LayoutModules/TitleBarModule/_variables.scss
  src/components/UNSTABLE__LayoutModules/_index.scss
  src/components/UNSTABLE__LayoutModules/index.js
  src/components/__tests__/__snapshots__/publicAPI.spec.js.snap
  src/index.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

chore(release): 1.34.0-prerelease.8 [skip ci]
  package.json
Due: none

Notes added by 'git notes add'
  93/68b674a17809d11a2099fc0af373bca9b7a312
Due: none

docs(layout-modules): rename variations
  src/components/UNSTABLE__LayoutModules/ActionBarModule/ActionBarModule.stories.js
  src/components/UNSTABLE__LayoutModules/CardModule/CardModule.stories.js
  src/components/UNSTABLE__LayoutModules/DescriptionListModule/DescriptionListModule.stories.js
  src/components/UNSTABLE__LayoutModules/DescriptionModule/DescriptionModule.stories.js
  src/components/UNSTABLE__LayoutModules/PageTabModule/PageTabModule.stories.js
  src/components/UNSTABLE__LayoutModules/TitleBarModule/TitleBarModule.stories.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

docs(storybook): enforce `Docs` tab by default if available
  .storybook/index.js
  src/components/UNSTABLE__LayoutModules/ActionBarModule/ActionBarModule.stories.js
  src/components/UNSTABLE__LayoutModules/DescriptionListModule/DescriptionListModule.stories.js
  src/components/UNSTABLE__LayoutModules/DescriptionModule/DescriptionModule.stories.js
  src/components/UNSTABLE__LayoutModules/ICAModule/_index.scss
  src/components/UNSTABLE__LayoutModules/PageTabModule/PageTabModule.stories.js
  src/components/UNSTABLE__LayoutModules/TitleBarModule/TitleBarModule.stories.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

feat(layout-modules): add card module
  .storybook/components/Background/_index.scss
  .storybook/components/Background/index.js
  .storybook/index.scss
  src/__tests__/scss/__snapshots__/SCSS.spec.js.snap
  src/components/UNSTABLE__LayoutModules/CardModule/CardModule.stories.js
  src/components/UNSTABLE__LayoutModules/CardModule/_index.scss
  src/components/UNSTABLE__LayoutModules/CardModule/index.js
  src/components/UNSTABLE__LayoutModules/_index.scss
  src/components/UNSTABLE__LayoutModules/index.js
  src/components/__tests__/__snapshots__/publicAPI.spec.js.snap
  src/index.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

docs(storybook): hide `addon-controls` warning
  .storybook/preview.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

feat(layout-modules): remove `PageTabModule` from public API
  src/__tests__/scss/__snapshots__/SCSS.spec.js.snap
  src/components/UNSTABLE__LayoutModules/PageTabModule/PageTabModule.ignore.js
  src/components/UNSTABLE__LayoutModules/_index.scss
  src/components/UNSTABLE__LayoutModules/index.js
  src/components/__tests__/__snapshots__/publicAPI.spec.js.snap
  src/index.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

docs(storybook): update variant stories
  src/components/UNSTABLE__LayoutModules/ActionBarModule/index.mdx
  src/components/UNSTABLE__LayoutModules/CardModule/index.mdx
  src/components/UNSTABLE__LayoutModules/DescriptionListModule/index.mdx
  src/components/UNSTABLE__LayoutModules/DescriptionModule/index.mdx
  src/components/UNSTABLE__LayoutModules/ICAModule/index.mdx
  src/components/UNSTABLE__LayoutModules/PageTabModule/index.mdx
  src/components/UNSTABLE__LayoutModules/TitleBarModule/index.mdx
Due: none

docs(storybook): disable scrolling in `Docs` tab
  .storybook/components/DocsContainer/index.js
  .storybook/preview.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

docs(storybook): disable scrolling in `Docs` tab
  .storybook/components/DocsContainer/index.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

feat(layout-modules): add card module (#797)
  .storybook/components/Background/_index.scss
  .storybook/components/Background/index.js
  .storybook/index.scss
  src/__tests__/scss/__snapshots__/SCSS.spec.js.snap
  src/components/UNSTABLE__LayoutModules/CardModule/CardModule.stories.js
  src/components/UNSTABLE__LayoutModules/CardModule/_index.scss
  src/components/UNSTABLE__LayoutModules/CardModule/index.js
  src/components/UNSTABLE__LayoutModules/_index.scss
  src/components/UNSTABLE__LayoutModules/index.js
  src/components/__tests__/__snapshots__/publicAPI.spec.js.snap
  src/index.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

chore(release): 1.34.0-prerelease.9 [skip ci]
  package.json
Due: none

Notes added by 'git notes add'
  a9/41e5d2b6ff2629259922bf38734734c9ce0e46
Due: none

chore: merge `dev` into `remove-page-tab-module`
  .storybook/decorators/_index.scss
Due: yarn format:precommit, yarn lint:scss:precommit

refactor: set up mid-line truncation option for Decorator
  src/components/DataDecorator/DataDecorator.js
  src/components/DataDecorator/DataDecorator.stories.js
  src/components/DataDecorator/Decorator/Decorator.js
  src/components/DataDecorator/Decorator/Decorator.stories.js
  src/components/DataDecorator/Decorator/__tests__/Decorator.spec.js
  src/components/DataDecorator/__tests__/DataDecorator.spec.js
  src/components/__tests__/__snapshots__/publicAPI.spec.js.snap
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

docs(layouts): remove `PageTabModule`
  src/components/UNSTABLE__LayoutModules/Layout.stories.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

docs: rename supplementary stories to 'Variant', enforce 'Docs' tab if available (#794)
  .storybook/index.js
  .storybook/preview.js
  src/components/UNSTABLE__LayoutModules/ActionBarModule/ActionBarModule.stories.js
  src/components/UNSTABLE__LayoutModules/DescriptionListModule/DescriptionListModule.stories.js
  src/components/UNSTABLE__LayoutModules/DescriptionModule/DescriptionModule.stories.js
  src/components/UNSTABLE__LayoutModules/ICAModule/_index.scss
  src/components/UNSTABLE__LayoutModules/PageTabModule/PageTabModule.stories.js
  src/components/UNSTABLE__LayoutModules/TitleBarModule/TitleBarModule.stories.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

feat(layout-modules): remove `PageTabModule` from public API (#796)
  .storybook/decorators/_index.scss
  src/__tests__/scss/__snapshots__/SCSS.spec.js.snap
  src/components/UNSTABLE__LayoutModules/PageTabModule/PageTabModule.ignore.js
  src/components/UNSTABLE__LayoutModules/_index.scss
  src/components/UNSTABLE__LayoutModules/index.js
  src/components/__tests__/__snapshots__/publicAPI.spec.js.snap
  src/index.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

chore(release): 1.34.0-prerelease.10 [skip ci]
  package.json
Due: none

Notes added by 'git notes add'
  29/45649b7017df3702d4b8a52d9e961f7b39c7b7
Due: none

chore: merge `dev` into `modular-layouts-documentation`
  .storybook/index.scss
Due: yarn format:precommit, yarn lint:scss:precommit

feat: set up mid-line truncation option towards DataDecorator (#774)
  src/components/DataDecorator/DataDecorator.js
  src/components/DataDecorator/DataDecorator.stories.js
  src/components/DataDecorator/Decorator/Decorator.js
  src/components/DataDecorator/Decorator/Decorator.stories.js
  src/components/DataDecorator/Decorator/__tests__/Decorator.spec.js
  src/components/DataDecorator/__tests__/DataDecorator.spec.js
  src/components/DataDecorator/_mocks_/index.js
  src/components/__tests__/__snapshots__/publicAPI.spec.js.snap
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

chore(release): 1.34.0-prerelease.11 [skip ci]
  package.json
Due: none

Notes added by 'git notes add'
  c4/4c9d12eafd6b377005dd753e65e33e9395c765
Due: none

Path conditions:
  yarn format:precommit: any of: *.{js,md,scss}
  yarn lint:js:precommit: any of: *.js
  yarn test:precommit: any of: *.js
  yarn lint:scss:precommit: any of: *.scss
