Repository carbon-design-system/ibm-security: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

.lintstagedrc:

{
  '*.{js,md,scss}': ['yarn format:precommit', 'git add'],
  '*.js': ['yarn lint:js:precommit', 'git add', 'yarn test:precommit'],
  '*.scss': ['yarn lint:scss:precommit', 'git add'],
}

fix(tag-wall-filter): fix deprecated prop warning
  src/components/TagWallFilter/TagWallFilter.js
  src/components/TagWallFilter/__tests__/__snapshots__/TagWallFilter.spec.js.snap
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

feat(toolbar): update toolbar and navigation styles (#1012)
  src/__tests__/scss/__snapshots__/SCSS.spec.js.snap
  src/components/Nav/NavList/NavList.js
  src/components/Nav/NavList/__tests__/__snapshots__/NavList.spec.js.snap
  src/components/Nav/__tests__/__snapshots__/Nav.spec.js.snap
  src/components/Nav/_mixins.scss
  src/components/Toolbar/Toolbar.js
  src/components/Toolbar/_mixins.scss
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

chore(release): 1.43.0-prerelease.2 [skip ci]
  package.json
Due: none

Notes added by 'git notes add'
  dd/bc90a875504233a559c8c0bbd88bded0552450
Due: none

style(stylelint): update code to leverage layout and theme token linting
  .stylelintrc
  src/__tests__/scss/__snapshots__/SCSS.spec.js.snap
  src/components/LayoutModules/DescriptionModule/_index.scss
  src/components/SummaryCard/_mixins.scss
  src/components/Toolbar/_mixins.scss
  src/globals/rtl/_index.scss
Due: yarn format:precommit, yarn lint:scss:precommit

style(stylelint): ignore lint rule for maths
  src/__tests__/scss/__snapshots__/SCSS.spec.js.snap
  src/components/SummaryCard/_mixins.scss
Due: yarn format:precommit, yarn lint:scss:precommit

test: remove redundant `renderWithinLandmark`
  config/jest/helpers/renderWithinLandmark.js
  docs/testing/README.md
  src/components/Button/__tests__/Button.spec.js
  src/components/Card/CardSkeleton/__tests__/CardSkeleton.spec.js
  src/components/Card/__tests__/Card.spec.js
  src/components/DataDecorator/Decorator/__tests__/Decorator.spec.js
  src/components/DataDecorator/__tests__/DataDecorator.spec.js
  src/components/ErrorPage/__tests__/ErrorPage.spec.js
  src/components/ExternalLink/__tests__/ExternalLink.spec.js
  src/components/FilterPanel/FilterPanelAccordion/__tests__/FilterPanelAccordion.spec.js
  src/components/FilterPanel/FilterPanelAccordionItem/__tests__/FilterPanelAccordionItem.spec.js
  src/components/FilterPanel/FilterPanelCheckbox/__tests__/FilterPanelCheckbox.spec.js
  src/components/FilterPanel/FilterPanelCheckboxWithOverflowMenu/__tests__/FilterPanelCheckboxWithOverflowMenu.spec.js
  src/components/FilterPanel/FilterPanelGroup/__tests__/FilterPanelGroup.spec.js
  src/components/FilterPanel/FilterPanelLabel/__tests__/FilterPanelLabel.spec.js
  src/components/FilterPanel/FilterPanelSearch/__tests__/FilterSearch.spec.js
  src/components/FilterPanel/__tests__/FilterPanel.spec.js
  src/components/ICA/ICASkeleton/__tests__/ICASkeleton.spec.js
  src/components/ICA/__tests__/ICA.spec.js
  src/components/InteractiveTag/__tests__/InteractiveTag.spec.js
  src/components/Loading/LoadingMessage/__tests__/LoadingMessage.spec.js
  src/components/NonEntitledSection/__tests__/NonEntitledSection.spec.js
  src/components/PanelV2/__tests__/PanelV2.spec.js
  src/components/Pill/__tests__/Pill.spec.js
  src/components/Portal/__tests__/Portal.spec.js
  src/components/ProfileImage/__tests__/ProfileImage.spec.js
  src/components/StackedNotification/__tests__/StackedNotification.spec.js
  src/components/StatusIcon/__tests__/StatusIcon.spec.js
  src/components/StatusIndicator/StatusStep/__tests__/StatusStep.spec.js
  src/components/StatusIndicator/__tests__/StatusIndicator.spec.js
  src/components/StepIndicator/__tests__/StepIndicator.spec.js
  src/components/StringFormatter/__tests__/StringFormatter.spec.js
  src/components/SummaryCard/SummaryCardContainer/__tests__/SummaryCardContainer.spec.js
  src/components/SummaryCard/SummaryCardSkeleton/__tests__/SummaryCardSkeleton.spec.js
  src/components/SummaryCard/__tests__/SummaryCard.spec.js
  src/components/TimeIndicator/__tests__/TimeIndicator.spec.js
  src/components/TrendingCard/__tests__/TrendingCard.spec.js
  src/components/TruncatedList/__tests__/TruncatedList.spec.js
  src/components/TypeLayout/__tests__/TypeLayout.spec.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

style(stylelint): ignore lint rule for maths
  src/components/SummaryCard/_mixins.scss
Due: yarn format:precommit, yarn lint:scss:precommit

chore: merge `dev` into `remove-render-within-landmark`
  .github/CONTRIBUTING.md
  docs/testing/README.md
Due: yarn format:precommit

test: remove redundant `renderWithinLandmark` (#1015)
  .github/CONTRIBUTING.md
  config/jest/helpers/renderWithinLandmark.js
  docs/testing/README.md
  src/components/Button/__tests__/Button.spec.js
  src/components/Card/CardSkeleton/__tests__/CardSkeleton.spec.js
  src/components/Card/__tests__/Card.spec.js
  src/components/DataDecorator/Decorator/__tests__/Decorator.spec.js
  src/components/DataDecorator/__tests__/DataDecorator.spec.js
  src/components/ErrorPage/__tests__/ErrorPage.spec.js
  src/components/ExternalLink/__tests__/ExternalLink.spec.js
  src/components/FilterPanel/FilterPanelAccordion/__tests__/FilterPanelAccordion.spec.js
  src/components/FilterPanel/FilterPanelAccordionItem/__tests__/FilterPanelAccordionItem.spec.js
  src/components/FilterPanel/FilterPanelCheckbox/__tests__/FilterPanelCheckbox.spec.js
  src/components/FilterPanel/FilterPanelCheckboxWithOverflowMenu/__tests__/FilterPanelCheckboxWithOverflowMenu.spec.js
  src/components/FilterPanel/FilterPanelGroup/__tests__/FilterPanelGroup.spec.js
  src/components/FilterPanel/FilterPanelLabel/__tests__/FilterPanelLabel.spec.js
  src/components/FilterPanel/FilterPanelSearch/__tests__/FilterSearch.spec.js
  src/components/FilterPanel/__tests__/FilterPanel.spec.js
  src/components/ICA/ICASkeleton/__tests__/ICASkeleton.spec.js
  src/components/ICA/__tests__/ICA.spec.js
  src/components/InteractiveTag/__tests__/InteractiveTag.spec.js
  src/components/Loading/LoadingMessage/__tests__/LoadingMessage.spec.js
  src/components/NonEntitledSection/__tests__/NonEntitledSection.spec.js
  src/components/PanelV2/__tests__/PanelV2.spec.js
  src/components/Pill/__tests__/Pill.spec.js
  src/components/Portal/__tests__/Portal.spec.js
  src/components/ProfileImage/__tests__/ProfileImage.spec.js
  src/components/StackedNotification/__tests__/StackedNotification.spec.js
  src/components/StatusIcon/__tests__/StatusIcon.spec.js
  src/components/StatusIndicator/StatusStep/__tests__/StatusStep.spec.js
  src/components/StatusIndicator/__tests__/StatusIndicator.spec.js
  src/components/StepIndicator/__tests__/StepIndicator.spec.js
  src/components/StringFormatter/__tests__/StringFormatter.spec.js
  src/components/SummaryCard/SummaryCardContainer/__tests__/SummaryCardContainer.spec.js
  src/components/SummaryCard/SummaryCardSkeleton/__tests__/SummaryCardSkeleton.spec.js
  src/components/SummaryCard/__tests__/SummaryCard.spec.js
  src/components/TimeIndicator/__tests__/TimeIndicator.spec.js
  src/components/TrendingCard/__tests__/TrendingCard.spec.js
  src/components/TruncatedList/__tests__/TruncatedList.spec.js
  src/components/TypeLayout/__tests__/TypeLayout.spec.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

style(prettier): add Carbon configuration
  README.md
Due: yarn format:precommit

test(styles): refactor styles tests
  src/__tests__/scss/styles.spec.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

docs(deprecate): update import references to be more explicit (#988)
  src/globals/scss-exports/spacing.module.scss
  src/globals/theme/_index.scss
Due: yarn format:precommit, yarn lint:scss:precommit

test(styles): refactor styles tests
  config.js
  scripts/scss/compile.js
  src/__tests__/scss/styles.spec.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

build: update stylelint-plugin-carbon-tokens
  .yarn/offline-mirror/stylelint-plugin-carbon-tokens-0.10.0.tgz
  .yarn/offline-mirror/stylelint-plugin-carbon-tokens-0.11.0.tgz
  package.json
  yarn.lock
Due: none

revert stylelint ignores as it no longer crashes
  src/components/SummaryCard/_mixins.scss
Due: yarn format:precommit, yarn lint:scss:precommit

style(stylelint): align with Cloud & Cognitive
  .stylelintrc
  .yarn/offline-mirror/stylelint-config-recommended-scss-4.2.0.tgz
  .yarn/offline-mirror/stylelint-no-unsupported-browser-features-5.0.1.tgz
  package.json
  yarn.lock
Due: none

style(stylelint): align with Cloud & Cognitive (#1019)
  .stylelintrc
  .yarn/offline-mirror/stylelint-config-recommended-scss-4.2.0.tgz
  .yarn/offline-mirror/stylelint-no-unsupported-browser-features-5.0.1.tgz
  package.json
  yarn.lock
Due: none

style(eslint): rename files
  .lintstagedrc
  package.json
Due: none

style(eslint): rename files
  .storybook/main.js
  package.json
  src/components/LayoutModules/DescriptionListModule/index.mdx
  src/components/LayoutModules/ICAModule/index.mdx
  src/components/LayoutModules/TitleBarModule/index.mdx
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

chore: revert parentheses workarounds
  src/components/Toolbar/_mixins.scss
  src/globals/rtl/_index.scss
Due: yarn format:precommit, yarn lint:scss:precommit

refactor(tag-wall-filter): add foundation
  package.json
  src/components/TagWallFilter/TagWallFilter.js
  src/components/TagWallFilter/__tests__/TagWallFilter.spec.js
  src/components/__tests__/__snapshots__/publicAPI.spec.js.snap
  src/globals/utils/shallowEqual.js
  yarn.lock
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

chore(release): 1.43.0-prerelease.3 [skip ci]
  package.json
Due: none

Notes added by 'git notes add'
  62/b841ef3be3fe0ccc800d0e4b9bc261a1fbad99
Due: none

refactor(tag-wall-filter): refactor component
  .yarn/offline-mirror/reduced-utils-0.1.2.tgz
  package.json
  src/components/TagWallFilter/TagWallFilter.js
  yarn.lock
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

docs(focus): update copyright notice
  src/globals/utils/focus.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit
