Repository carbon-design-system/ibm-security: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

.lintstagedrc:

{
  '*.{js,md,scss}': ['yarn format:precommit', 'git add'],
  '*.js': ['yarn lint:js:precommit', 'git add', 'yarn test:precommit'],
  '*.scss': ['yarn lint:scss:precommit', 'git add'],
}

build(themes): update `husky` and `lint-staged` dependencies
  docs/themes/themes.md
  scripts/themes/index.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

fix(icon-button-bar): use carbon overflow menu button and update options ::after size
  src/components/IconButtonBar/IconButtonBar.js
  src/components/IconButtonBar/_mixins.scss
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

chore: update snapshots for icon-button-bar updates
  src/components/IconButtonBar/__tests__/__snapshots__/IconButtonBar.spec.js.snap
Due: none

fix(step-indicator): refactor styles, fix alignment
  src/components/StepIndicator/_mixins.scss
Due: yarn format:precommit, yarn lint:scss:precommit

fix(step-indicator): refactor styles, transform completed step
  src/components/StepIndicator/_mixins.scss
Due: yarn format:precommit, yarn lint:scss:precommit

fix(step-indicator): refactor styles, transform completed step (#222)
  src/components/StepIndicator/_mixins.scss
Due: yarn format:precommit, yarn lint:scss:precommit

chore(release): 1.8.1-prerelease.1 [skip ci]
  package.json
Due: none

docs(scss): add `includePaths` description
  README.md
Due: yarn format:precommit

docs(scss): update `includePaths` information
  README.md
Due: yarn format:precommit

fix(breadcrumb): force `visited` state override
  src/components/Breadcrumb/_index.scss
Due: yarn format:precommit, yarn lint:scss:precommit

chore(release): 1.8.1-prerelease.2 [skip ci]
  package.json
Due: none

feat(header): add optional `domain` brand prop
  src/components/Header/Header.js
  src/components/Header/__tests__/__snapshots__/Header.spec.js.snap
  src/components/Header/_mixins.scss
  src/components/Header/constants.js
  src/components/Header/locales/en/Header.json
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

docs(scss): add `includePaths` information (#225)
  README.md
Due: yarn format:precommit

feat(header): add optional `domain` brand prop (#227)
  src/components/Header/Header.js
  src/components/Header/__tests__/__snapshots__/Header.spec.js.snap
  src/components/Header/_mixins.scss
  src/components/Header/constants.js
  src/components/Header/locales/en/Header.json
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

chore(release): 1.8.1-prerelease.3 [skip ci]
  package.json
Due: none

fix(breadcrumb): force `visited` state override (#226)
  src/components/Breadcrumb/_index.scss
Due: yarn format:precommit, yarn lint:scss:precommit

chore(release): 1.8.1-prerelease.4 [skip ci]
  package.json
Due: none

feat(modular-styles): update `DatePicker`, `Tile`, and `Toggle`
  .storybook/components/Container/index.js
  src/components/DatePicker/_index.scss
  src/components/Tile/_index.scss
  src/components/Toggle/_index.scss
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

feat(ui-shell): proxy carbon uishell and add simple uishell header stories
  src/components/Shell/Shell.stories.js
  src/components/UIShell/UIShell.stories.js
  src/components/UIShell/_index.scss
  src/components/UIShell/index.js
  src/components/_index.scss
  src/index.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

fix(modular-styles): fix import
  src/components/Checkbox/_index.scss
  src/components/FileUploader/_index.scss
Due: yarn format:precommit, yarn lint:scss:precommit

feat(summary-card): add skeleton components
  src/components/SummaryCard/SummaryCard.stories.js
  src/components/SummaryCard/SummaryCardBody/SummaryCardBody.js
  src/components/SummaryCard/SummaryCardContainer/SummaryCardContainer.js
  src/components/SummaryCard/SummaryCardContainer/index.js
  src/components/SummaryCard/SummaryCardSelect/SummaryCardSelect.js
  src/components/SummaryCard/SummaryCardSelect/index.js
  src/components/SummaryCard/index.js
  src/index.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

chore(summary-card): revert body documentation
  src/components/SummaryCard/SummaryCardBody/SummaryCardBody.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

fix(ui-shell): update story
  src/components/UIShell/UIShell.stories.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

fix(icon-button-bar): update menu options classes and box shadow application (#219)
  src/components/IconButtonBar/IconButtonBar.js
  src/components/IconButtonBar/__tests__/__snapshots__/IconButtonBar.spec.js.snap
  src/components/IconButtonBar/_mixins.scss
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

feat(summary-card): add selection props
  src/components/SummaryCard/SummaryCard.js
  src/components/SummaryCard/SummaryCard.stories.js
  src/components/SummaryCard/SummaryCardContainer/SummaryCardContainer.js
  src/components/SummaryCard/SummaryCardSelect/SummaryCardSelect.js
  src/components/SummaryCard/_mixins.scss
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

chore(release): 1.8.1-prerelease.5 [skip ci]
  package.json
Due: none

fix(ui-shell): add links to carbon documentation in story
  src/components/UIShell/UIShell.stories.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

feat(summary-card): add `batch action` skeleton and logic
  src/components/SummaryCard/SummaryCard.stories.js
  src/components/SummaryCard/SummaryCardBatchAction/SummaryCardBatchAction.js
  src/components/SummaryCard/SummaryCardBatchAction/index.js
  src/components/SummaryCard/SummaryCardBatchActions/SummaryCardBatchActions.js
  src/components/SummaryCard/SummaryCardBatchActions/index.js
  src/components/SummaryCard/SummaryCardContainer/SummaryCardContainer.js
  src/components/SummaryCard/index.js
  src/index.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

feat(summary-card): leverage `DataTable` batch actions
  src/components/SummaryCard/SummaryCard.stories.js
  src/components/SummaryCard/SummaryCardBatchAction/SummaryCardBatchAction.js
  src/components/SummaryCard/SummaryCardBatchActions/SummaryCardBatchActions.js
  src/components/SummaryCard/SummaryCardContainer/SummaryCardContainer.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

feat(summary-card): add styles
  .yarn/offline-mirror/@babel-runtime-7.7.2.tgz
  .yarn/offline-mirror/@sheerun-mutationobserver-shim-0.3.2.tgz
  .yarn/offline-mirror/@testing-library-dom-6.10.1.tgz
  .yarn/offline-mirror/@testing-library-react-9.3.2.tgz
  .yarn/offline-mirror/@types-react-dom-16.9.4.tgz
  .yarn/offline-mirror/@types-testing-library__dom-6.10.0.tgz
  .yarn/offline-mirror/@types-testing-library__react-9.1.2.tgz
  .yarn/offline-mirror/wait-for-expect-3.0.1.tgz
  package.json
  src/components/SummaryCard/SummaryCard.stories.js
  src/components/SummaryCard/SummaryCardBatchActions/SummaryCardBatchActions.js
  src/components/SummaryCard/SummaryCardContainer/SummaryCardContainer.js
  src/components/SummaryCard/SummaryCardSelect/SummaryCardSelect.js
  src/components/SummaryCard/_mixins.scss
  yarn.lock
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

chore(summary-card): add import
  src/components/SummaryCard/_mixins.scss
Due: yarn format:precommit, yarn lint:scss:precommit

feat(summary-card): start transforming translation
  src/components/SummaryCard/SummaryCard.stories.js
  src/components/SummaryCard/SummaryCardBatchActions/SummaryCardBatchActions.js
  src/components/SummaryCard/SummaryCardContainer/SummaryCardContainer.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

feat(summary-card): start transforming translation keys
  src/components/SummaryCard/SummaryCardBatchActions/SummaryCardBatchActions.js
  src/components/SummaryCard/SummaryCardContainer/SummaryCardContainer.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

feat(summary-card): add translation logic
  src/components/SummaryCard/SummaryCard.stories.js
  src/components/SummaryCard/SummaryCardBatchActions/SummaryCardBatchActions.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

feat(summary-card): refactor batch actions
  src/components/SummaryCard/SummaryCardBatchAction/SummaryCardBatchAction.js
  src/components/SummaryCard/SummaryCardBatchActions/SummaryCardBatchActions.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

chore(carbon): upgrade dependencies
  .yarn/offline-mirror/carbon-components-10.7.3.tgz
  .yarn/offline-mirror/carbon-components-10.7.4.tgz
  .yarn/offline-mirror/carbon-components-react-7.7.3.tgz
  .yarn/offline-mirror/carbon-components-react-7.7.4.tgz
  package.json
  yarn.lock
Due: none

refactor(summary-card): refactor `translateWithId`
  src/components/SummaryCard/SummaryCardBatchActions/SummaryCardBatchActions.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

refactor: fix `Nav` and `ScrollGradient` lint errors
  src/components/Nav/NavItem/NavItem.js
  src/components/ScrollGradient/ScrollGradient.js
  src/components/StatusIcon/StatusIcon.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit
