Repository carbon-design-system/ibm-security: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

Notes added by 'git notes add'
  19/1c49a70d38b8cb82816d2cb21fda96b27dd367
Due: none

feat(upsell-nudge): add basic component
  src/__tests__/scss/__snapshots__/SCSS.spec.js.snap
  src/components/UpsellNudge/UpsellNudge.stories.js
  src/components/UpsellNudge/_index.scss
  src/components/UpsellNudge/index.js
  src/components/__tests__/__snapshots__/publicAPI.spec.js.snap
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

fix(truncated-list): include `ScrollGradient` styles
  src/components/TruncatedList/_index.scss
Due: yarn format:precommit, yarn lint:scss:precommit

feat(upsell-nudge): update API per variations
  src/__tests__/scss/__snapshots__/SCSS.spec.js.snap
  src/components/UpsellNudge/UpsellNudge.stories.js
  src/components/UpsellNudge/_index.scss
  src/components/UpsellNudge/index.js
  src/components/__tests__/__snapshots__/publicAPI.spec.js.snap
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

docs(upsell-nudge): update story prop order
  src/components/UpsellNudge/UpsellNudge.stories.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

fix(truncated-list): include `ScrollGradient` styles (#676)
  src/components/TruncatedList/_index.scss
Due: yarn format:precommit, yarn lint:scss:precommit

chore(release): 1.28.0-prerelease.4 [skip ci]
  package.json
Due: none

Notes added by 'git notes add'
  49/62de9b647117dee77832915458e4847100146e
Due: none

feat(tearsheet-small): update use of body prop and isLoading render prop, deprecate children prop
  src/components/Tearsheet/TearsheetSmall/TearsheetSmall.js
  src/components/Tearsheet/TearsheetSmall/TearsheetSmall.stories.js
  src/components/__tests__/__snapshots__/publicAPI.spec.js.snap
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

chore: update public API snapshot
  src/components/__tests__/__snapshots__/publicAPI.spec.js.snap
Due: none

feat(tagwall-filter): update TearsheetSmall implementation, upgrade Downshift
  package.json
  src/components/TagWallFilter/Filter/Filter.js
  src/components/TagWallFilter/Filter/__tests__/__snapshots__/Filter.spec.js.snap
  src/components/TagWallFilter/TagWallFilter.js
  src/components/TagWallFilter/__tests__/TagWallFilter.spec.js
  src/components/TagWallFilter/__tests__/__snapshots__/TagWallFilter.spec.js.snap
  yarn.lock
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

chore: commit yarn offline file updates
  .yarn/offline-mirror/@babel-runtime-7.10.5.tgz
  .yarn/offline-mirror/downshift-1.31.16.tgz
  .yarn/offline-mirror/downshift-5.4.7.tgz
  .yarn/offline-mirror/react-is-16.13.1.tgz
Due: none

feat(filter): finish migrating downshift to v5
  src/components/TagWallFilter/Filter/Filter.js
  src/components/TagWallFilter/Filter/__tests__/__snapshots__/Filter.spec.js.snap
  src/components/TagWallFilter/__tests__/__snapshots__/TagWallFilter.spec.js.snap
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

chore(release): 1.28.0 [skip ci]
  package.json
Due: none

Notes added by 'git notes add'
  38/6b9493e92cb538d7ddf50ee832919040b750fa
Due: none

feat(breadcrumb-page-title): reduce re-rendering
  src/__tests__/scss/__snapshots__/SCSS.spec.js.snap
  src/components/UNSTABLE__BreadcrumbPageTitle/BreadcrumbPageTitle.stories.js
  src/components/UNSTABLE__BreadcrumbPageTitle/_index.scss
  src/components/UNSTABLE__BreadcrumbPageTitle/index.js
  src/components/__tests__/__snapshots__/publicAPI.spec.js.snap
  src/components/_index.scss
  src/index.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

feat(breadcrumb-page-title): reduce re-rendering
  src/__tests__/scss/__snapshots__/SCSS.spec.js.snap
  src/components/UNSTABLE__BreadcrumbPageTitle/_index.scss
  src/components/UNSTABLE__BreadcrumbPageTitle/index.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

fix(card): remove text-transform capitalization from header
  src/__tests__/scss/__snapshots__/SCSS.spec.js.snap
  src/components/Card/_mixins.scss
Due: yarn format:precommit, yarn lint:scss:precommit

feat(combo-button): deprecate primaryFocus prop and replace with selectorPrimaryFocus
  src/components/ComboButton/ComboButton.js
  src/components/ComboButton/ComboButtonItem/ComboButtonItem.js
  src/components/__tests__/__snapshots__/publicAPI.spec.js.snap
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

chore: update public api snapshot
  src/components/__tests__/__snapshots__/publicAPI.spec.js.snap
Due: none

feat(tearsheet-small): update use of body prop and isLoading render prop, deprecate children prop (#678)
  src/components/Tearsheet/TearsheetSmall/TearsheetSmall.js
  src/components/Tearsheet/TearsheetSmall/TearsheetSmall.stories.js
  src/components/__tests__/__snapshots__/publicAPI.spec.js.snap
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

chore(release): 1.29.0-prerelease.1 [skip ci]
  package.json
Due: none

Notes added by 'git notes add'
  d9/7cff180058564c3958ccb469b5a0f7770eb79b
Due: none

fix(card): remove text-transform capitalization from header (#682)
  src/__tests__/scss/__snapshots__/SCSS.spec.js.snap
  src/components/Card/_mixins.scss
Due: yarn format:precommit, yarn lint:scss:precommit

test(upsell-nudge): add testing suite
  src/__tests__/scss/__snapshots__/SCSS.spec.js.snap
  src/components/UpsellNudge/__tests__/UpsellNudge.spec.js
  src/components/UpsellNudge/_index.scss
  src/components/UpsellNudge/index.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

chore(release): 1.29.0-prerelease.2 [skip ci]
  package.json
Due: none

Notes added by 'git notes add'
  62/9f3435b9d7569ca768b6aa361efc06551ae095
Due: none

docs: update FilterPanelCheckboxWithOverflowMenu story & test to use update OverflowMenu prop
  src/components/FilterPanel/FilterPanelCheckboxWithOverflowMenu/FilterPanelCheckboxWithOverflowMenu.stories.js
  src/components/FilterPanel/FilterPanelCheckboxWithOverflowMenu/__tests__/FilterPanelCheckboxWithOverflowMenu.spec.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

docs(icon-button-bar): use selectorPrimaryFocus in OverflowMenuItem
  src/components/IconButtonBar/IconButtonBar.js
  src/components/IconButtonBar/__tests__/__snapshots__/IconButtonBar.spec.js.snap
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

fix(icon-button-bar): remove unnecessary prop
  src/components/IconButtonBar/IconButtonBar.js
  src/components/IconButtonBar/__tests__/__snapshots__/IconButtonBar.spec.js.snap
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

fix(combo-button): update usage of selectorPrimaryFocus
  src/components/ComboButton/ComboButton.js
  src/components/ComboButton/ComboButton.stories.js
  src/components/ComboButton/ComboButtonItem/ComboButtonItem.js
  src/components/ComboButton/__tests__/__snapshots__/ComboButton.spec.js.snap
  src/components/__tests__/__snapshots__/publicAPI.spec.js.snap
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

docs(filter-panel-checkbox-with-overflow-menu): update selectorPrimaryFocus usage
  src/components/FilterPanel/FilterPanelCheckboxWithOverflowMenu/FilterPanelCheckboxWithOverflowMenu.stories.js
  src/components/FilterPanel/FilterPanelCheckboxWithOverflowMenu/__tests__/FilterPanelCheckboxWithOverflowMenu.spec.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

fix(icon-button-bar): update selectorPrimaryFocus usage
  src/components/IconButtonBar/IconButtonBar.js
  src/components/IconButtonBar/IconButtonBar.stories.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

feat(upsell-nudge): add `light` variant
  src/__tests__/scss/__snapshots__/SCSS.spec.js.snap
  src/components/UpsellNudge/UpsellNudge.stories.js
  src/components/UpsellNudge/__tests__/UpsellNudge.spec.js
  src/components/UpsellNudge/_index.scss
  src/components/UpsellNudge/index.js
  src/components/__tests__/__snapshots__/publicAPI.spec.js.snap
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

chore(release): release branch as alpha
  .releaserc
Due: none

feat(breadcrumb-page-title): rename variables
  src/components/UNSTABLE__BreadcrumbPageTitle/index.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

fix(breadcrumb-page-title): prevent inline style from continuously rendering
  .releaserc
  src/__tests__/scss/__snapshots__/SCSS.spec.js.snap
  src/components/UNSTABLE__BreadcrumbPageTitle/_index.scss
  src/components/UNSTABLE__BreadcrumbPageTitle/index.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

feat(combo-button): deprecate primaryFocus prop, replace with selectorPrimaryFocus (#684)
  src/components/ComboButton/ComboButton.js
  src/components/ComboButton/ComboButton.stories.js
  src/components/ComboButton/ComboButtonItem/ComboButtonItem.js
  src/components/ComboButton/__tests__/__snapshots__/ComboButton.spec.js.snap
  src/components/__tests__/__snapshots__/publicAPI.spec.js.snap
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

chore(release): 1.29.0-prerelease.3 [skip ci]
  package.json
Due: none

Notes added by 'git notes add'
  82/3304f8444065a2305e61964aefdcdf29b25e84
Due: none

Path conditions:
  yarn format:precommit: any of: *.{js,md,scss}
  yarn lint:js:precommit: any of: *.js
  yarn test:precommit: any of: *.js
  yarn lint:scss:precommit: any of: *.scss
