Repository carbon-design-system/ibm-security: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

chore(release): 1.18.0-prerelease.3 [skip ci]
  package.json
Due: none

Notes added by 'git notes add'
  ded933ed264eb3e912d4c6d45b3726a29e0a3d11
Due: none

fix(shell): add logic to fix popover `onMouseDown`
  src/components/UNSTABLE__Shell/HeaderAction/index.js
  src/components/UNSTABLE__Shell/NotificationsPopover/index.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

fix(shell): fix focus issues in `Firefox` and `Safari`
  src/components/UNSTABLE__Shell/HeaderAction/index.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

fix(trending-card): update element prop test
  src/components/TrendingCard/__tests__/TrendingCard.spec.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

fix(details-page-1): update folder name, update style mixin structure
  src/components/LayoutTemplates/DetailsPage1/DetailsPage1.js
  src/components/LayoutTemplates/DetailsPage1/DetailsPage1.stories.js
  src/components/LayoutTemplates/DetailsPage1/_index.scss
  src/components/LayoutTemplates/DetailsPage1/_mixins.scss
  src/components/LayoutTemplates/DetailsPage1/index.js
  src/components/LayoutTemplates/index.js
  src/components/_index.scss
  src/index.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

feat(progress-animation): add component and animate using emotion
  .yarn/offline-mirror/@emotion-cache-10.0.29.tgz
  .yarn/offline-mirror/@emotion-core-10.0.28.tgz
  .yarn/offline-mirror/@emotion-hash-0.8.0.tgz
  .yarn/offline-mirror/@emotion-serialize-0.11.16.tgz
  .yarn/offline-mirror/babel-plugin-emotion-10.0.29.tgz
  package.json
  src/components/ProgressAnimation/ProgressAnimation.js
  src/components/ProgressAnimation/ProgressAnimation.stories.js
  src/components/ProgressAnimation/_index.scss
  src/components/ProgressAnimation/index.js
  src/components/_index.scss
  yarn.lock
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

fix(string-formatter): update tests, update line-clamp prop
  src/components/StringFormatter/StringFormatter.js
  src/components/StringFormatter/__tests__/StringFormatter.spec.js
  src/components/StringFormatter/__tests__/__snapshots__/StringFormatter.spec.js.snap
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

fix(string-formatter): comment out line-clamp test, restore line clamp attr
  src/components/StringFormatter/StringFormatter.js
  src/components/StringFormatter/__tests__/StringFormatter.spec.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

chore(release): 1.18.0 [skip ci]
  package.json
Due: none

Notes added by 'git notes add'
  264f1cab7c0d33683949abe0555bfc3dfe7679dc
Due: none

Update src/components/SummaryCard/SummaryCardHeader/__tests__/SummaryCardHeader.spec.js
  src/components/SummaryCard/SummaryCardHeader/__tests__/SummaryCardHeader.spec.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

fix(trending-card): reformat tests and remove snapshots (#346)
  src/components/TrendingCard/__tests__/TrendingCard.spec.js
  src/components/TrendingCard/__tests__/__snapshots__/TrendingCard.spec.js.snap
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

chore(release): 1.18.1-prerelease.1 [skip ci]
  package.json
Due: none

Notes added by 'git notes add'
  10c76b5f6f18aba88f325f968fb6c1713bda86c7
Due: none

fix(progress-animation): clean up component, remove emotion-core
  .yarn/offline-mirror/@emotion-cache-10.0.29.tgz
  .yarn/offline-mirror/@emotion-core-10.0.28.tgz
  .yarn/offline-mirror/@emotion-hash-0.8.0.tgz
  .yarn/offline-mirror/@emotion-serialize-0.11.16.tgz
  .yarn/offline-mirror/babel-plugin-emotion-10.0.29.tgz
  package.json
  src/components/ProgressAnimation/ProgressAnimation.js
  src/components/ProgressAnimation/ProgressAnimation.stories.js
  src/components/ProgressAnimation/_index.scss
  yarn.lock
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

fix(progress-animation): update story knobs, rename file
  src/components/ProgressAnimation/ProgressAnimation.js
  src/components/ProgressAnimation/ProgressAnimation.stories.js
  src/components/ProgressAnimation/index.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

docs(progress-animation): update comments
  src/components/ProgressAnimation/ProgressAnimation.stories.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

fix(progress-animation): update colors import
  src/components/ProgressAnimation/index.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

fix(progress-animation): fix animationtimer prop
  src/components/ProgressAnimation/index.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

fix(progress-animation): update timer ternary
  src/components/ProgressAnimation/index.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

fix(summary-card-action): add tests for hasIconOnly and onClick props
  src/components/SummaryCard/SummaryCardAction/__tests__/SummaryCardAction.spec.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

fix(summary-card-action): remove overflow hidden so tooltip can be shown
  src/components/SummaryCard/_mixins.scss
Due: yarn format:precommit, yarn lint:scss:precommit

docs(testing): fix locals -> locales typo
  docs/testing/README.md
Due: yarn format:precommit

docs(checkbox-skeleton): add required props to story demo
  src/components/Checkbox/Checkbox.stories.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

fix(checkbox-skeleton): correctly export skeleton component
  src/components/Checkbox/index.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

docs: update syntax highlighting in testing doc
  docs/testing/README.md
Due: yarn format:precommit

feat(progress-animation): use hooks
  src/components/ProgressAnimation/ProgressAnimation.stories.js
  src/components/ProgressAnimation/_index.scss
  src/components/ProgressAnimation/index.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

refactor(progress-animation): add conditional duration
  src/components/ProgressAnimation/index.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

docs: start a doc on testing components (#359)
  .github/CONTRIBUTING.md
  docs/testing/README.md
Due: yarn format:precommit

docs(breadcrumb): update story to reflect the same story in Carbon
  src/components/Breadcrumb/Breadcrumb.stories.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

fix(summary-card-action): remove overflow hidden so tooltip can be shown (#420)
  src/components/SummaryCard/_mixins.scss
Due: yarn format:precommit, yarn lint:scss:precommit

chore(release): 1.18.1-prerelease.2 [skip ci]
  package.json
Due: none

Notes added by 'git notes add'
  7d728ac63707064716faf85b58f40533bc58cb4f
Due: none

fix(summary-card): add a11y and unit tests (#337)
  .yarn/offline-mirror/@babel-runtime-7.7.4.tgz
  .yarn/offline-mirror/@babel-runtime-7.8.4.tgz
  .yarn/offline-mirror/@testing-library-dom-6.10.1.tgz
  .yarn/offline-mirror/@testing-library-dom-6.12.0.tgz
  .yarn/offline-mirror/@types-istanbul-lib-report-1.1.1.tgz
  .yarn/offline-mirror/@types-istanbul-lib-report-3.0.0.tgz
  .yarn/offline-mirror/@types-react-16.9.11.tgz
  .yarn/offline-mirror/@types-react-16.9.19.tgz
  .yarn/offline-mirror/@types-react-dom-16.9.4.tgz
  .yarn/offline-mirror/@types-react-dom-16.9.5.tgz
  .yarn/offline-mirror/@types-testing-library__dom-6.10.0.tgz
  .yarn/offline-mirror/@types-testing-library__dom-6.12.0.tgz
  .yarn/offline-mirror/@types-yargs-13.0.3.tgz
  .yarn/offline-mirror/@types-yargs-13.0.7.tgz
  .yarn/offline-mirror/@types-yargs-parser-13.1.0.tgz
  .yarn/offline-mirror/@types-yargs-parser-15.0.0.tgz
  .yarn/offline-mirror/csstype-2.6.8.tgz
  .yarn/offline-mirror/source-map-resolve-0.5.3.tgz
  package.json
  src/components/SummaryCard/SummaryCardAction/SummaryCardAction.js
  src/components/SummaryCard/SummaryCardAction/__tests__/SummaryCardAction.spec.js
  src/components/SummaryCard/SummaryCardBatchActions/SummaryCardBatchActions.js
  src/components/SummaryCard/SummaryCardBatchActions/__tests__/SummaryCardBatchActions.spec.js
  src/components/SummaryCard/SummaryCardBatchActions/__tests__/__snapshots__/SummaryCardBatchActions.spec.js.snap
  src/components/SummaryCard/SummaryCardBody/__tests__/SummaryCardBody.spec.js
  src/components/SummaryCard/SummaryCardFooter/__tests__/SummaryCardFooter.spec.js
  src/components/SummaryCard/SummaryCardHeader/SummaryCardHeader.js
  src/components/SummaryCard/SummaryCardHeader/__tests__/SummaryCardHeader.spec.js
  src/components/SummaryCard/SummaryCardSelect/__tests__/SummaryCardSelect.spec.js
  src/components/SummaryCard/SummaryCardSkeleton/__tests__/SummaryCardSkeleton.spec.js
  src/components/SummaryCard/__tests__/SummaryCard.spec.js
  yarn.lock
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

chore(release): 1.18.1-prerelease.3 [skip ci]
  package.json
Due: none

Notes added by 'git notes add'
  14c9abda80f4d6d32905d954e291052c56b1d64b
Due: none

fix(checkbox-skeleton): correctly export skeleton component (#422)
  src/components/Checkbox/index.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

chore(release): 1.18.1-prerelease.4 [skip ci]
  package.json
Due: none

Notes added by 'git notes add'
  5a4d1d2541c5665ce75319011c53e3d2f262075d
Due: none

Path conditions:
  yarn format:precommit: any of: *.{js,md,scss}
  yarn lint:js:precommit: any of: *.js
  yarn test:precommit: any of: *.js
  yarn lint:scss:precommit: any of: *.scss
