Repository carbon-design-system/ibm-security: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

chore(tearsheet): update snapshot to reflect changes
  src/components/Tearsheet/__tests__/__snapshots__/Tearsheet.spec.js.snap
Due: none

chore: merge `dev` into `next`
  src/components/Toolbar/_mixins.scss
  src/globals/grid/css-gridish/scss/_core.scss
  src/globals/grid/css-gridish/scss/_functions.scss
  src/globals/grid/css-gridish/scss/_mixins.scss
  src/globals/grid/css-gridish/scss/_sass-list-maps.scss
  src/globals/grid/css-gridish/scss/_utilities.scss
  src/globals/grid/css-gridish/scss/_values.scss
  src/globals/grid/css-gridish/scss/_variables.scss
  src/globals/grid/css-gridish/scss/bx-grid-legacy.scss
  src/globals/grid/css-gridish/scss/bx-grid.scss
  src/globals/type/_index.scss
  src/platform/body/_mixins.scss
Due: yarn format:precommit, yarn lint:scss:precommit

chore: ignore `css-gridish`
  scripts/scss/compile/index.js
  src/__tests__/scss/__snapshots__/SCSS.spec.js.snap
  src/components/FilterPanel/FilterPanelCheckbox/_mixins.scss
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

chore(modal): add test story
  src/components/Modal/Modal.stories.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

fix(tearsheet): if loading:true, find focussable elements and set tabindex to -1
  src/components/Tearsheet/Tearsheet.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

chore: update snapshots
  src/components/Tearsheet/__tests__/__snapshots__/Tearsheet.spec.js.snap
Due: none

fix(tearsheet): use namespace variable
  src/components/Tearsheet/Tearsheet.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

test(scss): add SCSS testing suite and snapshot (#578)
  .gitignore
  scripts/scss/compile/index.js
  scripts/scss/index.js
  src/__tests__/scss/SCSS.spec.js
  src/__tests__/scss/__snapshots__/SCSS.spec.js.snap
  src/components/FilterPanel/FilterPanelCheckbox/_mixins.scss
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

fix(tearsheet): add isLoading and documentation for it
  src/components/Tearsheet/Tearsheet.js
  src/components/Tearsheet/Tearsheet.stories.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

docs(tearsheet): fix typo
  src/components/Tearsheet/Tearsheet.stories.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

feat(decorator): export icons as separate components
  src/components/DataDecorator/Decorator/Decorator.js
  src/components/DataDecorator/_mixins.scss
  src/components/__tests__/__snapshots__/publicAPI.spec.js.snap
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

feat(decorator): update icon exports and styles
  src/components/DataDecorator/Decorator/Decorator.js
  src/components/DataDecorator/Decorator/Decorator.stories.js
  src/components/DataDecorator/_mixins.scss
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

feat(decorator): update snapshots, add tests for icon exports
  src/__tests__/scss/__snapshots__/SCSS.spec.js.snap
  src/components/DataDecorator/Decorator/Decorator.js
  src/components/DataDecorator/Decorator/__tests__/Decorator.spec.js
  src/components/__tests__/__snapshots__/publicAPI.spec.js.snap
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

test: update ci test command
  package.json
Due: none

test: upgrade accessibility-checker package and config
  .achecker.yml
  .yarn/offline-mirror/@types-node-14.0.6.tgz
  .yarn/offline-mirror/accessibility-checker-3.0.2.tgz
  .yarn/offline-mirror/accessibility-checker-3.0.4.tgz
  .yarn/offline-mirror/extract-zip-1.6.7.tgz
  .yarn/offline-mirror/extract-zip-1.7.0.tgz
  .yarn/offline-mirror/fast-glob-3.1.0.tgz
  .yarn/offline-mirror/fast-glob-3.2.2.tgz
  .yarn/offline-mirror/fastq-1.6.0.tgz
  .yarn/offline-mirror/fastq-1.8.0.tgz
  .yarn/offline-mirror/fd-slicer-1.0.1.tgz
  .yarn/offline-mirror/glob-parent-5.1.0.tgz
  .yarn/offline-mirror/glob-parent-5.1.1.tgz
  .yarn/offline-mirror/graceful-fs-4.2.4.tgz
  .yarn/offline-mirror/ignore-5.1.8.tgz
  .yarn/offline-mirror/js-yaml-3.14.0.tgz
  .yarn/offline-mirror/mime-2.4.6.tgz
  .yarn/offline-mirror/minimist-1.2.5.tgz
  .yarn/offline-mirror/mkdirp-0.5.5.tgz
  .yarn/offline-mirror/picomatch-2.1.0.tgz
  .yarn/offline-mirror/picomatch-2.2.2.tgz
  .yarn/offline-mirror/proxy-from-env-1.0.0.tgz
  .yarn/offline-mirror/proxy-from-env-1.1.0.tgz
  .yarn/offline-mirror/request-2.88.2.tgz
  .yarn/offline-mirror/rimraf-3.0.0.tgz
  .yarn/offline-mirror/rimraf-3.0.2.tgz
  .yarn/offline-mirror/yauzl-2.4.1.tgz
  package.json
  yarn.lock
Due: none

chore: commit updated offline mirror files
  .yarn/offline-mirror/globby-10.0.2.tgz
  .yarn/offline-mirror/readable-stream-2.3.7.tgz
Due: none

test: update test timeout
  package.json
Due: none

test: defer initialization of accessibility-checker
  config/jest/matchers/toHaveNoDAPViolations.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

test: update test command
  package.json
Due: none

test: revert defer initialization of accessibility-checker
  config/jest/matchers/toHaveNoDAPViolations.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

test: defer initialization of accessibility-checker, use default timeout for jest test
  config/jest/matchers/toHaveNoDAPViolations.js
  package.json
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

test: restore prev accessibility-checker config
  .achecker.yml
Due: none

fix(panel-content): move panel + panelv2 padding to PanelContent
  src/components/Panel/_mixins.scss
  src/components/PanelV2/_mixins.scss
Due: yarn format:precommit, yarn lint:scss:precommit

chore: update scss snapshot
  src/__tests__/scss/__snapshots__/SCSS.spec.js.snap
Due: none

docs(tearsheet): improve tearsheet documentation with skeleton component example
  src/components/Tearsheet/Tearsheet.stories.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

fix(step-indicator): update hover text color
  src/__tests__/scss/__snapshots__/SCSS.spec.js.snap
  src/components/StepIndicator/_index.scss
Due: yarn format:precommit, yarn lint:scss:precommit

chore(layout-modules): add action and title bar
  src/__tests__/scss/__snapshots__/SCSS.spec.js.snap
  src/components/UNSTABLE__Layout/LayoutModules/ActionBarModule/_index.scss
  src/components/UNSTABLE__Layout/LayoutModules/ActionBarModule/index.js
  src/components/UNSTABLE__Layout/LayoutModules/BackgroundModule/index.js
  src/components/UNSTABLE__Layout/LayoutModules/LayoutModule.js
  src/components/UNSTABLE__Layout/LayoutModules/LayoutModules.stories.js
  src/components/UNSTABLE__Layout/LayoutModules/PageTabModule/index.js
  src/components/UNSTABLE__Layout/LayoutModules/TitleBarModule/_index.scss
  src/components/UNSTABLE__Layout/LayoutModules/TitleBarModule/index.js
  src/components/UNSTABLE__Layout/LayoutModules/_index.scss
  src/components/UNSTABLE__Layout/LayoutModules/index.js
  src/components/__tests__/__snapshots__/publicAPI.spec.js.snap
  src/index.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

test: defer init of accessibility-checker and update the jest test command (#581)
  .yarn/offline-mirror/@types-node-14.0.6.tgz
  .yarn/offline-mirror/accessibility-checker-3.0.2.tgz
  .yarn/offline-mirror/accessibility-checker-3.0.4.tgz
  .yarn/offline-mirror/extract-zip-1.6.7.tgz
  .yarn/offline-mirror/extract-zip-1.7.0.tgz
  .yarn/offline-mirror/fast-glob-3.1.0.tgz
  .yarn/offline-mirror/fast-glob-3.2.2.tgz
  .yarn/offline-mirror/fastq-1.6.0.tgz
  .yarn/offline-mirror/fastq-1.8.0.tgz
  .yarn/offline-mirror/fd-slicer-1.0.1.tgz
  .yarn/offline-mirror/glob-parent-5.1.0.tgz
  .yarn/offline-mirror/glob-parent-5.1.1.tgz
  .yarn/offline-mirror/globby-10.0.2.tgz
  .yarn/offline-mirror/graceful-fs-4.2.4.tgz
  .yarn/offline-mirror/ignore-5.1.8.tgz
  .yarn/offline-mirror/js-yaml-3.14.0.tgz
  .yarn/offline-mirror/mime-2.4.6.tgz
  .yarn/offline-mirror/minimist-1.2.5.tgz
  .yarn/offline-mirror/mkdirp-0.5.5.tgz
  .yarn/offline-mirror/picomatch-2.1.0.tgz
  .yarn/offline-mirror/picomatch-2.2.2.tgz
  .yarn/offline-mirror/proxy-from-env-1.0.0.tgz
  .yarn/offline-mirror/proxy-from-env-1.1.0.tgz
  .yarn/offline-mirror/readable-stream-2.3.7.tgz
  .yarn/offline-mirror/request-2.88.2.tgz
  .yarn/offline-mirror/rimraf-3.0.0.tgz
  .yarn/offline-mirror/rimraf-3.0.2.tgz
  .yarn/offline-mirror/yauzl-2.4.1.tgz
  config/jest/matchers/toHaveNoDAPViolations.js
  package.json
  yarn.lock
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

fix(step-indicator): update hover text color (#584)
  src/__tests__/scss/__snapshots__/SCSS.spec.js.snap
  src/components/StepIndicator/_index.scss
Due: yarn format:precommit, yarn lint:scss:precommit

fix(panel-content): move panel + panelv2 padding to PanelContent (#583)
  src/__tests__/scss/__snapshots__/SCSS.spec.js.snap
  src/components/Panel/_mixins.scss
  src/components/PanelV2/_mixins.scss
Due: yarn format:precommit, yarn lint:scss:precommit

chore(release): 1.25.0-prerelease.5 [skip ci]
  package.json
Due: none

Notes added by 'git notes add'
  a1/317d8fcdc30c896d56924c7d89f9dede782b48
Due: none

chore(layout-modules): add ICA
  src/__tests__/scss/__snapshots__/SCSS.spec.js.snap
  src/components/UNSTABLE__Layout/LayoutModules/BackgroundModule/index.js
  src/components/UNSTABLE__Layout/LayoutModules/CardModule/_index.scss
  src/components/UNSTABLE__Layout/LayoutModules/CardModule/index.js
  src/components/UNSTABLE__Layout/LayoutModules/ICAModule/_index.scss
  src/components/UNSTABLE__Layout/LayoutModules/ICAModule/index.js
  src/components/UNSTABLE__Layout/LayoutModules/LayoutModule.js
  src/components/UNSTABLE__Layout/LayoutModules/LayoutModules.stories.js
  src/components/UNSTABLE__Layout/LayoutModules/TitleModule/_variables.scss
  src/components/UNSTABLE__Layout/LayoutModules/TitleModule/index.js
  src/components/UNSTABLE__Layout/LayoutModules/TypeLayoutModule/_index.scss
  src/components/UNSTABLE__Layout/LayoutModules/_index.scss
  src/components/UNSTABLE__Layout/LayoutModules/index.js
  src/components/__tests__/__snapshots__/publicAPI.spec.js.snap
  src/index.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

chore(a11y): update configuration
  .achecker.yml
Due: none

chore(a11y): update configuration (#585)
  .achecker.yml
Due: none

chore(release): 1.25.0 [skip ci]
  package.json
Due: none

Notes added by 'git notes add'
  fd/b95213b1b21cabd3e3c7db90e7202457428540
Due: none

chore(layout-modules): add card
  src/__tests__/scss/__snapshots__/SCSS.spec.js.snap
  src/components/UNSTABLE__Layout/LayoutModules/CardModule/_index.scss
  src/components/UNSTABLE__Layout/LayoutModules/CardModule/index.js
  src/components/UNSTABLE__Layout/LayoutModules/LayoutModules.stories.js
  src/components/UNSTABLE__Layout/LayoutModules/index.js
  src/components/__tests__/__snapshots__/publicAPI.spec.js.snap
  src/index.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

Path conditions:
  yarn format:precommit: any of: *.{js,md,scss}
  yarn lint:js:precommit: any of: *.js
  yarn test:precommit: any of: *.js
  yarn lint:scss:precommit: any of: *.scss
