Repository carbon-design-system/ibm-security: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

.lintstagedrc:

{
  '*.{js,md,scss}': ['yarn format:precommit', 'git add'],
  '*.js': ['yarn lint:js:precommit', 'git add', 'yarn test:precommit'],
  '*.scss': ['yarn lint:scss:precommit', 'git add'],
}

Notes added by 'git notes add'
  0d1aac8f1846edb4953d1d0154a4d5d9867cdfea
Due: none

fix(decorator): change interactive decorator text color
  src/components/DataDecorator/_mixins.scss
Due: yarn format:precommit, yarn lint:scss:precommit

feat(google-analytics): add property (#506)
  .storybook/addons.js
  .storybook/webpack.js
  .yarn/offline-mirror/@emotion-cache-10.0.29.tgz
  .yarn/offline-mirror/@emotion-core-10.0.28.tgz
  .yarn/offline-mirror/@emotion-css-10.0.27.tgz
  .yarn/offline-mirror/@emotion-hash-0.8.0.tgz
  .yarn/offline-mirror/@emotion-is-prop-valid-0.8.8.tgz
  .yarn/offline-mirror/@emotion-memoize-0.7.4.tgz
  .yarn/offline-mirror/@emotion-serialize-0.11.16.tgz
  .yarn/offline-mirror/@emotion-sheet-0.9.4.tgz
  .yarn/offline-mirror/@emotion-styled-10.0.27.tgz
  .yarn/offline-mirror/@emotion-styled-base-10.0.31.tgz
  .yarn/offline-mirror/@emotion-stylis-0.8.5.tgz
  .yarn/offline-mirror/@emotion-unitless-0.7.5.tgz
  .yarn/offline-mirror/@emotion-utils-0.11.3.tgz
  .yarn/offline-mirror/@emotion-weak-memoize-0.2.5.tgz
  .yarn/offline-mirror/@storybook-addon-google-analytics-5.3.18.tgz
  .yarn/offline-mirror/@storybook-addons-5.3.18.tgz
  .yarn/offline-mirror/@storybook-api-5.3.18.tgz
  .yarn/offline-mirror/@storybook-channels-5.3.18.tgz
  .yarn/offline-mirror/@storybook-client-logger-5.3.18.tgz
  .yarn/offline-mirror/@storybook-core-events-5.3.18.tgz
  .yarn/offline-mirror/@storybook-csf-0.0.1.tgz
  .yarn/offline-mirror/@storybook-router-5.3.18.tgz
  .yarn/offline-mirror/@storybook-theming-5.3.18.tgz
  .yarn/offline-mirror/babel-plugin-emotion-10.0.33.tgz
  .yarn/offline-mirror/emotion-theming-10.0.27.tgz
  .yarn/offline-mirror/git-branch-2.0.1.tgz
  .yarn/offline-mirror/has-symbols-1.0.1.tgz
  .yarn/offline-mirror/is-symbol-1.0.3.tgz
  .yarn/offline-mirror/react-ga-2.7.0.tgz
  .yarn/offline-mirror/telejson-3.3.0.tgz
  .yarn/offline-mirror/ts-dedent-1.1.1.tgz
  package.json
  yarn.lock
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

chore(release): 1.23.0-prerelease.1 [skip ci]
  package.json
Due: none

feat(tearsheet): add ability to remove sidebar
  src/components/Tearsheet/Tearsheet.js
  src/components/Tearsheet/Tearsheet.stories.js
  src/components/Tearsheet/_mixins.scss
  src/components/__tests__/__snapshots__/publicAPI.spec.js.snap
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

fix(datatable): rely on spread property for carbon props
  src/components/DataTable/DataTable.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

docs(datatable): add title and desc to demo for overflow menu variant
  src/components/DataTable/stories/with-overflow-menu.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

test(datatable): update snapshots
  src/components/DataTable/DataTablePagination/__tests__/__snapshots__/DataTablePagination.spec.js.snap
  src/components/DataTable/__tests__/__snapshots__/DataTable.spec.js.snap
Due: none

fix(decorator): update styles
  src/components/DataDecorator/_mixins.scss
Due: yarn format:precommit, yarn lint:scss:precommit

fix(decorator): remove bx--link class and update styles
  src/components/DataDecorator/Decorator/Decorator.js
  src/components/DataDecorator/_mixins.scss
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

docs(select): fix story file comment
  src/components/Select/Select.stories.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

docs(select): fix story file comment (#538)
  src/components/Select/Select.stories.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

fix(decorator): move active type style
  src/components/DataDecorator/_mixins.scss
Due: yarn format:precommit, yarn lint:scss:precommit

feat(filter-panel-checkbox-with-overflow-menu): create component (#486)
  .storybook/index.js
  src/components/Accordion/Accordion.stories.js
  src/components/FilterPanel/FilterPanelCheckbox/FilterPanelCheckbox.stories.js
  src/components/FilterPanel/FilterPanelCheckbox/_mixins.scss
  src/components/FilterPanel/FilterPanelCheckboxWithOverflowMenu/FilterPanelCheckboxWithOverflowMenu.js
  src/components/FilterPanel/FilterPanelCheckboxWithOverflowMenu/FilterPanelCheckboxWithOverflowMenu.stories.js
  src/components/FilterPanel/FilterPanelCheckboxWithOverflowMenu/__tests__/FilterPanelCheckboxWithOverflowMenu.spec.js
  src/components/FilterPanel/FilterPanelCheckboxWithOverflowMenu/_index.scss
  src/components/FilterPanel/FilterPanelCheckboxWithOverflowMenu/index.js
  src/components/FilterPanel/FilterPanelSearch/FilterPanelSearch.js
  src/components/FilterPanel/_index.scss
  src/components/FilterPanel/index.js
  src/components/UIShell/UIShell.stories.js
  src/components/__tests__/__snapshots__/publicAPI.spec.js.snap
  src/globals/utils/focus.js
  src/index.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

chore(release): 1.23.0-prerelease.2 [skip ci]
  package.json
Due: none

Notes added by 'git notes add'
  6d/564e189a0c6b13a06590a9573970ed18179e94
Due: none

fix(layouts): update class names
  src/components/Layouts/Layouts.stories.js
  src/components/Layouts/_index.scss
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

fix(layout): move debugging styles into storybook stylesheet
  src/components/Layouts/_index.scss
Due: yarn format:precommit, yarn lint:scss:precommit

fix(storybook): debugging styles
  .storybook/index.scss
Due: yarn format:precommit, yarn lint:scss:precommit

fix(layout): remove unused style import
  src/components/Layouts/_index.scss
Due: yarn format:precommit, yarn lint:scss:precommit

fix(layouts): only create classes frm vars that start with layout
  src/components/Layouts/_index.scss
Due: yarn format:precommit, yarn lint:scss:precommit

chore(layout): remove debug line
  src/components/Layouts/_index.scss
Due: yarn format:precommit, yarn lint:scss:precommit

docs(datatable): update stories
  src/components/DataTable/DataTable.stories.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

feat(datatable): remove ternary render, require render prop, update stories (#526)
  src/components/DataTable/DataTable.js
  src/components/DataTable/DataTable.stories.js
  src/components/DataTable/DataTablePagination/DataTablePagination.stories.js
  src/components/DataTable/DataTablePagination/__tests__/DataTablePagination.spec.js
  src/components/DataTable/DataTablePagination/__tests__/__snapshots__/DataTablePagination.spec.js.snap
  src/components/DataTable/__tests__/__snapshots__/DataTable.spec.js.snap
  src/components/DataTable/_mocks_/index.js
  src/components/DataTable/stories/default.js
  src/components/DataTable/stories/with-batch-actions.js
  src/components/DataTable/stories/with-expansion.js
  src/components/DataTable/stories/with-overflow-menu.js
  src/components/DataTable/stories/with-selection.js
  src/components/DataTable/stories/with-sorting.js
  src/components/DataTable/stories/with-toolbar.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

chore(release): 2.6.0 [skip ci]
  package.json
Due: none

Notes added by 'git notes add'
  12/00c0d5fa7e7eb117836c234881f5650f5ec12a
Due: none

feat(tearsheet): add ability to remove sidebar (#540)
  src/components/Tearsheet/Tearsheet.js
  src/components/Tearsheet/Tearsheet.stories.js
  src/components/Tearsheet/_mixins.scss
  src/components/__tests__/__snapshots__/publicAPI.spec.js.snap
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

chore(release): 1.23.0-prerelease.3 [skip ci]
  package.json
Due: none

Notes added by 'git notes add'
  38/22b94af07f77ff43aeb8d68f7dd78b56dfbfc2
Due: none

fix(decorator): fix typo and move style
  src/components/DataDecorator/_mixins.scss
Due: yarn format:precommit, yarn lint:scss:precommit

docs(description-module): add story and import into layout stories
  src/components/Layouts/Layouts.stories.js
  src/components/Layouts/stories/description-module.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

fix(description-module): remove paragraph element
  src/components/Layouts/stories/description-module.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

docs(layouts): update story wrapper
  src/components/Layouts/Layouts.stories.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

docs(description-module): fix typo in story name
  src/components/Layouts/Layouts.stories.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

docs(button-module): add story for button cluster module
  src/components/Layouts/Layouts.stories.js
  src/components/Layouts/stories/button-cluster-module.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

chore(release): 1.23.0 [skip ci]
  package.json
Due: none

Notes added by 'git notes add'
  21/9129a17d156f20b036407905934164b11940bb
Due: none

chore(modular-layouts): test layout
  src/components/Layouts/Overview/Overview.stories.js
  src/components/Layouts/Overview/_index.scss
  src/components/Layouts/_index.scss
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit
