Repository carbon-design-system/ibm-security: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

.lintstagedrc:

{
  '*.{js,md,scss}': ['yarn format:precommit', 'git add'],
  '*.js': ['yarn lint:js:precommit', 'git add', 'yarn test:precommit'],
  '*.scss': ['yarn lint:scss:precommit', 'git add'],
}

fix(title-bar): adjust spacing
  src/__tests__/scss/__snapshots__/SCSS.spec.js.snap
  src/components/UNSTABLE__LayoutModules/TitleBarModule/_index.scss
  src/components/UNSTABLE__LayoutModules/TitleBarModule/index.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

refactor(prefix): update Carbon prefix name
  src/__tests__/scss/__snapshots__/SCSS.spec.js.snap
  src/components/Accordion/__tests__/Accordion.spec.js
  src/components/Button/__tests__/Button.spec.js
  src/components/ComboButton/ComboButton.js
  src/components/ComboButton/__tests__/__snapshots__/ComboButton.spec.js.snap
  src/components/DataTable/DataTablePagination/__tests__/__snapshots__/DataTablePagination.spec.js.snap
  src/components/DataTable/Table.js
  src/components/Header/__tests__/__snapshots__/Header.spec.js.snap
  src/components/ICA/ICA.stories.js
  src/components/Loading/LoadingMessage/LoadingMessage.js
  src/components/Loading/LoadingMessage/__tests__/LoadingMessage.spec.js
  src/components/NonEntitledSection/NonEntitledSection.js
  src/components/Panel/__tests__/__snapshots__/Panel.spec.js.snap
  src/components/StatusIcon/__tests__/StatusIcon.spec.js
  src/components/StepIndicator/__tests__/Step.spec.js
  src/components/StepIndicator/__tests__/StepIndicator.spec.js
  src/components/SummaryCard/SummaryCardAction/__tests__/SummaryCardAction.spec.js
  src/components/SummaryCard/__tests__/SummaryCard.spec.js
  src/components/TagWall/TagWall.js
  src/components/TagWall/__tests__/__snapshots__/TagWall.spec.js.snap
  src/components/TagWallFilter/Filter/Filter.js
  src/components/TagWallFilter/Filter/__tests__/__snapshots__/Filter.spec.js.snap
  src/components/TagWallFilter/__tests__/__snapshots__/TagWallFilter.spec.js.snap
  src/globals/namespace/_index.scss
  src/globals/namespace/index.js
  src/index.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

refactor(prefix): update Carbon prefix name
  src/__tests__/scss/__snapshots__/SCSS.spec.js.snap
  src/globals/grid/_index.scss
  src/globals/namespace/_index.scss
Due: yarn format:precommit, yarn lint:scss:precommit

refactor(layout-modules): update Storybook stories
  src/components/UNSTABLE__LayoutModules/ActionBarModule/ActionBarModule.stories.js
  src/components/UNSTABLE__LayoutModules/Layout.stories.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

refactor(sass-modules): update
  src/__tests__/scss/SCSS.spec.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

Fixed issue with percentage and sizes. Total now displays on the same line. Added label font change.
  src/__tests__/scss/__snapshots__/SCSS.spec.js.snap
  src/components/ICA/ICA.js
  src/components/ICA/_index.scss
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

feat(themes): normalise themes
  README.md
  docs/themes/README.md
  src/__tests__/scss/__snapshots__/SCSS.spec.js.snap
  src/globals/feature-flags/_index.scss
  src/globals/theme/_index.scss
  src/globals/theme/_mixins.scss
  src/globals/theme/_variables.scss
Due: yarn format:precommit, yarn lint:scss:precommit

refactor(reset): remove CSS reset
  .storybook/index.scss
  src/__tests__/scss/__snapshots__/SCSS.spec.js.snap
  src/components/Breadcrumb/_index.scss
  src/components/Tile/_index.scss
  src/components/UNSTABLE__Pagination/_index.scss
  src/globals/_index.scss
  src/globals/variables/_index.scss
Due: yarn format:precommit, yarn lint:scss:precommit

refactor(description-list): fix list reset
  src/__tests__/scss/__snapshots__/SCSS.spec.js.snap
  src/components/TypeLayout/_index.scss
Due: yarn format:precommit, yarn lint:scss:precommit

refactor(description-list): fix prop type typo
  src/components/TypeLayout/TypeLayout.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

refactor(reset): remove CSS reset
  src/__tests__/scss/__snapshots__/SCSS.spec.js.snap
  src/platform/body/_mixins.scss
Due: yarn format:precommit, yarn lint:scss:precommit

refactor(themes): update JavaScript theme
  src/components/DataTable/DataTablePagination/__tests__/__snapshots__/DataTablePagination.spec.js.snap
  src/components/DataTable/__tests__/__snapshots__/DataTable.spec.js.snap
  src/components/FilterPanel/LEGACY_FilterPanel/FilterSubcategory/__tests__/__snapshots__/FilterSubcategory.spec.js.snap
  src/components/TagWallFilter/Filter/__tests__/__snapshots__/Filter.spec.js.snap
  src/components/TagWallFilter/__tests__/__snapshots__/TagWallFilter.spec.js.snap
  src/components/Tearsheet/TearsheetSmall/__tests__/__snapshots__/TearsheetSmall.spec.js.snap
  src/components/Tearsheet/__tests__/__snapshots__/Tearsheet.spec.js.snap
  src/components/__tests__/__snapshots__/publicAPI.spec.js.snap
  src/globals/theme/index.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

chore: add stripping method
  .gitignore
  scripts/styles.js
  src/__tests__/scss/__snapshots__/SCSS.spec.js.snap
  src/components/Button/_index.scss
  src/components/Button/_vendor.scss
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

build(styles): remove vendor styles
  .gitignore
  package.json
  scripts/styles.js
  src/__tests__/scss/__snapshots__/SCSS.spec.js.snap
  src/components/Accordion/_index.scss
  src/components/Accordion/_vendor.scss
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

build(styles): remove vendor styles
  src/components/Accordion/_index.scss
  src/components/Button/_index.scss
Due: yarn format:precommit, yarn lint:scss:precommit

build(settings): add settings configuration
  .storybook/index.scss
  src/__tests__/scss/__snapshots__/SCSS.spec.js.snap
  src/globals/_index.scss
  src/globals/settings/_index.scss
  src/globals/theme/_variables.scss
  src/globals/variables/_index.scss
Due: yarn format:precommit, yarn lint:scss:precommit

update gitignore to excluse yarn files
  .gitignore
Due: none

feat(micro-layouts): draft implementation
  src/components/Card/Card.stories.js
  src/components/Card/_mixins.scss
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

build(styles): remove vendor styles
  scripts/styles.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

build(styles): remove vendor styles
  src/__tests__/scss/__snapshots__/SCSS.spec.js.snap
  src/components/Accordion/_index.scss
  src/components/Accordion/_vendor.scss
  src/components/Button/_index.scss
  src/components/Button/_vendor.scss
Due: yarn format:precommit, yarn lint:scss:precommit

build(semver): update versions
  .yarn/offline-mirror/@carbon-grid-10.18.0.tgz
  .yarn/offline-mirror/@carbon-motion-10.11.0.tgz
  .yarn/offline-mirror/@carbon-themes-10.25.0.tgz
  .yarn/offline-mirror/carbon-components-10.26.0.tgz
  .yarn/offline-mirror/carbon-components-react-7.26.0.tgz
  package.json
Due: none

build(settings): refine settings configuration
  src/__tests__/scss/__snapshots__/SCSS.spec.js.snap
  src/globals/settings/_index.scss
  src/platform/body/_index.scss
  src/platform/body/_mixins.scss
Due: yarn format:precommit, yarn lint:scss:precommit

build(settings): refine settings configuration
  .storybook/index.scss
  src/__tests__/scss/__snapshots__/SCSS.spec.js.snap
  src/globals/feature-flags/_index.scss
  src/globals/settings/_index.scss
  src/globals/type/_index.scss
Due: yarn format:precommit, yarn lint:scss:precommit

chore: revert commit
  src/__tests__/scss/__snapshots__/SCSS.spec.js.snap
  src/components/ComboButton/__tests__/__snapshots__/ComboButton.spec.js.snap
  src/components/DataTable/DataTablePagination/__tests__/__snapshots__/DataTablePagination.spec.js.snap
  src/components/Header/__tests__/__snapshots__/Header.spec.js.snap
  src/components/Panel/__tests__/__snapshots__/Panel.spec.js.snap
  src/components/TagWall/__tests__/__snapshots__/TagWall.spec.js.snap
  src/components/TagWallFilter/Filter/__tests__/__snapshots__/Filter.spec.js.snap
  src/components/TagWallFilter/__tests__/__snapshots__/TagWallFilter.spec.js.snap
  src/globals/grid/_index.scss
  src/globals/namespace/_index.scss
  src/globals/namespace/index.js
  src/index.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

chore: revert commit
  src/components/DataDecorator/Decorator/Decorator.stories.js
  src/components/ExternalLink/ExternalLink.stories.js
  src/components/Pill/Pill.stories.js
  src/components/SummaryCard/SummaryCard.stories.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

removed space
  src/components/ICA/ICA.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

chore: migration updates
  .storybook/index.scss
  scripts/styles.js
  src/__tests__/scss/__snapshots__/SCSS.spec.js.snap
  src/components/OverflowMenu/_index.scss
  src/globals/_index.scss
  src/globals/build/index.scss
  src/globals/feature-flags/_index.scss
  src/globals/settings/_index.scss
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

refactor(reset): remove CSS output
  scripts/styles.js
  src/__tests__/scss/__snapshots__/SCSS.spec.js.snap
  src/components/OverflowMenu/_index.scss
  src/globals/_index.scss
  src/globals/build/index.scss
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

refactor(reset): remove CSS output
  .storybook/index.scss
  src/globals/build/index.scss
  src/globals/settings/_index.scss
Due: yarn format:precommit, yarn lint:scss:precommit

refactor(reset): remove CSS output
  src/__tests__/scss/__snapshots__/SCSS.spec.js.snap
  src/globals/_index.scss
Due: yarn format:precommit, yarn lint:scss:precommit

test(scss): remove CSS output from test
  package.json
  scripts/styles.js
  src/__tests__/scss/SCSS.spec.js
  src/__tests__/scss/__snapshots__/SCSS.spec.js.snap
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

refactor(sass): add `sass` package
  .yarn/offline-mirror/fast-sass-loader-1.5.0.tgz
  .yarn/offline-mirror/fast-sass-loader-2.0.0.tgz
  package.json
  yarn.lock
Due: none

feat(card-microlayout): implement CardMicrolayout component
  .storybook/components/MicroLayout/index.scss
  .storybook/index.scss
  package.json
  src/components/Card/Card.stories.js
  src/components/Card/_mixins.scss
  src/components/Microlayout/CardMicrolayout/CardMicrolayout.stories.js
  src/components/Microlayout/CardMicrolayout/_index.scss
  src/components/Microlayout/CardMicrolayout/_mocks_/index.js
  src/components/Microlayout/CardMicrolayout/index.js
  src/components/Microlayout/Microlayout.js
  src/components/Microlayout/Microlayout.stories.js
  src/components/Microlayout/_index.scss
  src/components/Microlayout/index.js
  src/components/_index.scss
  src/index.js
  yarn.lock
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

fix(card-microlayout): remove leftover test comments
  .storybook/components/MicroLayout/index.scss
Due: yarn format:precommit, yarn lint:scss:precommit

fix(card-microlayout): case for folder import
  .storybook/components/Microlayout/index.scss
Due: yarn format:precommit, yarn lint:scss:precommit
