Repository carbon-design-system/ibm-security: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

.lintstagedrc:

{
  '*.{js,md,scss}': ['yarn format:precommit', 'git add'],
  '*.js': ['yarn lint:js:precommit', 'git add', 'yarn test:precommit'],
  '*.scss': ['yarn lint:scss:precommit', 'git add'],
}

test(api): restore import placement, update snapshot
  src/components/__tests__/__snapshots__/publicAPI.spec.js.snap
  src/components/__tests__/publicAPI.spec.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

test(api): add snapshot test for public API interface (#429)
  .yarn/offline-mirror/react-is-16.13.0.tgz
  package.json
  src/components/DataTable/DataTable.js
  src/components/DataTable/__tests__/DataTable.spec.js
  src/components/__tests__/__snapshots__/publicAPI.spec.js.snap
  src/components/__tests__/publicAPI.spec.js
  yarn.lock
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

fix(status-icon): add a11y tests, update test structure, remove old snapshots (#387)
  src/components/StatusIcon/StatusIcon.js
  src/components/StatusIcon/__tests__/StatusIcon.spec.js
  src/components/StatusIcon/__tests__/__snapshots__/StatusIcon.spec.js.snap
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

chore(release): 1.19.0-prerelease.2 [skip ci]
  package.json
Due: none

Notes added by 'git notes add'
  8c7ef7279e411aaa6516083377f13b1888b60e64
Due: none

test(public-api): sort components to ignore order
  package.json
  src/components/__tests__/__snapshots__/publicAPI.spec.js.snap
  src/components/__tests__/publicAPI.spec.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

test(public-api): sort components to ignore order (#448)
  package.json
  src/components/__tests__/__snapshots__/publicAPI.spec.js.snap
  src/components/__tests__/publicAPI.spec.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

test(public-api): update snapshot
  src/components/__tests__/__snapshots__/publicAPI.spec.js.snap
Due: none

feat(exports): export `ListBox`, reformat entry point (#438)
  src/components/ListBox/index.js
  src/components/TagWallFilter/Filter/Filter.js
  src/components/__tests__/__snapshots__/publicAPI.spec.js.snap
  src/index.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

chore(release): 1.19.0-prerelease.3 [skip ci]
  package.json
Due: none

Notes added by 'git notes add'
  01cebb382d49c80fcd137eae354d473c78b3c175
Due: none

test(status-indicator): update indicator and step tests
  src/components/StatusIndicator/StatusStep/__tests__/StatusStep.spec.js
  src/components/StatusIndicator/__tests__/StatusIndicator.spec.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

test(api): update public api interface snapshot
  src/components/__tests__/__snapshots__/publicAPI.spec.js.snap
Due: none

fix(status-indicator): add a11y tests, update testing structure, apply minor fixes (#388)
  src/components/StatusIndicator/StatusIndicator.js
  src/components/StatusIndicator/StatusStep/StatusStep.js
  src/components/StatusIndicator/StatusStep/__tests__/StatusStep.spec.js
  src/components/StatusIndicator/__tests__/StatusIndicator.spec.js
  src/components/StatusIndicator/__tests__/__snapshots__/StatusIndicator.spec.js.snap
  src/components/__tests__/__snapshots__/publicAPI.spec.js.snap
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

chore(release): 1.19.0-prerelease.4 [skip ci]
  package.json
Due: none

Notes added by 'git notes add'
  7d8edb3843531aa6886cafd500556774909f63b1
Due: none

feat(carbon): mark carbon core pkgs as peer dependencies
  package.json
Due: none

chore(lint): update browserslist and remove compat comment
  package.json
  src/components/StatusIndicator/StatusStep/__tests__/StatusStep.spec.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

test(accordion): remove unused imported prefix
  src/components/Accordion/__tests__/Accordion.spec.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

feat(carbon): mark carbon core pkgs as peer dependencies (#450)
  package.json
Due: none

chore(release): 2.5.0 [skip ci]
  package.json
Due: none

Notes added by 'git notes add'
  efa9a4c8d667873b24873e2091568e310807a651
Due: none

chore(release): 1.19.0 [skip ci]
  package.json
Due: none

Notes added by 'git notes add'
  9ed5cd2e0fd59ff91318a7b81edbb29712602ec1
Due: none

chore(lint): update browserslist and remove compat comment (#451)
  package.json
  src/components/StatusIndicator/StatusStep/__tests__/StatusStep.spec.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

docs(contributing): update headings
  .github/CONTRIBUTING.md
Due: yarn format:precommit

docs(contributing): update heading number
  .github/CONTRIBUTING.md
Due: yarn format:precommit

docs(contributing): update list numbering
  .github/CONTRIBUTING.md
Due: yarn format:precommit

docs(contributing): remove extra new lines
  .github/CONTRIBUTING.md
Due: yarn format:precommit

test(accordion): remove unused imported prefix (#452)
  src/components/Accordion/__tests__/Accordion.spec.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

fix(scroll-gradient): apply gradient styles to direct children only
  src/components/ScrollGradient/ScrollGradient.stories.js
  src/components/ScrollGradient/_index.scss
  src/components/TypeLayout/TypeLayout.stories.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

fix(scroll-gradient): apply scroll state styles to direct children only
  src/components/ScrollGradient/ScrollGradient.stories.js
  src/components/ScrollGradient/_index.scss
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

chore(type-layout): remove unrelated change in story
  src/components/TypeLayout/TypeLayout.stories.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

fix(scroll-gradient): apply scroll state styles to direct children only (#454)
  src/components/ScrollGradient/ScrollGradient.stories.js
  src/components/ScrollGradient/_index.scss
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

chore(release): 1.19.0-prerelease.5 [skip ci]
  package.json
Due: none

Notes added by 'git notes add'
  02f9e521edd978e6f0c9e660905d56ef3a62de9e
Due: none

test(step-indicator): update tests, add tests for step
  src/components/StepIndicator/StepIndicator.js
  src/components/StepIndicator/__tests__/Step.spec.js
  src/components/StepIndicator/__tests__/StepIndicator.spec.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

test(step-indicator): remove redundant test
  src/components/StepIndicator/__tests__/StepIndicator.spec.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

chore: remove old yarn lock files from release candidate
  .yarn/offline-mirror/@carbon-grid-10.9.0-rc.0.tgz
  .yarn/offline-mirror/@carbon-icon-helpers-10.6.0-rc.0.tgz
  .yarn/offline-mirror/@carbon-icons-react-10.9.0-rc.0.tgz
  .yarn/offline-mirror/@carbon-layout-10.8.0-rc.0.tgz
  .yarn/offline-mirror/@carbon-motion-10.6.0-rc.0.tgz
  .yarn/offline-mirror/@carbon-themes-10.10.0-rc.0.tgz
  .yarn/offline-mirror/@carbon-type-10.9.0-rc.0.tgz
  .yarn/offline-mirror/carbon-components-10.10.0-rc.0.tgz
  .yarn/offline-mirror/carbon-components-react-7.10.0-rc.0.tgz
  yarn.lock
Due: none
