Repository carbon-design-system/ibm-security: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

fix(tearsheet): add responsive for small variants (#587)
  src/__tests__/scss/__snapshots__/SCSS.spec.js.snap
  src/components/Tearsheet/TearsheetSmall/_mixins.scss
  src/components/Tearsheet/_mixins.scss
Due: yarn format:precommit, yarn lint:scss:precommit

chore(release): 1.26.0-prerelease.8 [skip ci]
  package.json
Due: none

Notes added by 'git notes add'
  e6/92c2d68712584707fb47cad9a64e0b07f1555b
Due: none

chore(storybook): generate stories
  .storybook/config.js
  .storybook/webpack.js
  report.20200610.133149.84978.0.001.json
  report.20200611.182351.12796.0.001.json
  scripts/stories/index.js
  scripts/stories/templates/index.hbs
  src/components/TextArea/TextArea.stories.js
  src/components/stories/ComposedModal.stories.js
  src/components/stories/DataTableSkeleton.stories.js
  src/components/stories/ErrorBoundary.stories.js
  src/components/stories/FluidForm.stories.js
  src/components/stories/Form.stories.js
  src/components/stories/FormLabel.stories.js
  src/components/stories/SkeletonPlaceholder.stories.js
  src/components/stories/Textarea.stories.js
  src/components/stories/TooltipDefinition.stories.js
  src/components/stories/TooltipIcon.stories.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

docs(data-table): update URL
  src/components/DataTable/DataTable.stories.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

chore(storybook): generate stories
  .storybook/webpack.js
  .yarn/offline-mirror/@types-json-schema-7.0.5.tgz
  .yarn/offline-mirror/ajv-6.12.2.tgz
  .yarn/offline-mirror/emojis-list-3.0.0.tgz
  .yarn/offline-mirror/fast-deep-equal-3.1.3.tgz
  .yarn/offline-mirror/file-loader-6.0.0.tgz
  .yarn/offline-mirror/json5-2.1.3.tgz
  .yarn/offline-mirror/loader-utils-2.0.0.tgz
  .yarn/offline-mirror/schema-utils-2.7.0.tgz
  package.json
  scripts/stories/index.js
  scripts/stories/templates/index.hbs
  src/components/stories/ComposedModal.stories.js
  src/components/stories/DataTableSkeleton.stories.js
  src/components/stories/ErrorBoundary.stories.js
  src/components/stories/FluidForm.stories.js
  src/components/stories/Form.stories.js
  src/components/stories/FormLabel.stories.js
  src/components/stories/SkeletonPlaceholder.stories.js
  src/components/stories/Textarea.stories.js
  src/components/stories/TooltipDefinition.stories.js
  src/components/stories/TooltipIcon.stories.js
  src/globals/grid/css-gridish/README.md
  src/globals/grid/css-gridish/scss/_core.scss
  src/globals/grid/css-gridish/scss/_functions.scss
  src/globals/grid/css-gridish/scss/_mixins.scss
  src/globals/grid/css-gridish/scss/_sass-list-maps.scss
  src/globals/grid/css-gridish/scss/_utilities.scss
  src/globals/grid/css-gridish/scss/_values.scss
  src/globals/grid/css-gridish/scss/_variables.scss
  src/globals/grid/css-gridish/scss/bx-grid-legacy.scss
  src/globals/grid/css-gridish/scss/bx-grid.scss
  yarn.lock
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

chore(storybook): generate stories
  scripts/stories/index.js
  src/globals/grid/css-gridish/README.md
  src/globals/grid/css-gridish/scss/_core.scss
  src/globals/grid/css-gridish/scss/_functions.scss
  src/globals/grid/css-gridish/scss/_mixins.scss
  src/globals/grid/css-gridish/scss/_sass-list-maps.scss
  src/globals/grid/css-gridish/scss/_utilities.scss
  src/globals/grid/css-gridish/scss/_values.scss
  src/globals/grid/css-gridish/scss/_variables.scss
  src/globals/grid/css-gridish/scss/bx-grid-legacy.scss
  src/globals/grid/css-gridish/scss/bx-grid.scss
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

chore(storybook): generate stories
  package.json
  scripts/stories/templates/index.hbs
Due: none

docs(layout): add `Shell` to examples
  src/__tests__/scss/__snapshots__/SCSS.spec.js.snap
  src/components/UNSTABLE__Layout/Layout.stories.js
  src/components/UNSTABLE__Layout/LayoutModules/DescriptionModule/_index.scss
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

docs(data-table): update URL (#614)
  src/components/DataTable/DataTable.stories.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

chore(release): 1.26.0 [skip ci]
  package.json
Due: none

Notes added by 'git notes add'
  52/47db1c9b480aed1d7ddf10e7d831fcb4961596
Due: none

chore: Set Node.js version to 12 in .nvmrc
  .nvmrc
Due: none

fix(ica-module): fix spacing
  src/__tests__/scss/__snapshots__/SCSS.spec.js.snap
  src/components/UNSTABLE__Layout/Layout.stories.js
  src/components/UNSTABLE__Layout/LayoutModules/ICAModule/_index.scss
  src/components/UNSTABLE__Layout/LayoutModules/ICAModule/index.js
  src/components/UNSTABLE__Layout/LayoutModules/LayoutModules.stories.js
  src/components/UNSTABLE__Layout/LayoutModules/index.js
  src/components/__tests__/__snapshots__/publicAPI.spec.js.snap
  src/index.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

fix(ica-module): fix spacing
  src/__tests__/scss/__snapshots__/SCSS.spec.js.snap
  src/components/UNSTABLE__Layout/LayoutModules/ICAModule/_index.scss
  src/components/UNSTABLE__Layout/LayoutModules/ICAModule/index.js
  src/components/UNSTABLE__Layout/LayoutModules/LayoutModule.js
  src/components/UNSTABLE__Layout/LayoutModules/LayoutModules.stories.js
  src/components/__tests__/__snapshots__/publicAPI.spec.js.snap
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

chore(storybook): update template
  scripts/stories/index.js
  scripts/stories/templates/index.hbs
  src/components/stories/ComposedModal.stories.js
  src/components/stories/DataTableSkeleton.stories.js
  src/components/stories/ErrorBoundary.stories.js
  src/components/stories/FluidForm.stories.js
  src/components/stories/Form.stories.js
  src/components/stories/FormLabel.stories.js
  src/components/stories/SkeletonPlaceholder.stories.js
  src/components/stories/Textarea.stories.js
  src/components/stories/TooltipDefinition.stories.js
  src/components/stories/TooltipIcon.stories.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

docs(icon-button-bar): include example with box-shadow between icons
  src/components/IconButtonBar/IconButtonBar.stories.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

fix(wizard): update prop destructuring and prevent title attr leaking
  src/components/Wizard/Wizard.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

chore: remove unnecessary title
  src/components/Wizard/Wizard.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

chore(release): 1.27.0-experimental.1 [skip ci]
  package.json
Due: none

Notes added by 'git notes add'
  bd/6f6af5b29dca21879de3a5ad8ed3af969b75a1
Due: none

chore(node): upgrade version
  .nvmrc
  .yarn/offline-mirror/@types-react-16.9.36.tgz
  .yarn/offline-mirror/@types-react-16.9.37.tgz
  .yarn/offline-mirror/@types-tapable-1.0.5.tgz
  .yarn/offline-mirror/@types-tapable-1.0.6.tgz
  .yarn/offline-mirror/electron-to-chromium-1.3.474.tgz
  .yarn/offline-mirror/electron-to-chromium-1.3.475.tgz
  .yarn/offline-mirror/eslint-import-resolver-node-0.3.3.tgz
  .yarn/offline-mirror/eslint-import-resolver-node-0.3.4.tgz
  .yarn/offline-mirror/nearley-2.19.3.tgz
  .yarn/offline-mirror/nearley-2.19.4.tgz
  yarn.lock
Due: none

chore: test SCSS
  .storybook/index.scss
Due: yarn format:precommit, yarn lint:scss:precommit

fix: fix `DataTable` import
  .storybook/index.scss
  src/components/DataTable/DataTable.stories.js
  src/index.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

fix(wizard): update prop destructuring and prevent title attr leaking (#620)
  src/components/Wizard/Wizard.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

chore(release): 1.26.1-prerelease.1 [skip ci]
  package.json
Due: none

Notes added by 'git notes add'
  28/d3f589fad0b01483be4f4d5318dfa2150619de
Due: none

chore: revert Node version
  .nvmrc
  .yarn/offline-mirror/lodash._baseindexof-3.1.0.tgz
  .yarn/offline-mirror/lodash._bindcallback-3.0.1.tgz
  .yarn/offline-mirror/lodash._cacheindexof-3.0.2.tgz
  .yarn/offline-mirror/lodash._createcache-3.1.2.tgz
  .yarn/offline-mirror/lodash._getnative-3.9.1.tgz
  .yarn/offline-mirror/lodash.restparam-3.6.1.tgz
  yarn.lock
Due: none

docs(migration): fix broken links
  src/components/DataDecorator/migration/carbon-for-ibm-security.md
  src/components/Panel/migration/carbon-for-ibm-security.md
  src/components/Tag/migration/carbon-for-ibm-security.md
Due: yarn format:precommit

build(stories): handle feedback messaging
  package.json
  scripts/stories/index.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

build(stories): handle feedback messaging
  src/components/TextArea/TextArea.stories.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

chore(release): 1.26.1-prerelease.2 [skip ci]
  package.json
Due: none

Path conditions:
  yarn format:precommit: any of: *.{js,md,scss}
  yarn lint:js:precommit: any of: *.js
  yarn test:precommit: any of: *.js
  yarn lint:scss:precommit: any of: *.scss
