Repository carbon-design-system/ibm-security: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

docs(feature-flags): add documentation on feature flags (#180)
  README.md
  docs/migration/2.x-grid.md
  docs/migration/2.x-type.md
  src/globals/deprecate/_index.scss
  src/globals/grid/_index.scss
Due: yarn format:precommit, yarn lint:scss:precommit

chore(cool-gray): add `cool gray 10 hover`
  docs/themes/themes.md
Due: yarn format:precommit

feat(tooltip-definition): proxy component, replace usage in HeaderNotification & StringFormatter (#156)
  .yarn/offline-mirror/react-truncate-2.4.0.tgz
  package.json
  src/components/Header/Header.js
  src/components/Header/HeaderNotification/HeaderNotification.js
  src/components/Header/HeaderNotification/__tests__/__snapshots__/HeaderNotification.spec.js.snap
  src/components/Header/HeaderNotification/_index.scss
  src/components/Header/HeaderNotification/_mixins.scss
  src/components/Header/_mixins.scss
  src/components/StringFormatter/StringFormatter.js
  src/components/StringFormatter/__tests__/StringFormatter.spec.js
  src/components/StringFormatter/__tests__/__snapshots__/StringFormatter.spec.js.snap
  src/components/TooltipDefinition/_index.scss
  src/components/TooltipDefinition/index.js
  src/index.js
  yarn.lock
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

chore(release): 1.6.2-prerelease.3 [skip ci]
  package.json
Due: none

chore(release): 1.6.2-prerelease.4 [skip ci]
  package.json
Due: none

docs(pill): adjust template string in story source
  src/components/Pill/Pill.stories.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

fix(summary-card): add div for opacity behind expanded footer overlay
  src/components/SummaryCard/SummaryCardAction/SummaryCardAction.js
  src/components/SummaryCard/_mixins.scss
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

fix(summary-card): update stories, add overflow to content
  src/components/SummaryCard/SummaryCard.stories.js
  src/components/SummaryCard/_mixins.scss
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

docs(pill): adjust template string in story source (#183)
  src/components/Pill/Pill.stories.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

fix(themes): update color overrides
  docs/themes/themes.md
  src/globals/color/_index.scss
  src/globals/theme/_mixins.scss
  src/globals/theme/_variables.scss
Due: yarn format:precommit, yarn lint:scss:precommit

fix(themes): update color overrides
  docs/themes/themes.md
  scripts/themes/index.js
  scripts/themes/templates/index.hbs
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

feat(modular-styles): modularise components
  .storybook/components/Container/index.js
  src/components/Loading/_index.scss
  src/components/SkeletonText/_index.scss
  src/components/SkeletonText/_mixins.scss
  src/components/StackedNotification/_index.scss
  src/components/StackedNotification/_mixins.scss
  src/components/StatusIcon/_index.scss
  src/components/StatusIcon/_mixins.scss
  src/components/StatusIndicator/_index.scss
  src/components/StatusIndicator/_mixins.scss
  src/components/StepIndicator/_index.scss
  src/components/StepIndicator/_mixins.scss
  src/components/StringFormatter/_index.scss
  src/components/Tooltip/_index.scss
  src/components/TooltipDefinition/_index.scss
  src/components/TypeLayout/_index.scss
  src/components/Wizard/_index.scss
  src/components/Wizard/_mixins.scss
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

fix(styles): add prefix import
  src/components/Loading/_index.scss
  src/components/SkeletonText/_index.scss
Due: yarn format:precommit, yarn lint:scss:precommit

feat(button): add loading state (#154)
  src/components/Button/Button.js
  src/components/Button/Button.stories.js
  src/components/Button/_mixins.scss
  src/components/ComboButton/__tests__/__snapshots__/ComboButton.spec.js.snap
  src/components/FilterPanel/FilterSubcategory/__tests__/__snapshots__/FilterSubcategory.spec.js.snap
  src/components/Header/__tests__/__snapshots__/Header.spec.js.snap
  src/components/Panel/__tests__/__snapshots__/Panel.spec.js.snap
  src/components/PanelV2/__tests__/__snapshots__/PanelV2.spec.js.snap
  src/components/SearchBar/__tests__/__snapshots__/SearchBar.spec.js.snap
  src/components/StatusIndicator/__tests__/__snapshots__/StatusIndicator.spec.js.snap
  src/components/TagWall/__tests__/__snapshots__/TagWall.spec.js.snap
  src/components/TagWallFilter/__tests__/__snapshots__/TagWallFilter.spec.js.snap
  src/components/Tearsheet/TearsheetSmall/__tests__/__snapshots__/TearsheetSmall.spec.js.snap
  src/components/Tearsheet/__tests__/__snapshots__/Tearsheet.spec.js.snap
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

chore(release): 1.6.2-prerelease.5 [skip ci]
  package.json
Due: none

feat(modular-styles): modularise components (#185)
  .storybook/components/Container/index.js
  src/components/Loading/_index.scss
  src/components/SkeletonText/_index.scss
  src/components/SkeletonText/_mixins.scss
  src/components/StackedNotification/_index.scss
  src/components/StackedNotification/_mixins.scss
  src/components/StatusIcon/_index.scss
  src/components/StatusIcon/_mixins.scss
  src/components/StatusIndicator/_index.scss
  src/components/StatusIndicator/_mixins.scss
  src/components/StepIndicator/_index.scss
  src/components/StepIndicator/_mixins.scss
  src/components/StringFormatter/_index.scss
  src/components/Tooltip/_index.scss
  src/components/TooltipDefinition/_index.scss
  src/components/TypeLayout/_index.scss
  src/components/Wizard/_index.scss
  src/components/Wizard/_mixins.scss
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

chore(upgrade): revert themes, upgrade Carbon
  .storybook/index.scss
  .storybook/themes/_index.scss
  .storybook/themes/index.js
  .yarn/offline-mirror/@carbon-colors-10.4.1.tgz
  .yarn/offline-mirror/@carbon-colors-10.5.0.tgz
  .yarn/offline-mirror/@carbon-themes-10.6.1.tgz
  .yarn/offline-mirror/@carbon-themes-10.7.0.tgz
  .yarn/offline-mirror/@carbon-type-10.5.1.tgz
  .yarn/offline-mirror/@carbon-type-10.6.0.tgz
  .yarn/offline-mirror/carbon-components-10.6.4.tgz
  .yarn/offline-mirror/carbon-components-10.7.3.tgz
  .yarn/offline-mirror/carbon-components-react-7.6.4.tgz
  .yarn/offline-mirror/carbon-components-react-7.7.3.tgz
  package.json
  src/components/DataTable/DataTablePagination/__tests__/__snapshots__/DataTablePagination.spec.js.snap
  src/components/DataTable/__tests__/__snapshots__/DataTable.spec.js.snap
  src/components/FilterPanel/FilterSubcategory/__tests__/__snapshots__/FilterSubcategory.spec.js.snap
  src/components/StepIndicator/__tests__/__snapshots__/StepIndicator.spec.js.snap
  src/components/TagWallFilter/Filter/__tests__/__snapshots__/Filter.spec.js.snap
  src/components/TagWallFilter/__tests__/__snapshots__/TagWallFilter.spec.js.snap
  src/components/Tearsheet/TearsheetSmall/__tests__/__snapshots__/TearsheetSmall.spec.js.snap
  src/components/Tearsheet/__tests__/__snapshots__/Tearsheet.spec.js.snap
  yarn.lock
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

fix(filter-panel): fix height calculation
  src/components/FilterPanel/FilterSubcategory/FilterSubcategory.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

fix(summary-card): update story and scroll gradient usage, update flex rules for adjustable body
  src/components/SummaryCard/SummaryCard.stories.js
  src/components/SummaryCard/SummaryCardAction/SummaryCardAction.js
  src/components/SummaryCard/SummaryCardBody/SummaryCardBody.js
  src/components/SummaryCard/_mixins.scss
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

feat(accordion): wrap carbon accordion and add new prop
  src/components/Accordion/Accordion.js
  src/components/Accordion/Accordion.stories.js
  src/components/Accordion/index.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

fix(icons-react): enforce version
  .yarn/offline-mirror/@carbon-icons-react-10.6.1.tgz
  package.json
  src/components/FilterPanel/FilterSubcategory/FilterSubcategory.js
  yarn.lock
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

fix(icons-react): install offline
  .yarn/offline-mirror/@babel-runtime-7.6.0.tgz
  .yarn/offline-mirror/@carbon-icons-react-10.6.0.tgz
  .yarn/offline-mirror/@carbon-icons-react-10.6.1.tgz
  .yarn/offline-mirror/@types-history-4.7.3.tgz
  .yarn/offline-mirror/cliui-5.0.0.tgz
  .yarn/offline-mirror/get-caller-file-2.0.5.tgz
  .yarn/offline-mirror/is-text-path-2.0.0.tgz
  .yarn/offline-mirror/text-extensions-2.0.0.tgz
  .yarn/offline-mirror/yargs-parser-13.1.1.tgz
  package.json
  yarn.lock
Due: none

fix(tearsheet): update loading token
  src/components/Tearsheet/Tearsheet.js
  src/components/Tearsheet/_mixins.scss
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

fix(search-bar): remove styles overriding focus state
  src/components/SearchBar/_mixins.scss
Due: yarn format:precommit, yarn lint:scss:precommit

fix(search-bar): remove styles overriding focus state (#194)
  src/components/SearchBar/_mixins.scss
Due: yarn format:precommit, yarn lint:scss:precommit

chore(release): 1.6.2-prerelease.6 [skip ci]
  package.json
Due: none

fix(accordion): force Storybook width
  .yarn/offline-mirror/lodash._baseindexof-3.1.0.tgz
  .yarn/offline-mirror/lodash._bindcallback-3.0.1.tgz
  .yarn/offline-mirror/lodash._cacheindexof-3.0.2.tgz
  .yarn/offline-mirror/lodash._createcache-3.1.2.tgz
  src/components/Accordion/Accordion.stories.js
  yarn.lock
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

fix(accordion): force Storybook width
  .yarn/offline-mirror/autoprefixer-9.7.0.tgz
  .yarn/offline-mirror/autoprefixer-9.7.1.tgz
  .yarn/offline-mirror/core-js-3.3.5.tgz
  .yarn/offline-mirror/core-js-3.3.6.tgz
  .yarn/offline-mirror/core-js-compat-3.3.5.tgz
  .yarn/offline-mirror/core-js-compat-3.3.6.tgz
  .yarn/offline-mirror/core-js-pure-3.3.5.tgz
  .yarn/offline-mirror/core-js-pure-3.3.6.tgz
  .yarn/offline-mirror/electron-to-chromium-1.3.296.tgz
  .yarn/offline-mirror/electron-to-chromium-1.3.298.tgz
  .yarn/offline-mirror/lodash._baseindexof-3.1.0.tgz
  .yarn/offline-mirror/lodash._bindcallback-3.0.1.tgz
  .yarn/offline-mirror/lodash._cacheindexof-3.0.2.tgz
  .yarn/offline-mirror/lodash._createcache-3.1.2.tgz
  .yarn/offline-mirror/uglify-js-3.6.5.tgz
  .yarn/offline-mirror/uglify-js-3.6.6.tgz
  yarn.lock
Due: none

chore(string-formatter): override and refactor `TooltipDefinition` styles
  src/components/Header/HeaderNotification/_mixins.scss
  src/components/StringFormatter/StringFormatter.js
  src/components/StringFormatter/_index.scss
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

feat(storybook): add proxy proof-of-concept
  .storybook/index.js
  src/components/Accordion/Accordion.stories.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

chore(accordion): reorder story imports
  src/components/Accordion/Accordion.stories.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

fix(string-formatter): enforce inherited type style
  src/components/StringFormatter/StringFormatter.stories.js
  src/components/StringFormatter/_index.scss
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

chore(release): 1.6.2-prerelease.7 [skip ci]
  package.json
Due: none

fix(accordion): update alignment prop, update styles and story
  src/components/Accordion/Accordion.js
  src/components/Accordion/Accordion.stories.js
  src/components/Accordion/_index.scss
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

Path conditions:
  yarn format:precommit: any of: *.{js,md,scss}
  yarn lint:js:precommit: any of: *.js
  yarn test:precommit: any of: *.js
  yarn lint:scss:precommit: any of: *.scss
