Repository carbon-design-system/ibm-security: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn precommit:format, yarn precommit:lint:js, yarn precommit:lint:scss

chore(ica): clean up warning class condition and fix test warning
  src/components/ICA/ICA.js
  src/components/ICA/__tests__/ICA-test.js
Due: yarn precommit:format, yarn precommit:lint:js

chore(ica): fix one more test warning
  src/components/ICA/__tests__/ICA-test.js
Due: yarn precommit:format, yarn precommit:lint:js

refactor(truncated-list): simplified class component (#1075)
  src/components/TruncatedList/TruncatedList.js
Due: yarn precommit:format, yarn precommit:lint:js

build: add lint:js (#1072)
  .circleci/config.yml
Due: none

chore(stylelint): fix `Filter`, `TruncatedList` warnings
  src/__tests__/scss/__snapshots__/styles-test.js.snap
  src/components/ScrollGradient/_index.scss
  src/components/TagWallFilter/Filter/_mixins.scss
  src/components/TruncatedList/TruncatedList.js
  src/components/TruncatedList/_index.scss
Due: yarn precommit:format, yarn precommit:lint:js, yarn precommit:lint:scss

chore: merge `dev` into `remove-carbon-overrides`
  src/components/TruncatedList/TruncatedList.js
Due: yarn precommit:format, yarn precommit:lint:js

chore(stylelint): fix `Filter`, `TruncatedList` warnings (#1087)
  src/__tests__/scss/__snapshots__/styles-test.js.snap
  src/components/ScrollGradient/_index.scss
  src/components/TagWallFilter/Filter/_mixins.scss
  src/components/TruncatedList/_index.scss
Due: yarn precommit:lint:scss

chore(release): 1.45.0 [skip ci]
  package.json
Due: none

Notes added by 'git notes add'
  79/127d96473dd77af3e8a87e667b06597470d4e5
Due: none

fix(nav-item-link): remove fixed height to prevent issues with multi-line text (#1085)
  src/__tests__/scss/__snapshots__/styles-test.js.snap
  src/components/Nav/Nav-story.js
  src/components/Nav/_mixins.scss
Due: yarn precommit:format, yarn precommit:lint:js, yarn precommit:lint:scss

chore(release): 1.45.0-prerelease.3 [skip ci]
  package.json
Due: none

Notes added by 'git notes add'
  29/f650eaf1f025d8e67df5c70b0d78b47f44f0c9
Due: none

chore(stylelint): fix various `Nav`, `Panel`, `SearchBar`, `Shell` and `TearsheetSmall` warnings
  src/__tests__/scss/__snapshots__/styles-test.js.snap
  src/components/Nav/_mixins.scss
  src/components/Panel/_mixins.scss
  src/components/PanelV2/_mixins.scss
  src/components/SearchBar/_index.scss
  src/components/Shell/_mixins.scss
  src/components/Tearsheet/TearsheetSmall/_mixins.scss
Due: yarn precommit:lint:scss

chore(stylelint): fix various `Nav`, `Panel`, `SearchBar`, `Shell` and `TearsheetSmall` warnings (#1088)
  src/__tests__/scss/__snapshots__/styles-test.js.snap
  src/components/Nav/_mixins.scss
  src/components/Panel/_mixins.scss
  src/components/PanelV2/_mixins.scss
  src/components/SearchBar/_index.scss
  src/components/Shell/_mixins.scss
  src/components/Tearsheet/TearsheetSmall/_mixins.scss
Due: yarn precommit:lint:scss

fix(toolbar): vertical icon alignment for multi-line labels
  src/components/Nav/_mixins.scss
  src/components/Toolbar/Toolbar.js
  src/components/Toolbar/_mixins.scss
Due: yarn precommit:format, yarn precommit:lint:js, yarn precommit:lint:scss

use component namespace function
  src/components/Toolbar/_mixins.scss
Due: yarn precommit:lint:scss

build(filter-panel): add style dependency
  src/components/FilterPanel/FilterPanelCheckboxWithOverflowMenu/_index.scss
Due: yarn precommit:lint:scss

refactor: remove Carbon style overrides (#998)
  src/__tests__/scss/__snapshots__/styles-test.js.snap
  src/components/Accordion/_index.scss
  src/components/Breadcrumb/_index.scss
  src/components/ComboBox/_index.scss
  src/components/DatePicker/_index.scss
  src/components/FileUploader/_index.scss
  src/components/FilterPanel/FilterPanelCheckboxWithOverflowMenu/_index.scss
  src/components/MultiSelect/_index.scss
  src/components/Search/_index.scss
  src/components/Select/_index.scss
  src/components/SkeletonText/_index.scss
Due: yarn precommit:lint:scss

chore(stylelint): upgrade dependencies
  package.json
  yarn.lock
Due: none

chore(deps): regenerate `yarn.lock`
  .yarn/offline-mirror/make-fetch-happen-8.0.14.tgz
  .yarn/offline-mirror/node-gyp-8.2.0.tgz
  .yarn/offline-mirror/socks-proxy-agent-5.0.1.tgz
  yarn.lock
Due: none

docs(storybook): add compatibility for story ID
  .storybook/index.js
  src/components/LayoutModules/ActionBarModule/index.mdx
  src/components/LayoutModules/ButtonClusterModule/index.mdx
  src/components/LayoutModules/CardAreaModule/index.mdx
  src/components/LayoutModules/DescriptionListModule/index.mdx
  src/components/LayoutModules/DescriptionModule/index.mdx
  src/components/LayoutModules/ICAModule/index.mdx
  src/components/LayoutModules/ListItemModule/index.mdx
  src/components/LayoutModules/TitleBarModule/index.mdx
Due: yarn precommit:format, yarn precommit:lint:js

test: mock public API warning
  src/components/__tests__/public-api-test.js
Due: yarn precommit:format, yarn precommit:lint:js

docs(storybook): add compatibility for story ID
  .storybook/index.js
Due: yarn precommit:format, yarn precommit:lint:js

chore(deps): upgrade Sass dependencies
  .yarn/offline-mirror/node-sass-6.0.1.tgz
  .yarn/offline-mirror/sass-1.38.1.tgz
  package.json
  yarn.lock
Due: none

chore(stylelint): upgrade dependencies (#1093)
  package.json
  yarn.lock
Due: none

chore(node): upgrade to 14 (#1092)
  .nvmrc
  .yarn/offline-mirror/node-sass-6.0.1.tgz
  .yarn/offline-mirror/sass-1.38.1.tgz
  package.json
  yarn.lock
Due: none

docs(storybook): add compatibility for Storybook 'Docs' story ID (#1090)
  .storybook/index.js
  src/components/LayoutModules/ActionBarModule/index.mdx
  src/components/LayoutModules/ButtonClusterModule/index.mdx
  src/components/LayoutModules/CardAreaModule/index.mdx
  src/components/LayoutModules/DescriptionListModule/index.mdx
  src/components/LayoutModules/DescriptionModule/index.mdx
  src/components/LayoutModules/ICAModule/index.mdx
  src/components/LayoutModules/ListItemModule/index.mdx
  src/components/LayoutModules/TitleBarModule/index.mdx
Due: yarn precommit:format, yarn precommit:lint:js

fix(toolbar): vertical icon alignment for multi-line label
  src/__tests__/scss/__snapshots__/styles-test.js.snap
  src/components/IconButtonBar/__tests__/__snapshots__/IconButtonBar-test.js.snap
Due: none

test: mock public API warning (#1091)
  src/components/__tests__/public-api-test.js
Due: yarn precommit:format, yarn precommit:lint:js

fix(toolbar): vertical icon alignment for multi-line labels
  src/components/Toolbar/_mixins.scss
Due: yarn precommit:lint:scss

fix(toolbar): vertical icon alignment for multi-line labels
  src/__tests__/scss/__snapshots__/styles-test.js.snap
Due: none

chore(stylelint): fix various warnings
  src/__tests__/scss/__snapshots__/styles-test.js.snap
  src/components/Header/HeaderNotification/_mixins.scss
  src/components/LayoutModules/DescriptionModule/_index.scss
  src/components/Nav/_mixins.scss
  src/components/NonEntitledSection/_index.scss
  src/components/Toolbar/_mixins.scss
  src/globals/rtl/_index.scss
  src/globals/type/_index.scss
Due: yarn precommit:lint:scss

chore(stylelint): fix various warnings
  src/__tests__/scss/__snapshots__/styles-test.js.snap
  src/components/NonEntitledSection/_index.scss
Due: yarn precommit:lint:scss

chore(deps): update `accessibility-checker`, align configuration
  .achecker.yml
  .yarn/offline-mirror/accessibility-checker-3.1.10.tgz
  .yarn/offline-mirror/accessibility-checker-3.1.9.tgz
  package.json
  yarn.lock
Due: none

chore(stylelint): fix various warnings
  src/__tests__/scss/__snapshots__/styles-test.js.snap
  src/components/DataDecorator/_mixins.scss
  src/components/Header/_mixins.scss
  src/components/IconButton/_mixins.scss
  src/components/SummaryCard/_mixins.scss
  src/globals/type/_index.scss
Due: yarn precommit:lint:scss

fix(toolbar): vertical icon alignment for multi-line labels
  src/__tests__/scss/__snapshots__/styles-test.js.snap
  src/components/IconButtonBar/__tests__/__snapshots__/IconButtonBar-test.js.snap
Due: none

Path conditions:
  yarn precommit:format: any of: *.{js, json, html, md, mdx, scss}
  yarn precommit:lint:js: any of: *.js
  yarn precommit:lint:scss: any of: *.scss
