Repository carbon-design-system/ibm-security: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

.lintstagedrc:

{
  '*.{js,md,scss}': ['yarn format:precommit', 'git add'],
  '*.js': ['yarn lint:js:precommit', 'git add', 'yarn test:precommit'],
  '*.scss': ['yarn lint:scss:precommit', 'git add'],
}

chore(release): 1.30.0 [skip ci]
  package.json
Due: none

Notes added by 'git notes add'
  28/040e1e25ef0fecdb56c942fb87aa395268f320
Due: none

Update src/components/Wizard/_index.scss
  src/components/Wizard/_index.scss
Due: yarn format:precommit, yarn lint:scss:precommit

chore: update styles snapshot
  src/__tests__/scss/__snapshots__/SCSS.spec.js.snap
Due: none

fix(wizard): fix className, allow 3 lines for steps before truncation (#693)
  src/__tests__/scss/__snapshots__/SCSS.spec.js.snap
  src/components/Wizard/Wizard.js
  src/components/Wizard/Wizard.stories.js
  src/components/Wizard/_index.scss
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

chore(release): 1.30.1-prerelease.1 [skip ci]
  package.json
Due: none

Notes added by 'git notes add'
  f5/1a233eaa233f23716291ada05b37d2f14c67a0
Due: none

fix(nav-item): add `tabindex` to link
  src/components/Nav/NavItem/NavItem.js
  src/components/Nav/NavItem/__tests__/NavItem.spec.js
  src/components/Nav/NavItem/__tests__/__snapshots__/NavItem.spec.js.snap
  src/components/Nav/NavList/__tests__/__snapshots__/NavList.spec.js.snap
  src/components/Nav/__tests__/__snapshots__/Nav.spec.js.snap
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

fix(resize-observer): allow library handle ponyfill
  src/components/ScrollGradient/ScrollGradient.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

fix(nav-item): generate instance ID when not supplied
  src/components/Nav/NavItem/NavItem.js
  src/components/Nav/NavItem/__tests__/__snapshots__/NavItem.spec.js.snap
  src/components/Nav/NavList/__tests__/__snapshots__/NavList.spec.js.snap
  src/components/Nav/__tests__/__snapshots__/Nav.spec.js.snap
  src/components/Toolbar/_mocks_/index.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

feat(return-to-banner): abstract component, replace `Shell` implementation
  src/__tests__/scss/__snapshots__/SCSS.spec.js.snap
  src/components/ReturnToBanner/ReturnToBanner.stories.js
  src/components/ReturnToBanner/_index.scss
  src/components/ReturnToBanner/_variables.scss
  src/components/ReturnToBanner/index.js
  src/components/Shell/Shell.js
  src/components/Shell/_index.scss
  src/components/Shell/_mixins.scss
  src/components/__tests__/__snapshots__/publicAPI.spec.js.snap
  src/components/_index.scss
  src/index.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

test(return-to-banner): add unit tests
  src/components/ReturnToBanner/ReturnToBanner.stories.js
  src/components/ReturnToBanner/__tests__/ReturnToBanner.spec.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

docs(search-bar): add hideScopesLabel prop to story knobs
  src/components/SearchBar/SearchBar.js
  src/components/SearchBar/SearchBar.stories.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

feat(search-bar): apply titleText prop for inner multiselect (#723)
  src/__tests__/scss/__snapshots__/SCSS.spec.js.snap
  src/components/SearchBar/SearchBar.js
  src/components/SearchBar/SearchBar.stories.js
  src/components/SearchBar/__tests__/__snapshots__/SearchBar.spec.js.snap
  src/components/SearchBar/_index.scss
  src/components/__tests__/__snapshots__/publicAPI.spec.js.snap
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

chore(release): 1.31.0-prerelease.1 [skip ci]
  package.json
Due: none

Notes added by 'git notes add'
  7e/60b3cd618565724c4480d63d10ddf11f43ab88
Due: none

fix(combo-button): fix button state, console errors
  src/components/ComboButton/ComboButton.js
  src/components/ComboButton/__tests__/__snapshots__/ComboButton.spec.js.snap
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

fix(combo-button): add `iconDescription` to icon
  src/components/ComboButton/ComboButton.js
  src/components/ComboButton/__tests__/__snapshots__/ComboButton.spec.js.snap
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

fix(resize-observer): allow library handle ponyfill (#732)
  src/components/ScrollGradient/ScrollGradient.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

chore(release): 1.31.0-prerelease.2 [skip ci]
  package.json
Due: none

Notes added by 'git notes add'
  d2/c9533c6b78a6b35370efc2e39df12d6d5f66d6
Due: none

feat(wizard): add prop to provide accessible label to nav
  src/components/Wizard/Wizard.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

chore: update publicAPI snapshot
  src/components/Wizard/Wizard.js
  src/components/__tests__/__snapshots__/publicAPI.spec.js.snap
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

fix(tag-wall-filter): fix input positioning (#709)
  src/__tests__/scss/__snapshots__/SCSS.spec.js.snap
  src/components/TagWallFilter/Filter/Filter.js
  src/components/TagWallFilter/Filter/_mixins.scss
  src/components/TagWallFilter/_mixins.scss
  src/components/Tearsheet/_mixins.scss
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

chore(release): 1.31.0-prerelease.3 [skip ci]
  package.json
Due: none

Notes added by 'git notes add'
  fb/8d679fc638db516d14e027a16abcdf4297e934
Due: none

chore(header): namespace popover IDs
  src/components/Header/Header.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

chore(release): 1.31.0 [skip ci]
  package.json
Due: none

Notes added by 'git notes add'
  62/72da52b1abaa4bd3846276844eb385ff4c33e1
Due: none

feat(storybook): add `addon-docs` support
  .storybook/addons.js
  .storybook/config.js
  .storybook/webpack.js
  .yarn/offline-mirror/@storybook-addon-docs-5.3.20.tgz
  .yarn/offline-mirror/@storybook-addons-5.3.20.tgz
  .yarn/offline-mirror/@storybook-api-5.3.20.tgz
  .yarn/offline-mirror/@storybook-channels-5.3.20.tgz
  .yarn/offline-mirror/@storybook-client-logger-5.3.20.tgz
  .yarn/offline-mirror/@storybook-components-5.3.20.tgz
  .yarn/offline-mirror/@storybook-core-events-5.3.20.tgz
  .yarn/offline-mirror/@storybook-postinstall-5.3.20.tgz
  .yarn/offline-mirror/@storybook-router-5.3.20.tgz
  .yarn/offline-mirror/@storybook-source-loader-5.3.20.tgz
  .yarn/offline-mirror/@storybook-theming-5.3.20.tgz
  package.json
  yarn.lock
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

chore(addon-docs): rewrite documentation
  .storybook/addons/addon-theme/index.js
  .storybook/main.js
  .storybook/preview.js
  .storybook/theme/index.js
  .yarn/offline-mirror/@storybook-addon-links-6.0.20.tgz
  .yarn/offline-mirror/@storybook-addons-6.0.20.tgz
  .yarn/offline-mirror/@storybook-api-6.0.20.tgz
  .yarn/offline-mirror/@storybook-channels-6.0.20.tgz
  .yarn/offline-mirror/@storybook-client-logger-6.0.20.tgz
  .yarn/offline-mirror/@storybook-core-events-6.0.20.tgz
  .yarn/offline-mirror/@storybook-router-6.0.20.tgz
  .yarn/offline-mirror/@storybook-theming-6.0.20.tgz
  package.json
  src/components/TimeIndicator/TimeIndicator.stories.js
  src/components/TrendingCard/TrendingCard.stories.js
  src/components/UNSTABLE__Layout/LayoutModules/ButtonClusterModule/ButtonClusterModule.mdx
  src/components/UNSTABLE__Layout/LayoutModules/ButtonClusterModule/ButtonClusterModule.stories.js
  src/components/UNSTABLE__Layout/LayoutModules/ButtonClusterModule/index.js
  yarn.lock
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

chore(addon-docs): experiment with theme switching
  .storybook/addons/addon-theme/index.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

feat(ica): add `truncate` prop
  src/components/ICA/ICA.js
  src/components/ICA/ICA.stories.js
  src/components/ICA/__tests__/ICA.spec.js
  src/components/__tests__/__snapshots__/publicAPI.spec.js.snap
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

fix(nav-item): add `tabindex` to link (#730)
  src/components/Nav/NavItem/NavItem.js
  src/components/Nav/NavItem/__tests__/NavItem.spec.js
  src/components/Nav/NavItem/__tests__/__snapshots__/NavItem.spec.js.snap
  src/components/Nav/NavList/__tests__/__snapshots__/NavList.spec.js.snap
  src/components/Nav/__tests__/__snapshots__/Nav.spec.js.snap
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

chore(release): 1.31.1-prerelease.1 [skip ci]
  package.json
Due: none

Notes added by 'git notes add'
  bb/1ea98ed91341662c9ac458d999f6532ce3fe52
Due: none
