Repository carbon-design-system/ibm-security: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

feat(datatable): remove ternary render
  src/components/DataTable/DataTable.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

docs(datatable): update stories to import from carbon where possible
  src/components/DataTable/DataTable.stories.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

docs(datatable): do not center the storybook demo
  src/components/DataTable/DataTable.stories.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

docs(datatable): remove unnecessary demo files
  src/components/DataTable/stories/default.js
  src/components/DataTable/stories/with-batch-actions.js
  src/components/DataTable/stories/with-expansion.js
  src/components/DataTable/stories/with-selection.js
  src/components/DataTable/stories/with-sorting.js
  src/components/DataTable/stories/with-toolbar.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

fix(type-layout): use `ui-03` for subtle border
  src/components/TypeLayout/_index.scss
Due: yarn format:precommit, yarn lint:scss:precommit

fix(date-picker): update hardcoded color values to tokens
  src/components/DatePicker/_index.scss
Due: yarn format:precommit, yarn lint:scss:precommit

fix(date-picker): update hardcoded color values to tokens (#528)
  src/components/DatePicker/_index.scss
Due: yarn format:precommit, yarn lint:scss:precommit

chore(release): 1.22.1-prerelease.5 [skip ci]
  package.json
Due: none

Notes added by 'git notes add'
  898397fbc31dc1e9f716cd2626978bc90ad51688
Due: none

fix(stacked-notification): improve proptype info and clear proptype errors (#508)
  src/components/StackedNotification/StackedNotification.js
  src/components/StackedNotification/__tests__/StackedNotification.spec.js
  src/components/__tests__/__snapshots__/publicAPI.spec.js.snap
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

chore(release): 1.22.1-prerelease.6 [skip ci]
  package.json
Due: none

Notes added by 'git notes add'
  88434cecfa8ac95aac7c1a65123f184f544aa800
Due: none

fix(type-layout): use `ui-03` for subtle border (#527)
  src/components/TypeLayout/_index.scss
Due: yarn format:precommit, yarn lint:scss:precommit

chore(release): 1.22.1-prerelease.7 [skip ci]
  package.json
Due: none

Notes added by 'git notes add'
  e7a85f2c1a2b2865b88a7d8897f4c26e34203431
Due: none

fix(modular-layout): update class names, wrap layout mixins
  src/components/Layouts/Layouts.stories.js
  src/components/Layouts/_index.scss
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

fix(modular-layouts): add comment to import
  src/components/_index.scss
Due: yarn format:precommit, yarn lint:scss:precommit

fix(data-table-pagination): use render prop, update snapshots
  src/components/DataTable/DataTablePagination/DataTablePagination.stories.js
  src/components/DataTable/DataTablePagination/__tests__/DataTablePagination.spec.js
  src/components/DataTable/DataTablePagination/__tests__/__snapshots__/DataTablePagination.spec.js.snap
  src/components/DataTable/__tests__/__snapshots__/DataTable.spec.js.snap
  src/components/DataTable/_mocks_/index.js
  src/components/DataTable/stories/with-overflow-menu.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

fix(combo-button): take into account pageYOffset value
  src/components/ComboButton/ComboButton.js
  src/components/ComboButton/ComboButton.stories.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

fix(nav): update type checking for rhl (#522)
  src/components/Nav/Nav.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

chore(release): 1.22.1-prerelease.8 [skip ci]
  package.json
Due: none

Notes added by 'git notes add'
  3216677146de8cb84b6c1484117c0a50f8676e3d
Due: none

fix(tagwall): apply id from items prop to tags, allow extra tag props
  src/components/TagWall/TagWall.js
  src/components/TagWall/_mocks_/index.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

fix(tagwall): adjust tag styles so text and close btn are not centered
  src/components/TagWall/_mixins.scss
Due: yarn format:precommit, yarn lint:scss:precommit

test(tagwall): update snapshots to reflect prop changes
  src/components/TagWall/__tests__/__snapshots__/TagWall.spec.js.snap
  src/components/TagWallFilter/__tests__/__snapshots__/TagWallFilter.spec.js.snap
  src/components/__tests__/__snapshots__/publicAPI.spec.js.snap
Due: none

fix(tagwall): update proptype and snapshot
  src/components/TagWall/TagWall.js
  src/components/TagWall/__tests__/__snapshots__/TagWall.spec.js.snap
  src/components/TagWall/_mocks_/index.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

test(tagwall): update snapshot
  src/components/__tests__/__snapshots__/publicAPI.spec.js.snap
Due: none

fix(storybook): more info links
  .storybook/index.js
  src/components/Accordion/Accordion.stories.js
  src/components/UIShell/UIShell.stories.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

fix(decorator): update severity icons, add critical icon for max score
  src/components/DataDecorator/Decorator/constants.js
  src/components/DataDecorator/_mixins.scss
  src/components/DataDecorator/constants.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

fix(data-decorator): remove unused constants file
  src/components/DataDecorator/constants.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

chore(release): 1.22.1 [skip ci]
  package.json
Due: none

Notes added by 'git notes add'
  27afe4af8f5d757f92b941ce0ad90e657818a2c8
Due: none

fix(decorator): update critical icon
  src/components/DataDecorator/Decorator/constants.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

fix(decorator): update unknown svg
  src/components/DataDecorator/Decorator/constants.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

fix(loading-message): display message with overlay (#500)
  src/components/Loading/Loading.stories.js
  src/components/Loading/LoadingMessage/LoadingMessage.js
  src/components/Loading/LoadingMessage/_index.scss
  src/components/Loading/_index.scss
  src/components/__tests__/__snapshots__/publicAPI.spec.js.snap
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

chore(release): 1.22.2-prerelease.1 [skip ci]
  package.json
Due: none

Notes added by 'git notes add'
  a9ccf57a8e6ace5c4edf0e083b638b9ad29270b9
Due: none

fix(data-decorator): restore constants file
  src/components/DataDecorator/constants.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

fix(decorator): update icons, add critical severity (#532)
  src/components/DataDecorator/Decorator/constants.js
  src/components/DataDecorator/_mixins.scss
  src/components/DataDecorator/constants.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

chore(release): 1.22.2-prerelease.2 [skip ci]
  package.json
Due: none

Path conditions:
  yarn format:precommit: any of: *.{js,md,scss}
  yarn lint:js:precommit: any of: *.js
  yarn test:precommit: any of: *.js
  yarn lint:scss:precommit: any of: *.scss
