Repository carbon-design-system/ibm-security: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn precommit:format, yarn precommit:lint:js, yarn precommit:lint:scss

.lintstagedrc:

{
  '*.{js, json, html, md, mdx, scss}': ['yarn precommit:format', 'git add'],
  '*.js': ['yarn precommit:lint:js', 'git add'],
  '*.scss': ['yarn precommit:lint:scss', 'git add'],
}

Notes added by 'git notes add'
  03/ae9dede8f75c3ddc9707ed9f0ad629f4d1879d
Due: none

test: add warning helper
  src/components/FilterPanel/FilterPanelCheckbox/__tests__/FilterPanelCheckbox-test.js
Due: yarn precommit:format, yarn precommit:lint:js

chore(release): 1.47.0-prerelease.1 [skip ci]
  package.json
Due: none

Notes added by 'git notes add'
  c2/56f3aa4271f215589bf0e8cd57f183f723a7bf
Due: none

test: expect prop deprecation warning
  src/components/FilterPanel/FilterPanelCheckbox/__tests__/FilterPanelCheckbox-test.js
  src/components/FilterPanel/FilterPanelCheckboxWithOverflowMenu/__tests__/FilterPanelCheckboxWithOverflowMenu-test.js
  src/components/FilterPanel/__tests__/FilterPanel-test.js
  src/components/FilterPanel/expect-warning.js
Due: yarn precommit:format, yarn precommit:lint:js

test: expect prop deprecation warning (#1120)
  src/components/FilterPanel/FilterPanelCheckbox/__tests__/FilterPanelCheckbox-test.js
  src/components/FilterPanel/FilterPanelCheckboxWithOverflowMenu/__tests__/FilterPanelCheckboxWithOverflowMenu-test.js
  src/components/FilterPanel/__tests__/FilterPanel-test.js
  src/components/FilterPanel/expect-warning.js
Due: yarn precommit:format, yarn precommit:lint:js

test: run tests in band
  package.json
Due: none

docs: fix missing layout examples in Cloud & Cognitive documentation
  .storybook/preview.js
  src/components/LayoutModules/ActionBarModule/index.mdx
  src/components/LayoutModules/CardAreaModule/index.mdx
  src/components/LayoutModules/DescriptionListModule/index.mdx
  src/components/LayoutModules/DescriptionModule/index.mdx
  src/components/LayoutModules/ICAModule/index.mdx
  src/components/LayoutModules/TitleBarModule/index.mdx
Due: yarn precommit:format, yarn precommit:lint:js

fix(title-bar-module): tweak spacing
  src/components/LayoutModules/TitleBarModule/_index.scss
  src/components/LayoutModules/TitleBarModule/index.js
Due: yarn precommit:format, yarn precommit:lint:js, yarn precommit:lint:scss

fix: update `TitleBarModule` style snapshot
  src/__tests__/scss/__snapshots__/styles-test.js.snap
Due: none

chore(release): 1.47.0-prerelease.2 [skip ci]
  package.json
Due: none

Notes added by 'git notes add'
  1f/79f361408c4102161d6a94f95f5967324a7541
Due: none

docs: fix missing layout examples in Cloud & Cognitive documentation (#1123)
  .storybook/preview.js
  src/components/LayoutModules/ActionBarModule/index.mdx
  src/components/LayoutModules/CardAreaModule/index.mdx
  src/components/LayoutModules/DescriptionListModule/index.mdx
  src/components/LayoutModules/DescriptionModule/index.mdx
  src/components/LayoutModules/ICAModule/index.mdx
  src/components/LayoutModules/TitleBarModule/index.mdx
Due: yarn precommit:format, yarn precommit:lint:js

fix(title-bar-module): tweak spacing (#1124)
  src/__tests__/scss/__snapshots__/styles-test.js.snap
  src/components/LayoutModules/TitleBarModule/_index.scss
  src/components/LayoutModules/TitleBarModule/index.js
Due: yarn precommit:format, yarn precommit:lint:js, yarn precommit:lint:scss

chore(release): 1.47.0-prerelease.3 [skip ci]
  package.json
Due: none

Notes added by 'git notes add'
  0e/23d603bd5c199255070ce310413fdabb618bb7
Due: none

docs: suppress Sass warning in Storybook
  .storybook/index.scss
Due: yarn precommit:lint:scss

docs: suppress Sass warning in Storybook (#1125)
  .storybook/index.scss
Due: yarn precommit:lint:scss

build: use `child_process` for Sass tests
  .yarn/offline-mirror/@testing-library-jest-dom-5.15.0.tgz
  .yarn/offline-mirror/sass-1.43.4.tgz
  package.json
  src/__tests__/scss/styles-test.js
Due: yarn precommit:format, yarn precommit:lint:js

docs: remove `canary` designation to support Cloud & Cognitive
  .storybook/index.js
  src/components/LayoutModules/docs/examples/Detail/index.mdx
  src/components/LayoutModules/docs/examples/Overview/index.mdx
Due: yarn precommit:format, yarn precommit:lint:js

docs: align 'Layouts' naming with Cloud & Cognitive (#1127)
  .storybook/index.js
  src/components/LayoutModules/docs/examples/Detail/index.mdx
  src/components/LayoutModules/docs/examples/Overview/index.mdx
Due: yarn precommit:format, yarn precommit:lint:js

chore: remove unused dependencies
  .yarn/offline-mirror/@testing-library-jest-dom-5.14.1.tgz
  .yarn/offline-mirror/sass-1.43.3.tgz
Due: none

docs: restore package name, format `README.md`
  README.md
Due: none

chore: format Prettier
  docs/themes/README.md
  src/components/Panel/README.md
Due: none

chore: format Prettier
  .github/CONTRIBUTING.md
  .github/ISSUE_TEMPLATE.md
  .github/ISSUE_TEMPLATE/BUG.md
  .github/ISSUE_TEMPLATE/CARBON.md
  .lintstagedrc
  CODE_OF_CONDUCT.md
  docs/g11n.md
  docs/migration/2.x/README.md
  docs/migration/2.x/grid.md
  docs/migration/2.x/themes.md
  docs/migration/2.x/type.md
  docs/migration/carbon-for-ibm-security/README.md
  docs/migration/carbon-for-ibm-security/color.md
  docs/migration/carbon-for-ibm-security/grid.md
  docs/migration/carbon-for-ibm-security/layout.md
  docs/migration/carbon-for-ibm-security/type.md
  docs/storybook.md
  package.json
  src/components/Breadcrumb/migration/carbon-for-ibm-security.md
  src/components/Button/migration/carbon-for-ibm-security.md
  src/components/DataTable/migration/carbon-for-ibm-security.md
  src/components/FilterPanel/_mocks_/data.json
  src/components/ICA/README.md
  src/components/Icon/migration/carbon-for-ibm-security.md
  src/components/LayoutModules/CardAreaModule/index.mdx
  src/components/LayoutModules/docs/Troubleshooting/index.mdx
  src/components/LayoutModules/docs/examples/Detail/index.mdx
  src/components/LayoutModules/stories/Library.stories.mdx
  src/components/Loading/migration/carbon-for-ibm-security.md
  src/components/Panel/migration/carbon-for-ibm-security.md
  src/components/StepIndicator/migration/2.x.md
  src/components/Tag/migration/carbon-for-ibm-security.md
  src/globals/grid/vendor/css-gridish/README.md
Due: none

Revert "chore: format Prettier"
  .github/CONTRIBUTING.md
  .github/ISSUE_TEMPLATE.md
  .github/ISSUE_TEMPLATE/BUG.md
  .github/ISSUE_TEMPLATE/CARBON.md
  .lintstagedrc
  CODE_OF_CONDUCT.md
  docs/g11n.md
  docs/migration/2.x/README.md
  docs/migration/2.x/grid.md
  docs/migration/2.x/themes.md
  docs/migration/2.x/type.md
  docs/migration/carbon-for-ibm-security/README.md
  docs/migration/carbon-for-ibm-security/color.md
  docs/migration/carbon-for-ibm-security/grid.md
  docs/migration/carbon-for-ibm-security/layout.md
  docs/migration/carbon-for-ibm-security/type.md
  docs/storybook.md
  package.json
  src/components/Breadcrumb/migration/carbon-for-ibm-security.md
  src/components/Button/migration/carbon-for-ibm-security.md
  src/components/DataTable/migration/carbon-for-ibm-security.md
  src/components/FilterPanel/_mocks_/data.json
  src/components/ICA/README.md
  src/components/Icon/migration/carbon-for-ibm-security.md
  src/components/LayoutModules/CardAreaModule/index.mdx
  src/components/LayoutModules/docs/Troubleshooting/index.mdx
  src/components/LayoutModules/docs/examples/Detail/index.mdx
  src/components/Loading/migration/carbon-for-ibm-security.md
  src/components/Panel/migration/carbon-for-ibm-security.md
  src/components/StepIndicator/migration/2.x.md
  src/components/Tag/migration/carbon-for-ibm-security.md
  src/globals/grid/vendor/css-gridish/README.md
Due: none

docs: update package name
  src/globals/scss-exports/spacing.module.scss
Due: yarn precommit:lint:scss

Update index.scss to align with dev
  .storybook/index.scss
Due: yarn precommit:lint:scss

fix(ICA): Make edit icon button inline with ICA label and total
  docs/themes/themes.md
  src/components/ICA/ICA.js
  src/components/ICA/_index.scss
Due: yarn precommit:format, yarn precommit:lint:js, yarn precommit:lint:scss

fix(ICA): Make edit icon button inline with ICA label and total
  src/__tests__/scss/__snapshots__/styles-test.js.snap
  src/components/FilterPanel/LEGACY_FilterPanel/FilterSearch/__tests__/__snapshots__/FilterSearch-test.js.snap
  src/components/FilterPanel/LEGACY_FilterPanel/FilterSelector/__tests__/__snapshots__/FilterSelector-test.js.snap
  src/components/SearchBar/__tests__/__snapshots__/SearchBar-test.js.snap
  src/components/__tests__/__snapshots__/public-api-test.js.snap
Due: none

chore: deprecate entire repo
  .storybook/index.js
  src/components/LayoutModules/stories/Library.stories.mdx
  src/components/Overview/stories/Overview.stories.mdx
  src/components/Overview/stories/index.js
Due: yarn precommit:format, yarn precommit:lint:js
