Repository carbon-design-system/ibm-security: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

.lintstagedrc:

{
  '*.{js,md,scss}': ['yarn format:precommit', 'git add'],
  '*.js': ['yarn lint:js:precommit', 'git add', 'yarn test:precommit'],
  '*.scss': ['yarn lint:scss:precommit', 'git add'],
}

chore(release): 1.27.0-prerelease.1 [skip ci]
  package.json
Due: none

Notes added by 'git notes add'
  33/200e4e316e3c00ec2748e17b6dabf9c7996b2a
Due: none

fix(data-decorator): allow inner panel to be closed with esc key or click outside
  src/components/DataDecorator/DataDecorator.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

Removing onClick override option for Data Decorator. Simplifying Decorator's usage of onContextMenu.
  src/components/DataDecorator/DataDecorator.js
  src/components/DataDecorator/Decorator/Decorator.js
  src/components/__tests__/__snapshots__/publicAPI.spec.js.snap
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

fix(data-decorator): allow inner panel to be closed with esc key or click outside (#646)
  src/components/DataDecorator/DataDecorator.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

chore(release): 1.27.0-prerelease.2 [skip ci]
  package.json
Due: none

Notes added by 'git notes add'
  71/8652a94844b1340b30f1a97c0dc6e6a40845cc
Due: none

fix(filter-panel): add correct dependencies for isolated import
  src/__tests__/scss/__snapshots__/SCSS.spec.js.snap
  src/components/FilterPanel/FilterPanelAccordion/_index.scss
  src/components/FilterPanel/FilterPanelAccordionItem/_index.scss
  src/components/FilterPanel/FilterPanelCheckbox/_index.scss
  src/components/FilterPanel/FilterPanelCheckboxWithOverflowMenu/_index.scss
  src/components/FilterPanel/FilterPanelSearch/_index.scss
  src/components/FilterPanel/LEGACY_FilterPanel/FilterSearch/_index.scss
  src/components/FilterPanel/LEGACY_FilterPanel/FilterSubcategory/_index.scss
  src/components/TruncatedList/_index.scss
Due: yarn format:precommit, yarn lint:scss:precommit

docs(storybook): add missing style import
  .storybook/index.scss
Due: yarn format:precommit, yarn lint:scss:precommit

docs(storybook): add missing style import (#649)
  .storybook/index.scss
Due: yarn format:precommit, yarn lint:scss:precommit

fix(filter-panel): add correct dependencies for isolated import (#648)
  src/__tests__/scss/__snapshots__/SCSS.spec.js.snap
  src/components/FilterPanel/FilterPanelAccordion/_index.scss
  src/components/FilterPanel/FilterPanelAccordionItem/_index.scss
  src/components/FilterPanel/FilterPanelCheckbox/_index.scss
  src/components/FilterPanel/FilterPanelCheckboxWithOverflowMenu/_index.scss
  src/components/FilterPanel/FilterPanelSearch/_index.scss
  src/components/FilterPanel/LEGACY_FilterPanel/FilterSearch/_index.scss
  src/components/FilterPanel/LEGACY_FilterPanel/FilterSubcategory/_index.scss
  src/components/TruncatedList/_index.scss
Due: yarn format:precommit, yarn lint:scss:precommit

chore(release): 1.27.0-prerelease.3 [skip ci]
  package.json
Due: none

Notes added by 'git notes add'
  8a/0c5a7e1b35f8da45e4764a6ab2999a4848b057
Due: none

fix(interactive-tag): resolve circular dependency
  src/__tests__/scss/__snapshots__/SCSS.spec.js.snap
  src/components/InteractiveTag/InteractiveTag.js
  src/components/InteractiveTag/__tests__/InteractiveTag.spec.js
  src/components/InteractiveTag/_index.scss
  src/components/InteractiveTag/_mixins.scss
  src/components/InteractiveTag/index.js
  src/components/Tag/_index.scss
  src/components/Tag/index.js
  src/components/TagWall/TagWall.js
  src/components/TagWall/__tests__/TagWall.spec.js
  src/components/TagWall/_index.scss
  src/components/_index.scss
  src/index.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

Expose (Data)Decorator onContextMenu prop (#644)
  src/components/DataDecorator/DataDecorator.js
  src/components/DataDecorator/Decorator/Decorator.js
  src/components/__tests__/__snapshots__/publicAPI.spec.js.snap
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

fix(interactive-tag): resolve circular dependency (#650)
  src/__tests__/scss/__snapshots__/SCSS.spec.js.snap
  src/components/InteractiveTag/InteractiveTag.js
  src/components/InteractiveTag/__tests__/InteractiveTag.spec.js
  src/components/InteractiveTag/_index.scss
  src/components/InteractiveTag/_mixins.scss
  src/components/InteractiveTag/index.js
  src/components/Tag/_index.scss
  src/components/Tag/index.js
  src/components/TagWall/TagWall.js
  src/components/TagWall/__tests__/TagWall.spec.js
  src/components/TagWall/_index.scss
  src/components/_index.scss
  src/index.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

chore(release): 1.27.0-prerelease.4 [skip ci]
  package.json
Due: none

Notes added by 'git notes add'
  4c/32d0f8ae4ac76a0fd870264a95dda9c2e6bf4d
Due: none

feat(tag-wall-filter): allow additions of new tags
  src/components/TagWallFilter/Filter/Filter.js
  src/components/TagWallFilter/TagWallFilter.js
  src/components/TagWallFilter/TagWallFilter.stories.js
  src/components/TagWallFilter/__tests__/__snapshots__/TagWallFilter.spec.js.snap
  src/components/__tests__/__snapshots__/publicAPI.spec.js.snap
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

docs(storybook): prevent `theme-tokens` import from overriding theme
  .storybook/index.scss
Due: yarn format:precommit, yarn lint:scss:precommit

fix(decorator): add character limit, display value in `title` prop
  src/__tests__/scss/__snapshots__/SCSS.spec.js.snap
  src/components/DataDecorator/Decorator/Decorator.js
  src/components/DataDecorator/_mixins.scss
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

docs(storybook): prevent `theme-tokens` import from overriding theme (#653)
  .storybook/index.scss
Due: yarn format:precommit, yarn lint:scss:precommit

refactor(decorator): refactor props
  src/components/DataDecorator/Decorator/Decorator.js
  src/components/DataDecorator/_mixins.scss
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

chore(release): 1.27.0 [skip ci]
  package.json
Due: none

Notes added by 'git notes add'
  aa/b22f856a2171e2403a6d5a5fdb84f1077ac31b
Due: none

docs(codesandbox): update URL to fixed CodeSandbox
  README.md
Due: yarn format:precommit

docs(codesandbox): update URL to fixed CodeSandbox (#656)
  README.md
Due: yarn format:precommit

feat(push-panel): add demo component in shell story
  src/__tests__/scss/__snapshots__/SCSS.spec.js.snap
  src/components/Header/_mixins.scss
  src/components/PushPanel/_index.scss
  src/components/PushPanel/index.js
  src/components/Shell/Shell.js
  src/components/Shell/Shell.stories.js
  src/components/Shell/_mixins.scss
  src/components/_index.scss
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

fix(dropdown): add `ListBox` styles
  src/__tests__/scss/__snapshots__/SCSS.spec.js.snap
  src/components/Dropdown/_index.scss
  src/components/ListBox/_index.scss
  src/components/_index.scss
Due: yarn format:precommit, yarn lint:scss:precommit

feat(carbon): upgrade to `10.15`
  .yarn/offline-mirror/@carbon-colors-10.9.2.tgz
  .yarn/offline-mirror/@carbon-grid-10.10.2.tgz
  .yarn/offline-mirror/@carbon-grid-10.12.0.tgz
  .yarn/offline-mirror/@carbon-icon-helpers-10.7.0.tgz
  .yarn/offline-mirror/@carbon-icons-react-10.11.0.tgz
  .yarn/offline-mirror/@carbon-layout-10.9.2.tgz
  .yarn/offline-mirror/@carbon-motion-10.7.0.tgz
  .yarn/offline-mirror/@carbon-motion-10.9.0.tgz
  .yarn/offline-mirror/@carbon-themes-10.12.0.tgz
  .yarn/offline-mirror/@carbon-themes-10.14.0.tgz
  .yarn/offline-mirror/@carbon-type-10.10.2.tgz
  .yarn/offline-mirror/carbon-components-10.12.0.tgz
  .yarn/offline-mirror/carbon-components-10.15.0.tgz
  .yarn/offline-mirror/carbon-components-react-7.12.0.tgz
  .yarn/offline-mirror/carbon-components-react-7.15.0.tgz
  .yarn/offline-mirror/compute-scroll-into-view-1.0.14.tgz
  .yarn/offline-mirror/downshift-5.0.5.tgz
  docs/themes/themes.md
  package.json
  src/__tests__/scss/__snapshots__/SCSS.spec.js.snap
  src/components/ComboButton/__tests__/__snapshots__/ComboButton.spec.js.snap
  src/components/DataTable/DataTablePagination/__tests__/__snapshots__/DataTablePagination.spec.js.snap
  src/components/DataTable/__tests__/__snapshots__/DataTable.spec.js.snap
  src/components/FilterPanel/FilterPanelAccordionItem/_mixins.scss
  src/components/Icon/__tests__/__snapshots__/Icon.spec.js.snap
  src/components/Nav/NavList/__tests__/__snapshots__/NavList.spec.js.snap
  src/components/Nav/__tests__/__snapshots__/Nav.spec.js.snap
  src/components/TagWall/__tests__/__snapshots__/TagWall.spec.js.snap
  src/components/TagWallFilter/Filter/__tests__/__snapshots__/Filter.spec.js.snap
  src/components/TagWallFilter/__tests__/__snapshots__/TagWallFilter.spec.js.snap
  src/components/Toolbar/__tests__/__snapshots__/Toolbar.spec.js.snap
  src/components/__tests__/__snapshots__/publicAPI.spec.js.snap
  yarn.lock
Due: yarn format:precommit, yarn lint:scss:precommit

feat(carbon): upgrade to `10.15`
  .yarn/offline-mirror/@carbon-colors-10.11.0.tgz
  .yarn/offline-mirror/@carbon-icon-helpers-10.9.0.tgz
  .yarn/offline-mirror/@carbon-icons-react-10.13.0.tgz
  .yarn/offline-mirror/@carbon-layout-10.11.0.tgz
  .yarn/offline-mirror/@carbon-type-10.12.0.tgz
Due: none

fix(dropdown): add `ListBox` styles (#659)
  src/__tests__/scss/__snapshots__/SCSS.spec.js.snap
  src/components/Dropdown/_index.scss
  src/components/ListBox/_index.scss
  src/components/_index.scss
Due: yarn format:precommit, yarn lint:scss:precommit

chore(release): 1.27.1-prerelease.1 [skip ci]
  package.json
Due: none

Notes added by 'git notes add'
  2f/7e4ef38be7250bc775829274ab08394559b705
Due: none

feat(upsell-nudge): add skeleton structure
  src/__tests__/scss/__snapshots__/SCSS.spec.js.snap
  src/components/UpsellNudge/UpsellNudge.stories.js
  src/components/UpsellNudge/__tests__/UpsellNudge.spec.js
  src/components/UpsellNudge/_index.scss
  src/components/UpsellNudge/index.js
  src/components/__tests__/__snapshots__/publicAPI.spec.js.snap
  src/components/_index.scss
  src/index.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

Add support for specifying rootNode of PanelV2 and a consumer: DataDecorator
  src/components/DataDecorator/DataDecorator.js
  src/components/PanelV2/PanelV2.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

docs(storybook): fix stories for Carbon upgrade
  src/__tests__/scss/__snapshots__/SCSS.spec.js.snap
  src/components/Search/_index.scss
  src/components/Tabs/Tabs.stories.js
  src/components/TruncatedList/TruncatedList.stories.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

Add focusTrap panel proxy
  src/components/DataDecorator/DataDecorator.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

Updating changed components tests
  src/components/__tests__/__snapshots__/publicAPI.spec.js.snap
Due: none
