Repository carbon-design-system/ibm-security: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

Add onClick handler to navItems so the toolbar closes when item is clicked https://jsw.ibm.com/browse/SECCON-4160 (#809)
  src/components/Toolbar/Toolbar.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

fix(filter-panel-overflow): use CSS logic
  src/__tests__/scss/__snapshots__/SCSS.spec.js.snap
  src/components/FilterPanel/FilterPanelCheckboxWithOverflowMenu/FilterPanelCheckboxWithOverflowMenu.js
  src/components/FilterPanel/FilterPanelCheckboxWithOverflowMenu/__tests__/FilterPanelCheckboxWithOverflowMenu.spec.js
  src/components/FilterPanel/FilterPanelCheckboxWithOverflowMenu/_index.scss
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

fix(filter-panel-overflow): leverage `getOverflowMenuOffset`
  src/__tests__/scss/__snapshots__/SCSS.spec.js.snap
  src/components/FilterPanel/FilterPanelCheckboxWithOverflowMenu/FilterPanelCheckboxWithOverflowMenu.js
  src/components/FilterPanel/FilterPanelCheckboxWithOverflowMenu/FilterPanelCheckboxWithOverflowMenu.stories.js
  src/components/FilterPanel/FilterPanelCheckboxWithOverflowMenu/_index.scss
  src/components/OverflowMenu/index.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

fix(filter-panel-overflow): leverage `getOverflowMenuOffset`
  src/components/FilterPanel/FilterPanelCheckboxWithOverflowMenu/FilterPanelCheckboxWithOverflowMenu.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

fix(filter-panel-overflow): leverage `getOverflowMenuOffset`
  src/components/FilterPanel/FilterPanelCheckboxWithOverflowMenu/FilterPanelCheckboxWithOverflowMenu.js
  src/components/FilterPanel/FilterPanelCheckboxWithOverflowMenu/FilterPanelCheckboxWithOverflowMenu.stories.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

fix(filter-panel-overflow): leverage `getOverflowMenuOffset`
  src/components/FilterPanel/FilterPanelCheckboxWithOverflowMenu/FilterPanelCheckboxWithOverflowMenu.stories.js
  src/components/FilterPanel/FilterPanelCheckboxWithOverflowMenu/__tests__/FilterPanelCheckboxWithOverflowMenu.spec.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

chore: formatting
  src/components/FilterPanel/FilterPanelCheckboxWithOverflowMenu/__tests__/FilterPanelCheckboxWithOverflowMenu.spec.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

chore: formatting
  src/components/FilterPanel/FilterPanelCheckboxWithOverflowMenu/FilterPanelCheckboxWithOverflowMenu.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

chore(combo-button): test offset
  src/__tests__/scss/__snapshots__/SCSS.spec.js.snap
  src/components/ComboButton/ComboButton.js
  src/components/ComboButton/__tests__/__snapshots__/ComboButton.spec.js.snap
  src/components/ComboButton/_index.scss
  src/components/OverflowMenu/index.js
  src/components/__tests__/__snapshots__/publicAPI.spec.js.snap
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

fix(panel): fix `ComboButton` Firefox issue
  src/components/PanelV2/PanelV2.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

docs(panel): update documentation
  src/components/PanelV2/PanelV2.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

fix(combo-button): track positioning to manage offset
  src/__tests__/scss/__snapshots__/SCSS.spec.js.snap
  src/components/ComboButton/ComboButton.js
  src/components/ComboButton/__tests__/__snapshots__/ComboButton.spec.js.snap
  src/components/ComboButton/_index.scss
  src/components/__tests__/__snapshots__/publicAPI.spec.js.snap
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

fix(combo-button): remove unneccessary state
  src/components/ComboButton/ComboButton.js
  src/components/ComboButton/__tests__/__snapshots__/ComboButton.spec.js.snap
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

chore(combo-button): verify direction
  src/components/ComboButton/ComboButton.js
  src/components/__tests__/__snapshots__/publicAPI.spec.js.snap
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

chore(filter-panel): conditionally load overflowmenu
  src/components/FilterPanel/FilterPanelCheckboxWithOverflowMenu/FilterPanelCheckboxWithOverflowMenu.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

fix(filter-panel): defer `OverflowMenu` rendering
  src/__tests__/scss/__snapshots__/SCSS.spec.js.snap
  src/components/FilterPanel/FilterPanelCheckboxWithOverflowMenu/_index.scss
Due: yarn format:precommit, yarn lint:scss:precommit

fix(combo-button): move logic to `menuOffset`
  src/components/ComboButton/ComboButton.js
  src/components/ComboButton/__tests__/__snapshots__/ComboButton.spec.js.snap
  src/components/OverflowMenu/index.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

fix(combo-button): move logic to `menuOffset`
  src/components/ComboButton/ComboButton.js
  src/components/OverflowMenu/index.js
  src/components/__tests__/__snapshots__/publicAPI.spec.js.snap
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

fix(filter-panel-overflow): update event logic
  src/__tests__/scss/__snapshots__/SCSS.spec.js.snap
  src/components/FilterPanel/FilterPanelCheckboxWithOverflowMenu/FilterPanelCheckboxWithOverflowMenu.js
  src/components/FilterPanel/FilterPanelCheckboxWithOverflowMenu/__tests__/FilterPanelCheckboxWithOverflowMenu.spec.js
  src/components/FilterPanel/FilterPanelCheckboxWithOverflowMenu/_index.scss
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

chore(filter-panel): clean up changeset
  src/__tests__/scss/__snapshots__/SCSS.spec.js.snap
  src/components/FilterPanel/FilterPanelCheckboxWithOverflowMenu/FilterPanelCheckboxWithOverflowMenu.js
  src/components/FilterPanel/FilterPanelCheckboxWithOverflowMenu/_index.scss
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

chore(filter-panel-overflow): use `mouseOver`
  src/components/FilterPanel/FilterPanelCheckboxWithOverflowMenu/FilterPanelCheckboxWithOverflowMenu.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

feat(carbon): upgrade dependencies
  .yarn/offline-mirror/@carbon-colors-10.13.0.tgz
  .yarn/offline-mirror/@carbon-colors-10.15.0.tgz
  .yarn/offline-mirror/@carbon-grid-10.15.0.tgz
  .yarn/offline-mirror/@carbon-grid-10.16.0.tgz
  .yarn/offline-mirror/@carbon-icons-react-10.18.0.tgz
  .yarn/offline-mirror/@carbon-icons-react-10.20.0.tgz
  .yarn/offline-mirror/@carbon-layout-10.13.0.tgz
  .yarn/offline-mirror/@carbon-layout-10.14.0.tgz
  .yarn/offline-mirror/@carbon-themes-10.19.0.tgz
  .yarn/offline-mirror/@carbon-themes-10.22.1.tgz
  .yarn/offline-mirror/@carbon-type-10.16.0.tgz
  .yarn/offline-mirror/@carbon-type-10.17.0.tgz
  .yarn/offline-mirror/carbon-components-10.20.0.tgz
  .yarn/offline-mirror/carbon-components-10.23.2.tgz
  .yarn/offline-mirror/carbon-components-react-7.20.0.tgz
  .yarn/offline-mirror/carbon-components-react-7.23.2.tgz
  docs/themes/themes.md
  package.json
  src/__tests__/scss/__snapshots__/SCSS.spec.js.snap
  src/components/ComboButton/__tests__/__snapshots__/ComboButton.spec.js.snap
  src/components/Header/__tests__/__snapshots__/Header.spec.js.snap
  src/components/__tests__/__snapshots__/publicAPI.spec.js.snap
  yarn.lock
Due: yarn format:precommit

fix(combo-button): calculate offset relative to component
  src/components/ComboButton/ComboButton.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

docs(issue-templates): update issue templates
  .github/ISSUE_TEMPLATE.md
  .github/ISSUE_TEMPLATE/BUG.md
  .github/ISSUE_TEMPLATE/CARBON.md
  .github/ISSUE_TEMPLATE/PROPOSAL.md
  .github/ISSUE_TEMPLATE/REQUEST.md
  .github/PULL_REQUEST_TEMPLATE.md
Due: yarn format:precommit

docs(README): update content
  README.md
  docs/themes/README.md
Due: yarn format:precommit

docs(CONTRIBUTING): update contributor documentation
  .github/CONTRIBUTING.md
Due: yarn format:precommit

modular layouts doc updates
  src/components/UNSTABLE__LayoutModules/ActionBarModule/index.mdx
  src/components/UNSTABLE__LayoutModules/ButtonClusterModule/index.mdx
  src/components/UNSTABLE__LayoutModules/CardModule/index.mdx
  src/components/UNSTABLE__LayoutModules/DescriptionListModule/index.mdx
  src/components/UNSTABLE__LayoutModules/DescriptionModule/index.mdx
  src/components/UNSTABLE__LayoutModules/ICAModule/index.mdx
  src/components/UNSTABLE__LayoutModules/TitleBarModule/index.mdx
Due: none

build(lint): add `eslint-plugin-react-hooks`
  .eslintrc
  .yarn/offline-mirror/eslint-plugin-react-hooks-4.2.0.tgz
  package.json
  yarn.lock
Due: none

fix(filter-panel-checkbox-overflow): migrate state logic to CSS (#810)
  src/components/FilterPanel/FilterPanelCheckboxWithOverflowMenu/FilterPanelCheckboxWithOverflowMenu.js
  src/components/FilterPanel/FilterPanelCheckboxWithOverflowMenu/__tests__/FilterPanelCheckboxWithOverflowMenu.spec.js
  src/components/OverflowMenu/index.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

chore(release): 1.34.1-prerelease.1 [skip ci]
  package.json
Due: none

Notes added by 'git notes add'
  31/c9854761bb3ce27c0366ac4b923d8ed8e5314a
Due: none

docs(addon-docs): set default configuration for `Source` Doc Block
  .storybook/components/Source/index.js
  .storybook/preview.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

build(lint): add `eslint-plugin-react-hooks` (#817)
  .eslintrc
  .yarn/offline-mirror/eslint-plugin-react-hooks-4.2.0.tgz
  package.json
  yarn.lock
Due: none

modular layouts doc updates (#816)
  src/components/UNSTABLE__LayoutModules/ActionBarModule/index.mdx
  src/components/UNSTABLE__LayoutModules/ButtonClusterModule/index.mdx
  src/components/UNSTABLE__LayoutModules/CardModule/index.mdx
  src/components/UNSTABLE__LayoutModules/DescriptionListModule/index.mdx
  src/components/UNSTABLE__LayoutModules/DescriptionModule/index.mdx
  src/components/UNSTABLE__LayoutModules/ICAModule/index.mdx
  src/components/UNSTABLE__LayoutModules/TitleBarModule/index.mdx
Due: none

docs(layout-module): format with Prettier
  src/components/UNSTABLE__LayoutModules/ActionBarModule/index.mdx
  src/components/UNSTABLE__LayoutModules/ButtonClusterModule/index.mdx
  src/components/UNSTABLE__LayoutModules/CardModule/index.mdx
  src/components/UNSTABLE__LayoutModules/DescriptionListModule/index.mdx
  src/components/UNSTABLE__LayoutModules/DescriptionModule/index.mdx
  src/components/UNSTABLE__LayoutModules/ICAModule/index.mdx
  src/components/UNSTABLE__LayoutModules/TitleBarModule/index.mdx
Due: none

docs(addon-docs): prevent MDX scrolling while navigating stories
  .storybook/components/DocsContainer/index.js
  .storybook/preview.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

build(stale): add empty file for default configuration
  .github/stale.yml
Due: none

docs(addon-docs): add style overrides
  .storybook/docs/_index.scss
Due: yarn format:precommit, yarn lint:scss:precommit

Path conditions:
  yarn format:precommit: any of: *.{js,md,scss}
  yarn lint:js:precommit: any of: *.js
  yarn test:precommit: any of: *.js
  yarn lint:scss:precommit: any of: *.scss
