Repository carbon-design-system/ibm-security: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

.lintstagedrc:

{
  '*.{js,md,scss}': ['yarn format:precommit', 'git add'],
  '*.js': ['yarn lint:js:precommit', 'git add', 'yarn test:precommit'],
  '*.scss': ['yarn lint:scss:precommit', 'git add'],
}

refactor: remove deprecated SCSS (#284)
  docs/migration/2.x-color.md
  docs/migration/2.x-themes.md
  docs/migration/migrate-to-2.x.md
  src/globals/color/_index.scss
  src/globals/layout/_index.scss
  src/globals/theme/_functions.scss
  src/globals/theme/_index.scss
  src/globals/type/_index.scss
Due: yarn format:precommit, yarn lint:scss:precommit

fix(type): update globals file
  src/globals/type/_index.scss
Due: yarn format:precommit, yarn lint:scss:precommit

feat(accordion): remove extra classes and styles, use Carbon's new align prop
  src/components/Accordion/Accordion.js
  src/components/Accordion/Accordion.stories.js
  src/components/Accordion/_index.scss
  src/components/FilterPanel/FilterCategory/__test__/__snapshots__/FilterCategory.spec.js.snap
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

fix(accordin-skeleton): update margin style overide and add link to carbon fix
  src/components/Accordion/_index.scss
Due: yarn format:precommit, yarn lint:scss:precommit

fix(combo-button): update button and dropdown style imports
  src/components/ComboButton/_index.scss
Due: yarn format:precommit, yarn lint:scss:precommit

chore(release): 1.14.0-prerelease.2 [skip ci]
  package.json
Due: none

fix(type): apply PR feedback to type imports
  src/globals/type/_index.scss
  src/platform/body/_mixins.scss
Due: yarn format:precommit, yarn lint:scss:precommit

docs(code-of-conduct): add 'Code of Conduct'
  CODE_OF_CONDUCT.md
Due: yarn format:precommit

refactor(shell): add toggle logic
  src/components/SecurityShell/SecurityShell.js
  src/components/SecurityShell/SecurityShell.stories.js
  src/components/SecurityShell/index.js
  src/index.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

fix(ibm-type): remove ibm-type feature flag & helpers (#291)
  README.md
  docs/migration/2.x-type.md
  src/globals/feature-flags/_index.scss
  src/globals/type/_index.scss
  src/platform/body/_mixins.scss
Due: yarn format:precommit, yarn lint:scss:precommit

docs(code-of-conduct): add 'Code of Conduct' (#298)
  CODE_OF_CONDUCT.md
Due: yarn format:precommit

docs(code-of-conduct): format code of conduct
  CODE_OF_CONDUCT.md
Due: yarn format:precommit

docs(ui-shell): update copyright year
  src/components/UIShell/UIShell.stories.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

docs(themes): improve scannability and clarify of theme doc (#286)
  docs/themes/README.md
Due: yarn format:precommit

chore: Prettier formatting
  docs/themes/README.md
Due: yarn format:precommit

build: move reset after expressive heading overrides to fix build
  src/globals/type/_index.scss
Due: yarn format:precommit, yarn lint:scss:precommit

refactor(filter-panel): hide legacy filter panel in directory
  src/components/FilterPanel/FilterPanel.js
  src/components/FilterPanel/FilterPanel.stories.js
  src/components/FilterPanel/LEGACY_FilterPanel/FilterCategory/FilterCategory.js
  src/components/FilterPanel/LEGACY_FilterPanel/FilterCategory/__test__/FilterCategory.spec.js
  src/components/FilterPanel/LEGACY_FilterPanel/FilterCategory/__test__/__snapshots__/FilterCategory.spec.js.snap
  src/components/FilterPanel/LEGACY_FilterPanel/FilterCategory/_index.scss
  src/components/FilterPanel/LEGACY_FilterPanel/FilterCategory/_mixins.scss
  src/components/FilterPanel/LEGACY_FilterPanel/FilterCategory/index.js
  src/components/FilterPanel/LEGACY_FilterPanel/FilterSearch/FilterSearch.js
  src/components/FilterPanel/LEGACY_FilterPanel/FilterSearch/__tests__/FilterSearch.spec.js
  src/components/FilterPanel/LEGACY_FilterPanel/FilterSearch/__tests__/__snapshots__/FilterSearch.spec.js.snap
  src/components/FilterPanel/LEGACY_FilterPanel/FilterSearch/_index.scss
  src/components/FilterPanel/LEGACY_FilterPanel/FilterSearch/_mixins.scss
  src/components/FilterPanel/LEGACY_FilterPanel/FilterSearch/index.js
  src/components/FilterPanel/LEGACY_FilterPanel/FilterSelector/FilterSelector.js
  src/components/FilterPanel/LEGACY_FilterPanel/FilterSelector/__tests__/FilterSelector.spec.js
  src/components/FilterPanel/LEGACY_FilterPanel/FilterSelector/__tests__/__snapshots__/FilterSelector.spec.js.snap
  src/components/FilterPanel/LEGACY_FilterPanel/FilterSelector/_index.scss
  src/components/FilterPanel/LEGACY_FilterPanel/FilterSelector/_mixins.scss
  src/components/FilterPanel/LEGACY_FilterPanel/FilterSelector/index.js
  src/components/FilterPanel/LEGACY_FilterPanel/FilterSubcategory/FilterSubcategory.js
  src/components/FilterPanel/LEGACY_FilterPanel/FilterSubcategory/__tests__/FilterSubcategory.spec.js
  src/components/FilterPanel/LEGACY_FilterPanel/FilterSubcategory/__tests__/__snapshots__/FilterSubcategory.spec.js.snap
  src/components/FilterPanel/LEGACY_FilterPanel/FilterSubcategory/_index.scss
  src/components/FilterPanel/LEGACY_FilterPanel/FilterSubcategory/_mixins.scss
  src/components/FilterPanel/LEGACY_FilterPanel/FilterSubcategory/index.js
  src/components/FilterPanel/LEGACY_FilterPanel/LEGACY_FilterPanel.js
  src/components/FilterPanel/LEGACY_FilterPanel/_index.scss
  src/components/FilterPanel/LEGACY_FilterPanel/index.js
  src/components/FilterPanel/_index.scss
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

refactor(filter-panel-utilities): move legacy utilities to directory
  src/components/FilterPanel/FilterPanel.stories.js
  src/components/FilterPanel/LEGACY_FilterPanel/FilterCategory/FilterCategory.js
  src/components/FilterPanel/LEGACY_FilterPanel/FilterPanelUtilities.js
  src/components/FilterPanel/LEGACY_FilterPanel/FilterSearch/FilterSearch.js
  src/components/FilterPanel/LEGACY_FilterPanel/FilterSelector/FilterSelector.js
  src/components/FilterPanel/LEGACY_FilterPanel/FilterSubcategory/FilterSubcategory.js
  src/components/FilterPanel/LEGACY_FilterPanel/LEGACY_FilterPanel.js
  src/components/FilterPanel/LEGACY_FilterPanel/__tests__/FilterPanel.spec.js
  src/components/FilterPanel/LEGACY_FilterPanel/__tests__/FilterPanelUtilities.spec.js
  src/components/FilterPanel/LEGACY_FilterPanel/__tests__/__snapshots__/FilterPanel.spec.js.snap
  src/components/FilterPanel/LEGACY_FilterPanel/__tests__/__snapshots__/FilterPanelUtilities.spec.js.snap
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

build: move reset after expressive heading overrides to fix build (#302)
  src/globals/type/_index.scss
Due: yarn format:precommit, yarn lint:scss:precommit

chore: merge `2.x` into `173/shell-refactor`
  .storybook/index.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

feat(filter-search): create component
  src/components/FilterPanel/FilterPanel.js
  src/components/FilterPanel/FilterPanel.stories.js
  src/components/FilterPanel/FilterSearch/FilterSearch.js
  src/components/FilterPanel/FilterSearch/_index.scss
  src/components/FilterPanel/FilterSearch/_mixins.scss
  src/components/FilterPanel/FilterSearch/index.js
  src/components/FilterPanel/LEGACY_FilterPanel/FilterSearch/_index.scss
  src/components/FilterPanel/LEGACY_FilterPanel/FilterSearch/_mixins.scss
  src/components/FilterPanel/_index.scss
  src/components/FilterPanel/index.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

refactor(legacy-filter-panel): rename to original file name
  src/components/FilterPanel/LEGACY_FilterPanel/FilterPanel.js
  src/components/FilterPanel/LEGACY_FilterPanel/index.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

feat(filter-accordion): create component
  src/components/FilterPanel/FilterAccordion/FilterAccordion.js
  src/components/FilterPanel/FilterAccordion/_index.scss
  src/components/FilterPanel/FilterAccordion/_mixins.scss
  src/components/FilterPanel/FilterAccordion/index.js
  src/components/FilterPanel/FilterLabel/FilterLabel.js
  src/components/FilterPanel/FilterLabel/_index.scss
  src/components/FilterPanel/FilterLabel/_mixins.scss
  src/components/FilterPanel/FilterLabel/index.js
  src/components/FilterPanel/FilterPanel.stories.js
  src/components/FilterPanel/FilterSearch/FilterSearch.js
  src/components/FilterPanel/FilterSearch/_mixins.scss
  src/components/FilterPanel/LEGACY_FilterPanel/FilterCategory/_mixins.scss
  src/components/FilterPanel/_index.scss
  src/components/FilterPanel/index.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

fix(scripts): add debug scss script and cmd, wrap postCSS async func in try (#282)
  package.json
  scripts/debugScss.js
  scripts/styles.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

chore(release): 1.14.0-prerelease.3 [skip ci]
  package.json
Due: none

fix(panel): add a11y props and attributes
  src/components/Panel/PanelContainer.js
  src/components/Panel/PanelContent.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

chore: update panel snapshots
  src/components/Panel/__tests__/__snapshots__/Panel.spec.js.snap
  src/components/PanelV2/__tests__/__snapshots__/PanelV2.spec.js.snap
Due: none

chore: use strict versions of Carbon packages
  package.json
Due: none

chore: update lock file
  yarn.lock
Due: none

feat(filter-accordion-item): create component
  src/components/FilterPanel/FilterAccordion/FilterAccordion.js
  src/components/FilterPanel/FilterAccordionItem/FilterAccordiontItem.js
  src/components/FilterPanel/FilterAccordionItem/_index.scss
  src/components/FilterPanel/FilterAccordionItem/_mixins.scss
  src/components/FilterPanel/FilterAccordionItem/index.js
  src/components/FilterPanel/FilterLabel/FilterLabel.js
  src/components/FilterPanel/FilterPanel.js
  src/components/FilterPanel/FilterPanel.stories.js
  src/components/FilterPanel/FilterSearch/FilterSearch.js
  src/components/FilterPanel/LEGACY_FilterPanel/FilterSubcategory/_mixins.scss
  src/components/FilterPanel/_index.scss
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

chore: use strict versions of Carbon packages (#307)
  package.json
  yarn.lock
Due: none

fix(panel-v2): add a11y props and attributes
  src/components/Panel/PanelContainer.js
  src/components/PanelV2/PanelV2.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

chore: update panel and panelv2 snapshots
  src/components/DataDecorator/__tests__/__snapshots__/DataDecorator.spec.js.snap
  src/components/PanelV2/__tests__/__snapshots__/PanelV2.spec.js.snap
Due: none

fix(trending-card): use html element in test
  src/components/TrendingCard/__tests__/TrendingCard.spec.js
  src/components/TrendingCard/__tests__/__snapshots__/TrendingCard.spec.js.snap
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

feat(filter-checkbox): create component
  src/components/FilterPanel/FilterAccordionItem/FilterAccordiontItem.js
  src/components/FilterPanel/FilterAccordionItem/_mixins.scss
  src/components/FilterPanel/FilterCheckbox/FilterCheckbox.js
  src/components/FilterPanel/FilterCheckbox/_index.scss
  src/components/FilterPanel/FilterCheckbox/_mixins.scss
  src/components/FilterPanel/FilterCheckbox/index.js
  src/components/FilterPanel/FilterLabel/FilterLabel.js
  src/components/FilterPanel/FilterPanel.stories.js
  src/components/FilterPanel/LEGACY_FilterPanel/FilterSelector/FilterSelector.js
  src/components/FilterPanel/LEGACY_FilterPanel/FilterSelector/_mixins.scss
  src/components/FilterPanel/_index.scss
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

feat(filter-group): create component
  src/components/FilterPanel/FilterAccordion/FilterAccordion.js
  src/components/FilterPanel/FilterAccordion/_mixins.scss
  src/components/FilterPanel/FilterAccordionItem/_mixins.scss
  src/components/FilterPanel/FilterGroup/FilterGroup.js
  src/components/FilterPanel/FilterGroup/_index.scss
  src/components/FilterPanel/FilterGroup/_mixins.scss
  src/components/FilterPanel/FilterGroup/index.js
  src/components/FilterPanel/FilterPanel.stories.js
  src/components/FilterPanel/FilterSearch/_mixins.scss
  src/components/FilterPanel/LEGACY_FilterPanel/FilterCategory/_mixins.scss
  src/components/FilterPanel/_index.scss
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

fix(filter-panel): export subcomponents
  src/components/FilterPanel/FilterPanel.js
  src/components/FilterPanel/FilterPanel.stories.js
  src/components/FilterPanel/LEGACY_FilterPanel/FilterSearch/FilterSearch.js
  src/components/FilterPanel/_mixins.scss
  src/components/FilterPanel/index.js
  src/index.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit
