Repository carbon-design-system/ibm-security: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

chore(panel): remove experimental text, update unit test event handler
  src/components/Panel/Panel.stories.js
  src/components/Panel/__tests__/Panel.spec.js
  src/components/Panel/__tests__/__snapshots__/Panel.spec.js.snap
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

chore(time-estimator): update spread props name
  src/components/TimeEstimator/index.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

feat(summary-card): add multiselect, extend `DataTable` batch actions (#228)
  config/jest/index.js
  src/components/SummaryCard/SummaryCard.js
  src/components/SummaryCard/SummaryCard.stories.js
  src/components/SummaryCard/SummaryCardBatchAction/SummaryCardBatchAction.js
  src/components/SummaryCard/SummaryCardBatchAction/index.js
  src/components/SummaryCard/SummaryCardBatchActions/SummaryCardBatchActions.js
  src/components/SummaryCard/SummaryCardBatchActions/__tests__/SummaryCardBatchActions.spec.js
  src/components/SummaryCard/SummaryCardBatchActions/__tests__/__snapshots__/SummaryCardBatchActions.spec.js.snap
  src/components/SummaryCard/SummaryCardBatchActions/index.js
  src/components/SummaryCard/SummaryCardBody/SummaryCardBody.js
  src/components/SummaryCard/SummaryCardContainer/SummaryCardContainer.js
  src/components/SummaryCard/SummaryCardContainer/__tests__/SummaryCardContainer.spec.js
  src/components/SummaryCard/SummaryCardContainer/__tests__/__snapshots__/SummaryCardContainer.spec.js.snap
  src/components/SummaryCard/SummaryCardContainer/_mocks_/index.js
  src/components/SummaryCard/SummaryCardContainer/index.js
  src/components/SummaryCard/SummaryCardSelect/SummaryCardSelect.js
  src/components/SummaryCard/SummaryCardSelect/__tests__/SummaryCardSelect.spec.js
  src/components/SummaryCard/SummaryCardSelect/__tests__/__snapshots__/SummaryCardSelect.spec.js.snap
  src/components/SummaryCard/SummaryCardSelect/_mocks_/index.js
  src/components/SummaryCard/SummaryCardSelect/index.js
  src/components/SummaryCard/_index.scss
  src/components/SummaryCard/_mixins.scss
  src/components/SummaryCard/index.js
  src/index.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

chore(release): 1.10.2-prerelease.3 [skip ci]
  package.json
Due: none

fix(pagination): remove commented out code, update formatting and comments
  src/components/UNSTABLE_Pagination/Pagination.js
  src/components/UNSTABLE_Pagination/Pagination.stories.js
  src/components/_index.scss
  src/index.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

docs(pagination): add code comments and apply formatting
  src/components/UNSTABLE_Pagination/Pagination.js
  src/components/UNSTABLE_Pagination/Pagination.stories.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

fix(pagination): update logic to display children of pagination
  src/components/UNSTABLE_Pagination/PageChanger.js
  src/components/UNSTABLE_Pagination/Pagination.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

feat(panel): deprecate `Panel` in favor of `PanelV2` (#258)
  docs/migration/migrate-to-2.x.md
  src/components/DataDecorator/DataDecorator.js
  src/components/DataDecorator/__tests__/__snapshots__/DataDecorator.spec.js.snap
  src/components/DataDecorator/migrate-to-2.x.md
  src/components/Panel/Panel.js
  src/components/Panel/Panel.stories.js
  src/components/Panel/PanelContainer.js
  src/components/Panel/PanelController.js
  src/components/Panel/README.md
  src/components/Panel/__tests__/Panel.spec.js
  src/components/Panel/__tests__/__snapshots__/Panel.spec.js.snap
  src/components/Panel/_index.scss
  src/components/Panel/_mixins.scss
  src/components/Panel/_mocks_/index.js
  src/components/Panel/index.js
  src/components/Panel/migrate-to-2.x.md
  src/components/PanelV2/PanelV2.js
  src/components/PanelV2/PanelV2.stories.js
  src/components/PanelV2/__tests__/PanelV2.spec.js
  src/components/PanelV2/__tests__/__snapshots__/PanelV2.spec.js.snap
  src/components/PanelV2/_index.scss
  src/components/PanelV2/_mixins.scss
  src/components/PanelV2/_mocks_/index.js
  src/components/PanelV2/index.js
  src/components/_index.scss
  src/index.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

docs(time-indicator): add usage documentation
  .storybook/index.js
  src/components/TimeEstimator/TimeEstimator.stories.js
  src/components/TimeEstimator/__tests__/TimeEstimator.spec.js
  src/components/TimeIndicator/TimeIndicator.stories.js
  src/components/TimeIndicator/__tests__/TimeIndicator.spec.js
  src/components/TimeIndicator/__tests__/__snapshots__/TimeIndicator.spec.js.snap
  src/components/TimeIndicator/_index.scss
  src/components/TimeIndicator/index.js
  src/components/_index.scss
  src/index.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

chore(storybook): reorder `meta` object
  .storybook/index.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

fix(unstable-pagination): update currentpage application in demo, update page range text application
  src/components/UNSTABLE_Pagination/Pagination.js
  src/components/UNSTABLE_Pagination/Pagination.stories.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

feat(summary-card): add spread prop to each summary card subcomponent
  src/components/SummaryCard/SummaryCard.js
  src/components/SummaryCard/SummaryCard.stories.js
  src/components/SummaryCard/SummaryCardAction/SummaryCardAction.js
  src/components/SummaryCard/SummaryCardBatchActions/SummaryCardBatchActions.js
  src/components/SummaryCard/SummaryCardBody/SummaryCardBody.js
  src/components/SummaryCard/SummaryCardContainer/SummaryCardContainer.js
  src/components/SummaryCard/SummaryCardFooter/SummaryCardFooter.js
  src/components/SummaryCard/SummaryCardHeader/SummaryCardHeader.js
  src/components/SummaryCard/SummaryCardSelect/SummaryCardSelect.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

fix(summary-card): add text overflow rule to summary card title heading
  src/components/SummaryCard/_mixins.scss
Due: yarn format:precommit, yarn lint:scss:precommit

feat(summary-card): use stringformatter in summary card header + add necessary props to apply tooltip
  src/components/StringFormatter/_index.scss
  src/components/SummaryCard/SummaryCard.stories.js
  src/components/SummaryCard/SummaryCardHeader/SummaryCardHeader.js
  src/components/SummaryCard/_mixins.scss
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

fix(string-formatter): update prop tooltipDirection proptype, formatting
  src/components/StringFormatter/StringFormatter.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

feat(unstable-pagination): rename pagechanger to pageselector and add label
  .eslintrc
  src/components/UNSTABLE_Pagination/PageSelector.js
  src/components/UNSTABLE_Pagination/Pagination.js
  src/components/UNSTABLE_Pagination/Pagination.stories.js
  src/components/UNSTABLE_Pagination/_mixins.scss
  src/components/UNSTABLE_Pagination/index.js
  src/index.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

fix(unstable-pagination): make pageselector label customizable
  src/components/UNSTABLE_Pagination/PageSelector.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

fix(unstable-pagination): implement page sizer and currentPageSize
  src/components/UNSTABLE_Pagination/PageSelector.js
  src/components/UNSTABLE_Pagination/PageSizer.js
  src/components/UNSTABLE_Pagination/Pagination.js
  src/components/UNSTABLE_Pagination/Pagination.stories.js
  src/components/UNSTABLE_Pagination/_mixins.scss
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

fix(unstable-pagination): fix styles, remove old file
  src/components/UNSTABLE_Pagination/PageSizer.js
  src/components/UNSTABLE_Pagination/Pagination.js
  src/components/UNSTABLE_Pagination/_mixins.scss
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

fix(pagination): hide overflow
  src/components/UNSTABLE_Pagination/_mixins.scss
Due: yarn format:precommit, yarn lint:scss:precommit

docs(unstable-pagination): add story variation for no page selector
  src/components/UNSTABLE_Pagination/Pagination.stories.js
  src/globals/grid/css-gridish/README.md
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

chore: update gitignore
  .gitignore
Due: none

docs: undo grid readme formatting changes, remove comments
  src/components/UNSTABLE_Pagination/Pagination.stories.js
  src/globals/grid/css-gridish/README.md
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

fix(unstable-pagination): update onsetpage, update demo
  src/components/UNSTABLE_Pagination/Pagination.js
  src/components/UNSTABLE_Pagination/Pagination.stories.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

feat(time-estimator): add component (#240)
  .storybook/config.js
  .storybook/index.js
  src/components/TimeIndicator/TimeIndicator.stories.js
  src/components/TimeIndicator/__tests__/TimeIndicator.spec.js
  src/components/TimeIndicator/__tests__/__snapshots__/TimeIndicator.spec.js.snap
  src/components/TimeIndicator/_index.scss
  src/components/TimeIndicator/index.js
  src/components/_index.scss
  src/index.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

chore(release): 1.10.2-prerelease.4 [skip ci]
  package.json
Due: none

chore(release): 1.11.0 [skip ci]
  package.json
Due: none

fix(string-formatter): update prop tooltipDirection proptype, formatting (#263)
  src/components/StringFormatter/StringFormatter.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

chore(release): 1.11.1-prerelease.1 [skip ci]
  package.json
Due: none

feat(summary-card): allow truncated title with tooltip, allow pass through props (#262)
  src/components/StringFormatter/_index.scss
  src/components/SummaryCard/SummaryCard.js
  src/components/SummaryCard/SummaryCard.stories.js
  src/components/SummaryCard/SummaryCardAction/SummaryCardAction.js
  src/components/SummaryCard/SummaryCardBatchActions/SummaryCardBatchActions.js
  src/components/SummaryCard/SummaryCardBody/SummaryCardBody.js
  src/components/SummaryCard/SummaryCardContainer/SummaryCardContainer.js
  src/components/SummaryCard/SummaryCardFooter/SummaryCardFooter.js
  src/components/SummaryCard/SummaryCardHeader/SummaryCardHeader.js
  src/components/SummaryCard/SummaryCardSelect/SummaryCardSelect.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

chore(release): 1.11.1-prerelease.2 [skip ci]
  package.json
Due: none

chore(trending-card): add text overflow
  src/components/TrendingCard/_index.scss
Due: yarn format:precommit, yarn lint:scss:precommit

fix(storybook): update sorting logic
  .storybook/config.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

docs(storybook): update `getStoryMetadata` documentation
  .storybook/config.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

refactor(card): update export to align with other components
  docs/migration/migrate-to-2.x.md
  src/components/Card/__tests__/Card.spec.js
  src/components/Card/index.js
  src/components/Card/migrate-to-2.x.md
  src/index.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

refactor(toast-notification): update style export to align with other components
  docs/migration/migrate-to-2.x.md
  src/components/Notification/ToastNotification/_index.scss
  src/components/Notification/_index.scss
  src/components/Notification/migrate-to-2.x.md
  src/components/StackedNotification/_index.scss
Due: yarn format:precommit, yarn lint:scss:precommit

refactor(card): update export to align with other components (#268)
  docs/migration/migrate-to-2.x.md
  src/components/Card/__tests__/Card.spec.js
  src/components/Card/index.js
  src/components/Card/migrate-to-2.x.md
  src/index.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

refactor(toast-notification): update style export to align with other components (#269)
  docs/migration/migrate-to-2.x.md
  src/components/Notification/ToastNotification/_index.scss
  src/components/Notification/_index.scss
  src/components/Notification/migrate-to-2.x.md
  src/components/StackedNotification/_index.scss
Due: yarn format:precommit, yarn lint:scss:precommit

refactor: remove deprecated props
  src/components/Button/Button.js
  src/components/ComboButton/__tests__/__snapshots__/ComboButton.spec.js.snap
  src/components/DataDecorator/Decorator/__tests__/__snapshots__/Decorator.spec.js.snap
  src/components/DataDecorator/__tests__/__snapshots__/DataDecorator.spec.js.snap
  src/components/DataTable/DataTablePagination/DataTablePagination.stories.js
  src/components/ExternalLink/__tests__/__snapshots__/ExternalLink.spec.js.snap
  src/components/FilterPanel/FilterSubcategory/__tests__/__snapshots__/FilterSubcategory.spec.js.snap
  src/components/Header/HeaderNotification/__tests__/__snapshots__/HeaderNotification.spec.js.snap
  src/components/Header/__tests__/__snapshots__/Header.spec.js.snap
  src/components/Icon/Icon.js
  src/components/IconButton/__tests__/__snapshots__/IconButton.spec.js.snap
  src/components/Nav/NavList/__tests__/__snapshots__/NavList.spec.js.snap
  src/components/Nav/__tests__/__snapshots__/Nav.spec.js.snap
  src/components/Panel/__tests__/__snapshots__/Panel.spec.js.snap
  src/components/SearchBar/__tests__/__snapshots__/SearchBar.spec.js.snap
  src/components/StatusIcon/__tests__/__snapshots__/StatusIcon.spec.js.snap
  src/components/StatusIndicator/__tests__/__snapshots__/StatusIndicator.spec.js.snap
  src/components/Tag/InteractiveTag/__tests__/__snapshots__/InteractiveTag.spec.js.snap
  src/components/TagWall/__tests__/__snapshots__/TagWall.spec.js.snap
  src/components/TagWallFilter/__tests__/__snapshots__/TagWallFilter.spec.js.snap
  src/components/Tearsheet/TearsheetSmall/__tests__/__snapshots__/TearsheetSmall.spec.js.snap
  src/components/Tearsheet/__tests__/__snapshots__/Tearsheet.spec.js.snap
  src/components/TypeLayout/TypeLayout.js
  src/components/TypeLayout/__tests__/TypeLayout.spec.js
  src/components/TypeLayout/__tests__/__snapshots__/TypeLayout.spec.js.snap
  src/components/TypeLayout/_mixins.scss
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

fix(unstable-pagination): remove eslint plusplus rule override, update counter in renderPages
  .eslintrc
  src/components/UNSTABLE_Pagination/PageSelector.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

Path conditions:
  yarn format:precommit: any of: *.{js,md,scss}
  yarn lint:js:precommit: any of: *.js
  yarn test:precommit: any of: *.js
  yarn lint:scss:precommit: any of: *.scss
