Repository carbon-design-system/ibm-security: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

chore(release): 1.7.1-prerelease.5 [skip ci]
  package.json
Due: none

fix(accordion): remove align prop from `CarbonAccordion`
  src/components/Accordion/Accordion.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

fix(accordion): remove align prop from `CarbonAccordion` (#212)
  src/components/Accordion/Accordion.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

chore(release): 1.7.1-prerelease.6 [skip ci]
  package.json
Due: none

fix(decorator): provide only necessary variations for inline, vertically align, revert viewbox (#210)
  src/components/DataDecorator/Decorator/Decorator.js
  src/components/DataDecorator/_mixins.scss
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

chore(release): 1.7.1-prerelease.7 [skip ci]
  package.json
Due: none

fix(data-table): adjust `z-index` to work with `Tearsheet` (#208)
  src/components/DataTable/_index.scss
  src/components/Tearsheet/_mixins.scss
Due: yarn format:precommit, yarn lint:scss:precommit

chore(release): 1.7.1-prerelease.8 [skip ci]
  package.json
Due: none

chore(status-indicator): add specific retry class
  src/components/StatusIndicator/StatusIndicator.js
  src/components/StatusIndicator/__tests__/__snapshots__/StatusIndicator.spec.js.snap
  src/components/StatusIndicator/_mixins.scss
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

chore(cool-gray): design review fixes
  src/components/ComboButton/_mixins.scss
  src/components/InlineLoading/_index.scss
  src/components/NonEntitledSection/_mixins.scss
  src/components/SearchBar/_mixins.scss
  src/components/StackedNotification/_mixins.scss
Due: yarn format:precommit, yarn lint:scss:precommit

chore(prismjs): remove unused dependency
  package.json
  yarn.lock
Due: none

fix(toolbar): negotiate `z-index`
  src/components/Toolbar/_mixins.scss
Due: yarn format:precommit, yarn lint:scss:precommit

docs(date-picker): fix single calendar story, refactor imports
  src/components/DatePicker/DatePicker.stories.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

Apply suggestions from code review
  src/components/SummaryCard/SummaryCard.stories.js
  src/components/SummaryCard/_mixins.scss
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

feat(summary-card): add component and building blocks (#136)
  src/components/SummaryCard/SummaryCard.js
  src/components/SummaryCard/SummaryCard.stories.js
  src/components/SummaryCard/SummaryCardAction/SummaryCardAction.js
  src/components/SummaryCard/SummaryCardAction/index.js
  src/components/SummaryCard/SummaryCardBody/SummaryCardBody.js
  src/components/SummaryCard/SummaryCardBody/index.js
  src/components/SummaryCard/SummaryCardFooter/SummaryCardFooter.js
  src/components/SummaryCard/SummaryCardFooter/index.js
  src/components/SummaryCard/SummaryCardHeader/SummaryCardHeader.js
  src/components/SummaryCard/SummaryCardHeader/index.js
  src/components/SummaryCard/SummaryCardSkeleton/SummaryCardSkeleton.js
  src/components/SummaryCard/SummaryCardSkeleton/index.js
  src/components/SummaryCard/_index.scss
  src/components/SummaryCard/_mixins.scss
  src/components/SummaryCard/index.js
  src/components/_index.scss
  src/index.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

chore(release): 1.7.1-prerelease.9 [skip ci]
  package.json
Due: none

fix(icon-button-bar): invert carbon overflow menu box shadow
  src/components/IconButtonBar/_mixins.scss
Due: yarn format:precommit, yarn lint:scss:precommit

fix(toolbar): negotiate `z-index` (#217)
  src/components/Toolbar/_mixins.scss
Due: yarn format:precommit, yarn lint:scss:precommit

fix(icon-button-bar): add overflow menu options class for direction and update snapshots
  src/components/IconButtonBar/IconButtonBar.js
  src/components/IconButtonBar/__tests__/__snapshots__/IconButtonBar.spec.js.snap
  src/components/IconButtonBar/_mixins.scss
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

chore(release): 1.7.1-prerelease.10 [skip ci]
  package.json
Due: none

docs(date-picker): fix single calendar story, refactor imports (#218)
  src/components/DatePicker/DatePicker.stories.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

Update docs/migration/2.x-type.md
  docs/migration/2.x-type.md
Due: yarn format:precommit

Update src/components/ICA/ICA.stories.js
  src/components/ICA/ICA.stories.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

refactor: run Prettier
  src/components/SummaryCard/_mixins.scss
Due: yarn format:precommit, yarn lint:scss:precommit

chore(release): 1.8.0 [skip ci]
  package.json
Due: none

chore(notification): revert import declaration
  src/components/Header/HeaderNotification/_mixins.scss
  src/components/Notification/ToastNotification/_index.scss
  src/components/Notification/_index.scss
Due: yarn format:precommit, yarn lint:scss:precommit

chore(husky): update hook
  .huskyrc
  package.json
Due: none

chore(husky): update hook
  .huskyrc
Due: none

chore(husky): update hook
  .lintstagedrc
  .yarn/offline-mirror/del-5.1.0.tgz
  .yarn/offline-mirror/execa-2.1.0.tgz
  .yarn/offline-mirror/fn-name-2.0.1.tgz
  .yarn/offline-mirror/g-status-2.0.2.tgz
  .yarn/offline-mirror/husky-1.3.1.tgz
  .yarn/offline-mirror/husky-3.0.9.tgz
  .yarn/offline-mirror/is-path-cwd-2.2.0.tgz
  .yarn/offline-mirror/is-path-inside-3.0.2.tgz
  .yarn/offline-mirror/lint-staged-8.2.1.tgz
  .yarn/offline-mirror/lint-staged-9.4.2.tgz
  .yarn/offline-mirror/log-symbols-3.0.0.tgz
  .yarn/offline-mirror/matcher-1.1.1.tgz
  .yarn/offline-mirror/npm-path-2.0.4.tgz
  .yarn/offline-mirror/npm-run-path-3.1.0.tgz
  .yarn/offline-mirror/npm-which-3.0.1.tgz
  .yarn/offline-mirror/opencollective-postinstall-2.0.2.tgz
  .yarn/offline-mirror/p-map-3.0.0.tgz
  .yarn/offline-mirror/property-expr-1.5.1.tgz
  .yarn/offline-mirror/read-pkg-4.0.1.tgz
  .yarn/offline-mirror/rimraf-3.0.0.tgz
  .yarn/offline-mirror/simple-git-1.126.0.tgz
  .yarn/offline-mirror/staged-git-files-1.1.2.tgz
  .yarn/offline-mirror/string-argv-0.0.2.tgz
  .yarn/offline-mirror/string-argv-0.3.1.tgz
  .yarn/offline-mirror/synchronous-promise-2.0.10.tgz
  .yarn/offline-mirror/toposort-2.0.2.tgz
  .yarn/offline-mirror/yup-0.27.0.tgz
  package.json
  yarn.lock
Due: none

chore(husky): update hook
  docs/themes/themes.md
Due: yarn format:precommit

chore(husky): update hook
  .huskyrc
  docs/themes/themes.md
Due: yarn format:precommit

Path conditions:
  yarn format:precommit: any of: *.{js,md,scss}
  yarn lint:js:precommit: any of: *.js
  yarn test:precommit: any of: *.js
  yarn lint:scss:precommit: any of: *.scss
