Repository carbon-design-system/ibm-security: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn format:precommit, yarn lint:js:precommit, yarn lint:scss:precommit

.lintstagedrc:

{
  '*.{js,md,scss}': ['yarn format:precommit', 'git add'],
  '*.js': ['yarn lint:js:precommit', 'git add'],
  '*.scss': ['yarn lint:scss:precommit', 'git add'],
}

move icons to the right and update tests
  src/__tests__/scss/__snapshots__/styles-test.js.snap
  src/components/Nav/_mixins.scss
Due: yarn format:precommit, yarn lint:scss:precommit

align icons and text and update tests
  src/__tests__/scss/__snapshots__/styles-test.js.snap
  src/components/Nav/_mixins.scss
Due: yarn format:precommit, yarn lint:scss:precommit

update tests
  src/__tests__/scss/__snapshots__/styles-test.js.snap
Due: none

feat(errorpage): update padding value
  src/components/ErrorPage/_mixins.scss
Due: yarn format:precommit, yarn lint:scss:precommit

feat(errorpage): update padding value (#1033)
  src/components/ErrorPage/_mixins.scss
Due: yarn format:precommit, yarn lint:scss:precommit

Revert "feat(errorpage): update padding value (#1033)"
  src/components/ErrorPage/_mixins.scss
Due: yarn format:precommit, yarn lint:scss:precommit

chore(release): 1.44.0-prerelease.1 [skip ci]
  package.json
Due: none

Notes added by 'git notes add'
  34/79679ebfc3b38a1846c33aa2acfe16fb396d14
Due: none

feat(toolbar): Allow an icon to be used for menu dropdowns(optional)
  src/components/Nav/NavList/NavList.js
  src/components/Nav/_mixins.scss
  src/components/Toolbar/_mocks_/index.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn lint:scss:precommit

feat(toolbar): Allow an icon to be used for menu dropdowns(optional)
  src/components/Toolbar/Toolbar.js
Due: yarn format:precommit, yarn lint:js:precommit

feat(toolbar): Allow an icon to be used for menu dropdowns(optional)
  src/__tests__/scss/__snapshots__/styles-test.js.snap
  src/components/Nav/NavList/__tests__/__snapshots__/NavList-test.js.snap
  src/components/Nav/__tests__/__snapshots__/Nav-test.js.snap
  src/components/__tests__/__snapshots__/publicAPI-test.js.snap
Due: none

feat(toolbar): Allow an icon to be used for menu dropdowns(optional)
  src/components/Nav/NavList/NavList.js
  src/components/Nav/NavList/__tests__/__snapshots__/NavList-test.js.snap
  src/components/Nav/__tests__/__snapshots__/Nav-test.js.snap
  src/components/Toolbar/Toolbar.js
  src/components/__tests__/__snapshots__/publicAPI-test.js.snap
Due: yarn format:precommit, yarn lint:js:precommit

feat(toolbar): Allow an icon to be used for menu dropdowns(optional)
  src/__tests__/scss/__snapshots__/styles-test.js.snap
  src/components/Nav/NavList/NavList.js
  src/components/Nav/NavList/__tests__/__snapshots__/NavList-test.js.snap
  src/components/Nav/__tests__/__snapshots__/Nav-test.js.snap
  src/components/Nav/_mixins.scss
  src/components/Toolbar/Toolbar.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn lint:scss:precommit

feat(toolbar): Allow an icon to be used for menu dropdowns(optional)
  src/__tests__/scss/__snapshots__/styles-test.js.snap
  src/components/Nav/_mixins.scss
Due: yarn format:precommit, yarn lint:scss:precommit

feat(toolbar): Allow an icon to be used for menu dropdowns(optional)
  src/__tests__/scss/__snapshots__/styles-test.js.snap
  src/components/Nav/NavList/NavList.js
Due: yarn format:precommit, yarn lint:js:precommit

487/allow icons next to dropdowns (#1035)
  src/__tests__/scss/__snapshots__/styles-test.js.snap
  src/components/Nav/NavList/NavList.js
  src/components/Nav/NavList/__tests__/__snapshots__/NavList-test.js.snap
  src/components/Nav/__tests__/__snapshots__/Nav-test.js.snap
  src/components/Nav/_mixins.scss
  src/components/Toolbar/Toolbar.js
  src/components/Toolbar/_mocks_/index.js
  src/components/__tests__/__snapshots__/publicAPI-test.js.snap
Due: yarn format:precommit, yarn lint:js:precommit, yarn lint:scss:precommit

Revert "487/allow icons next to dropdowns (#1035)"
  src/__tests__/scss/__snapshots__/styles-test.js.snap
  src/components/Nav/NavList/NavList.js
  src/components/Nav/NavList/__tests__/__snapshots__/NavList-test.js.snap
  src/components/Nav/__tests__/__snapshots__/Nav-test.js.snap
  src/components/Nav/_mixins.scss
  src/components/Toolbar/Toolbar.js
  src/components/Toolbar/_mocks_/index.js
  src/components/__tests__/__snapshots__/publicAPI-test.js.snap
Due: yarn format:precommit, yarn lint:js:precommit, yarn lint:scss:precommit

fix(ICA): update margin value
  src/components/ICA/ICASkeleton/_index.scss
Due: yarn format:precommit, yarn lint:scss:precommit

fix(ICA): update margin value
  src/__tests__/scss/__snapshots__/styles-test.js.snap
  src/components/ICA/ICASkeleton/_index.scss
Due: yarn format:precommit, yarn lint:scss:precommit

fix(ICA): update margin value (#1037)
  src/__tests__/scss/__snapshots__/styles-test.js.snap
  src/components/ICA/ICASkeleton/_index.scss
Due: yarn format:precommit, yarn lint:scss:precommit

Revert "487/allow icons next to dropdowns (#1035)" (#1038)
  src/__tests__/scss/__snapshots__/styles-test.js.snap
  src/components/Nav/NavList/NavList.js
  src/components/Nav/NavList/__tests__/__snapshots__/NavList-test.js.snap
  src/components/Nav/__tests__/__snapshots__/Nav-test.js.snap
  src/components/Nav/_mixins.scss
  src/components/Toolbar/Toolbar.js
  src/components/Toolbar/_mocks_/index.js
  src/components/__tests__/__snapshots__/publicAPI-test.js.snap
Due: yarn format:precommit, yarn lint:js:precommit, yarn lint:scss:precommit

feat(toolbar): Allow an icon to be used for menu dropdowns(optional)
  src/__tests__/scss/__snapshots__/styles-test.js.snap
  src/components/Nav/NavList/NavList.js
  src/components/Nav/NavList/__tests__/__snapshots__/NavList-test.js.snap
  src/components/Nav/__tests__/__snapshots__/Nav-test.js.snap
  src/components/Nav/_mixins.scss
  src/components/Toolbar/Toolbar.js
  src/components/Toolbar/_mocks_/index.js
  src/components/__tests__/__snapshots__/publicAPI-test.js.snap
Due: yarn format:precommit, yarn lint:js:precommit, yarn lint:scss:precommit

feat(toolbar): Allow an icon to be used for menu dropdowns(optional) (#1039)
  src/__tests__/scss/__snapshots__/styles-test.js.snap
  src/components/Nav/NavList/NavList.js
  src/components/Nav/NavList/__tests__/__snapshots__/NavList-test.js.snap
  src/components/Nav/__tests__/__snapshots__/Nav-test.js.snap
  src/components/Nav/_mixins.scss
  src/components/Toolbar/Toolbar.js
  src/components/Toolbar/_mocks_/index.js
  src/components/__tests__/__snapshots__/publicAPI-test.js.snap
Due: yarn format:precommit, yarn lint:js:precommit, yarn lint:scss:precommit

chore(release): 1.44.0-prerelease.2 [skip ci]
  package.json
Due: none

Notes added by 'git notes add'
  2f/1f37131729c9b0cbd7d169068c5f2544d517ec
Due: none

fix(filter-panel-search): fix accessibility error (#1028)
  .achecker.yml
  src/components/FilterPanel/FilterPanelSearch/FilterPanelSearch.js
  src/components/__tests__/__snapshots__/publicAPI-test.js.snap
Due: yarn format:precommit, yarn lint:js:precommit

this adds a label and variant with label to the titlebarmodule
  src/components/LayoutModules/TitleBarModule/TitleBarModule.stories.js
  src/components/LayoutModules/TitleBarModule/_index.scss
  src/components/LayoutModules/TitleBarModule/index.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn lint:scss:precommit

hides the labelDirection control for variantLabel
  src/components/LayoutModules/TitleBarModule/TitleBarModule.stories.js
Due: yarn format:precommit, yarn lint:js:precommit

chore: remove ramda dependency
  .babelrc.js
  .yarn/offline-mirror/babel-plugin-ramda-2.0.0.tgz
  .yarn/offline-mirror/ramda-0.25.0.tgz
  .yarn/offline-mirror/ramda-0.26.1.tgz
  package.json
  rollup.config.js
  yarn.lock
Due: yarn format:precommit, yarn lint:js:precommit

chore: remove ramda dependency (#1041)
  .babelrc.js
  .yarn/offline-mirror/babel-plugin-ramda-2.0.0.tgz
  .yarn/offline-mirror/ramda-0.25.0.tgz
  .yarn/offline-mirror/ramda-0.26.1.tgz
  package.json
  rollup.config.js
  yarn.lock
Due: yarn format:precommit, yarn lint:js:precommit

adds controls for variant and top margin for action element
  src/components/LayoutModules/TitleBarModule/TitleBarModule.stories.js
  src/components/LayoutModules/TitleBarModule/_index.scss
Due: yarn format:precommit, yarn lint:js:precommit, yarn lint:scss:precommit

updates snapshots
  src/__tests__/scss/__snapshots__/SCSS.spec.js.snap
  src/components/__tests__/__snapshots__/publicAPI.spec.js.snap
Due: none

adds screenshots to documentation for new stories
  src/components/LayoutModules/TitleBarModule/images/withLabel.png
  src/components/LayoutModules/TitleBarModule/images/withactions.png
  src/components/LayoutModules/TitleBarModule/images/withactionsandlabel.png
  src/components/LayoutModules/TitleBarModule/images/withlabelpositions.png
  src/components/LayoutModules/TitleBarModule/index.mdx
Due: none

updates the documentation
  src/components/LayoutModules/TitleBarModule/images/variants.png
  src/components/LayoutModules/TitleBarModule/images/with-actions-and-label.png
  src/components/LayoutModules/TitleBarModule/images/with-actions.png
  src/components/LayoutModules/TitleBarModule/images/with-label-positions.png
  src/components/LayoutModules/TitleBarModule/images/with-label.png
  src/components/LayoutModules/TitleBarModule/index.mdx
Due: none

build(prettier): add Carbon configuration
  .prettierrc
  .yarn/offline-mirror/prettier-config-carbon-0.4.0.tgz
  package.json
  yarn.lock
Due: none

adds import for theme tokens
  src/components/LayoutModules/TitleBarModule/_index.scss
Due: yarn format:precommit, yarn lint:scss:precommit
