Repository carbon-design-system/ibm-security: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

Notes added by 'git notes add'
  6e/ae89e00d618f5b53a18cadf00dcf8d1367b0a5
Due: none

docs(storybook): update documentation
  src/components/UNSTABLE__Layout/LayoutModules/LayoutModules.stories.js
  src/components/UNSTABLE__Layout/stories/index.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

fix(tag-wall-filter): fix scrollbar position
  src/__tests__/scss/__snapshots__/SCSS.spec.js.snap
  src/components/TagWallFilter/TagWallFilter.js
  src/components/TagWallFilter/__tests__/__snapshots__/TagWallFilter.spec.js.snap
  src/components/TagWallFilter/_index.scss
  src/components/TagWallFilter/_mixins.scss
  src/components/Tearsheet/TearsheetSmall/_index.scss
  src/components/Tearsheet/TearsheetSmall/_variables.scss
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

docs(storybook): update documentation
  src/components/UNSTABLE__Layout/stories/index.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

fix(loading-message): update background color token
  src/__tests__/scss/__snapshots__/SCSS.spec.js.snap
  src/components/Loading/_index.scss
Due: yarn format:precommit, yarn lint:scss:precommit

docs(tearsheet): add animation guidance
  src/components/Tearsheet/Tearsheet.stories.js
  src/components/Tearsheet/TearsheetSmall/TearsheetSmall.stories.js
  src/components/Tearsheet/stories/index.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

feat(icon-button-bar): add border prop that inserts elements for dividers
  src/components/IconButtonBar/IconButtonBar.js
  src/components/IconButtonBar/IconButtonBar.stories.js
  src/components/IconButtonBar/_index.scss
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

fix(icon-button-bar): rename border prop to divider
  src/components/IconButtonBar/IconButtonBar.js
  src/components/IconButtonBar/IconButtonBar.stories.js
  src/components/IconButtonBar/_index.scss
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

test(icon-button-bar): add divider tests, update snapshots
  src/__tests__/scss/__snapshots__/SCSS.spec.js.snap
  src/components/IconButtonBar/IconButtonBar.js
  src/components/IconButtonBar/__tests__/IconButtonBar.spec.js
  src/components/IconButtonBar/__tests__/__snapshots__/IconButtonBar.spec.js.snap
  src/components/__tests__/__snapshots__/publicAPI.spec.js.snap
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

test: add helper for rendering inside a landmark node
  config/jest/helpers/renderWithinLandmark.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

test(components): update a11y tests to use renderWithinLandmark helper
  src/components/Button/__tests__/Button.spec.js
  src/components/Card/CardSkeleton/__tests__/CardSkeleton.spec.js
  src/components/Card/__tests__/Card.spec.js
  src/components/DataDecorator/Decorator/__tests__/Decorator.spec.js
  src/components/DataDecorator/__tests__/DataDecorator.spec.js
  src/components/ErrorPage/__tests__/ErrorPage.spec.js
  src/components/ExternalLink/__tests__/ExternalLink.spec.js
  src/components/FilterPanel/FilterPanelAccordion/__tests__/FilterPanelAccordion.spec.js
  src/components/FilterPanel/FilterPanelAccordionItem/__tests__/FilterPanelAccordionItem.spec.js
  src/components/FilterPanel/FilterPanelCheckbox/__tests__/FilterPanelCheckbox.spec.js
  src/components/FilterPanel/FilterPanelCheckboxWithOverflowMenu/__tests__/FilterPanelCheckboxWithOverflowMenu.spec.js
  src/components/FilterPanel/FilterPanelGroup/__tests__/FilterPanelGroup.spec.js
  src/components/FilterPanel/FilterPanelLabel/__tests__/FilterPanelLabel.spec.js
  src/components/FilterPanel/FilterPanelSearch/__tests__/FilterSearch.spec.js
  src/components/FilterPanel/__tests__/FilterPanel.spec.js
  src/components/ICA/ICASkeleton/__tests__/ICASkeleton.spec.js
  src/components/ICA/__tests__/ICA.spec.js
  src/components/Loading/LoadingMessage/__tests__/LoadingMessage.spec.js
  src/components/NonEntitledSection/__tests__/NonEntitledSection.spec.js
  src/components/PanelV2/__tests__/PanelV2.spec.js
  src/components/Pill/__tests__/Pill.spec.js
  src/components/Portal/__tests__/Portal.spec.js
  src/components/ProfileImage/__tests__/ProfileImage.spec.js
  src/components/StackedNotification/__tests__/StackedNotification.spec.js
  src/components/StatusIcon/__tests__/StatusIcon.spec.js
  src/components/StatusIndicator/StatusStep/__tests__/StatusStep.spec.js
  src/components/StatusIndicator/__tests__/StatusIndicator.spec.js
  src/components/StepIndicator/__tests__/StepIndicator.spec.js
  src/components/StringFormatter/__tests__/StringFormatter.spec.js
  src/components/SummaryCard/SummaryCardContainer/__tests__/SummaryCardContainer.spec.js
  src/components/SummaryCard/SummaryCardSkeleton/__tests__/SummaryCardSkeleton.spec.js
  src/components/SummaryCard/__tests__/SummaryCard.spec.js
  src/components/Tag/InteractiveTag/__tests__/InteractiveTag.spec.js
  src/components/TimeIndicator/__tests__/TimeIndicator.spec.js
  src/components/TrendingCard/__tests__/TrendingCard.spec.js
  src/components/TruncatedList/__tests__/TruncatedList.spec.js
  src/components/TypeLayout/__tests__/TypeLayout.spec.js
  src/components/UNSTABLE__Pagination/__tests__/Pagination.spec.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

docs(testing): update testing docs with renderWithinLandmark info
  docs/testing/README.md
Due: yarn format:precommit

fix(data-table-pagination): remove unused prop
  src/components/DataTable/DataTablePagination/DataTablePagination.js
  src/components/__tests__/__snapshots__/publicAPI.spec.js.snap
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

fix(stories): export correctly to be included in deploy
  scripts/stories/templates/index.hbs
  src/components/stories/ComposedModal.stories.js
  src/components/stories/DataTableSkeleton.stories.js
  src/components/stories/ErrorBoundary.stories.js
  src/components/stories/FluidForm.stories.js
  src/components/stories/Form.stories.js
  src/components/stories/FormLabel.stories.js
  src/components/stories/SkeletonPlaceholder.stories.js
  src/components/stories/Textarea.stories.js
  src/components/stories/TooltipDefinition.stories.js
  src/components/stories/TooltipIcon.stories.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

docs(layouts): update navigation title
  src/components/UNSTABLE__Layout/Layout.stories.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

fix(summary-card): prevent `z-index` leak
  src/__tests__/scss/__snapshots__/SCSS.spec.js.snap
  src/components/SummaryCard/_mixins.scss
Due: yarn format:precommit, yarn lint:scss:precommit

fix(data-table-pagination): remove unused prop (#632)
  src/components/DataTable/DataTablePagination/DataTablePagination.js
  src/components/__tests__/__snapshots__/publicAPI.spec.js.snap
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

chore(release): 1.26.1-prerelease.3 [skip ci]
  package.json
Due: none

Notes added by 'git notes add'
  c5/249d68a0733b0ef0696e602e0d3135f2798ffd
Due: none

test(components): update a11y tests to use renderWithinLandmark (#631)
  config/jest/helpers/renderWithinLandmark.js
  docs/testing/README.md
  src/components/Button/__tests__/Button.spec.js
  src/components/Card/CardSkeleton/__tests__/CardSkeleton.spec.js
  src/components/Card/__tests__/Card.spec.js
  src/components/DataDecorator/Decorator/__tests__/Decorator.spec.js
  src/components/DataDecorator/__tests__/DataDecorator.spec.js
  src/components/ErrorPage/__tests__/ErrorPage.spec.js
  src/components/ExternalLink/__tests__/ExternalLink.spec.js
  src/components/FilterPanel/FilterPanelAccordion/__tests__/FilterPanelAccordion.spec.js
  src/components/FilterPanel/FilterPanelAccordionItem/__tests__/FilterPanelAccordionItem.spec.js
  src/components/FilterPanel/FilterPanelCheckbox/__tests__/FilterPanelCheckbox.spec.js
  src/components/FilterPanel/FilterPanelCheckboxWithOverflowMenu/__tests__/FilterPanelCheckboxWithOverflowMenu.spec.js
  src/components/FilterPanel/FilterPanelGroup/__tests__/FilterPanelGroup.spec.js
  src/components/FilterPanel/FilterPanelLabel/__tests__/FilterPanelLabel.spec.js
  src/components/FilterPanel/FilterPanelSearch/__tests__/FilterSearch.spec.js
  src/components/FilterPanel/__tests__/FilterPanel.spec.js
  src/components/ICA/ICASkeleton/__tests__/ICASkeleton.spec.js
  src/components/ICA/__tests__/ICA.spec.js
  src/components/Loading/LoadingMessage/__tests__/LoadingMessage.spec.js
  src/components/NonEntitledSection/__tests__/NonEntitledSection.spec.js
  src/components/PanelV2/__tests__/PanelV2.spec.js
  src/components/Pill/__tests__/Pill.spec.js
  src/components/Portal/__tests__/Portal.spec.js
  src/components/ProfileImage/__tests__/ProfileImage.spec.js
  src/components/StackedNotification/__tests__/StackedNotification.spec.js
  src/components/StatusIcon/__tests__/StatusIcon.spec.js
  src/components/StatusIndicator/StatusStep/__tests__/StatusStep.spec.js
  src/components/StatusIndicator/__tests__/StatusIndicator.spec.js
  src/components/StepIndicator/__tests__/StepIndicator.spec.js
  src/components/StringFormatter/__tests__/StringFormatter.spec.js
  src/components/SummaryCard/SummaryCardContainer/__tests__/SummaryCardContainer.spec.js
  src/components/SummaryCard/SummaryCardSkeleton/__tests__/SummaryCardSkeleton.spec.js
  src/components/SummaryCard/__tests__/SummaryCard.spec.js
  src/components/Tag/InteractiveTag/__tests__/InteractiveTag.spec.js
  src/components/TimeIndicator/__tests__/TimeIndicator.spec.js
  src/components/TrendingCard/__tests__/TrendingCard.spec.js
  src/components/TruncatedList/__tests__/TruncatedList.spec.js
  src/components/TypeLayout/__tests__/TypeLayout.spec.js
  src/components/UNSTABLE__Pagination/__tests__/Pagination.spec.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

docs(icon-button-bar): update default size in story, update divider demo
  src/components/IconButtonBar/IconButtonBar.stories.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

fix(loading-message): update background color token (#628)
  src/__tests__/scss/__snapshots__/SCSS.spec.js.snap
  src/components/Loading/_index.scss
Due: yarn format:precommit, yarn lint:scss:precommit

chore(release): 1.26.1-prerelease.4 [skip ci]
  package.json
Due: none

Notes added by 'git notes add'
  b8/b96e715b01f9e1941ea101ecbee89048b81935
Due: none

chore: remove `css-gridish` artifacts, remove redundant stories
  src/components/DataTable/DataTable.stories.js
  src/components/DataTable/stories/with-skeleton.js
  src/components/TextArea/TextArea.stories.js
  src/globals/grid/css-gridish/README.md
  src/globals/grid/css-gridish/bx-grid.sketch
  src/globals/grid/css-gridish/css/bx-grid-legacy.css
  src/globals/grid/css-gridish/css/bx-grid-legacy.min.css
  src/globals/grid/css-gridish/css/bx-grid.css
  src/globals/grid/css-gridish/css/bx-grid.min.css
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

fix(summary-card): reference `z-index`
  src/components/SummaryCard/_mixins.scss
Due: yarn format:precommit, yarn lint:scss:precommit

Add onContextMenu support to Decorator and DataDecorator
  src/components/DataDecorator/DataDecorator.js
  src/components/DataDecorator/Decorator/Decorator.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

fix(summary-card): prevent `z-index` leak (#634)
  src/__tests__/scss/__snapshots__/SCSS.spec.js.snap
  src/components/SummaryCard/_mixins.scss
Due: yarn format:precommit, yarn lint:scss:precommit

chore(release): 1.26.1-prerelease.5 [skip ci]
  package.json
Due: none

Notes added by 'git notes add'
  ad/f5ab4afb4f1cae5dafc23f287c7346a5cfa425
Due: none

docs(tearsheet): add animation guidance (#629)
  src/components/Tearsheet/Tearsheet.stories.js
  src/components/Tearsheet/TearsheetSmall/TearsheetSmall.stories.js
  src/components/Tearsheet/stories/index.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

fix(toolbar): add design revisions
  src/__tests__/scss/__snapshots__/SCSS.spec.js.snap
  src/components/Nav/_mixins.scss
  src/components/Shell/Shell.stories.js
  src/components/Toolbar/Toolbar.js
  src/components/Toolbar/__tests__/__snapshots__/Toolbar.spec.js.snap
  src/components/Toolbar/_mixins.scss
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

fix(icon-button-bar): update story, update divider span
  src/components/IconButtonBar/IconButtonBar.js
  src/components/IconButtonBar/IconButtonBar.stories.js
  src/components/IconButtonBar/__tests__/__snapshots__/IconButtonBar.spec.js.snap
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

fix(tag-wall-filter): fix scrollbar position (#627)
  src/__tests__/scss/__snapshots__/SCSS.spec.js.snap
  src/components/TagWallFilter/TagWallFilter.js
  src/components/TagWallFilter/__tests__/__snapshots__/TagWallFilter.spec.js.snap
  src/components/TagWallFilter/_index.scss
  src/components/TagWallFilter/_mixins.scss
  src/components/Tearsheet/TearsheetSmall/_index.scss
  src/components/Tearsheet/TearsheetSmall/_variables.scss
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

chore(release): 1.26.1-prerelease.6 [skip ci]
  package.json
Due: none

Notes added by 'git notes add'
  61/c58b60fadaeec99456fbd8c8c5513630e600e9
Due: none

Add proptype comments
  src/components/DataDecorator/DataDecorator.js
  src/components/DataDecorator/Decorator/Decorator.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

Updating publicApi spec for (Data)decorator
  src/components/__tests__/__snapshots__/publicAPI.spec.js.snap
Due: none

fix(icon-button-bar): update styles
  src/__tests__/scss/__snapshots__/SCSS.spec.js.snap
  src/components/IconButtonBar/_index.scss
Due: yarn format:precommit, yarn lint:scss:precommit

feat(icon-button-bar): add divider prop with demo and tests (#630)
  src/__tests__/scss/__snapshots__/SCSS.spec.js.snap
  src/components/IconButtonBar/IconButtonBar.js
  src/components/IconButtonBar/IconButtonBar.stories.js
  src/components/IconButtonBar/__tests__/IconButtonBar.spec.js
  src/components/IconButtonBar/__tests__/__snapshots__/IconButtonBar.spec.js.snap
  src/components/IconButtonBar/_index.scss
  src/components/__tests__/__snapshots__/publicAPI.spec.js.snap
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

Path conditions:
  yarn format:precommit: any of: *.{js,md,scss}
  yarn lint:js:precommit: any of: *.js
  yarn test:precommit: any of: *.js
  yarn lint:scss:precommit: any of: *.scss
