Repository carbon-design-system/ibm-security: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

.lintstagedrc:

{
  "linters": {
    '*.{js,md,scss}': ['yarn format:precommit', 'git add'],
    '*.js': ['yarn lint:js:precommit', 'git add', 'yarn test:precommit'],
    '*.scss': ['yarn lint:scss:precommit', 'git add'],
  }
}

fix(themes): allow overrides
  docs/themes/themes.md
Due: yarn format:precommit

feat(header): re-apply tooltip defintion usage to header notifications, update styles and snapshots
  src/components/Header/Header.js
  src/components/Header/HeaderNotification/HeaderNotification.js
  src/components/Header/HeaderNotification/__tests__/__snapshots__/HeaderNotification.spec.js.snap
  src/components/Header/HeaderNotification/_mixins.scss
  src/components/Header/_mixins.scss
  src/components/StringFormatter/StringFormatter.js
  src/components/StringFormatter/__tests__/StringFormatter.spec.js
  src/components/StringFormatter/__tests__/__snapshots__/StringFormatter.spec.js.snap
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

fix(app-scan): cherry pick changes from GitHub Enterprise (#174)
  .gitignore
  src/components/InlineLoading/InlineLoading.stories.js
  src/components/ProfileImage/ProfileImage.stories.js
  src/components/ProfileImage/__tests__/ProfileImage.spec.js
  src/components/ProfileImage/__tests__/__snapshots__/ProfileImage.spec.js.snap
  src/components/ProfileImage/_mocks_/index.js
  src/components/Tooltip/Tooltip.stories.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

chore(release): 1.6.1-prerelease.1 [skip ci]
  package.json
Due: none

chore(release): 1.6.1 [skip ci]
  package.json
Due: none

fix(themes): allow overrides, fix dropdown
  docs/themes/themes.md
  src/components/Header/_mixins.scss
  src/components/IconButton/_mixins.scss
  src/components/Panel/_mixins.scss
  src/components/PanelV2/_mixins.scss
  src/components/Shell/_mixins.scss
  src/components/Toolbar/_mixins.scss
  src/components/Tooltip/_mixins.scss
  src/globals/theme/_mixins.scss
  src/globals/theme/_variables.scss
Due: yarn format:precommit, yarn lint:scss:precommit

fix(summary-card): apply PR feedback for style consistency and removing scroll gradient custom color
  src/components/SummaryCard/SummaryCardBody/SummaryCardBody.js
  src/components/SummaryCard/_mixins.scss
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

fix(summary-card): update bem syntax for subcomponents namespaces
  src/components/SummaryCard/SummaryCardAction/SummaryCardAction.js
  src/components/SummaryCard/SummaryCardBody/SummaryCardBody.js
  src/components/SummaryCard/SummaryCardFooter/SummaryCardFooter.js
  src/components/SummaryCard/SummaryCardHeader/SummaryCardHeader.js
  src/components/SummaryCard/_mixins.scss
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

chore(CODEOWNERS): add reviewers automatically
  CODEOWNERS
Due: none

chore(CODEOWNERS): add URL
  CODEOWNERS
Due: none

chore(cool-gray): review fixes
  src/components/Header/_mixins.scss
  src/components/ICA/ICA.js
  src/components/ICA/__tests__/__snapshots__/ICA.spec.js.snap
  src/components/Nav/_mixins.scss
  src/components/Toolbar/_mixins.scss
  src/globals/theme/_variables.scss
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

fix(icon-button-bar): override OverflowMenu` styles, prevent potential override of size variable
  src/components/IconButtonBar/IconButtonBar.js
  src/components/IconButtonBar/__tests__/__snapshots__/IconButtonBar.spec.js.snap
  src/components/IconButtonBar/_index.scss
  src/components/IconButtonBar/_mixins.scss
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

fix(icon-button-bar): override OverflowMenu` styles, prevent potential override of size variable
  src/components/IconButtonBar/_mixins.scss
Due: yarn format:precommit, yarn lint:scss:precommit

docs(storybook): add documentation for basic guidance
  docs/storybook.md
Due: yarn format:precommit

chore(storybook): remove markup addon
  .storybook/addons.js
  .storybook/addons/addon-markup/index.js
  .storybook/addons/addon-markup/register.js
  .storybook/config.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

chore(storybook): remove markup addon
  .yarn/offline-mirror/highlight.js-9.13.1.tgz
  .yarn/offline-mirror/lowlight-1.11.0.tgz
  .yarn/offline-mirror/react-syntax-highlighter-10.3.5.tgz
  package.json
  yarn.lock
Due: none

feat(styles): modularise multiple component styles (#167)
  .storybook/components/Container/index.js
  .yarn/offline-mirror/@carbon-motion-10.4.0.tgz
  package.json
  src/components/DataDecorator/__tests__/__snapshots__/DataDecorator.spec.js.snap
  src/components/ICA/ICASkeleton/_index.scss
  src/components/ICA/ICASkeleton/_mixins.scss
  src/components/ICA/_index.scss
  src/components/ICA/_mixins.scss
  src/components/NonEntitledSection/_index.scss
  src/components/NonEntitledSection/_mixins.scss
  src/components/Notification/ToastNotification/_index.scss
  src/components/Notification/_index.scss
  src/components/PanelV2/PanelV2.js
  src/components/PanelV2/__tests__/__snapshots__/PanelV2.spec.js.snap
  src/components/PanelV2/_index.scss
  src/components/PanelV2/_mixins.scss
  src/components/Pill/_index.scss
  src/components/Pill/_mixins.scss
  src/components/ProgressIndicator/_index.scss
  src/components/ScrollGradient/_index.scss
  src/components/ScrollGradient/_mixins.scss
  src/components/Search/_index.scss
  src/components/SearchBar/_index.scss
  src/components/SearchBar/_mixins.scss
  yarn.lock
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

chore(icon-button-bar): fix broken variable
  src/components/IconButtonBar/_mixins.scss
Due: yarn format:precommit, yarn lint:scss:precommit

chore(CODEOWNERS): add reviewers automatically (#176)
  CODEOWNERS
Due: none

fix(header-notification): add focus outline to notification tooltip trigger
  src/components/Header/HeaderNotification/_mixins.scss
Due: yarn format:precommit, yarn lint:scss:precommit

fix(header-notification): use interactive-01 theme token for focus outline
  src/components/Header/HeaderNotification/_mixins.scss
Due: yarn format:precommit, yarn lint:scss:precommit

fix(icon-button-bar): add missing variable prefix
  src/components/IconButtonBar/_mixins.scss
Due: yarn format:precommit, yarn lint:scss:precommit

Update docs/storybook.md
  docs/storybook.md
Due: yarn format:precommit

chore(storybook): review revisions
  .storybook/index.js
  docs/storybook.md
  src/components/DataTable/DataTablePagination/DataTablePagination.stories.js
  src/components/DelimitedList/DelimitedList.stories.js
  src/components/Pill/Pill.stories.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

chore(storybook): update `DelimitedList` order
  src/components/DelimitedList/DelimitedList.stories.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

chore(storybook): add width
  src/components/DelimitedList/DelimitedList.js
  src/components/DelimitedList/DelimitedList.stories.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

feat(tearsheet-small): add flush modifier, remove redundant code
  .storybook/components/Container/_index.scss
  .storybook/index.scss
  src/components/TagWallFilter/TagWallFilter.js
  src/components/TagWallFilter/__tests__/__snapshots__/TagWallFilter.spec.js.snap
  src/components/Tearsheet/TearsheetSmall/TearsheetSmall.js
  src/components/Tearsheet/TearsheetSmall/__tests__/__snapshots__/TearsheetSmall.spec.js.snap
  src/components/Tearsheet/TearsheetSmall/_mixins.scss
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

chore(tearsheet-small): add `flush` story modifier
  src/components/Tearsheet/TearsheetSmall/TearsheetSmall.stories.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

docs(feature-flags): add documentation on feature flags
  README.md
  docs/migration/2.x-grid.md
  docs/migration/2.x-type.md
Due: yarn format:precommit

chore(deprecate): add ability to pass URL
  src/globals/deprecate/_index.scss
  src/globals/grid/_index.scss
Due: yarn format:precommit, yarn lint:scss:precommit

chore(deprecate): add ability to pass URL
  src/globals/deprecate/_index.scss
Due: yarn format:precommit, yarn lint:scss:precommit

fix(icon-button-bar): override `OverflowMenu` styles, prevent potential variable override (#177)
  src/components/IconButtonBar/IconButtonBar.js
  src/components/IconButtonBar/__tests__/__snapshots__/IconButtonBar.spec.js.snap
  src/components/IconButtonBar/_index.scss
  src/components/IconButtonBar/_mixins.scss
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

chore(release): 1.6.2-prerelease.1 [skip ci]
  package.json
Due: none

feat(tearsheet-small): add flush modifier, remove redundant code (#179)
  .storybook/components/Container/_index.scss
  .storybook/index.scss
  src/components/TagWallFilter/TagWallFilter.js
  src/components/TagWallFilter/__tests__/__snapshots__/TagWallFilter.spec.js.snap
  src/components/Tearsheet/TearsheetSmall/TearsheetSmall.js
  src/components/Tearsheet/TearsheetSmall/TearsheetSmall.stories.js
  src/components/Tearsheet/TearsheetSmall/__tests__/__snapshots__/TearsheetSmall.spec.js.snap
  src/components/Tearsheet/TearsheetSmall/_mixins.scss
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

chore(release): 1.6.2-prerelease.2 [skip ci]
  package.json
Due: none

fix(header-notification): use inverse-focus-ui theme token for notification focus outline
  src/components/Header/HeaderNotification/_mixins.scss
Due: yarn format:precommit, yarn lint:scss:precommit
