Repository carbon-design-system/ibm-security: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

.lintstagedrc:

{
  '*.{js,md,scss}': ['yarn format:precommit', 'git add'],
  '*.js': ['yarn lint:js:precommit', 'git add', 'yarn test:precommit'],
  '*.scss': ['yarn lint:scss:precommit', 'git add'],
}

fix(decorator): add character limit, display value in `title` prop (#654)
  src/__tests__/scss/__snapshots__/SCSS.spec.js.snap
  src/components/DataDecorator/Decorator/Decorator.js
  src/components/DataDecorator/_mixins.scss
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

chore(release): 1.27.1-prerelease.2 [skip ci]
  package.json
Due: none

Notes added by 'git notes add'
  61/72791f986cbb5d6214ede59e49b7fe7b4c6f80
Due: none

chore(shell): fix recursive import
  src/components/UNSTABLE__Shell/ShellSkipToContent/index.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

docs(data-table): add `size` knob
  src/components/DataTable/DataTable.stories.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

fix(scroll-gradient): use `ResizeObserver`
  config/jest/__mocks__/index.js
  config/jest/index.js
  config/jest/matchers/toHaveNoAxeViolations.js
  config/jest/matchers/toHaveNoDAPViolations.js
  src/components/DataTable/stories/default.js
  src/components/ScrollGradient/ScrollGradient.js
  src/components/ScrollGradient/__tests__/ScrollGradient.spec.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

fix(scroll-gradient): use `ResizeObserver`
  config/jest/index.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

fix(scroll-gradient): use `ResizeObserver`
  src/components/ScrollGradient/__tests__/ScrollGradient.spec.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

chore(resize-observer): add polyfill
  package.json
  src/components/ScrollGradient/ScrollGradient.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

chore(resize-observer): add polyfill
  src/components/ScrollGradient/ScrollGradient.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

fix(data-table): proxy `defaultProps` and `propTypes`
  src/components/DataTable/DataTable.js
  src/components/DataTable/DataTable.stories.js
  src/components/DataTable/DataTablePagination/__tests__/__snapshots__/DataTablePagination.spec.js.snap
  src/components/DataTable/__tests__/__snapshots__/DataTable.spec.js.snap
  src/components/__tests__/__snapshots__/publicAPI.spec.js.snap
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

fix(data-table): proxy `defaultProps` and `propTypes` (#666)
  src/components/DataTable/DataTable.js
  src/components/DataTable/DataTable.stories.js
  src/components/DataTable/DataTablePagination/__tests__/__snapshots__/DataTablePagination.spec.js.snap
  src/components/DataTable/__tests__/__snapshots__/DataTable.spec.js.snap
  src/components/__tests__/__snapshots__/publicAPI.spec.js.snap
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

chore(release): 1.27.1-prerelease.3 [skip ci]
  package.json
Due: none

Notes added by 'git notes add'
  6a/9b814c77d0431484e15b55cfe1110339ddcf94
Due: none

feat(breadcrumb-page-title): add basic component
  src/__tests__/scss/__snapshots__/SCSS.spec.js.snap
  src/components/BreadcrumbPageTitle/BreadcrumbPageTitle.stories.js
  src/components/BreadcrumbPageTitle/_index.scss
  src/components/BreadcrumbPageTitle/index.js
  src/components/__tests__/__snapshots__/publicAPI.spec.js.snap
  src/components/_index.scss
  src/index.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

test(scroll-gradient): update test structure
  config/jest/__mocks__/index.js
  config/jest/index.js
  src/components/ScrollGradient/__tests__/ScrollGradient.spec.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

feat(breadcrumb-page-title): add basic component
  src/__tests__/scss/__snapshots__/SCSS.spec.js.snap
  src/components/BreadcrumbPageTitle/BreadcrumbPageTitle.stories.js
  src/components/BreadcrumbPageTitle/_index.scss
  src/components/BreadcrumbPageTitle/index.js
  src/components/__tests__/__snapshots__/publicAPI.spec.js.snap
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

feat(breadcrumb-page-title): add basic component
  src/__tests__/scss/__snapshots__/SCSS.spec.js.snap
  src/components/BreadcrumbPageTitle/_index.scss
  src/components/BreadcrumbPageTitle/index.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

feat(breadcrumb-page-title): add basic component
  src/__tests__/scss/__snapshots__/SCSS.spec.js.snap
  src/components/Breadcrumb/_index.scss
  src/components/BreadcrumbPageTitle/BreadcrumbPageTitle.stories.js
  src/components/BreadcrumbPageTitle/_index.scss
  src/components/BreadcrumbPageTitle/index.js
  src/components/__tests__/__snapshots__/publicAPI.spec.js.snap
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

test(scroll-gradient): use separate mock
  src/components/ScrollGradient/ScrollGradient.js
  src/components/ScrollGradient/__mocks__/index.js
  src/components/ScrollGradient/__tests__/ScrollGradient.spec.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

test(scroll-gradient): use separate mock
  src/components/ScrollGradient/ScrollGradient.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

ci(scroll-gradient): fix SSR
  src/components/ScrollGradient/ScrollGradient.js
  src/components/ScrollGradient/__tests__/ScrollGradient.spec.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

test(scroll-gradient): scope `ResizeObserver` tests
  src/components/ScrollGradient/__tests__/ScrollGradient.spec.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

chore(scroll-gradient): conditionally require polyfill
  src/components/ScrollGradient/ScrollGradient.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

fix(checkbox): update checkbox focus to ensure border is used
  src/components/Checkbox/_index.scss
Due: yarn format:precommit, yarn lint:scss:precommit

chore(release): 1.28.0-prerelease.1 [skip ci]
  package.json
Due: none

Notes added by 'git notes add'
  df/08dfaec6a5e7fa015d78c7a4fd59f4d3156be2
Due: none

docs(codesandbox): add example code (#673)
  .github/ISSUE_TEMPLATE/BUG.md
  .storybook/manager-head.html
  README.md
  examples/codesandbox/package.json
  examples/codesandbox/public/index.html
  examples/codesandbox/src/index.js
  package.json
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

feat(breadcrumb-page-title): add basic component
  src/components/BreadcrumbPageTitle/index.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

chore: update css snapshot
  src/__tests__/scss/__snapshots__/SCSS.spec.js.snap
Due: none

fix(searchbar): remove unused Search prop showIcon
  src/components/SearchBar/SearchBar.js
  src/components/SearchBar/__tests__/__snapshots__/SearchBar.spec.js.snap
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

fix(checkbox): update checkbox focus to ensure border is used (#672)
  src/__tests__/scss/__snapshots__/SCSS.spec.js.snap
  src/components/Checkbox/_index.scss
Due: yarn format:precommit, yarn lint:scss:precommit

chore(release): 1.28.0-prerelease.2 [skip ci]
  package.json
Due: none

Notes added by 'git notes add'
  42/bafd6bd9c30fff5e6a1aad57b6109424b96912
Due: none

fix(searchbar): remove unused Search prop showIcon (#674)
  src/components/SearchBar/SearchBar.js
  src/components/SearchBar/__tests__/__snapshots__/SearchBar.spec.js.snap
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

chore(release): 1.28.0-prerelease.3 [skip ci]
  package.json
Due: none
