Repository carbon-design-system/ibm-security: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

feat(unstable-pagination): split out tests, update parent component a11y tests
  src/components/UNSTABLE__Pagination/__tests__/PageInput.spec.js
  src/components/UNSTABLE__Pagination/__tests__/PageSelector.spec.js
  src/components/UNSTABLE__Pagination/__tests__/Pagination.spec.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

docs(unstable-pagination): update the story desc for page input story
  src/components/UNSTABLE__Pagination/Pagination.stories.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

fix(unstable-pagination): add styling for page input
  src/components/UNSTABLE__Pagination/_index.scss
Due: yarn format:precommit, yarn lint:scss:precommit

fix(unstable-pagination): handle invalid text for the input, for now
  src/components/UNSTABLE__Pagination/PageInput.js
  src/components/UNSTABLE__Pagination/Pagination.stories.js
  src/components/UNSTABLE__Pagination/_index.scss
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

fix(unstable-pagination): update min and max props for page input
  src/components/UNSTABLE__Pagination/PageInput.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

fix(unstabe-pagination): update instance ids for child components, update page input exported name
  src/components/UNSTABLE__Pagination/PageInput.js
  src/components/UNSTABLE__Pagination/PageSelector.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

fix(shell): fix errors
  src/components/UNSTABLE__Shell/HeaderAction/index.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

fix(filter-panel-accordion-item): use outline and transparent border to prevent hover + focus overlap (#378)
  src/components/FilterPanel/FilterPanelAccordionItem/_mixins.scss
Due: yarn format:precommit, yarn lint:scss:precommit

chore(release): 1.17.2-prerelease.6 [skip ci]
  package.json
Due: none

Notes added by 'git notes add'
  f9ade00ae6519803ff8c61c5ac2f7726bd586c31
Due: none

feat(card-skeleton): allow custom classname and extra props via spread attr
  src/components/Card/CardSkeleton/CardSkeleton.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

fix(external-link): add a11y and attributes tests, remove snapshots (#365)
  src/components/ExternalLink/__tests__/ExternalLink.spec.js
  src/components/ExternalLink/__tests__/__snapshots__/ExternalLink.spec.js.snap
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

chore(release): 1.17.2-prerelease.7 [skip ci]
  package.json
Due: none

Notes added by 'git notes add'
  f993a05f4990f4828bbdd9bd29c0aa84cbda1030
Due: none

fix(interactive-tag): update tests and remove old snapshots (#382)
  src/components/Tag/InteractiveTag/__tests__/InteractiveTag.spec.js
  src/components/Tag/InteractiveTag/__tests__/__snapshots__/InteractiveTag.spec.js.snap
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

chore(release): 1.17.2-prerelease.8 [skip ci]
  package.json
Due: none

Notes added by 'git notes add'
  72678a3c610a97e3febdebf56b6c5d78ffbb8ac4
Due: none

fix(error-page): correct style tag formatting for custom background image
  src/components/ErrorPage/ErrorPage.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

fix(error-page): add additional tests per PR feedback
  src/components/ErrorPage/__tests__/ErrorPage.spec.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

fix(error-page): update tests
  src/components/ErrorPage/__tests__/ErrorPage.spec.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

fix(trending-card): add additiona props tests
  src/components/TrendingCard/__tests__/TrendingCard.spec.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

fix(ne-section: add tests for additional props, remove unused prop
  src/components/NonEntitledSection/NonEntitledSection.js
  src/components/NonEntitledSection/__tests__/NonEntitledSection.spec.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

fix(summary-card): update tests for subcomponents
  src/components/SummaryCard/SummaryCardAction/__tests__/SummaryCardAction.spec.js
  src/components/SummaryCard/SummaryCardBatchActions/__tests__/SummaryCardBatchActions.spec.js
  src/components/SummaryCard/SummaryCardBatchActions/__tests__/__snapshots__/SummaryCardBatchActions.spec.js.snap
  src/components/SummaryCard/SummaryCardBody/__tests__/SummaryCardBody.spec.js
  src/components/SummaryCard/SummaryCardSkeleton/__tests__/SummaryCardSkeleton.spec.js
  src/components/SummaryCard/__tests__/SummaryCard.spec.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

fix(summary-card): add header, body, and footer tests
  src/components/SummaryCard/SummaryCardAction/__tests__/SummaryCardAction.spec.js
  src/components/SummaryCard/SummaryCardFooter/__tests__/SummaryCardFooter.spec.js
  src/components/SummaryCard/SummaryCardHeader/__tests__/SummaryCardHeader.spec.js
  src/components/SummaryCard/SummaryCardSelect/__tests__/SummaryCardSelect.spec.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

fix(type-layout): flatten styles and do not clone cells
  src/components/TypeLayout/TypeLayout.js
  src/components/TypeLayout/_mixins.scss
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

fix(navitem): prevent flex shrink of external link icon, update story demo
  src/components/Nav/Nav.stories.js
  src/components/Nav/_mixins.scss
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

Update src/components/UNSTABLE__Shell/ShellHeaderName/index.js
  src/components/UNSTABLE__Shell/ShellHeaderName/index.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

chore(shell): update `Skip To Content` story
  src/components/UNSTABLE__Shell/NotificationsPopover/index.js
  src/components/UNSTABLE__Shell/Shell.stories.js
  src/components/UNSTABLE__Shell/ShellReturnToBanner/index.js
  src/components/UNSTABLE__Shell/ShellSkipToContent/index.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

fix(card-skeleton): remove brackets from proptypes import
  src/components/Card/CardSkeleton/CardSkeleton.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

fix(error-page): update error page tests and remove snapshots (#358)
  src/components/ErrorPage/ErrorPage.js
  src/components/ErrorPage/__tests__/ErrorPage.spec.js
  src/components/ErrorPage/__tests__/__snapshots__/ErrorPage.spec.js.snap
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

chore(release): 1.17.2-prerelease.9 [skip ci]
  package.json
Due: none

Notes added by 'git notes add'
  9c79ee2e6bab4f59dde83ad3a4b9b30f25e3e6bf
Due: none

feat(shell): add instance ID for sub-components
  src/components/Shell/_mixins.scss
  src/components/UNSTABLE__Shell/HeaderActions/index.js
  src/components/UNSTABLE__Shell/ShellToolbar/index.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

feat(card-skeleton): allow custom classname and extra props via spread attr (#405)
  src/components/Card/CardSkeleton/CardSkeleton.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

chore(release): 1.18.0-prerelease.1 [skip ci]
  package.json
Due: none

Notes added by 'git notes add'
  0b09b97ca48d74abf051c8433f0f3f13c9a23c1f
Due: none

fix(navitem): prevent flex shrink of external link icon, update story demo (#409)
  src/components/Nav/Nav.stories.js
  src/components/Nav/_mixins.scss
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

chore(release): 1.18.0-prerelease.2 [skip ci]
  package.json
Due: none

Notes added by 'git notes add'
  029f464769c8575939b1f4b0997e578d5dd3ef98
Due: none

fix(type-layout): flatten styles and do not clone cells (#408)
  src/components/TypeLayout/TypeLayout.js
  src/components/TypeLayout/_mixins.scss
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

Path conditions:
  yarn format:precommit: any of: *.{js,md,scss}
  yarn lint:js:precommit: any of: *.js
  yarn test:precommit: any of: *.js
  yarn lint:scss:precommit: any of: *.scss
