Repository carbon-design-system/ibm-security: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

chore: resolve Yarn dependencies
  .yarn/offline-mirror/@babel-runtime-7.8.7.tgz
  .yarn/offline-mirror/@babel-template-7.6.0.tgz
  .yarn/offline-mirror/@babel-traverse-7.6.3.tgz
  .yarn/offline-mirror/@jest-types-25.1.0.tgz
  .yarn/offline-mirror/@testing-library-dom-6.11.0.tgz
  .yarn/offline-mirror/@testing-library-dom-6.15.0.tgz
  .yarn/offline-mirror/@testing-library-react-9.3.2.tgz
  .yarn/offline-mirror/@types-testing-library__dom-6.14.0.tgz
  .yarn/offline-mirror/@types-testing-library__react-9.1.2.tgz
  .yarn/offline-mirror/@types-testing-library__react-9.1.3.tgz
  .yarn/offline-mirror/@types-yargs-15.0.4.tgz
  .yarn/offline-mirror/aria-query-4.0.2.tgz
  .yarn/offline-mirror/csstype-2.6.7.tgz
  .yarn/offline-mirror/dom-accessibility-api-0.3.0.tgz
  .yarn/offline-mirror/pretty-format-25.1.0.tgz
  .yarn/offline-mirror/react-is-16.11.0.tgz
  .yarn/offline-mirror/regenerator-runtime-0.13.4.tgz
  .yarn/offline-mirror/source-map-resolve-0.5.2.tgz
  .yarn/offline-mirror/wait-for-expect-3.0.1.tgz
  .yarn/offline-mirror/wait-for-expect-3.0.2.tgz
  yarn.lock
Due: none

chore: update unit tests
  src/components/Button/__tests__/Button.spec.js
  src/components/TypeLayout/__tests__/TypeLayout.spec.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

chore(release): 2.4.0 [skip ci]
  package.json
Due: none

Notes added by 'git notes add'
  cff812b99576fb0a1c918d045038daa4993f3c0a
Due: none

chore(release): 1.18.1-prerelease.8 [skip ci]
  package.json
Due: none

Notes added by 'git notes add'
  12053e4f04635218cd99473866eb58861414e61b
Due: none

feat(carbon): update to `10.10`
  .yarn/offline-mirror/@carbon-colors-10.7.2.tgz
  .yarn/offline-mirror/@carbon-colors-10.8.0.tgz
  .yarn/offline-mirror/@carbon-grid-10.8.2.tgz
  .yarn/offline-mirror/@carbon-grid-10.9.0.tgz
  .yarn/offline-mirror/@carbon-icon-helpers-10.5.2.tgz
  .yarn/offline-mirror/@carbon-icon-helpers-10.6.0.tgz
  .yarn/offline-mirror/@carbon-icons-react-10.8.2.tgz
  .yarn/offline-mirror/@carbon-icons-react-10.9.0.tgz
  .yarn/offline-mirror/@carbon-icons-react-10.9.1.tgz
  .yarn/offline-mirror/@carbon-layout-10.7.3.tgz
  .yarn/offline-mirror/@carbon-layout-10.8.0.tgz
  .yarn/offline-mirror/@carbon-layout-10.8.1.tgz
  .yarn/offline-mirror/@carbon-motion-10.5.2.tgz
  .yarn/offline-mirror/@carbon-motion-10.6.0.tgz
  .yarn/offline-mirror/@carbon-themes-10.10.0.tgz
  .yarn/offline-mirror/@carbon-themes-10.9.3.tgz
  .yarn/offline-mirror/@carbon-type-10.8.3.tgz
  .yarn/offline-mirror/@carbon-type-10.9.0.tgz
  .yarn/offline-mirror/@carbon-type-10.9.1.tgz
  .yarn/offline-mirror/carbon-components-10.10.0.tgz
  .yarn/offline-mirror/carbon-components-10.9.3.tgz
  .yarn/offline-mirror/carbon-components-react-7.10.0.tgz
  .yarn/offline-mirror/carbon-components-react-7.9.3.tgz
  .yarn/offline-mirror/color-3.1.2.tgz
  .yarn/offline-mirror/color-string-1.5.3.tgz
  .yarn/offline-mirror/cssmin-0.4.3.tgz
  .yarn/offline-mirror/is-arrayish-0.3.2.tgz
  .yarn/offline-mirror/lodash.findlast-4.6.0.tgz
  .yarn/offline-mirror/scss-to-json-2.0.0.tgz
  .yarn/offline-mirror/simple-swizzle-0.2.2.tgz
  docs/themes/themes.md
  package.json
  yarn.lock
Due: yarn format:precommit

chore(sass): track lost dependency
  .yarn/offline-mirror/node-sass-4.13.1.tgz
Due: none

fix(header-notification): remove extra class
  src/components/Header/HeaderNotification/HeaderNotification.js
  src/components/Header/HeaderNotification/_mixins.scss
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

fix(decorator): update colors to be more accessibile
  src/components/DataDecorator/_mixins.scss
Due: yarn format:precommit, yarn lint:scss:precommit

fix(decorator): do not add interactive classes if inert
  src/components/DataDecorator/Decorator/Decorator.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

fix(decorator): update snapshot
  src/components/DataDecorator/Decorator/__tests__/__snapshots__/Decorator.spec.js.snap
Due: none

chore: update snapshot of public api
  src/components/__tests__/__snapshots__/publicAPI.spec.js.snap
Due: none

test(portal): remove cleanup from tests
  src/components/Portal/__tests__/Portal.spec.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

Update src/components/NonEntitledSection/__tests__/NonEntitledSection.spec.js
  src/components/NonEntitledSection/__tests__/NonEntitledSection.spec.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

fix(portal): replace old snapshots with a11y & event bubbling tests (#380)
  src/components/Portal/__tests__/Portal.spec.js
  src/components/Portal/__tests__/__snapshots__/Portal.spec.js.snap
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

chore(release): 1.18.1-prerelease.9 [skip ci]
  package.json
Due: none

Notes added by 'git notes add'
  2d752b275f50719b856f2e2b6df60c392cbebd5e
Due: none

fix(nonentitled-section): add a11y test, fix issue with repeated alt attribute value (#357)
  src/components/NonEntitledSection/NonEntitledSection.js
  src/components/NonEntitledSection/__tests__/NonEntitledSection.spec.js
  src/components/NonEntitledSection/__tests__/__snapshots__/NonEntitledSection.spec.js.snap
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

chore(release): 1.18.1-prerelease.10 [skip ci]
  package.json
Due: none

Notes added by 'git notes add'
  002ad99507c9dd77f6b3220d9446a9d4d87a14c0
Due: none

docs(breadcrumb): update story to reflect the same story in Carbon (#425)
  src/components/Breadcrumb/Breadcrumb.stories.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

fix(card): update card and skeleton tests, update default alt attr value (#364)
  src/components/Card/Card.js
  src/components/Card/CardSkeleton/__tests__/CardSkeleton.spec.js
  src/components/Card/__tests__/Card.spec.js
  src/components/Card/__tests__/__snapshots__/Card.spec.js.snap
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

chore(release): 1.18.1-prerelease.11 [skip ci]
  package.json
Due: none

Notes added by 'git notes add'
  45917c7ae86ed4f5680840476abfff2e6242b036
Due: none

fix(data-decorator): add a11y tests and remove snapshots
  src/components/DataDecorator/__tests__/DataDecorator.spec.js
  src/components/DataDecorator/__tests__/__snapshots__/DataDecorator.spec.js.snap
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

fix(data-decorator): update a11y test ids
  src/components/DataDecorator/__tests__/DataDecorator.spec.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

fix(data-decorator): add open mock test
  src/components/DataDecorator/__tests__/DataDecorator.spec.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

fix(data-decorator): update tests
  src/components/DataDecorator/__tests__/DataDecorator.spec.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

fix(decorator): update tests and remove snapshots
  src/components/DataDecorator/Decorator/__tests__/Decorator.spec.js
  src/components/DataDecorator/Decorator/__tests__/__snapshots__/Decorator.spec.js.snap
  src/components/DataDecorator/__tests__/DataDecorator.spec.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

fix(decorator): add scoreDescription prop to describe score icon
  src/components/DataDecorator/Decorator/Decorator.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

test(decorator): add more rigorous tests for props etc
  src/components/DataDecorator/Decorator/__tests__/Decorator.spec.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

fix(data-decorator): ensure that scorethreshold and scoredesc props are passed to inner decorator
  src/components/DataDecorator/DataDecorator.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

fix(decorator): update default for scoreDescription prop
  src/components/DataDecorator/Decorator/Decorator.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

test(data-decorator): use panel namespace for query selector in failing test
  src/components/DataDecorator/__tests__/DataDecorator.spec.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

fix(data-decorator): add unit and a11y tests, remove snapshots (#348)
  src/components/DataDecorator/DataDecorator.js
  src/components/DataDecorator/Decorator/Decorator.js
  src/components/DataDecorator/Decorator/__tests__/Decorator.spec.js
  src/components/DataDecorator/Decorator/__tests__/__snapshots__/Decorator.spec.js.snap
  src/components/DataDecorator/__tests__/DataDecorator.spec.js
  src/components/DataDecorator/__tests__/__snapshots__/DataDecorator.spec.js.snap
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

chore(release): 1.18.1-prerelease.12 [skip ci]
  package.json
Due: none

Notes added by 'git notes add'
  9c4f98ca81788a730a167b2c2c5755cc0c31e69c
Due: none

fix(header-action): add a11y tests and update role (#436)
  src/components/UNSTABLE__Shell/HeaderAction/__tests__/HeaderAction.spec.js
  src/components/UNSTABLE__Shell/HeaderAction/index.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

Path conditions:
  yarn format:precommit: any of: *.{js,md,scss}
  yarn lint:js:precommit: any of: *.js
  yarn test:precommit: any of: *.js
  yarn lint:scss:precommit: any of: *.scss
