Repository carbon-design-system/ibm-security: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

.lintstagedrc:

{
  '*.{js,md,scss}': ['yarn format:precommit', 'git add'],
  '*.js': ['yarn lint:js:precommit', 'git add', 'yarn test:precommit'],
  '*.scss': ['yarn lint:scss:precommit', 'git add'],
}

docs(layout-modules): add `Overview` section (#924)
  src/components/UNSTABLE__LayoutModules/ActionBarModule/ActionBarModule.stories.js
  src/components/UNSTABLE__LayoutModules/ButtonClusterModule/ButtonClusterModule.stories.js
  src/components/UNSTABLE__LayoutModules/CardModule/CardModule.stories.js
  src/components/UNSTABLE__LayoutModules/DescriptionListModule/DescriptionListModule.stories.js
  src/components/UNSTABLE__LayoutModules/DescriptionModule/DescriptionModule.stories.js
  src/components/UNSTABLE__LayoutModules/ICAModule/ICAModule.stories.js
  src/components/UNSTABLE__LayoutModules/PageTabModule/PageTabModule.ignore.js
  src/components/UNSTABLE__LayoutModules/TitleBarModule/TitleBarModule.stories.js
  src/components/UNSTABLE__LayoutModules/stories/Overview.stories.mdx
  src/components/UNSTABLE__LayoutModules/stories/index.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

fix(canary-banner): update spec
  src/__tests__/scss/__snapshots__/SCSS.spec.js.snap
Due: none

docs(information-architecture): update navigation
  .storybook/index.js
  .storybook/preview.js
  src/components/StepIndicator/StepIndicator.stories.js
  src/components/UNSTABLE__LayoutModules/ActionBarModule/index.mdx
  src/components/UNSTABLE__LayoutModules/ButtonClusterModule/index.mdx
  src/components/UNSTABLE__LayoutModules/CardModule/index.mdx
  src/components/UNSTABLE__LayoutModules/DescriptionListModule/index.mdx
  src/components/UNSTABLE__LayoutModules/DescriptionModule/index.mdx
  src/components/UNSTABLE__LayoutModules/ICAModule/index.mdx
  src/components/UNSTABLE__LayoutModules/PageTabModule/index.mdx
  src/components/UNSTABLE__LayoutModules/TitleBarModule/index.mdx
  src/components/UNSTABLE__LayoutModules/docs/examples/Detail/index.mdx
  src/components/UNSTABLE__LayoutModules/docs/examples/Overview/index.mdx
  src/components/UNSTABLE__LayoutModules/stories/index.js
  src/components/UNSTABLE__PageLayouts/Detail.stories.js
  src/components/UNSTABLE__PageLayouts/Overview.stories.js
  src/components/UNSTABLE__PageLayouts/stories/index.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

chore: merge `dev` into `layout-module-information-architecture`
  .storybook/index.js
  src/components/UNSTABLE__LayoutModules/stories/Overview.stories.mdx
  src/components/UNSTABLE__LayoutModules/stories/index.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

fix(list-module): edit docs, add "(Canary)" to name, remove DistributedColumns story
  src/components/UNSTABLE__LayoutModules/ListItemModule/ListItemModule.stories.js
  src/components/UNSTABLE__LayoutModules/ListItemModule/_index.scss
  src/components/UNSTABLE__LayoutModules/ListItemModule/index.mdx
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

fix(list-module): update spec.... again
  src/__tests__/scss/__snapshots__/SCSS.spec.js.snap
Due: none

Updated ICA Classes to remove redundancy. Updated import, naming conventions, and reduced redundancy according to feedback
  src/__tests__/scss/__snapshots__/SCSS.spec.js.snap
  src/components/ICA/ICA.js
  src/components/ICA/_index.scss
  src/components/__tests__/__snapshots__/publicAPI.spec.js.snap
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

chore: merge `modular-layouts-overview-border` into `page-layouts-backup`
  .storybook/components/Background/_index.scss
Due: yarn format:precommit, yarn lint:scss:precommit

fix(canary-banner): banner styles to storybook, edited copy & provide button link
  .storybook/index.scss
  src/components/UNSTABLE__LayoutModules/Layout.stories.js
  src/components/UNSTABLE__LayoutModules/_index.scss
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

fix(canary-banner): update spec againnnn
  src/__tests__/scss/__snapshots__/SCSS.spec.js.snap
Due: none

docs(information-architecture): update navigation (#926)
  .storybook/index.js
  .storybook/preview.js
  src/components/StepIndicator/StepIndicator.stories.js
  src/components/UNSTABLE__LayoutModules/ActionBarModule/index.mdx
  src/components/UNSTABLE__LayoutModules/ButtonClusterModule/index.mdx
  src/components/UNSTABLE__LayoutModules/CardModule/index.mdx
  src/components/UNSTABLE__LayoutModules/DescriptionListModule/index.mdx
  src/components/UNSTABLE__LayoutModules/DescriptionModule/index.mdx
  src/components/UNSTABLE__LayoutModules/ICAModule/index.mdx
  src/components/UNSTABLE__LayoutModules/PageTabModule/index.mdx
  src/components/UNSTABLE__LayoutModules/TitleBarModule/index.mdx
  src/components/UNSTABLE__LayoutModules/docs/examples/Detail/index.mdx
  src/components/UNSTABLE__LayoutModules/docs/examples/Overview/index.mdx
  src/components/UNSTABLE__LayoutModules/stories/Overview.stories.mdx
  src/components/UNSTABLE__LayoutModules/stories/index.js
  src/components/UNSTABLE__PageLayouts/Detail.stories.js
  src/components/UNSTABLE__PageLayouts/Overview.stories.js
  src/components/UNSTABLE__PageLayouts/stories/index.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

docs(banner): add theming
  .storybook/index.scss
  src/components/UNSTABLE__LayoutModules/Layout.stories.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

feat(card-module): rename to `CardAreaModule`
  src/__tests__/scss/__snapshots__/SCSS.spec.js.snap
  src/components/UNSTABLE__LayoutModules/CardAreaModule/CardAreaModule.stories.js
  src/components/UNSTABLE__LayoutModules/CardAreaModule/_index.scss
  src/components/UNSTABLE__LayoutModules/CardAreaModule/images/anatomy.png
  src/components/UNSTABLE__LayoutModules/CardAreaModule/images/do.png
  src/components/UNSTABLE__LayoutModules/CardAreaModule/images/dont.png
  src/components/UNSTABLE__LayoutModules/CardAreaModule/images/variants.png
  src/components/UNSTABLE__LayoutModules/CardAreaModule/index.js
  src/components/UNSTABLE__LayoutModules/CardAreaModule/index.mdx
  src/components/UNSTABLE__LayoutModules/DescriptionListModule/index.mdx
  src/components/UNSTABLE__LayoutModules/Layout.stories.js
  src/components/UNSTABLE__LayoutModules/_index.scss
  src/components/UNSTABLE__LayoutModules/index.js
  src/components/__tests__/__snapshots__/publicAPI.spec.js.snap
  src/index.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

fix(canary-banner): apply suggestions from code review
  .storybook/index.scss
  src/components/UNSTABLE__LayoutModules/Layout.stories.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

build(css-grid): build vendor styles
  .storybook/index.scss
  .storybook/vendor/@carbon/grid/css-grid.css
Due: yarn format:precommit, yarn lint:scss:precommit

Update src/components/UNSTABLE__LayoutModules/Layout.stories.js
  src/components/UNSTABLE__LayoutModules/Layout.stories.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

Apply suggestions from code review
  src/components/ICA/ICA.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

Fixed the way styling is applied and updated everything to use xl instead xlg.
  src/__tests__/scss/__snapshots__/SCSS.spec.js.snap
  src/components/ICA/ICA.js
  src/components/ICA/ICA.stories.js
  src/components/ICA/_index.scss
  src/components/__tests__/__snapshots__/publicAPI.spec.js.snap
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

fix(list-module): type styling for As Button
  src/components/UNSTABLE__LayoutModules/ListItemModule/_index.scss
Due: yarn format:precommit, yarn lint:scss:precommit

fix(list-module): update dat snapshot
  src/__tests__/scss/__snapshots__/SCSS.spec.js.snap
Due: none

feat(ica-update): ica sizes and trending variant (#910)
  src/__tests__/scss/__snapshots__/SCSS.spec.js.snap
  src/components/ICA/ICA.js
  src/components/ICA/ICA.stories.js
  src/components/ICA/_index.scss
  src/components/__tests__/__snapshots__/publicAPI.spec.js.snap
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

chore(release): 1.39.0-prerelease.3 [skip ci]
  package.json
Due: none

Notes added by 'git notes add'
  46/a5c4c513a32abf9b59b316926a00c32c38a9eb
Due: none

feat(card-module): rename to `CardAreaModule` (#930)
  src/__tests__/scss/__snapshots__/SCSS.spec.js.snap
  src/components/UNSTABLE__LayoutModules/CardAreaModule/CardAreaModule.stories.js
  src/components/UNSTABLE__LayoutModules/CardAreaModule/_index.scss
  src/components/UNSTABLE__LayoutModules/CardAreaModule/images/anatomy.png
  src/components/UNSTABLE__LayoutModules/CardAreaModule/images/do.png
  src/components/UNSTABLE__LayoutModules/CardAreaModule/images/dont.png
  src/components/UNSTABLE__LayoutModules/CardAreaModule/images/variants.png
  src/components/UNSTABLE__LayoutModules/CardAreaModule/index.js
  src/components/UNSTABLE__LayoutModules/CardAreaModule/index.mdx
  src/components/UNSTABLE__LayoutModules/DescriptionListModule/index.mdx
  src/components/UNSTABLE__LayoutModules/_index.scss
  src/components/UNSTABLE__LayoutModules/index.js
  src/components/UNSTABLE__PageLayouts/Detail.stories.js
  src/components/__tests__/__snapshots__/publicAPI.spec.js.snap
  src/index.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

chore(release): 1.39.0-prerelease.4 [skip ci]
  package.json
Due: none

Notes added by 'git notes add'
  8c/bed2278befe4169d210ce1cd77ba560435a7e0
Due: none

chore(release): 1.39.0-prerelease.5 [skip ci]
  package.json
Due: none

Notes added by 'git notes add'
  ca/e9a41c701f78616005587d257a9558d0eeb943
Due: none

chore(css-grid: first test of migrating layout modules
  src/components/UNSTABLE__LayoutModules/Layout.stories.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

chore(css-grid): add gutters to Overview story
  src/components/UNSTABLE__LayoutModules/Layout.stories.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

chore: merge `dev` into `stable-layout-modules`
  src/components/LayoutModules/DescriptionModule/index.mdx
  src/components/LayoutModules/Layout.stories.js
  src/components/LayoutModules/TitleBarModule/_variables.scss
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

docs(layout-modules): add review revisions
  src/components/UNSTABLE__LayoutModules/CardAreaModule/CardAreaModule.stories.js
  src/components/UNSTABLE__LayoutModules/ICAModule/ICAModule.stories.js
  src/components/UNSTABLE__PageLayouts/stories/index.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

Update README.md
  README.md
Due: yarn format:precommit

chore: merge `dev` into `page-layouts-backup`
  .storybook/components/Background/_index.scss
  .storybook/index.scss
  src/components/UNSTABLE__PageLayouts/Detail.stories.js
  src/components/UNSTABLE__PageLayouts/Overview.stories.js
  src/components/UNSTABLE__PageLayouts/stories/index.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

feat(button): align `Button` sizes with Carbon (#899)
  .storybook/index.js
  src/__tests__/scss/__snapshots__/SCSS.spec.js.snap
  src/components/Accordion/Accordion.stories.js
  src/components/Button/Button.js
  src/components/Button/Button.stories.js
  src/components/Button/__tests__/Button.spec.js
  src/components/Button/_mixins.scss
  src/components/ComboButton/__tests__/__snapshots__/ComboButton.spec.js.snap
  src/components/DataDecorator/DataDecorator.stories.js
  src/components/FilterPanel/FilterPanelCheckboxWithOverflowMenu/FilterPanelCheckboxWithOverflowMenu.stories.js
  src/components/Header/__tests__/__snapshots__/Header.spec.js.snap
  src/components/Panel/Panel.stories.js
  src/components/Panel/__tests__/__snapshots__/Panel.spec.js.snap
  src/components/Panel/_mixins.scss
  src/components/StepIndicator/StepIndicator.stories.js
  src/components/TagWall/__tests__/__snapshots__/TagWall.spec.js.snap
  src/components/TagWallFilter/__tests__/__snapshots__/TagWallFilter.spec.js.snap
  src/components/Tearsheet/Tearsheet.js
  src/components/Tearsheet/TearsheetSmall/TearsheetSmall.js
  src/components/Tearsheet/TearsheetSmall/__tests__/__snapshots__/TearsheetSmall.spec.js.snap
  src/components/Tearsheet/TearsheetSmall/_mixins.scss
  src/components/Tearsheet/__tests__/__snapshots__/Tearsheet.spec.js.snap
  src/components/UIShell/UIShell.stories.js
  src/components/__tests__/__snapshots__/publicAPI.spec.js.snap
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

chore(release): 1.39.0-prerelease.6 [skip ci]
  package.json
Due: none

Notes added by 'git notes add'
  0d/4dd6ae9294d270ed7eb1d02f30b97036d38bd8
Due: none

refactor: fix import names
  src/components/ICA/ICA.stories.js
  src/components/TagWall/TagWall.js
  src/components/TagWallFilter/Filter/Filter.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

docs(layout-modules): add review revisions (#934)
  src/components/UNSTABLE__LayoutModules/CardAreaModule/CardAreaModule.stories.js
  src/components/UNSTABLE__LayoutModules/ICAModule/ICAModule.stories.js
  src/components/UNSTABLE__PageLayouts/stories/index.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

chore: merge `dev` into `stable-layout-modules`
  src/components/__tests__/__snapshots__/publicAPI.spec.js.snap
  src/index.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit
