Repository carbon-design-system/ibm-security: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

.lintstagedrc:

{
  '*.{js,md,scss}': ['yarn format:precommit', 'git add'],
  '*.js': ['yarn lint:js:precommit', 'git add', 'yarn test:precommit'],
  '*.scss': ['yarn lint:scss:precommit', 'git add'],
}

fix(filter-panel): add a11y tests to subcomponents, use test keyword (#375)
  src/components/FilterPanel/FilterPanelAccordion/__tests__/FilterPanelAccordion.spec.js
  src/components/FilterPanel/FilterPanelAccordionItem/__tests__/FilterPanelAccordionItem.spec.js
  src/components/FilterPanel/FilterPanelCheckbox/__tests__/FilterPanelCheckbox.spec.js
  src/components/FilterPanel/FilterPanelGroup/__tests__/FilterPanelGroup.spec.js
  src/components/FilterPanel/FilterPanelLabel/__tests__/FilterPanelLabel.spec.js
  src/components/FilterPanel/FilterPanelSearch/__tests__/FilterSearch.spec.js
  src/components/FilterPanel/LEGACY_FilterPanel/FilterCategory/__test__/FilterCategory.spec.js
  src/components/FilterPanel/LEGACY_FilterPanel/FilterSearch/__tests__/FilterSearch.spec.js
  src/components/FilterPanel/LEGACY_FilterPanel/FilterSelector/__tests__/FilterSelector.spec.js
  src/components/FilterPanel/LEGACY_FilterPanel/FilterSubcategory/__tests__/FilterSubcategory.spec.js
  src/components/FilterPanel/LEGACY_FilterPanel/__tests__/FilterPanel.spec.js
  src/components/FilterPanel/LEGACY_FilterPanel/__tests__/FilterPanelUtilities.spec.js
  src/components/FilterPanel/__tests__/FilterPanel.spec.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

chore(release): 1.18.1-prerelease.5 [skip ci]
  package.json
Due: none

Notes added by 'git notes add'
  f3fad46d7b9e896a7cb5dbc8553cb5f4b3e433b8
Due: none

fix(string-formatter): apply PR feedback to tests
  src/components/StringFormatter/__tests__/StringFormatter.spec.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

fix(string-formatter): update tests (#413)
  src/components/StringFormatter/StringFormatter.js
  src/components/StringFormatter/__tests__/StringFormatter.spec.js
  src/components/StringFormatter/__tests__/__snapshots__/StringFormatter.spec.js.snap
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

chore(release): 1.18.1-prerelease.6 [skip ci]
  package.json
Due: none

Notes added by 'git notes add'
  92db866104c051881c8dcfeda18756f4b963340e
Due: none

docs(testing): Prettier formatting
  docs/testing/README.md
Due: yarn format:precommit

chore: revert `DatePicker` styles, update `Tile` story, revert theme ordering
  src/components/DatePicker/_index.scss
  src/components/Tile/Tile.stories.js
  src/globals/_index.scss
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

fix(data-table): update subcomponent exports to avoid max range callstack error
  src/components/DataTable/DataTable.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

chore: add react-is dependency
  package.json
  yarn.lock
Due: none

fix(data-table): remove old exports test
  src/components/DataTable/__tests__/DataTable.spec.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

feat: add api exports snapshot test
  src/components/__tests__/__snapshots__/publicAPI.spec.js.snap
  src/components/__tests__/publicAPI.spec.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

test(card): add more tests for props
  src/components/Card/__tests__/Card.spec.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

test(button): add additional tests for props
  src/components/Button/Button.js
  src/components/Button/__tests__/Button.spec.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

chore: add react-is offline file
  .yarn/offline-mirror/react-is-16.13.0.tgz
Due: none

docs(tile): remove `Selectable` story
  src/components/Tile/Tile.stories.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

fix(date-picker): revert styles
  src/components/DatePicker/_index.scss
Due: yarn format:precommit, yarn lint:scss:precommit

fix(theme): revert order
  src/globals/_index.scss
Due: yarn format:precommit, yarn lint:scss:precommit

refactor(shell): add a11y improvements
  src/components/SecurityHeader/_mixins.scss
  src/components/UNSTABLE__Shell/Shell.stories.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

fix(shell): enforce labels
  src/components/UNSTABLE__Shell/HeaderAction/index.js
  src/components/UNSTABLE__Shell/Shell.stories.js
  src/components/UNSTABLE__Shell/ShellSkipToContent/index.js
  src/components/UNSTABLE__Shell/ShellToolbar/index.js
  src/components/UNSTABLE__Shell/ToolbarAction/index.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

fix(shell): update popover semantics
  src/components/SecurityHeader/_mixins.scss
  src/components/UNSTABLE__Shell/PopoverFooter/index.js
  src/components/UNSTABLE__Shell/Shell.stories.js
  src/components/UNSTABLE__Shell/ToolbarAction/index.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

fix(button): add test for disabled state
  src/components/Button/__tests__/Button.spec.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

fix(button): update button kinds & add tests for kind and size props
  src/components/Button/Button.js
  src/components/Button/__tests__/Button.spec.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

fix(theme): revert order (#432)
  src/globals/_index.scss
Due: yarn format:precommit, yarn lint:scss:precommit

fix(date-picker): revert styles (#431)
  src/components/DatePicker/_index.scss
Due: yarn format:precommit, yarn lint:scss:precommit

refactor(tile): revert story, refactor styles
  src/components/Tile/Tile.stories.js
  src/components/Tile/_index.scss
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

fix(button): update testing structure, props docs, and add a11y test (#362)
  src/components/Button/Button.js
  src/components/Button/__tests__/Button.spec.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

chore(release): 1.18.1-prerelease.7 [skip ci]
  package.json
Due: none

Notes added by 'git notes add'
  f07b080ec9bc395008e88b3715f3a01ebb19c4cc
Due: none

refactor(tile): update story, refactor styles (#430)
  src/components/Tile/Tile.stories.js
  src/components/Tile/_index.scss
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

chore(release): 2.3.0 [skip ci]
  package.json
Due: none

Notes added by 'git notes add'
  fa1c6e8268a36b3d276e2beb677845cd68243ccd
Due: none

fix(list-box): export component, reorganise exports
  src/index.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

fix(header-action): add a11y tests and update role
  src/components/UNSTABLE__Shell/HeaderAction/__tests__/HeaderAction.spec.js
  src/components/UNSTABLE__Shell/HeaderAction/index.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

fix(header-notification): add visible hover state and class name to clear button
  src/components/Header/HeaderNotification/HeaderNotification.js
  src/components/Header/HeaderNotification/_mixins.scss
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

feat(exports): export Carbon, superseded by Carbon for IBM Security
  src/components/ListBox/index.js
  src/components/TagWallFilter/Filter/Filter.js
  src/index.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

chore(grid): remove `css-gridish` output
  src/globals/grid/css-gridish/bx-grid.sketch
Due: none
