Repository carbon-design-system/ibm-security: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

fix(type-layout): address accessibility issues (#950)
  .achecker.yml
  src/components/TypeLayout/TypeLayout.js
  src/components/TypeLayout/__tests__/TypeLayout.spec.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

chore(release): 1.40.1 [skip ci]
  package.json
Due: none

Notes added by 'git notes add'
  7f/ee0bb3a9c5c47a0ddd2a3da25b6c1e5f9c7192
Due: none

docs(themes): add explicit CSS custom property guidance
  docs/migration/2.x/themes.md
Due: yarn format:precommit

chore: merge `dev` into `spike/css-custom-propereties`
  src/globals/type/_index.scss
Due: yarn format:precommit, yarn lint:scss:precommit

fix(data-table): fix styles import order
  src/__tests__/scss/__snapshots__/SCSS.spec.js.snap
  src/components/DataTable/_index.scss
Due: yarn format:precommit, yarn lint:scss:precommit

fix(data-table): fix styles import order (#957)
  src/__tests__/scss/__snapshots__/SCSS.spec.js.snap
  src/components/DataTable/_index.scss
Due: yarn format:precommit, yarn lint:scss:precommit

chore(release): 1.40.2-prerelease.1 [skip ci]
  package.json
Due: none

Notes added by 'git notes add'
  82/6914c09e2223c881336501b9e4b4f12c62dbf8
Due: none

build(recompose): migrate to package
  .yarn/offline-mirror/@babel-runtime-7.14.0.tgz
  .yarn/offline-mirror/@shakacode-recompose-0.30.3.tgz
  .yarn/offline-mirror/hoist-non-react-statics-2.5.5.tgz
  .yarn/offline-mirror/hoist-non-react-statics-3.3.2.tgz
  .yarn/offline-mirror/recompose-0.30.0.tgz
  .yarn/offline-mirror/symbol-observable-3.0.0.tgz
  package.json
  src/components/FilterPanel/FilterPanel.stories.js
  src/components/SearchBar/SearchBar.stories.js
  src/components/StatusIcon/StatusIcon.stories.js
  src/components/StatusIndicator/StatusIndicator.stories.js
  src/components/TagWallFilter/TagWallFilter.js
  src/components/TagWallFilter/TagWallFilter.stories.js
  src/components/Tearsheet/Tearsheet.stories.js
  src/components/Tearsheet/TearsheetSmall/TearsheetSmall.stories.js
  src/components/Wizard/Wizard.stories.js
  src/globals/utils/shallowEqual.js
  yarn.lock
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

chore: merge `dev` into `spike/css-custom-properities`
  docs/migration/2.x/themes.md
Due: yarn format:precommit

chore: merge `dev` into `sp[ike/css-custom-propereties`
  scripts/audit/index.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

build(deps-dev): bump postcss from 7.0.21 to 8.2.10
  .yarn/offline-mirror/colorette-1.2.1.tgz
  .yarn/offline-mirror/colorette-1.2.2.tgz
  .yarn/offline-mirror/nanoid-3.1.23.tgz
  .yarn/offline-mirror/postcss-7.0.21.tgz
  .yarn/offline-mirror/postcss-8.2.10.tgz
  scripts/audit/index.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

feat(themes): align CSS custom properties with Carbon (#948)
  .storybook/main.js
  docs/migration/2.x/themes.md
  docs/themes/README.md
  src/__tests__/scss/__snapshots__/SCSS.spec.js.snap
  src/components/DataTable/DataTablePagination/__tests__/__snapshots__/DataTablePagination.spec.js.snap
  src/components/DataTable/__tests__/__snapshots__/DataTable.spec.js.snap
  src/components/FilterPanel/LEGACY_FilterPanel/FilterSubcategory/__tests__/__snapshots__/FilterSubcategory.spec.js.snap
  src/components/TagWallFilter/Filter/__tests__/__snapshots__/Filter.spec.js.snap
  src/components/TagWallFilter/__tests__/__snapshots__/TagWallFilter.spec.js.snap
  src/components/Tearsheet/TearsheetSmall/__tests__/__snapshots__/TearsheetSmall.spec.js.snap
  src/components/Tearsheet/__tests__/__snapshots__/Tearsheet.spec.js.snap
  src/components/__tests__/__snapshots__/publicAPI.spec.js.snap
  src/globals/feature-flags/_index.scss
  src/globals/theme/_index.scss
  src/globals/theme/_mixins.scss
  src/globals/theme/_variables.scss
  src/globals/theme/index.js
  src/globals/type/_index.scss
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

chore(release): 1.41.0-prerelease.1 [skip ci]
  package.json
Due: none

Notes added by 'git notes add'
  58/1072f88f548f1608ba471c49b5d8e2c2748d36
Due: none

fix(unstable): align experimental components with Carbon format (#943)
  src/__tests__/scss/__snapshots__/SCSS.spec.js.snap
  src/components/Background/_index.scss
  src/components/Background/index.js
  src/components/LayoutModules/CardAreaModule/CardAreaModule.stories.js
  src/components/PageLayouts/Detail.stories.js
  src/components/PageLayouts/Overview.stories.js
  src/components/PageLayouts/stories/index.js
  src/components/Pagination/_index.scss
  src/components/UNSTABLE__Pagination/PageSelector.js
  src/components/UNSTABLE__Pagination/Pagination.js
  src/components/UNSTABLE__Pagination/Pagination.stories.js
  src/components/UNSTABLE__Pagination/__tests__/Pagination.spec.js
  src/components/UNSTABLE__Pagination/_index.scss
  src/components/UNSTABLE__Pagination/index.js
  src/components/__tests__/__snapshots__/publicAPI.spec.js.snap
  src/components/_index.scss
  src/index.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

chore(release): 1.41.0-prerelease.2 [skip ci]
  package.json
Due: none

Notes added by 'git notes add'
  fa/37ab5841d6782342cf7f18631cbea0e5c7b4c1
Due: none

chore(release): 1.41.0 [skip ci]
  package.json
Due: none

Notes added by 'git notes add'
  63/d5d00dfd780ed35ace9a9f2a838a7576b8af23
Due: none

list-module-documentation
  src/components/LayoutModules/ListItemModule/images/anatomy.png
  src/components/LayoutModules/ListItemModule/images/do.png
  src/components/LayoutModules/ListItemModule/images/dont.png
  src/components/LayoutModules/ListItemModule/images/variants.png
  src/components/LayoutModules/ListItemModule/index.mdx
Due: none

fix(list-module): add top borders & bottom border on last
  src/__tests__/scss/__snapshots__/SCSS.spec.js.snap
  src/components/LayoutModules/ListItemModule/ListItemModule.stories.js
  src/components/LayoutModules/ListItemModule/_index.scss
  src/components/LayoutModules/ListItemModule/index.mdx
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

Update SCSS.spec.js.snap
  src/__tests__/scss/__snapshots__/SCSS.spec.js.snap
Due: none

fix(tearsheet-small): update maximum size styles
  src/__tests__/scss/__snapshots__/SCSS.spec.js.snap
  src/components/Tearsheet/TearsheetSmall/_mixins.scss
Due: yarn format:precommit, yarn lint:scss:precommit

feat(styles): deprecate grid and type style classes and utilities
  docs/migration/2.x/grid.md
  docs/migration/2.x/type.md
  src/__tests__/scss/__snapshots__/SCSS.spec.js.snap
  src/globals/deprecate/_index.scss
  src/globals/deprecate/index.js
  src/globals/layout/_index.scss
  src/globals/scss-exports/spacing.module.scss
  src/globals/theme/_index.scss
  src/globals/type/_index.scss
  src/platform/body/_mixins.scss
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

feat(styles): deprecate grid and type style classes and utilities
  src/__tests__/scss/__snapshots__/SCSS.spec.js.snap
  src/platform/body/_mixins.scss
Due: yarn format:precommit, yarn lint:scss:precommit

docs(sass): update to new syntax
  README.md
  docs/migration/carbon-for-ibm-security/color.md
  docs/migration/carbon-for-ibm-security/grid.md
  docs/migration/carbon-for-ibm-security/layout.md
  docs/migration/carbon-for-ibm-security/type.md
  docs/themes/README.md
Due: yarn format:precommit

build(settings): update Carbon prefix import
  src/components/TruncatedList/TruncatedList.js
  src/globals/namespace/index.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

fix: change require to import syntax to allow treeshaking again
  src/components/TruncatedList/TruncatedList.js
  src/globals/namespace/index.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

feat(library-listitem): add ListItemModule to the Layout Modules Library
  src/components/LayoutModules/stories/Library.stories.mdx
  src/components/LayoutModules/stories/images/list-item-module.png
Due: none

fix: change require to import syntax to allow treeshaking again (#970)
  src/components/TruncatedList/TruncatedList.js
  src/globals/namespace/index.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

chore(release): 1.42.0-prerelease.1 [skip ci]
  package.json
Due: none

Notes added by 'git notes add'
  a2/46cd02ca45a3c871eca0dc6c3d8a37689779ba
Due: none

chore(release): 1.42.0-prerelease.2 [skip ci]
  package.json
Due: none

Notes added by 'git notes add'
  03/b6fbf3270e20197d91d06c1842d022afd02645
Due: none

docs(sass): update to new syntax (#969)
  README.md
  docs/migration/carbon-for-ibm-security/color.md
  docs/migration/carbon-for-ibm-security/grid.md
  docs/migration/carbon-for-ibm-security/layout.md
  docs/migration/carbon-for-ibm-security/type.md
  docs/themes/README.md
Due: yarn format:precommit

chore: merge `dev` into `isolate-settings`
  src/globals/_index.scss
  src/globals/color/_index.scss
  src/globals/grid/_index.scss
  src/globals/layout/_index.scss
  src/globals/theme/_index.scss
  src/globals/theme/_mixins.scss
  src/globals/type/_index.scss
Due: yarn format:precommit, yarn lint:scss:precommit

Path conditions:
  yarn format:precommit: any of: *.{js,md,scss}
  yarn lint:js:precommit: any of: *.js
  yarn test:precommit: any of: *.js
  yarn lint:scss:precommit: any of: *.scss
