Repository carbon-design-system/ibm-security: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

fix(unstable-pagination): export as default, update variable name
  src/components/UNSTABLE_Pagination/PageSelector.js
  src/components/UNSTABLE_Pagination/index.js
  src/index.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

docs(unstable-pagination): add info to storybook demos
  src/components/UNSTABLE_Pagination/Pagination.stories.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

fix(unstable-pagination): update storybook desc, update style imports
  src/components/UNSTABLE_Pagination/Pagination.stories.js
  src/components/UNSTABLE_Pagination/_mixins.scss
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

refactor: remove deprecated props (#271)
  src/components/Button/Button.js
  src/components/ComboButton/__tests__/__snapshots__/ComboButton.spec.js.snap
  src/components/DataDecorator/Decorator/__tests__/__snapshots__/Decorator.spec.js.snap
  src/components/DataDecorator/__tests__/__snapshots__/DataDecorator.spec.js.snap
  src/components/DataTable/DataTablePagination/DataTablePagination.stories.js
  src/components/ExternalLink/__tests__/__snapshots__/ExternalLink.spec.js.snap
  src/components/FilterPanel/FilterSubcategory/__tests__/__snapshots__/FilterSubcategory.spec.js.snap
  src/components/Header/HeaderNotification/__tests__/__snapshots__/HeaderNotification.spec.js.snap
  src/components/Header/__tests__/__snapshots__/Header.spec.js.snap
  src/components/Icon/Icon.js
  src/components/IconButton/__tests__/__snapshots__/IconButton.spec.js.snap
  src/components/Nav/NavList/__tests__/__snapshots__/NavList.spec.js.snap
  src/components/Nav/__tests__/__snapshots__/Nav.spec.js.snap
  src/components/Panel/__tests__/__snapshots__/Panel.spec.js.snap
  src/components/SearchBar/__tests__/__snapshots__/SearchBar.spec.js.snap
  src/components/StatusIcon/__tests__/__snapshots__/StatusIcon.spec.js.snap
  src/components/StatusIndicator/__tests__/__snapshots__/StatusIndicator.spec.js.snap
  src/components/Tag/InteractiveTag/__tests__/__snapshots__/InteractiveTag.spec.js.snap
  src/components/TagWall/__tests__/__snapshots__/TagWall.spec.js.snap
  src/components/TagWallFilter/__tests__/__snapshots__/TagWallFilter.spec.js.snap
  src/components/Tearsheet/TearsheetSmall/__tests__/__snapshots__/TearsheetSmall.spec.js.snap
  src/components/Tearsheet/__tests__/__snapshots__/Tearsheet.spec.js.snap
  src/components/TypeLayout/TypeLayout.js
  src/components/TypeLayout/__tests__/TypeLayout.spec.js
  src/components/TypeLayout/__tests__/__snapshots__/TypeLayout.spec.js.snap
  src/components/TypeLayout/_mixins.scss
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

chore(trending-card): add subtitle truncation
  src/components/TrendingCard/_index.scss
Due: yarn format:precommit, yarn lint:scss:precommit

feat(string-formatter): add updated truncation library
  .yarn/offline-mirror/computed-style-0.1.4.tgz
  .yarn/offline-mirror/line-height-0.3.1.tgz
  .yarn/offline-mirror/react-truncate-markup-4.1.0.tgz
  .yarn/offline-mirror/resize-observer-polyfill-1.5.0.tgz
  package.json
  src/components/Header/HeaderNotification/HeaderNotification.js
  src/components/Header/HeaderNotification/_mixins.scss
  src/components/StringFormatter/StringFormatter.js
  src/components/StringFormatter/StringFormatter.stories.js
  src/components/StringFormatter/__tests__/StringFormatter.spec.js
  src/components/StringFormatter/__tests__/__snapshots__/StringFormatter.spec.js.snap
  src/components/StringFormatter/_index.scss
  src/components/SummaryCard/SummaryCardHeader/SummaryCardHeader.js
  yarn.lock
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

docs(trending-card): add Storybook width
  src/components/TrendingCard/TrendingCard.stories.js
  src/components/TrendingCard/__tests__/__snapshots__/TrendingCard.spec.js.snap
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

fix(unstable-pagination): remove mixins file, apply PR feedback to tokens and helpers
  src/components/UNSTABLE_Pagination/Pagination.js
  src/components/UNSTABLE_Pagination/_index.scss
  src/components/UNSTABLE_Pagination/_mixins.scss
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

fix(unstable-pagination): add required props for selector, update story proptables
  src/components/UNSTABLE_Pagination/PageSelector.js
  src/components/UNSTABLE_Pagination/Pagination.stories.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

fix(unstable-pagination): required totalItems prop
  src/components/UNSTABLE_Pagination/Pagination.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

chore(release): 1.12.0 [skip ci]
  package.json
Due: none

feat(trending-card): add component (#244)
  .yarn/offline-mirror/@carbon-motion-10.4.0.tgz
  package.json
  src/components/TrendingCard/TrendingCard.stories.js
  src/components/TrendingCard/__tests__/TrendingCard.spec.js
  src/components/TrendingCard/__tests__/__snapshots__/TrendingCard.spec.js.snap
  src/components/TrendingCard/_index.scss
  src/components/TrendingCard/index.js
  src/components/_index.scss
  src/index.js
  yarn.lock
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

chore(release): 1.13.0-prerelease.1 [skip ci]
  package.json
Due: none

fix(unstable-pagination): update knobs, update docs, add reset import, fix undefined totalItems text logic
  src/components/UNSTABLE_Pagination/PageSelector.js
  src/components/UNSTABLE_Pagination/Pagination.js
  src/components/UNSTABLE_Pagination/Pagination.stories.js
  src/components/UNSTABLE_Pagination/_index.scss
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

fix(unstable-pagination): simply ternary logic for unknown pages or items
  src/components/UNSTABLE_Pagination/Pagination.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

fix(unstable-pagination): upset initialpage prop for uncontrolled component, update story demo
  src/components/UNSTABLE_Pagination/PageSelector.js
  src/components/UNSTABLE_Pagination/Pagination.js
  src/components/UNSTABLE_Pagination/Pagination.stories.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

chore(string-formatter): add state logic
  src/components/StringFormatter/StringFormatter.js
  src/components/StringFormatter/__tests__/__snapshots__/StringFormatter.spec.js.snap
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

fix(panel-v2): reorder header to ensure that close button has initial focus
  src/components/PanelV2/PanelV2.js
  src/components/PanelV2/_mixins.scss
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

chore: update snapshots to reflect panelv2 update
  src/components/PanelV2/__tests__/__snapshots__/PanelV2.spec.js.snap
Due: none

fix(panel-v2): reorder header to ensure that close button has initial focus (#279)
  src/components/PanelV2/PanelV2.js
  src/components/PanelV2/__tests__/__snapshots__/PanelV2.spec.js.snap
  src/components/PanelV2/_mixins.scss
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

chore(release): 1.13.0-prerelease.2 [skip ci]
  package.json
Due: none

chore(navitemlink): update propType declaration
  src/components/Nav/NavItemLink/NavItemLink.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

chore(navitemlink): update propType declaration (#280)
  src/components/Nav/NavItemLink/NavItemLink.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

fix(unstable-pagination): add extra underscore to name, change spread to other, update children proptype
  src/components/UNSTABLE__Pagination/PageSelector.js
  src/components/UNSTABLE__Pagination/Pagination.js
  src/components/UNSTABLE__Pagination/Pagination.stories.js
  src/components/UNSTABLE__Pagination/_index.scss
  src/components/UNSTABLE__Pagination/index.js
  src/components/_index.scss
  src/index.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

fix(scripts): add debug scss script and cmd, wrap postCSS async func in try
  package.json
  scripts/debugScss.js
  scripts/styles.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

chore(release): 1.13.0 [skip ci]
  package.json
Due: none

refactor: remove deprecated SCSS
  docs/migration/2.x-color.md
  docs/migration/2.x-themes.md
  docs/migration/migrate-to-2.x.md
  src/globals/color/_index.scss
  src/globals/layout/_index.scss
  src/globals/theme/_functions.scss
  src/globals/theme/_index.scss
  src/globals/type/_index.scss
Due: yarn format:precommit, yarn lint:scss:precommit

feat(shell): spike composeable `Shell`
  src/components/SecurityShell/SecurityShell.js
  src/components/SecurityShell/SecurityShell.stories.js
  src/components/SecurityShell/index.js
  src/index.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

feat(shell): spike composeable `Shell`
  .storybook/index.js
  src/components/ErrorPage/ErrorPage.stories.js
  src/components/Header/Header.stories.js
  src/components/NonEntitledSection/NonEntitledSection.stories.js
  src/components/Panel/Panel.stories.js
  src/components/SecurityShell/SecurityShell.js
  src/components/SecurityShell/SecurityShell.stories.js
  src/components/Shell/Shell.stories.js
  src/components/UIShell/UIShell.stories.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

docs(themes): improve scannability and clarify of theme doc
  docs/themes/README.md
Due: yarn format:precommit

chore: update carbon deps, format scss type entrypoint
  .yarn/offline-mirror/@carbon-colors-10.5.0.tgz
  .yarn/offline-mirror/@carbon-colors-10.7.0.tgz
  .yarn/offline-mirror/@carbon-grid-10.6.0.tgz
  .yarn/offline-mirror/@carbon-grid-10.8.0.tgz
  .yarn/offline-mirror/@carbon-icon-helpers-10.4.0.tgz
  .yarn/offline-mirror/@carbon-icon-helpers-10.5.0.tgz
  .yarn/offline-mirror/@carbon-icons-react-10.6.0.tgz
  .yarn/offline-mirror/@carbon-icons-react-10.6.1.tgz
  .yarn/offline-mirror/@carbon-icons-react-10.8.0.tgz
  .yarn/offline-mirror/@carbon-layout-10.5.0.tgz
  .yarn/offline-mirror/@carbon-layout-10.7.0.tgz
  .yarn/offline-mirror/@carbon-motion-10.4.0.tgz
  .yarn/offline-mirror/@carbon-motion-10.5.0.tgz
  .yarn/offline-mirror/@carbon-themes-10.7.0.tgz
  .yarn/offline-mirror/@carbon-themes-10.9.0.tgz
  .yarn/offline-mirror/@carbon-type-10.6.0.tgz
  .yarn/offline-mirror/@carbon-type-10.8.0.tgz
  .yarn/offline-mirror/carbon-components-10.10.0-alpha.0.tgz
  .yarn/offline-mirror/carbon-components-10.7.4.tgz
  .yarn/offline-mirror/carbon-components-react-7.7.4.tgz
  .yarn/offline-mirror/carbon-components-react-7.9.0.tgz
  .yarn/offline-mirror/react-is-16.12.0.tgz
  docs/themes/themes.md
  package.json
  src/globals/type/_index.scss
  yarn.lock
Due: yarn format:precommit, yarn lint:scss:precommit

fix(combo-button): update dropdown button color and imports
  src/components/ComboButton/_index.scss
  src/components/ComboButton/_mixins.scss
Due: yarn format:precommit, yarn lint:scss:precommit

chore: update snapshots to reflect Carbon's updates to core components
  src/components/ComboButton/__tests__/__snapshots__/ComboButton.spec.js.snap
  src/components/DataTable/DataTablePagination/__tests__/__snapshots__/DataTablePagination.spec.js.snap
  src/components/ExternalLink/__tests__/__snapshots__/ExternalLink.spec.js.snap
  src/components/FilterPanel/FilterSelector/__tests__/__snapshots__/FilterSelector.spec.js.snap
  src/components/Icon/__tests__/__snapshots__/Icon.spec.js.snap
  src/components/Nav/NavList/__tests__/__snapshots__/NavList.spec.js.snap
  src/components/Nav/__tests__/__snapshots__/Nav.spec.js.snap
  src/components/PanelV2/__tests__/__snapshots__/PanelV2.spec.js.snap
  src/components/SearchBar/__tests__/__snapshots__/SearchBar.spec.js.snap
  src/components/StackedNotification/__tests__/__snapshots__/StackedNotification.spec.js.snap
  src/components/StepIndicator/__tests__/__snapshots__/StepIndicator.spec.js.snap
  src/components/SummaryCard/SummaryCardContainer/__tests__/__snapshots__/SummaryCardContainer.spec.js.snap
  src/components/Tag/InteractiveTag/__tests__/__snapshots__/InteractiveTag.spec.js.snap
  src/components/TagWall/__tests__/__snapshots__/TagWall.spec.js.snap
  src/components/TagWallFilter/Filter/__tests__/__snapshots__/Filter.spec.js.snap
  src/components/TagWallFilter/__tests__/__snapshots__/TagWallFilter.spec.js.snap
  src/components/TimeIndicator/__tests__/__snapshots__/TimeIndicator.spec.js.snap
  src/components/Toolbar/__tests__/__snapshots__/Toolbar.spec.js.snap
Due: none

fix(theme-docs): filter for color tokens only
  docs/themes/themes.md
  scripts/themes/index.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

fix(theme-docs): update script to reduce changes
  scripts/themes/index.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

fix: remove ibm-type feature flags and related examples
  README.md
  docs/migration/2.x-type.md
  docs/themes/themes.md
  src/globals/feature-flags/_index.scss
  src/globals/grid/css-gridish/bx-grid.sketch
Due: yarn format:precommit, yarn lint:scss:precommit

fix: remove ibm-type feature flags and related examples
  README.md
  docs/migration/2.x-type.md
  docs/themes/themes.md
  src/globals/feature-flags/_index.scss
Due: yarn format:precommit, yarn lint:scss:precommit

fix(ibm-type): remove type__name and helpers
  docs/themes/themes.md
  src/globals/feature-flags/_index.scss
  src/globals/type/_index.scss
Due: yarn format:precommit, yarn lint:scss:precommit

feat(unstable-pagination): refactor pagination component (#249)
  .eslintrc
  src/components/UNSTABLE__Pagination/PageSelector.js
  src/components/UNSTABLE__Pagination/Pagination.js
  src/components/UNSTABLE__Pagination/Pagination.stories.js
  src/components/UNSTABLE__Pagination/_index.scss
  src/components/UNSTABLE__Pagination/index.js
  src/components/_index.scss
  src/index.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

chore(release): 1.14.0-prerelease.1 [skip ci]
  package.json
Due: none

Path conditions:
  yarn format:precommit: any of: *.{js,md,scss}
  yarn lint:js:precommit: any of: *.js
  yarn test:precommit: any of: *.js
  yarn lint:scss:precommit: any of: *.scss
