Repository carbon-design-system/ibm-security: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

fix(header): inherit height to accommodate breadcrumb shadow (#554)
  src/components/Header/_mixins.scss
Due: yarn format:precommit, yarn lint:scss:precommit

chore(release): 1.24.1-prerelease.1 [skip ci]
  package.json
Due: none

Notes added by 'git notes add'
  87/e822ff256c529091f03ec263ebc198d78ecb0b
Due: none

feat(filter-panel): add heading node prop and update title prop
  src/components/FilterPanel/FilterPanel.stories.js
  src/components/FilterPanel/FilterPanelAccordion/FilterPanelAccordion.js
  src/components/FilterPanel/FilterPanelAccordionItem/FilterPanelAccordiontItem.js
  src/components/FilterPanel/FilterPanelGroup/FilterPanelGroup.js
  src/components/FilterPanel/FilterPanelLabel/FilterPanelLabel.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

chore: update public api snapshot
  src/components/__tests__/__snapshots__/publicAPI.spec.js.snap
Due: none

feat(filter-panel): allow for string counts (#567)
  src/components/FilterPanel/FilterPanelAccordion/FilterPanelAccordion.js
  src/components/FilterPanel/FilterPanelAccordionItem/FilterPanelAccordiontItem.js
  src/components/FilterPanel/FilterPanelCheckbox/FilterPanelCheckbox.js
  src/components/FilterPanel/FilterPanelCheckbox/FilterPanelCheckbox.stories.js
  src/components/FilterPanel/FilterPanelCheckboxWithOverflowMenu/FilterPanelCheckboxWithOverflowMenu.stories.js
  src/components/FilterPanel/FilterPanelGroup/FilterPanelGroup.js
  src/components/FilterPanel/FilterPanelLabel/FilterPanelLabel.js
  src/components/__tests__/__snapshots__/publicAPI.spec.js.snap
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

chore(release): 1.25.0-prerelease.1 [skip ci]
  package.json
Due: none

Notes added by 'git notes add'
  cb/b2a90f134a1ab1eea48e165b8d77601a54b42e
Due: none

chore: add experimental release configuration
  .releaserc
Due: none

chore(release): 1.25.0-experimental.1 [skip ci]
  package.json
Due: none

Notes added by 'git notes add'
  22/1d83e86e82074700dd641160a8452711a72945
Due: none

fix(data-table): fix sorting styles
  src/components/DataTable/DataTable.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

fix(data-table): fix sorting styles (#570)
  src/components/DataTable/DataTable.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

chore(release): 1.25.0-prerelease.2 [skip ci]
  package.json
Due: none

Notes added by 'git notes add'
  7b/8c90b4a23f79d8b57153fb98242e4224bcd712
Due: none

chore(button-cluster): add module
  src/components/UNSTABLE__Layout/LayoutModules/BackgroundModule/_index.scss
  src/components/UNSTABLE__Layout/LayoutModules/BackgroundModule/index.js
  src/components/UNSTABLE__Layout/LayoutModules/ButtonClusterModule/_index.scss
  src/components/UNSTABLE__Layout/LayoutModules/ButtonClusterModule/index.js
  src/components/UNSTABLE__Layout/LayoutModules/DescriptionModule/_index.scss
  src/components/UNSTABLE__Layout/LayoutModules/DescriptionModule/index.js
  src/components/UNSTABLE__Layout/LayoutModules/LayoutModule.js
  src/components/UNSTABLE__Layout/LayoutModules/LayoutModules.stories.js
  src/components/UNSTABLE__Layout/LayoutModules/TitleModule/_index.scss
  src/components/UNSTABLE__Layout/LayoutModules/TitleModule/index.js
  src/components/UNSTABLE__Layout/LayoutModules/_index.scss
  src/components/UNSTABLE__Layout/LayoutModules/index.js
  src/components/__tests__/__snapshots__/publicAPI.spec.js.snap
  src/index.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

build(storybook): remove static assets from package (#560)
  package.json
Due: none

chore(page-tab): add module
  .storybook/index.js
  src/components/UNSTABLE__Layout/LayoutModules/LayoutModules.stories.js
  src/components/UNSTABLE__Layout/LayoutModules/PageTabModule/_index.scss
  src/components/UNSTABLE__Layout/LayoutModules/PageTabModule/index.js
  src/components/UNSTABLE__Layout/LayoutModules/_index.scss
  src/components/UNSTABLE__Layout/LayoutModules/index.js
  src/components/__tests__/__snapshots__/publicAPI.spec.js.snap
  src/index.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

fix(filter-panel): add title prop to checkbox
  src/components/FilterPanel/FilterPanelCheckbox/FilterPanelCheckbox.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

test(filter-panel): update tests to reflect changes to heading and title props
  src/components/FilterPanel/FilterPanelAccordion/__tests__/FilterPanelAccordion.spec.js
  src/components/FilterPanel/FilterPanelAccordionItem/__tests__/FilterPanelAccordionItem.spec.js
  src/components/FilterPanel/FilterPanelGroup/FilterPanelGroup.js
  src/components/FilterPanel/FilterPanelGroup/__tests__/FilterPanelGroup.spec.js
  src/components/__tests__/__snapshots__/publicAPI.spec.js.snap
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

test(filter-panel): update tests
  src/components/FilterPanel/FilterPanelAccordion/__tests__/FilterPanelAccordion.spec.js
  src/components/FilterPanel/FilterPanelAccordionItem/__tests__/FilterPanelAccordionItem.spec.js
  src/components/FilterPanel/FilterPanelGroup/FilterPanelGroup.js
  src/components/FilterPanel/FilterPanelGroup/__tests__/FilterPanelGroup.spec.js
  src/components/FilterPanel/FilterPanelLabel/__tests__/FilterPanelLabel.spec.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

test(filter-panel): add test for title node
  src/components/FilterPanel/FilterPanelGroup/__tests__/FilterPanelGroup.spec.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

fix(wizard): add className prop and spread attribute
  src/components/Tearsheet/Tearsheet.js
  src/components/Wizard/Wizard.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

chore(a11y): update configuration
  .achecker.yml
Due: none

chore: update snapshots to reflect recent changes
  src/components/Tearsheet/__tests__/__snapshots__/Tearsheet.spec.js.snap
  src/components/__tests__/__snapshots__/publicAPI.spec.js.snap
Due: none

chore(layout-module): add `TypeLayout`
  .storybook/index.js
  src/components/ErrorPage/ErrorPage.stories.js
  src/components/Header/Header.stories.js
  src/components/NonEntitledSection/NonEntitledSection.stories.js
  src/components/PanelV2/PanelV2.stories.js
  src/components/Shell/Shell.stories.js
  src/components/TypeLayout/_index.scss
  src/components/TypeLayout/_variables.scss
  src/components/UIShell/UIShell.stories.js
  src/components/UNSTABLE__Layout/LayoutModules/LayoutModules.stories.js
  src/components/UNSTABLE__Layout/LayoutModules/TitleModule/_index.scss
  src/components/UNSTABLE__Layout/LayoutModules/TitleModule/_variables.scss
  src/components/UNSTABLE__Layout/LayoutModules/TypeLayoutModule/_index.scss
  src/components/UNSTABLE__Layout/LayoutModules/TypeLayoutModule/index.js
  src/components/UNSTABLE__Layout/LayoutModules/_index.scss
  src/components/UNSTABLE__Layout/LayoutModules/index.js
  src/components/__tests__/__snapshots__/publicAPI.spec.js.snap
  src/index.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

fix(wizard): add className prop and spread attribute (#572)
  src/components/Tearsheet/Tearsheet.js
  src/components/Tearsheet/__tests__/__snapshots__/Tearsheet.spec.js.snap
  src/components/Wizard/Wizard.js
  src/components/__tests__/__snapshots__/publicAPI.spec.js.snap
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

docs(carbon): add issue template
  .github/ISSUE_TEMPLATE/CARBON.md
Due: yarn format:precommit

docs(carbon): add issue template (#574)
  .github/ISSUE_TEMPLATE/CARBON.md
Due: yarn format:precommit

chore(release): 1.25.0-prerelease.3 [skip ci]
  package.json
Due: none

Notes added by 'git notes add'
  6c/02d34a3b30040c99ee2fe9fa2a5e31c9701f9e
Due: none

fix(filter-panel): set filter panel label's title to undefined by default
  src/components/FilterPanel/FilterPanelLabel/FilterPanelLabel.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

docs(filter-panel): add title prop to fitlerpanelcheckbox in story, cleanup story
  src/components/FilterPanel/FilterPanel.stories.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

docs(filter-panel): update stories
  src/components/FilterPanel/FilterPanel.stories.js
  src/components/FilterPanel/FilterPanelCheckbox/FilterPanelCheckbox.stories.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

fix(filter-panel): set accordion title prop to undefined by default
  src/components/FilterPanel/FilterPanelAccordionItem/FilterPanelAccordiontItem.js
  src/components/__tests__/__snapshots__/publicAPI.spec.js.snap
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

feat(filter-panel): use new heading prop, change title prop to string (#558)
  src/components/FilterPanel/FilterPanel.stories.js
  src/components/FilterPanel/FilterPanelAccordion/FilterPanelAccordion.js
  src/components/FilterPanel/FilterPanelAccordion/__tests__/FilterPanelAccordion.spec.js
  src/components/FilterPanel/FilterPanelAccordionItem/FilterPanelAccordiontItem.js
  src/components/FilterPanel/FilterPanelAccordionItem/__tests__/FilterPanelAccordionItem.spec.js
  src/components/FilterPanel/FilterPanelCheckbox/FilterPanelCheckbox.js
  src/components/FilterPanel/FilterPanelCheckbox/FilterPanelCheckbox.stories.js
  src/components/FilterPanel/FilterPanelGroup/FilterPanelGroup.js
  src/components/FilterPanel/FilterPanelGroup/__tests__/FilterPanelGroup.spec.js
  src/components/FilterPanel/FilterPanelLabel/FilterPanelLabel.js
  src/components/FilterPanel/FilterPanelLabel/__tests__/FilterPanelLabel.spec.js
  src/components/__tests__/__snapshots__/publicAPI.spec.js.snap
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

chore(release): 1.25.0-prerelease.4 [skip ci]
  package.json
Due: none

Notes added by 'git notes add'
  f3/69d0654370d37a43084abf7bf41e7b1acbe3df
Due: none

fix(tearsheet): only render content when loading=false, avoid passing thru certain props
  src/components/Tearsheet/Tearsheet.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

Path conditions:
  yarn format:precommit: any of: *.{js,md,scss}
  yarn lint:js:precommit: any of: *.js
  yarn test:precommit: any of: *.js
  yarn lint:scss:precommit: any of: *.scss
