Repository carbon-design-system/ibm-security: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

.lintstagedrc:

{
  '*.{js,md,scss}': ['yarn format:precommit', 'git add'],
  '*.js': ['yarn lint:js:precommit', 'git add', 'yarn test:precommit'],
  '*.scss': ['yarn lint:scss:precommit', 'git add'],
}

docs(breadcrumb-page-title): add description
  src/components/UNSTABLE__BreadcrumbPageTitle/BreadcrumbPageTitle.stories.js
  src/components/UNSTABLE__BreadcrumbPageTitle/index.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

docs(breadcrumb-page-title): update props documentation
  src/components/UNSTABLE__BreadcrumbPageTitle/index.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

fix(icon-button-bar): update selectorPrimaryFocus implementation
  src/components/IconButtonBar/IconButtonBar.js
  src/components/IconButtonBar/IconButtonBar.stories.js
  src/components/IconButtonBar/__tests__/__snapshots__/IconButtonBar.spec.js.snap
  src/components/__tests__/__snapshots__/publicAPI.spec.js.snap
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

docs(icon): wrap story in `Fragment`
  src/components/Icon/Icon.stories.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

fix(scroll-gradient): add opacity transition properties
  src/__tests__/scss/__snapshots__/SCSS.spec.js.snap
  src/components/ScrollGradient/_index.scss
Due: yarn format:precommit, yarn lint:scss:precommit

test(breadcrumb-page-title): add testing suite
  src/components/UNSTABLE__BreadcrumbPageTitle/__tests__/BreadcrumbPageTitle.spec.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

test(upsell-nudge): update documentation
  src/components/UpsellNudge/__tests__/UpsellNudge.spec.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

fix(filter-panel-checkbox-with-overflowmenu): update selectorPrimaryFocus usage
  src/components/FilterPanel/FilterPanelCheckboxWithOverflowMenu/FilterPanelCheckboxWithOverflowMenu.js
  src/components/FilterPanel/FilterPanelCheckboxWithOverflowMenu/FilterPanelCheckboxWithOverflowMenu.stories.js
  src/components/__tests__/__snapshots__/publicAPI.spec.js.snap
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

docs(FilterPanelCheckboxWithOverflowMenu): implement selectorPrimaryFocus instead of primaryFocus (#686)
  src/components/FilterPanel/FilterPanelCheckboxWithOverflowMenu/FilterPanelCheckboxWithOverflowMenu.js
  src/components/FilterPanel/FilterPanelCheckboxWithOverflowMenu/FilterPanelCheckboxWithOverflowMenu.stories.js
  src/components/FilterPanel/FilterPanelCheckboxWithOverflowMenu/__tests__/FilterPanelCheckboxWithOverflowMenu.spec.js
  src/components/__tests__/__snapshots__/publicAPI.spec.js.snap
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

fix(filter): update downshift implementation
  docs/themes/themes.md
  src/components/TagWallFilter/Filter/Filter.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

feat: update carbon to 10.16.0
  .yarn/offline-mirror/@carbon-grid-10.12.0.tgz
  .yarn/offline-mirror/@carbon-grid-10.13.0.tgz
  .yarn/offline-mirror/@carbon-icons-react-10.13.0.tgz
  .yarn/offline-mirror/@carbon-icons-react-10.14.0.tgz
  .yarn/offline-mirror/@carbon-layout-10.11.0.tgz
  .yarn/offline-mirror/@carbon-layout-10.12.0.tgz
  .yarn/offline-mirror/@carbon-themes-10.14.0.tgz
  .yarn/offline-mirror/@carbon-themes-10.15.0.tgz
  .yarn/offline-mirror/@carbon-type-10.12.0.tgz
  .yarn/offline-mirror/@carbon-type-10.13.0.tgz
  .yarn/offline-mirror/carbon-components-10.15.0.tgz
  .yarn/offline-mirror/carbon-components-10.16.0.tgz
  .yarn/offline-mirror/carbon-components-react-7.15.0.tgz
  .yarn/offline-mirror/carbon-components-react-7.16.0.tgz
  .yarn/offline-mirror/downshift-5.0.5.tgz
  .yarn/offline-mirror/downshift-5.2.1.tgz
  package.json
  src/__tests__/scss/__snapshots__/SCSS.spec.js.snap
  src/components/__tests__/__snapshots__/publicAPI.spec.js.snap
  yarn.lock
Due: none

docs(icon): wrap story in `Fragment` (#690)
  src/components/Icon/Icon.stories.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

fix(scroll-gradient): add opacity transition properties on exit
  src/__tests__/scss/__snapshots__/SCSS.spec.js.snap
  src/components/ScrollGradient/_index.scss
Due: yarn format:precommit, yarn lint:scss:precommit

fix(scroll-gradient): add opacity transition properties (#691)
  src/__tests__/scss/__snapshots__/SCSS.spec.js.snap
  src/components/ScrollGradient/_index.scss
Due: yarn format:precommit, yarn lint:scss:precommit

chore(release): 1.29.0-prerelease.4 [skip ci]
  package.json
Due: none

Notes added by 'git notes add'
  4d/44c63e021b5477ae80d40b8dbdfaa01e736506
Due: none

fix(icon-button-bar): use selectorPrimaryFocus in OverflowMenu (#687)
  src/components/IconButtonBar/IconButtonBar.js
  src/components/IconButtonBar/IconButtonBar.stories.js
  src/components/IconButtonBar/__tests__/__snapshots__/IconButtonBar.spec.js.snap
  src/components/__tests__/__snapshots__/publicAPI.spec.js.snap
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

chore(release): 1.29.0-prerelease.5 [skip ci]
  package.json
Due: none

Notes added by 'git notes add'
  75/95c3ce8d4c4761defaee0b7d67bafe0f2cabdd
Due: none

fix(wizard): fix className, allow 3 lines for steps before truncation
  src/__tests__/scss/__snapshots__/SCSS.spec.js.snap
  src/components/Wizard/Wizard.js
  src/components/Wizard/Wizard.stories.js
  src/components/Wizard/_index.scss
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

chore: update scss snapshot
  src/__tests__/scss/__snapshots__/SCSS.spec.js.snap
Due: none

test(breadcrumb-page-title): add basic unit tests
  src/__tests__/scss/__snapshots__/SCSS.spec.js.snap
  src/components/UNSTABLE__BreadcrumbPageTitle/__tests__/BreadcrumbPageTitle.spec.js
  src/components/UNSTABLE__BreadcrumbPageTitle/_index.scss
  src/components/UNSTABLE__BreadcrumbPageTitle/index.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

docs(overflow-menu): remove usage of primaryFocus in stories
  src/components/DataTable/stories/with-overflow-menu.js
  src/components/OverflowMenu/OverflowMenu.stories.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

fix(time-picker): add padding style override to input
  src/components/TimePicker/_index.scss
Due: yarn format:precommit, yarn lint:scss:precommit

docs(overflow-menu): remove usage of primaryFocus in stories (#694)
  src/components/DataTable/stories/with-overflow-menu.js
  src/components/OverflowMenu/OverflowMenu.stories.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

fix(toolbar): ensure that toolbar panels have ids, update aria attributes
  src/components/Toolbar/Toolbar.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

chore: update toolbar snapshots
  src/components/Toolbar/__tests__/__snapshots__/Toolbar.spec.js.snap
Due: none

fix(header): add profile.description prop to the popover
  src/components/Header/Header.js
  src/components/Header/_mixins.scss
  src/components/Header/_mocks_/index.js
  src/components/Header/constants.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

chore(header): update snapshots
  src/__tests__/scss/__snapshots__/SCSS.spec.js.snap
  src/components/__tests__/__snapshots__/publicAPI.spec.js.snap
Due: none

test(upsell-nudge): refactor tests to `rerender`
  src/components/UpsellNudge/__tests__/UpsellNudge.spec.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

fix(toolbar): ensure that toolbar panels have ids, update aria attributes (#697)
  src/components/Toolbar/Toolbar.js
  src/components/Toolbar/__tests__/__snapshots__/Toolbar.spec.js.snap
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

chore(release): 1.29.0-prerelease.6 [skip ci]
  package.json
Due: none

Notes added by 'git notes add'
  ea/7a8969920e0f440af105b91056de62169c599d
Due: none

test(breadcrumb-page-title): add scroll event tests
  src/components/UNSTABLE__BreadcrumbPageTitle/__tests__/BreadcrumbPageTitle.spec.js
  src/components/UNSTABLE__BreadcrumbPageTitle/index.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

chore(page-title): rename component, accept children
  src/__tests__/scss/__snapshots__/SCSS.spec.js.snap
  src/components/UNSTABLE__BreadcrumbPageTitle/BreadcrumbPageTitle.stories.js
  src/components/UNSTABLE__BreadcrumbPageTitle/__tests__/BreadcrumbPageTitle.spec.js
  src/components/UNSTABLE__PageTitle/PageTitle.stories.js
  src/components/UNSTABLE__PageTitle/__tests__/PageTitle.spec.js
  src/components/UNSTABLE__PageTitle/_index.scss
  src/components/UNSTABLE__PageTitle/index.js
  src/components/__tests__/__snapshots__/publicAPI.spec.js.snap
  src/components/_index.scss
  src/index.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

Data decorator panel root (#662)
  src/components/DataDecorator/DataDecorator.js
  src/components/PanelV2/PanelV2.js
  src/components/__tests__/__snapshots__/publicAPI.spec.js.snap
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

fix(scroll-gradient): use `ResizeObserver` (#667)
  config/jest/index.js
  config/jest/matchers/toHaveNoAxeViolations.js
  config/jest/matchers/toHaveNoDAPViolations.js
  package.json
  src/components/DataTable/stories/default.js
  src/components/ScrollGradient/ScrollGradient.js
  src/components/ScrollGradient/__mocks__/index.js
  src/components/ScrollGradient/__tests__/ScrollGradient.spec.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

chore(release): 1.29.0-prerelease.7 [skip ci]
  package.json
Due: none
