Repository carbon-design-system/ibm-security: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

fix: update header and panel `z-index` values
  src/__tests__/scss/__snapshots__/SCSS.spec.js.snap
  src/components/Header/_variables.scss
  src/components/Panel/_mixins.scss
  src/components/PanelV2/_mixins.scss
Due: yarn format:precommit, yarn lint:scss:precommit

build(analytics): fix analytics property
  .storybook/manager.js
  .storybook/preview.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

docs(addon-docs): add style overrides (#821)
  .storybook/docs/_index.scss
Due: yarn format:precommit, yarn lint:scss:precommit

docs(addon-docs): set default configuration for `Source` Doc Block (#818)
  .storybook/components/Source/index.js
  .storybook/preview.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

chore: merge `dev` into `dev-modular-layouts-documentation`
  .storybook/preview.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

fix: update header and panel `z-index` values (#835)
  src/__tests__/scss/__snapshots__/SCSS.spec.js.snap
  src/components/Header/_variables.scss
  src/components/Panel/_mixins.scss
  src/components/PanelV2/_mixins.scss
Due: yarn format:precommit, yarn lint:scss:precommit

chore(release): 1.35.1-prerelease.1 [skip ci]
  package.json
Due: none

Notes added by 'git notes add'
  6e/3d2b6891a4655761715d81a5b92e3d3da69380
Due: none

build(codeql): add CodeQL workflow (#832)
  .github/workflows/codeql.yml
Due: none

build(kodiak): add Kodiak configuration (#823)
  .kodiak.toml
Due: none

build(analytics): fix analytics property (#836)
  .storybook/manager.js
  .storybook/preview.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

test(action-bar-module): add unit tests
  src/components/UNSTABLE__LayoutModules/ActionBarModule/__tests__/ActionBarModule.spec.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

docs(addon-docs): prevent MDX scrolling while navigating stories (#819)
  .storybook/components/DocsContainer/index.js
  .storybook/preview.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

docs(github): update template labels
  .github/ISSUE_TEMPLATE.md
  .github/ISSUE_TEMPLATE/BUG.md
  .github/ISSUE_TEMPLATE/PROPOSAL.md
Due: yarn format:precommit

docs(issue-templates): update issue templates (#815)
  .github/ISSUE_TEMPLATE.md
  .github/ISSUE_TEMPLATE/BUG.md
  .github/ISSUE_TEMPLATE/CARBON.md
  .github/ISSUE_TEMPLATE/PROPOSAL.md
  .github/ISSUE_TEMPLATE/REQUEST.md
  .github/PULL_REQUEST_TEMPLATE.md
Due: yarn format:precommit

docs(README): update content (#839)
  README.md
  docs/themes/README.md
Due: yarn format:precommit

fix(summary-card): prevent scrollbar on action text (#827)
  src/__tests__/scss/__snapshots__/SCSS.spec.js.snap
  src/components/SummaryCard/_mixins.scss
Due: yarn format:precommit, yarn lint:scss:precommit

chore(release): 1.35.1-prerelease.2 [skip ci]
  package.json
Due: none

Notes added by 'git notes add'
  76/f591cd8caa0039ab7a0bb6302faa602c398e1a
Due: none

docs(CONTRIBUTING): update contributor documentation (#838)
  .github/CONTRIBUTING.md
Due: yarn format:precommit

docs(file-uploader): defer to Carbon documentation
  src/components/FileUploader/FileUploader.stories.js
  src/components/FileUploader/index.mdx
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

docs(file-uploader): defer to Carbon documentation
  src/components/FileUploader/FileUploader.stories.js
  src/components/FileUploader/FileUploader.stories.mdx
  src/components/FileUploader/index.mdx
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

fix(return-to-banner): remove need for applying margin
  src/__tests__/scss/__snapshots__/SCSS.spec.js.snap
  src/components/Shell/_mixins.scss
Due: yarn format:precommit, yarn lint:scss:precommit

feat(combo-button): add prop spreading to primary action button
  src/components/ComboButton/ComboButton.js
  src/components/ComboButton/ComboButton.stories.js
  src/components/ComboButton/__tests__/ComboButton.spec.js
  src/components/ComboButton/__tests__/__snapshots__/ComboButton.spec.js.snap
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

test(combo-button): add extra accessibility assertions and comments
  src/components/ComboButton/__tests__/ComboButton.spec.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

feat(combo-button): add prop spreading to primary action button (#847)
  src/components/ComboButton/ComboButton.js
  src/components/ComboButton/ComboButton.stories.js
  src/components/ComboButton/__tests__/ComboButton.spec.js
  src/components/ComboButton/__tests__/__snapshots__/ComboButton.spec.js.snap
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

chore(release): 1.36.0-prerelease.1 [skip ci]
  package.json
Due: none

Notes added by 'git notes add'
  33/a91027f361908a88b7222fa291fdbafee10403
Due: none

feat(layout-modules): add `withBackground` higher-order component
  .storybook/components/Background/_index.scss
  .storybook/index.scss
  src/__tests__/scss/__snapshots__/SCSS.spec.js.snap
  src/components/UNSTABLE__LayoutModules/Background/_index.scss
  src/components/UNSTABLE__LayoutModules/Background/index.js
  src/components/UNSTABLE__LayoutModules/CardModule/CardModule.stories.js
  src/components/UNSTABLE__LayoutModules/_index.scss
  src/components/UNSTABLE__LayoutModules/index.js
  src/components/__tests__/__snapshots__/publicAPI.spec.js.snap
  src/index.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

docs(layout-modules): update links and view mode delegation
  src/components/UNSTABLE__LayoutModules/ActionBarModule/ActionBarModule.stories.js
  src/components/UNSTABLE__LayoutModules/ActionBarModule/index.mdx
  src/components/UNSTABLE__LayoutModules/ButtonClusterModule/index.mdx
  src/components/UNSTABLE__LayoutModules/CardModule/CardModule.stories.js
  src/components/UNSTABLE__LayoutModules/CardModule/index.mdx
  src/components/UNSTABLE__LayoutModules/DescriptionListModule/DescriptionListModule.stories.js
  src/components/UNSTABLE__LayoutModules/DescriptionListModule/index.mdx
  src/components/UNSTABLE__LayoutModules/DescriptionModule/DescriptionModule.stories.js
  src/components/UNSTABLE__LayoutModules/DescriptionModule/index.mdx
  src/components/UNSTABLE__LayoutModules/ICAModule/ICAModule.stories.js
  src/components/UNSTABLE__LayoutModules/ICAModule/index.mdx
  src/components/UNSTABLE__LayoutModules/TitleBarModule/TitleBarModule.stories.js
  src/components/UNSTABLE__LayoutModules/TitleBarModule/index.mdx
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

feat(motion): proxy motion package via `globals`
  src/globals/motion/_index.scss
Due: yarn format:precommit, yarn lint:scss:precommit

docs(issue-templates): fix labels
  .github/ISSUE_TEMPLATE/BUG.md
  .github/ISSUE_TEMPLATE/PROPOSAL.md
Due: yarn format:precommit

docs(layout-modules): fix code formatting
  src/components/UNSTABLE__LayoutModules/DescriptionModule/index.mdx
  src/components/UNSTABLE__LayoutModules/ICAModule/index.mdx
Due: none

chore: merge `dev` into `with-background`
  src/components/UNSTABLE__LayoutModules/Layout.stories.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

feat(action-card): add logic, story, and styles
  src/components/ActionCard/ActionCard.stories.js
  src/components/ActionCard/_index.scss
  src/components/ActionCard/index.js
  src/components/_index.scss
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

test(action-card): update snapshots
  src/__tests__/scss/__snapshots__/SCSS.spec.js.snap
Due: none

feat(layout-modules): add `withBackground` higher-order component (#851)
  .storybook/components/Background/_index.scss
  .storybook/index.scss
  src/__tests__/scss/__snapshots__/SCSS.spec.js.snap
  src/components/UNSTABLE__LayoutModules/Background/_index.scss
  src/components/UNSTABLE__LayoutModules/Background/index.js
  src/components/UNSTABLE__LayoutModules/CardModule/CardModule.stories.js
  src/components/UNSTABLE__LayoutModules/Layout.stories.js
  src/components/UNSTABLE__LayoutModules/_index.scss
  src/components/UNSTABLE__LayoutModules/index.js
  src/components/__tests__/__snapshots__/publicAPI.spec.js.snap
  src/index.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

chore(release): 1.36.0-prerelease.2 [skip ci]
  package.json
Due: none

Path conditions:
  yarn format:precommit: any of: *.{js,md,scss}
  yarn lint:js:precommit: any of: *.js
  yarn test:precommit: any of: *.js
  yarn lint:scss:precommit: any of: *.scss
