Repository carbon-design-system/ibm-security: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

.lintstagedrc:

{
  '*.{js,md,scss}': ['yarn format:precommit', 'git add'],
  '*.js': ['yarn lint:js:precommit', 'git add', 'yarn test:precommit'],
  '*.scss': ['yarn lint:scss:precommit', 'git add'],
}

feat(decorator): export icons as components, add story and tests (#580)
  src/__tests__/scss/__snapshots__/SCSS.spec.js.snap
  src/components/DataDecorator/Decorator/Decorator.js
  src/components/DataDecorator/Decorator/Decorator.stories.js
  src/components/DataDecorator/Decorator/__tests__/Decorator.spec.js
  src/components/DataDecorator/Decorator/constants.js
  src/components/DataDecorator/_mixins.scss
  src/components/__tests__/__snapshots__/publicAPI.spec.js.snap
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

chore(release): 1.26.0-prerelease.4 [skip ci]
  package.json
Due: none

Notes added by 'git notes add'
  c2/ee62b537cf2c8b034a8315595c9a46c08d2273
Due: none

chore(storybook): add `centered` helpers for CSF and backwards-compatibility
  .storybook/index.js
  src/components/ErrorPage/ErrorPage.stories.js
  src/components/Header/Header.stories.js
  src/components/NonEntitledSection/NonEntitledSection.stories.js
  src/components/PanelV2/PanelV2.stories.js
  src/components/Shell/Shell.stories.js
  src/components/UIShell/UIShell.stories.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

chore: add dynamic require
  .storybook/config.js
  .storybook/webpack.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

chore(storybook): add `centered` helpers for CSF and backwards-compatibility (#605)
  .storybook/index.js
  src/components/ErrorPage/ErrorPage.stories.js
  src/components/Header/Header.stories.js
  src/components/NonEntitledSection/NonEntitledSection.stories.js
  src/components/PanelV2/PanelV2.stories.js
  src/components/Shell/Shell.stories.js
  src/components/UIShell/UIShell.stories.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

feat(panelv2): close panel with esc key
  src/components/PanelV2/PanelV2.js
  src/components/PanelV2/PanelV2.stories.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

feat(portal): add click handler for portal overlay & allow panel to close
  src/components/PanelV2/PanelV2.js
  src/components/Portal/Portal.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

chore: remove extra new line
  src/components/Portal/Portal.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

chore: update snapshots to reflect changes to portal
  src/components/TagWallFilter/__tests__/__snapshots__/TagWallFilter.spec.js.snap
  src/components/Tearsheet/TearsheetSmall/__tests__/__snapshots__/TearsheetSmall.spec.js.snap
  src/components/Tearsheet/__tests__/__snapshots__/Tearsheet.spec.js.snap
  src/components/__tests__/__snapshots__/publicAPI.spec.js.snap
Due: none

fix(panelv2): use fragment shorthand
  src/components/PanelV2/PanelV2.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

chore: remove unnecessary eslint override
  src/components/Portal/Portal.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

fix(tearsheet): add custom breakpoint
  src/__tests__/scss/__snapshots__/SCSS.spec.js.snap
  src/components/Tearsheet/TearsheetSmall/_mixins.scss
Due: yarn format:precommit, yarn lint:scss:precommit

chore(data-table): allow stories to accept props
  src/components/DataTable/stories/default.js
  src/components/DataTable/stories/with-batch-actions.js
  src/components/DataTable/stories/with-expansion.js
  src/components/DataTable/stories/with-overflow-menu.js
  src/components/DataTable/stories/with-selection.js
  src/components/DataTable/stories/with-skeleton.js
  src/components/DataTable/stories/with-sorting.js
  src/components/DataTable/stories/with-toolbar.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

docs(layout): update description
  src/components/UNSTABLE__Layout/Layout.stories.js
  src/components/UNSTABLE__Layout/LayoutModules/LayoutModule.js
  src/components/UNSTABLE__Layout/LayoutModules/LayoutModules.stories.js
  src/components/UNSTABLE__Layout/LayoutModules/PageTabModule/index.js
  src/components/UNSTABLE__Layout/stories/index.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

docs(layout): update description
  src/components/UNSTABLE__Layout/stories/index.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

docs(search-bar): update demo documentation for sortItems prop
  src/components/SearchBar/SearchBar.stories.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

docs(search-bar): update demo documentation for sortItems prop (#607)
  src/components/SearchBar/SearchBar.stories.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

chore(stories): test `file-loader`
  .storybook/config.js
  .storybook/webpack.js
  .yarn/offline-mirror/@types-json-schema-7.0.5.tgz
  .yarn/offline-mirror/ajv-6.12.2.tgz
  .yarn/offline-mirror/emojis-list-3.0.0.tgz
  .yarn/offline-mirror/fast-deep-equal-3.1.3.tgz
  .yarn/offline-mirror/file-loader-6.0.0.tgz
  .yarn/offline-mirror/json5-2.1.3.tgz
  .yarn/offline-mirror/loader-utils-2.0.0.tgz
  .yarn/offline-mirror/schema-utils-2.7.0.tgz
  package.json
  report.20200611.182351.12796.0.001.json
  yarn.lock
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

fix(panel-v2): use tabindex to capture onkeypress, add logic for add/remove event handler
  src/components/PanelV2/PanelV2.js
  src/components/Portal/Portal.js
  src/components/TagWallFilter/__tests__/__snapshots__/TagWallFilter.spec.js.snap
  src/components/Tearsheet/TearsheetSmall/__tests__/__snapshots__/TearsheetSmall.spec.js.snap
  src/components/Tearsheet/__tests__/__snapshots__/Tearsheet.spec.js.snap
  src/components/__tests__/__snapshots__/publicAPI.spec.js.snap
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

test(panel-v2): add tests for escape key and clicks outside of panel area
  src/components/PanelV2/__tests__/PanelV2.spec.js
  src/components/Portal/Portal.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

fix(tearsheet): prevent tabbing through content while loading state is active
  src/components/Tearsheet/TearsheetSmall/TearsheetSmall.js
  src/components/Tearsheet/TearsheetSmall/TearsheetSmall.stories.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

fix(tearsheet): use disabled attribute instead of tabindex to prevent tabbing when loading=true
  src/components/Tearsheet/Tearsheet.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

chore: update snapshots to reflect tearsheet updates
  src/components/TagWallFilter/__tests__/__snapshots__/TagWallFilter.spec.js.snap
  src/components/Tearsheet/TearsheetSmall/__tests__/__snapshots__/TearsheetSmall.spec.js.snap
  src/components/Tearsheet/__tests__/__snapshots__/Tearsheet.spec.js.snap
Due: none

docs(tearsheet-small): restore demo loading timeout
  src/components/Tearsheet/TearsheetSmall/TearsheetSmall.stories.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

test(panel-v2): remove test
  src/components/PanelV2/__tests__/PanelV2.spec.js
  src/components/Portal/Portal.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

fix(data-table): spread props to absorb changes from Carbon (#604)
  src/components/DataTable/DataTable.js
  src/components/DataTable/DataTable.stories.js
  src/components/DataTable/stories/default.js
  src/components/DataTable/stories/with-batch-actions.js
  src/components/DataTable/stories/with-expansion.js
  src/components/DataTable/stories/with-overflow-menu.js
  src/components/DataTable/stories/with-selection.js
  src/components/DataTable/stories/with-skeleton.js
  src/components/DataTable/stories/with-sorting.js
  src/components/DataTable/stories/with-toolbar.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

chore(release): 1.26.0-prerelease.5 [skip ci]
  package.json
Due: none

Notes added by 'git notes add'
  71/d14745a224182d66663329d527919b7108981b
Due: none

feat(unstable-shell): migrate from `next`
  .eslintrc
  src/__tests__/scss/__snapshots__/SCSS.spec.js.snap
  src/components/Header/Header.js
  src/components/Header/__tests__/__snapshots__/Header.spec.js.snap
  src/components/Header/_mixins.scss
  src/components/Shell/_index.scss
  src/components/Shell/_mixins.scss
  src/components/UNSTABLE__Shell/HeaderAction/__tests__/HeaderAction.spec.js
  src/components/UNSTABLE__Shell/HeaderAction/index.js
  src/components/UNSTABLE__Shell/HeaderActions/index.js
  src/components/UNSTABLE__Shell/NotificationsPopover/index.js
  src/components/UNSTABLE__Shell/Popover/index.js
  src/components/UNSTABLE__Shell/PopoverAccount/index.js
  src/components/UNSTABLE__Shell/PopoverAccountItem/index.js
  src/components/UNSTABLE__Shell/PopoverAccountList/index.js
  src/components/UNSTABLE__Shell/PopoverContent/index.js
  src/components/UNSTABLE__Shell/PopoverFooter/index.js
  src/components/UNSTABLE__Shell/PopoverHeader/index.js
  src/components/UNSTABLE__Shell/PopoverNotification/index.js
  src/components/UNSTABLE__Shell/PopoverTitle/index.js
  src/components/UNSTABLE__Shell/ProfilePopover/index.js
  src/components/UNSTABLE__Shell/Shell.js
  src/components/UNSTABLE__Shell/Shell.stories.js
  src/components/UNSTABLE__Shell/ShellHeader/index.js
  src/components/UNSTABLE__Shell/ShellHeaderName/index.js
  src/components/UNSTABLE__Shell/ShellReturnToBanner/index.js
  src/components/UNSTABLE__Shell/ShellSkipToContent/index.js
  src/components/UNSTABLE__Shell/ShellToolbar/index.js
  src/components/UNSTABLE__Shell/ToolbarAction/index.js
  src/components/UNSTABLE__Shell/_index.scss
  src/components/UNSTABLE__Shell/index.js
  src/components/__tests__/__snapshots__/publicAPI.spec.js.snap
  src/components/_index.scss
  src/index.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

fix(panel-v2): remove outline on panel container
  src/components/PanelV2/_mixins.scss
Due: yarn format:precommit, yarn lint:scss:precommit

fix(panel-v2): update isloading usage
  src/components/Tearsheet/TearsheetSmall/TearsheetSmall.stories.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

chore: update styles snapshot
  src/__tests__/scss/__snapshots__/SCSS.spec.js.snap
Due: none

fix(tearsheet-small): pass through isLoading, provide examples for making content non-interactive when loading (#610)
  src/components/TagWallFilter/__tests__/__snapshots__/TagWallFilter.spec.js.snap
  src/components/Tearsheet/Tearsheet.js
  src/components/Tearsheet/TearsheetSmall/TearsheetSmall.js
  src/components/Tearsheet/TearsheetSmall/TearsheetSmall.stories.js
  src/components/Tearsheet/TearsheetSmall/__tests__/__snapshots__/TearsheetSmall.spec.js.snap
  src/components/Tearsheet/__tests__/__snapshots__/Tearsheet.spec.js.snap
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

chore(release): 1.26.0-prerelease.6 [skip ci]
  package.json
Due: none

Notes added by 'git notes add'
  e5/e4b927921563453c7245e72a3a0515e37c051e
Due: none

feat(panelv2): click outside or use esc key to close panel (#606)
  src/__tests__/scss/__snapshots__/SCSS.spec.js.snap
  src/components/PanelV2/PanelV2.js
  src/components/PanelV2/PanelV2.stories.js
  src/components/PanelV2/__tests__/PanelV2.spec.js
  src/components/PanelV2/_mixins.scss
  src/components/Portal/Portal.js
  src/components/__tests__/__snapshots__/publicAPI.spec.js.snap
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

chore(release): 1.26.0-prerelease.7 [skip ci]
  package.json
Due: none

Notes added by 'git notes add'
  ec/6c1562c5c43268dfd4ea992d871583aa6aae85
Due: none

fix(tearsheet): add overflow to main content
  src/__tests__/scss/__snapshots__/SCSS.spec.js.snap
  src/components/Tearsheet/_mixins.scss
Due: yarn format:precommit, yarn lint:scss:precommit
