Repository carbon-design-system/ibm-security: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

fix(status-indicator): ensure that statusstep in indicator tests have required props
  src/components/StatusIndicator/__tests__/StatusIndicator.spec.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

fix(ica): apply PR feedback to tests
  src/components/ICA/ICASkeleton/__tests__/ICASkeleton.spec.js
  src/components/ICA/__tests__/ICA.spec.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

fix(step-indicator): add a11y test, remove old snapshots
  src/components/StepIndicator/__tests__/StepIndicator.spec.js
  src/components/StepIndicator/__tests__/__snapshots__/StepIndicator.spec.js.snap
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

fix(step-indicator): clean up tests
  src/components/StepIndicator/__tests__/StepIndicator.spec.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

fix(step-indicator): add test for step custom class
  src/components/StepIndicator/__tests__/StepIndicator.spec.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

fix(step-indicator): remove unnecessary prop value change in component code
  src/components/StepIndicator/StepIndicator.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

fix(step-indicator): add test for currentStep=null
  src/components/StepIndicator/__tests__/StepIndicator.spec.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

docs(testing): add more content about prop testing
  docs/testing/README.md
Due: yarn format:precommit

docs(testing): use js syntax highlighting for code blocks
  docs/testing/README.md
Due: yarn format:precommit

docs(contributing): update with link to new testing doc, info on react testing library
  .github/CONTRIBUTING.md
  docs/testing/README.md
Due: yarn format:precommit

docs(testing): spelling and grammar fixes
  docs/testing/README.md
Due: yarn format:precommit

fix(ica): update queries in tests
  src/components/ICA/__tests__/ICA.spec.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

fix(ica): update comments in tests
  src/components/ICA/__tests__/ICA.spec.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

fix(ica): update tests for ica and skeleton variation (#379)
  src/components/ICA/ICASkeleton/__tests__/ICASkeleton.spec.js
  src/components/ICA/ICASkeleton/__tests__/__snapshots__/ICASkeleton.spec.js.snap
  src/components/ICA/__tests__/ICA.spec.js
  src/components/ICA/__tests__/__snapshots__/ICA.spec.js.snap
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

chore(release): 1.17.2-prerelease.2 [skip ci]
  package.json
Due: none

Notes added by 'git notes add'
  10085d51f4f981bba04d1416f5abcb4517c02762
Due: none

fix(unstable-pagination): add class name and spread attribute tests
  src/components/UNSTABLE__Pagination/__tests__/Pagination.spec.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

fix(filter-panel): accordion item themed gradient color
  src/components/FilterPanel/FilterPanelAccordionItem/FilterPanelAccordiontItem.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

fix(filter-panel): accordion item themed gradient color (#394)
  src/components/FilterPanel/FilterPanelAccordionItem/FilterPanelAccordiontItem.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

chore(release): 1.17.2-prerelease.3 [skip ci]
  package.json
Due: none

Notes added by 'git notes add'
  989b1ad7be93fbf0a88bc2448949685ee40b88ad
Due: none

fix(button): ensure loading icon does not make button taller
  src/components/Button/_mixins.scss
Due: yarn format:precommit, yarn lint:scss:precommit

chore: update to carbon 10.10.0 release candidate
  .yarn/offline-mirror/@carbon-colors-10.7.2.tgz
  .yarn/offline-mirror/@carbon-colors-10.8.0-rc.0.tgz
  .yarn/offline-mirror/@carbon-grid-10.8.2.tgz
  .yarn/offline-mirror/@carbon-grid-10.9.0-rc.0.tgz
  .yarn/offline-mirror/@carbon-icon-helpers-10.5.2.tgz
  .yarn/offline-mirror/@carbon-icon-helpers-10.6.0-rc.0.tgz
  .yarn/offline-mirror/@carbon-icons-react-10.8.2.tgz
  .yarn/offline-mirror/@carbon-icons-react-10.9.0-rc.0.tgz
  .yarn/offline-mirror/@carbon-layout-10.7.3.tgz
  .yarn/offline-mirror/@carbon-layout-10.8.0-rc.0.tgz
  .yarn/offline-mirror/@carbon-motion-10.5.2.tgz
  .yarn/offline-mirror/@carbon-motion-10.6.0-rc.0.tgz
  .yarn/offline-mirror/@carbon-themes-10.10.0-rc.0.tgz
  .yarn/offline-mirror/@carbon-themes-10.9.3.tgz
  .yarn/offline-mirror/@carbon-type-10.8.3.tgz
  .yarn/offline-mirror/@carbon-type-10.9.0-rc.0.tgz
  .yarn/offline-mirror/carbon-components-10.10.0-rc.0.tgz
  .yarn/offline-mirror/carbon-components-10.9.3.tgz
  .yarn/offline-mirror/carbon-components-react-7.10.0-rc.0.tgz
  .yarn/offline-mirror/carbon-components-react-7.9.3.tgz
  docs/themes/themes.md
  package.json
  yarn.lock
Due: yarn format:precommit

feat(details-page-1): add initial component files and story
  src/components/GridTemplates/DetailsPage1/DetailsPage1.js
  src/components/GridTemplates/DetailsPage1/DetailsPage1.stories.js
  src/components/GridTemplates/DetailsPage1/index.js
  src/components/GridTemplates/index.js
  src/index.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

fix(details-page-1): add nested columns and styles
  src/components/GridTemplates/DetailsPage1/DetailsPage1.js
  src/components/GridTemplates/DetailsPage1/DetailsPage1.stories.js
  src/components/GridTemplates/DetailsPage1/_index.scss
  src/components/GridTemplates/DetailsPage1/index.js
  src/components/GridTemplates/index.js
  src/components/_index.scss
  src/index.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

chore: fix Yarn dependencies
  .yarn/offline-mirror/cli-source-preview-1.1.0.tgz
  .yarn/offline-mirror/fast-sass-loader-1.5.0.tgz
  .yarn/offline-mirror/fs-extra-3.0.1.tgz
  .yarn/offline-mirror/jsonfile-3.0.1.tgz
  package.json
Due: none

chore: format styles
  src/components/TagWallFilter/Filter/_index.scss
Due: yarn format:precommit, yarn lint:scss:precommit

feat(shell): add `blur` logic
  src/components/UNSTABLE__Shell/HeaderAction/index.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

fix(UNSTABLE__pagination): add a11y and unit tests (#327)
  .yarn/offline-mirror/@testing-library-user-event-8.0.3.tgz
  .yarn/offline-mirror/@testing-library-user-event-8.1.0.tgz
  package.json
  src/components/UNSTABLE__Pagination/__tests__/Pagination.spec.js
  yarn.lock
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

chore(release): 1.17.2-prerelease.4 [skip ci]
  package.json
Due: none

Notes added by 'git notes add'
  fcb88b8932a7cfe5dfe0f29e74cc61fcea977c8b
Due: none

fix(external-link): add tests for children and href props
  src/components/ExternalLink/__tests__/ExternalLink.spec.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

fix(interactive-tag): add tests for children, removable, and isSelected props
  src/components/Tag/InteractiveTag/__tests__/InteractiveTag.spec.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

fix(button): ensure loading icon does not make button taller (#395)
  src/components/Button/_mixins.scss
Due: yarn format:precommit, yarn lint:scss:precommit

chore(release): 1.17.2-prerelease.5 [skip ci]
  package.json
Due: none

Notes added by 'git notes add'
  b5280e6151f8adf326cf0d613eba3e62a5eadedf
Due: none

fix(skip-to-content): update focus styles and mimic Carbon's uishell version
  src/components/Shell/_mixins.scss
Due: yarn format:precommit, yarn lint:scss:precommit

fix(filter-panel-accordion-item): use focus-outline mixin for override
  src/components/FilterPanel/FilterPanelAccordionItem/_mixins.scss
Due: yarn format:precommit, yarn lint:scss:precommit

feat(unstable-pagination): add page input child component
  src/components/UNSTABLE__Pagination/PageInput.js
  src/components/UNSTABLE__Pagination/Pagination.js
  src/components/UNSTABLE__Pagination/Pagination.stories.js
  src/components/UNSTABLE__Pagination/index.js
  src/index.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

Path conditions:
  yarn format:precommit: any of: *.{js,md,scss}
  yarn lint:js:precommit: any of: *.js
  yarn test:precommit: any of: *.js
  yarn lint:scss:precommit: any of: *.scss
