Repository carbon-design-system/ibm-security: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

docs(scroll-gradient): update color code comments
  src/components/ScrollGradient/ScrollGradient.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

fix(scroll-gradient): make sure rgb/rgba is lowercase
  src/components/ScrollGradient/ScrollGradient.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

chore(shell): add code documentation, fix errors
  src/components/UNSTABLE__Shell/HeaderAction/index.js
  src/components/UNSTABLE__Shell/HeaderActions/index.js
  src/components/UNSTABLE__Shell/NotificationsPopover/index.js
  src/components/UNSTABLE__Shell/PopoverContent/index.js
  src/components/UNSTABLE__Shell/PopoverFooter/index.js
  src/components/UNSTABLE__Shell/PopoverHeader/index.js
  src/components/UNSTABLE__Shell/PopoverNotification/index.js
  src/components/UNSTABLE__Shell/PopoverTitle/index.js
  src/components/UNSTABLE__Shell/ProfilePopover/index.js
  src/components/UNSTABLE__Shell/Shell.js
  src/components/UNSTABLE__Shell/Shell.stories.js
  src/components/UNSTABLE__Shell/ShellHeader/index.js
  src/components/UNSTABLE__Shell/ShellHeaderName/index.js
  src/components/UNSTABLE__Shell/ShellReturnToBanner/index.js
  src/components/UNSTABLE__Shell/ShellSkipToContent/index.js
  src/components/UNSTABLE__Shell/ShellToolbar/index.js
  src/components/UNSTABLE__Shell/ToolbarAction/index.js
  src/components/UNSTABLE__Shell/__tests__/Shell.spec.js
  src/components/UNSTABLE__Shell/_index.scss
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

fix(summary-card-container): update tests (#340)
  src/components/SummaryCard/SummaryCard.stories.js
  src/components/SummaryCard/SummaryCardContainer/__tests__/SummaryCardContainer.spec.js
  src/components/SummaryCard/SummaryCardContainer/__tests__/__snapshots__/SummaryCardContainer.spec.js.snap
  src/components/SummaryCard/SummaryCardSelect/__tests__/SummaryCardSelect.spec.js
  src/components/SummaryCard/SummaryCardSelect/__tests__/__snapshots__/SummaryCardSelect.spec.js.snap
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

chore(release): 1.16.1-prerelease.2 [skip ci]
  package.json
Due: none

Notes added by 'git notes add'
  9bf5cd48786f860b2158266f576a545d266214bd
Due: none

fix(data-decorator): do not render primary button if prop not provided (#349)
  src/components/DataDecorator/DataDecorator.js
  src/components/DataDecorator/__tests__/__snapshots__/DataDecorator.spec.js.snap
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

chore(release): 1.16.1-prerelease.3 [skip ci]
  package.json
Due: none

Notes added by 'git notes add'
  84c125fd31ca31b4c7c22fce8c38e576132c0126
Due: none

fix(scroll-gradient): process custom properties for linear gradient color
  src/components/ScrollGradient/ScrollGradient.js
  src/components/ScrollGradient/ScrollGradient.stories.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

docs(scroll-gradient): update code comments
  src/components/ScrollGradient/ScrollGradient.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

fix: restore scroll gradient usage with theme custom property in codebase
  src/components/DataTable/Table.js
  src/components/DataTable/__tests__/__snapshots__/DataTable.spec.js.snap
  src/components/FilterPanel/LEGACY_FilterPanel/FilterSubcategory/FilterSubcategory.js
  src/components/FilterPanel/LEGACY_FilterPanel/FilterSubcategory/__tests__/__snapshots__/FilterSubcategory.spec.js.snap
  src/components/Header/Header.js
  src/components/ScrollGradient/ScrollGradient.js
  src/components/SummaryCard/SummaryCardBody/SummaryCardBody.js
  src/components/TagWallFilter/__tests__/__snapshots__/TagWallFilter.spec.js.snap
  src/components/Tearsheet/Tearsheet.js
  src/components/Tearsheet/TearsheetSmall/TearsheetSmall.js
  src/components/Tearsheet/TearsheetSmall/__tests__/__snapshots__/TearsheetSmall.spec.js.snap
  src/components/Tearsheet/__tests__/__snapshots__/Tearsheet.spec.js.snap
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

feat(data-decorator): added title prop in DataDecorator
  src/components/DataDecorator/DataDecorator.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

feat(decorator): added optional title prop (#344)
  src/components/DataDecorator/DataDecorator.js
  src/components/DataDecorator/Decorator/Decorator.js
  src/components/DataDecorator/Decorator/Decorator.stories.js
  src/components/DataDecorator/Decorator/__tests__/__snapshots__/Decorator.spec.js.snap
  src/components/DataDecorator/__tests__/__snapshots__/DataDecorator.spec.js.snap
  src/components/Pill/__tests__/__snapshots__/Pill.spec.js.snap
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

chore(release): 1.17.0-prerelease.1 [skip ci]
  package.json
Due: none

Notes added by 'git notes add'
  0d03b068fe430e81580b9cd0fda924a947f28e1d
Due: none

docs(scroll-gradient): update color prop desc
  src/components/ScrollGradient/ScrollGradient.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

fix(tearsheet): allow text reflow
  src/components/Tearsheet/TearsheetSmall/_mixins.scss
Due: yarn format:precommit, yarn lint:scss:precommit

fix(tearsheet): allow text reflow (#355)
  src/components/Tearsheet/TearsheetSmall/_mixins.scss
Due: yarn format:precommit, yarn lint:scss:precommit

chore(release): 1.17.0-prerelease.2 [skip ci]
  package.json
Due: none

Notes added by 'git notes add'
  a3b807dcb33223a05e4354e38cac324fce0d5eb1
Due: none

fix(nonentitled-section): add a11y test and remove snapshots
  src/components/NonEntitledSection/__tests__/NonEntitledSection.spec.js
  src/components/NonEntitledSection/__tests__/__snapshots__/NonEntitledSection.spec.js.snap
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

fix(nonentitled-section): a11y issue with link image
  src/components/NonEntitledSection/NonEntitledSection.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

fix(error-page): update error page tests and remove snapshots
  src/components/ErrorPage/__tests__/ErrorPage.spec.js
  src/components/ErrorPage/__tests__/__snapshots__/ErrorPage.spec.js.snap
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

docs: start a doc on testing components
  docs/testing/README.md
Due: yarn format:precommit

docs: set escapeHTML to false for decorator and datadecorator storybook knobs
  src/components/DataDecorator/DataDecorator.stories.js
  src/components/DataDecorator/Decorator/Decorator.stories.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

docs: update tab cycle test section
  docs/testing/README.md
Due: yarn format:precommit

feat(shell): update `ReturnToBanner`
  src/components/UNSTABLE__Shell/Shell.stories.js
  src/components/UNSTABLE__Shell/ShellReturnToBanner/index.js
  src/globals/grid/css-gridish/bx-grid.sketch
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

feat(shell): update stories, tweak styles
  src/components/SecurityHeader/_mixins.scss
  src/components/UNSTABLE__Shell/Shell.stories.js
  src/components/UNSTABLE__Shell/_index.scss
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

fix(accordion): add alignment and custom class test for accordion
  src/components/Accordion/Accordion.js
  src/components/Accordion/__tests__/Accordion.spec.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

feat(shell): update stories, tweak styles
  src/components/UNSTABLE__Shell/Shell.stories.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

fix(button): add tests for loading state and ghost-danger kind
  src/components/Button/__tests__/Button.spec.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

fix(card): update card tests, add a11y tests, remove snapshots, update alt attr
  src/components/Card/Card.js
  src/components/Card/__tests__/Card.spec.js
  src/components/Card/__tests__/__snapshots__/Card.spec.js.snap
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

fix(card): add cardskeleton a11y test
  src/components/Card/CardSkeleton/__tests__/CardSkeleton.spec.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

fix(external-link): add a11y and attributes tests, remove snapshots
  src/components/ExternalLink/__tests__/ExternalLink.spec.js
  src/components/ExternalLink/__tests__/__snapshots__/ExternalLink.spec.js.snap
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

chore(release): 1.17.0 [skip ci]
  package.json
Due: none

Notes added by 'git notes add'
  be1f16a738582c65f4011f15aac51d46ef8146ab
Due: none

feat(shell): add popover transition
  src/components/UNSTABLE__Shell/HeaderAction/index.js
  src/components/UNSTABLE__Shell/Shell.stories.js
  src/components/UNSTABLE__Shell/ToolbarAction/index.js
  src/components/UNSTABLE__Shell/_index.scss
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

fix(decorator): add `vertical-align` property
  src/components/DataDecorator/_mixins.scss
Due: yarn format:precommit, yarn lint:scss:precommit

Path conditions:
  yarn format:precommit: any of: *.{js,md,scss}
  yarn lint:js:precommit: any of: *.js
  yarn test:precommit: any of: *.js
  yarn lint:scss:precommit: any of: *.scss
