Repository carbon-design-system/ibm-security: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

.lintstagedrc:

{
  '*.{js,md,scss}': ['yarn format:precommit', 'git add'],
  '*.js': ['yarn lint:js:precommit', 'git add', 'yarn test:precommit'],
  '*.scss': ['yarn lint:scss:precommit', 'git add'],
}

build(yarn): fix offline dependencies
  .storybook/components/DocsPage/index.js
  .storybook/index.js
  .storybook/index.scss
  .storybook/preview.js
  .yarn/offline-mirror/@istanbuljs-load-nyc-config-1.1.0.tgz
  .yarn/offline-mirror/@istanbuljs-schema-0.1.2.tgz
  .yarn/offline-mirror/@storybook-addon-controls-6.0.26.tgz
  .yarn/offline-mirror/@storybook-addon-docs-6.0.26.tgz
  .yarn/offline-mirror/@storybook-addons-6.0.26.tgz
  .yarn/offline-mirror/@storybook-api-6.0.26.tgz
  .yarn/offline-mirror/@storybook-channel-postmessage-6.0.26.tgz
  .yarn/offline-mirror/@storybook-channels-6.0.26.tgz
  .yarn/offline-mirror/@storybook-client-api-6.0.26.tgz
  .yarn/offline-mirror/@storybook-client-logger-6.0.26.tgz
  .yarn/offline-mirror/@storybook-components-6.0.26.tgz
  .yarn/offline-mirror/@storybook-core-6.0.26.tgz
  .yarn/offline-mirror/@storybook-core-events-6.0.26.tgz
  .yarn/offline-mirror/@storybook-node-logger-6.0.26.tgz
  .yarn/offline-mirror/@storybook-postinstall-6.0.26.tgz
  .yarn/offline-mirror/@storybook-router-6.0.26.tgz
  .yarn/offline-mirror/@storybook-source-loader-6.0.26.tgz
  .yarn/offline-mirror/@storybook-theming-6.0.26.tgz
  .yarn/offline-mirror/@storybook-ui-6.0.26.tgz
  .yarn/offline-mirror/@types-graceful-fs-4.1.3.tgz
  .yarn/offline-mirror/@types-istanbul-reports-3.0.0.tgz
  .yarn/offline-mirror/babel-plugin-istanbul-6.0.0.tgz
  .yarn/offline-mirror/get-package-type-0.1.0.tgz
  .yarn/offline-mirror/istanbul-lib-coverage-3.0.0.tgz
  .yarn/offline-mirror/istanbul-lib-instrument-4.0.3.tgz
  .yarn/offline-mirror/jest-regex-util-26.0.0.tgz
  .yarn/offline-mirror/mdast-util-definitions-2.0.1.tgz
  .yarn/offline-mirror/remark-external-links-6.1.0.tgz
  .yarn/offline-mirror/remark-slug-6.0.0.tgz
  .yarn/offline-mirror/test-exclude-6.0.0.tgz
  .yarn/offline-mirror/typedarray-to-buffer-3.1.5.tgz
  .yarn/offline-mirror/write-file-atomic-3.0.3.tgz
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

build(storybook): remove unneccessary configuration
  .storybook/preview.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

build(addon-docs): add components to `MDXProvider`
  .storybook/preview.js
  src/components/UNSTABLE__LayoutModules/ActionBar/index.mdx
  src/components/UNSTABLE__LayoutModules/ButtonCluster/index.mdx
  src/components/UNSTABLE__LayoutModules/CardModule/index.mdx
  src/components/UNSTABLE__LayoutModules/Description/index.mdx
  src/components/UNSTABLE__LayoutModules/ICAModule/index.mdx
  src/components/UNSTABLE__LayoutModules/PageTab/index.mdx
  src/components/UNSTABLE__LayoutModules/TitleBar/index.mdx
  src/components/UNSTABLE__LayoutModules/TypeLayout/index.mdx
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

build(addon-docs): add components to `MDXProvider`
  src/components/UNSTABLE__LayoutModules/ActionBar/index.mdx
Due: none

feat(modular-layouts): remove private API
  .storybook/index.js
  src/components/UNSTABLE__LayoutModules/ActionBar/index.js
  src/components/UNSTABLE__LayoutModules/ButtonCluster/index.js
  src/components/UNSTABLE__LayoutModules/CardModule/CardModule.stories.js
  src/components/UNSTABLE__LayoutModules/ICAModule/ICAModule.stories.js
  src/components/UNSTABLE__LayoutModules/Layout.stories.js
  src/components/UNSTABLE__LayoutModules/PageTab/index.js
  src/components/UNSTABLE__LayoutModules/TitleBar/index.js
  src/components/UNSTABLE__LayoutModules/index.js
  src/components/__tests__/__snapshots__/publicAPI.spec.js.snap
  src/index.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

feat(modular-layouts): add `as` prop
  src/components/UNSTABLE__LayoutModules/LayoutModule.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

feat: set up mid-line truncation option towards DataDecorator
  src/components/DataDecorator/DataDecorator.js
  src/components/DataDecorator/DataDecorator.stories.js
  src/components/DataDecorator/__tests__/DataDecorator.spec.js
  src/components/DataDecorator/_mocks_/index.js
  src/components/__tests__/__snapshots__/publicAPI.spec.js.snap
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

docs(type-layout): update documentation
  src/components/TypeLayout/TypeLayout.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

refactor(type-layout): refactor to better support `addon-docs`
  src/components/TypeLayout/TypeLayout.js
  src/components/__tests__/__snapshots__/publicAPI.spec.js.snap
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

build(semantic-release): add `experimental` branch configuration
  .releaserc
Due: none

docs(type-layout): update examples
  src/components/TypeLayout/TypeLayout.stories.js
  src/components/UNSTABLE__LayoutModules/TypeLayoutModule/TypeLayoutModule.stories.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

refactor(border): fix helper import, use `carbon--rem`
  src/globals/border/_index.scss
Due: yarn format:precommit, yarn lint:scss:precommit

feat(layout-modules): add foundation, action bar module
  .storybook/decorators/_index.scss
  .storybook/decorators/index.js
  .storybook/index.scss
  src/__tests__/scss/__snapshots__/SCSS.spec.js.snap
  src/components/UNSTABLE__LayoutModules/ActionBarModule/ActionBarModule.stories.js
  src/components/UNSTABLE__LayoutModules/ActionBarModule/_index.scss
  src/components/UNSTABLE__LayoutModules/ActionBarModule/index.js
  src/components/UNSTABLE__LayoutModules/LayoutModule.js
  src/components/UNSTABLE__LayoutModules/_index.scss
  src/components/UNSTABLE__LayoutModules/_variables.scss
  src/components/UNSTABLE__LayoutModules/index.js
  src/components/UNSTABLE__LayoutModules/stories/index.js
  src/components/__tests__/__snapshots__/publicAPI.spec.js.snap
  src/components/_index.scss
  src/index.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

chore(stories): update story titles to use component name
  src/components/TimeIndicator/TimeIndicator.stories.js
  src/components/TrendingCard/TrendingCard.stories.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

chore(background): migrate to Storybook component
  .storybook/components/Background/_index.scss
  .storybook/components/Background/index.js
  .storybook/index.scss
  src/__tests__/scss/__snapshots__/SCSS.spec.js.snap
  src/components/UNSTABLE__LayoutModules/Background/_index.scss
  src/components/UNSTABLE__LayoutModules/CardModule/CardModule.stories.js
  src/components/UNSTABLE__LayoutModules/Layout.stories.js
  src/components/UNSTABLE__LayoutModules/_index.scss
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

feat(focus-trap): update version, enable outside clicks (#707)
  .yarn/offline-mirror/focus-trap-4.0.2.tgz
  .yarn/offline-mirror/focus-trap-5.1.0.tgz
  .yarn/offline-mirror/focus-trap-react-6.0.0.tgz
  .yarn/offline-mirror/focus-trap-react-7.0.1.tgz
  .yarn/offline-mirror/tabbable-3.1.2.tgz
  .yarn/offline-mirror/tabbable-4.0.0.tgz
  package.json
  src/components/PanelV2/PanelV2.js
  src/components/Portal/Portal.js
  src/components/TagWallFilter/__tests__/__snapshots__/TagWallFilter.spec.js.snap
  src/components/Tearsheet/TearsheetSmall/__tests__/__snapshots__/TearsheetSmall.spec.js.snap
  src/components/Tearsheet/__tests__/__snapshots__/Tearsheet.spec.js.snap
  src/components/__tests__/__snapshots__/publicAPI.spec.js.snap
  yarn.lock
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

chore(release): 1.33.0-prerelease.2 [skip ci]
  package.json
Due: none

Notes added by 'git notes add'
  ee/bf96adbc5ca556a343adc5ad77766c0dbe67bc
Due: none

fix(toolbar): add default values for compatibility
  src/components/Toolbar/Toolbar.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

fix(toolbar): add default values for compatibility (#779)
  src/components/Toolbar/Toolbar.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

chore(release): 1.33.0-prerelease.3 [skip ci]
  package.json
Due: none

Notes added by 'git notes add'
  d0/4bfcc48353ece530a5d5a5dc5488f4af49e64c
Due: none

chore(release): 1.33.0 [skip ci]
  package.json
Due: none

Notes added by 'git notes add'
  4c/b1c1186c6cc264f44117f0d3adc9edbe0fbf94
Due: none

refactor(border): fix helper import, use `carbon--rem` (#777)
  src/globals/border/_index.scss
Due: yarn format:precommit, yarn lint:scss:precommit

feat(layout-modules): add foundation, action bar module (#778)
  .storybook/decorators/_index.scss
  .storybook/decorators/index.js
  .storybook/index.scss
  src/__tests__/scss/__snapshots__/SCSS.spec.js.snap
  src/components/UNSTABLE__LayoutModules/ActionBarModule/ActionBarModule.stories.js
  src/components/UNSTABLE__LayoutModules/ActionBarModule/_index.scss
  src/components/UNSTABLE__LayoutModules/ActionBarModule/index.js
  src/components/UNSTABLE__LayoutModules/LayoutModule.js
  src/components/UNSTABLE__LayoutModules/_index.scss
  src/components/UNSTABLE__LayoutModules/_variables.scss
  src/components/UNSTABLE__LayoutModules/index.js
  src/components/UNSTABLE__LayoutModules/stories/index.js
  src/components/__tests__/__snapshots__/publicAPI.spec.js.snap
  src/components/_index.scss
  src/index.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

chore(release): 1.34.0-prerelease.1 [skip ci]
  package.json
Due: none

Notes added by 'git notes add'
  24/b9bb3c25c8ec2f8667e1df2f3cd0ab3110a4b5
Due: none

build(storybook): remove `addon-options`
  .yarn/offline-mirror/@storybook-addon-options-5.3.21.tgz
  package.json
  yarn.lock
Due: none

build(storybook): standardise documentation configuration
  .storybook/index.js
  .storybook/preview.js
  src/components/UNSTABLE__LayoutModules/ActionBarModule/ActionBarModule.stories.js
  src/components/UNSTABLE__LayoutModules/ButtonClusterModule/ButtonClusterModule.stories.js
  src/components/UNSTABLE__LayoutModules/CardModule/CardModule.stories.js
  src/components/UNSTABLE__LayoutModules/DescriptionModule/DescriptionModule.stories.js
  src/components/UNSTABLE__LayoutModules/ICAModule/ICAModule.stories.js
  src/components/UNSTABLE__LayoutModules/PageTabModule/PageTabModule.stories.js
  src/components/UNSTABLE__LayoutModules/TitleBarModule/TitleBarModule.stories.js
  src/components/UNSTABLE__LayoutModules/TypeLayoutModule/TypeLayoutModule.stories.js
  src/components/UNSTABLE__LayoutModules/stories/index.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

feat(layout-modules): add button cluster module
  src/__tests__/scss/__snapshots__/SCSS.spec.js.snap
  src/components/UNSTABLE__LayoutModules/ButtonClusterModule/ButtonClusterModule.stories.js
  src/components/UNSTABLE__LayoutModules/ButtonClusterModule/_index.scss
  src/components/UNSTABLE__LayoutModules/ButtonClusterModule/index.js
  src/components/UNSTABLE__LayoutModules/_index.scss
  src/components/UNSTABLE__LayoutModules/index.js
  src/components/__tests__/__snapshots__/publicAPI.spec.js.snap
  src/index.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

docs(storybook): use Plex
  .storybook/theme/index.js
  src/components/UNSTABLE__LayoutModules/ButtonClusterModule/_index.scss
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

refactor(button-cluster): rename variable
  src/components/UNSTABLE__LayoutModules/ButtonClusterModule/_index.scss
Due: yarn format:precommit, yarn lint:scss:precommit

docs(storybook): fix canvas ordering
  .storybook/preview.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

chore(storybook): fix tab ordering
  .storybook/preview.js
  src/components/UNSTABLE__LayoutModules/ActionBarModule/ActionBarModule.stories.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

build(semantic-release): add `experimental` branch configuration (#775)
  .releaserc
Due: none

docs(storybook): add documentation style overrides
  .storybook/components/Canvas/index.js
  .storybook/docs/_index.scss
  .storybook/index.scss
  src/components/UNSTABLE__LayoutModules/ActionBarModule/index.mdx
  src/components/UNSTABLE__LayoutModules/ButtonClusterModule/index.mdx
  src/components/UNSTABLE__LayoutModules/DescriptionModule/index.mdx
  src/components/UNSTABLE__LayoutModules/PageTabModule/index.mdx
  src/components/UNSTABLE__LayoutModules/TitleBarModule/index.mdx
  src/components/UNSTABLE__LayoutModules/TypeLayoutModule/index.mdx
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

feat(layout-modules): add button cluster module (#781)
  src/__tests__/scss/__snapshots__/SCSS.spec.js.snap
  src/components/UNSTABLE__LayoutModules/ButtonClusterModule/ButtonClusterModule.stories.js
  src/components/UNSTABLE__LayoutModules/ButtonClusterModule/_index.scss
  src/components/UNSTABLE__LayoutModules/ButtonClusterModule/index.js
  src/components/UNSTABLE__LayoutModules/_index.scss
  src/components/UNSTABLE__LayoutModules/index.js
  src/components/__tests__/__snapshots__/publicAPI.spec.js.snap
  src/index.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

chore(release): 1.34.0-prerelease.2 [skip ci]
  package.json
Due: none

Notes added by 'git notes add'
  7c/33f785caae0b272662dba8e3596ca6b9259ba0
Due: none
