Repository carbon-design-system/ibm-security: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

.lintstagedrc:

{
  '*.{js,md,scss}': ['yarn format:precommit', 'git add'],
  '*.js': ['yarn lint:js:precommit', 'git add', 'yarn test:precommit'],
  '*.scss': ['yarn lint:scss:precommit', 'git add'],
}

Notes added by 'git notes add'
  74/795cdccdc8ba38a0d3aedd3514327873a37ecc
Due: none

docs(button-cluster): update documentation
  src/__tests__/scss/__snapshots__/SCSS.spec.js.snap
  src/components/UNSTABLE__LayoutModules/ActionBar/index.mdx
  src/components/UNSTABLE__LayoutModules/Background/_index.scss
  src/components/UNSTABLE__LayoutModules/Background/index.js
  src/components/UNSTABLE__LayoutModules/ButtonCluster/index.js
  src/components/UNSTABLE__LayoutModules/ButtonCluster/index.mdx
  src/components/UNSTABLE__LayoutModules/CardModule/CardModule.stories.js
  src/components/UNSTABLE__LayoutModules/CardModule/_index.scss
  src/components/UNSTABLE__LayoutModules/CardModule/index.js
  src/components/UNSTABLE__LayoutModules/CardModule/index.mdx
  src/components/UNSTABLE__LayoutModules/Description/index.mdx
  src/components/UNSTABLE__LayoutModules/Layout/Layout.stories.js
  src/components/UNSTABLE__LayoutModules/Layout/_index.scss
  src/components/UNSTABLE__LayoutModules/Layout/index.js
  src/components/UNSTABLE__LayoutModules/Layout/index.mdx
  src/components/UNSTABLE__LayoutModules/LayoutModules.stories.js
  src/components/UNSTABLE__LayoutModules/PageTab/index.mdx
  src/components/UNSTABLE__LayoutModules/TitleBar/index.mdx
  src/components/UNSTABLE__LayoutModules/TypeLayout/index.mdx
  src/components/UNSTABLE__LayoutModules/_index.scss
  src/components/UNSTABLE__LayoutModules/index.js
  src/components/__tests__/__snapshots__/publicAPI.spec.js.snap
  src/index.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

fix(summary-card): fix action overflow
  src/__tests__/scss/__snapshots__/SCSS.spec.js.snap
  src/components/SummaryCard/_mixins.scss
Due: yarn format:precommit, yarn lint:scss:precommit

chore: add missing offline dependencies
  .yarn/offline-mirror/@babel-runtime-7.11.2.tgz
  .yarn/offline-mirror/downshift-5.2.1.tgz
  .yarn/offline-mirror/react-is-16.13.1.tgz
Due: none

chore(carbon): upgrade dependencies, clean up overrides
  src/__tests__/scss/__snapshots__/SCSS.spec.js.snap
Due: none

fix(StatusIcon): add aria label to icon
  src/components/StatusIcon/StatusIcon.js
  src/components/StatusIcon/StatusIcon.stories.js
  src/components/StatusIcon/__tests__/StatusIcon.spec.js
  src/components/__tests__/__snapshots__/publicAPI.spec.js.snap
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

fix(StatusIcon): add snapshot
  src/components/__tests__/__snapshots__/publicAPI.spec.js.snap
Due: none

fix (StatusIcon): change prop name
  src/components/StatusIcon/StatusIcon.js
  src/components/StatusIcon/StatusIcon.stories.js
  src/components/StatusIcon/__tests__/StatusIcon.spec.js
  src/components/__tests__/__snapshots__/publicAPI.spec.js.snap
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

docs(button-cluster): update documentation
  src/components/UNSTABLE__LayoutModules/ActionBar/index.mdx
  src/components/UNSTABLE__LayoutModules/CardModule/CardModule.stories.js
  src/components/UNSTABLE__LayoutModules/CardModule/index.js
  src/components/UNSTABLE__LayoutModules/CardModule/index.mdx
  src/components/UNSTABLE__LayoutModules/Description/index.mdx
  src/components/UNSTABLE__LayoutModules/TitleBar/index.mdx
  src/components/UNSTABLE__LayoutModules/TypeLayout/index.mdx
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

docs(layout-modules): update content
  .storybook/decorators/index.js
  src/components/TypeLayout/TypeLayout.js
  src/components/UNSTABLE__LayoutModules/ActionBar/ActionBar.stories.js
  src/components/UNSTABLE__LayoutModules/ActionBar/_index.scss
  src/components/UNSTABLE__LayoutModules/ActionBar/index.js
  src/components/UNSTABLE__LayoutModules/ActionBar/index.mdx
  src/components/UNSTABLE__LayoutModules/ButtonCluster/ButtonCluster.stories.js
  src/components/UNSTABLE__LayoutModules/ButtonCluster/_index.scss
  src/components/UNSTABLE__LayoutModules/ButtonCluster/index.js
  src/components/UNSTABLE__LayoutModules/ButtonCluster/index.mdx
  src/components/UNSTABLE__LayoutModules/CardModule/CardModule.stories.js
  src/components/UNSTABLE__LayoutModules/CardModule/index.mdx
  src/components/UNSTABLE__LayoutModules/Description/Description.stories.js
  src/components/UNSTABLE__LayoutModules/Description/_index.scss
  src/components/UNSTABLE__LayoutModules/Description/index.js
  src/components/UNSTABLE__LayoutModules/Description/index.mdx
  src/components/UNSTABLE__LayoutModules/PageTab/PageTab.stories.js
  src/components/UNSTABLE__LayoutModules/PageTab/_index.scss
  src/components/UNSTABLE__LayoutModules/PageTab/index.js
  src/components/UNSTABLE__LayoutModules/PageTab/index.mdx
  src/components/UNSTABLE__LayoutModules/TitleBar/TitleBar.stories.js
  src/components/UNSTABLE__LayoutModules/TitleBar/_index.scss
  src/components/UNSTABLE__LayoutModules/TitleBar/index.js
  src/components/UNSTABLE__LayoutModules/TitleBar/index.mdx
  src/components/UNSTABLE__LayoutModules/TypeLayout/TypeLayout.stories.js
  src/components/UNSTABLE__LayoutModules/TypeLayout/index.mdx
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

docs(ica-module): add helpers
  src/__tests__/scss/__snapshots__/SCSS.spec.js.snap
  src/components/UNSTABLE__LayoutModules/ICAModule/_index.scss
  src/components/UNSTABLE__LayoutModules/Layout/_index.scss
  src/components/UNSTABLE__LayoutModules/Layout/index.js
  src/components/UNSTABLE__LayoutModules/LayoutModules.stories.js
  src/components/UNSTABLE__LayoutModules/index.js
  src/components/__tests__/__snapshots__/publicAPI.spec.js.snap
  src/index.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

chore(release): 1.32.0-prerelease.6 [skip ci]
  package.json
Due: none

Notes added by 'git notes add'
  21/7d4d97668c34071f994923aac5f418b9e70dab
Due: none

feat(modular-layouts): update API
  src/components/UNSTABLE__LayoutModules/ActionBar/index.js
  src/components/UNSTABLE__LayoutModules/ButtonCluster/index.js
  src/components/UNSTABLE__LayoutModules/CardModule/index.js
  src/components/UNSTABLE__LayoutModules/CardModule/index.mdx
  src/components/UNSTABLE__LayoutModules/Description/index.js
  src/components/UNSTABLE__LayoutModules/ICAModule/ICAModule.stories.js
  src/components/UNSTABLE__LayoutModules/ICAModule/_index.scss
  src/components/UNSTABLE__LayoutModules/ICAModule/index.js
  src/components/UNSTABLE__LayoutModules/ICAModule/index.mdx
  src/components/UNSTABLE__LayoutModules/Layout.stories.js
  src/components/UNSTABLE__LayoutModules/Layout/index.js
  src/components/UNSTABLE__LayoutModules/LayoutModule.js
  src/components/UNSTABLE__LayoutModules/LayoutModules.stories.js
  src/components/UNSTABLE__LayoutModules/PageTab/index.js
  src/components/UNSTABLE__LayoutModules/TitleBar/_index.scss
  src/components/UNSTABLE__LayoutModules/TitleBar/_variables.scss
  src/components/UNSTABLE__LayoutModules/TitleBar/index.js
  src/components/UNSTABLE__LayoutModules/index.js
  src/components/__tests__/__snapshots__/publicAPI.spec.js.snap
  src/index.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

chore(release): 1.32.0-prerelease.7 [skip ci]
  package.json
Due: none

Notes added by 'git notes add'
  3e/e14f4e43e0aafcfff44e97bccd7505a1315c74
Due: none

chore(storybook): fix theme switcher for `Docs`
  .storybook/addons/addon-theme/Theme/index.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

chore(release): 1.32.0 [skip ci]
  package.json
Due: none

Notes added by 'git notes add'
  db/679335a7e949ad439f5ee997fc772e84c09eef
Due: none

docs(layouts): use `UIShell`
  src/components/UNSTABLE__LayoutModules/Layout.stories.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

fix(header): add popover a11y attributes (#731)
  src/components/Header/Header.js
  src/components/Header/HeaderPopoverHeader/HeaderPopoverHeader.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

chore(release): 1.32.1-prerelease.1 [skip ci]
  package.json
Due: none

Notes added by 'git notes add'
  d0/f4fbd7b145804ab1e5e12c5ae82f698dc06796
Due: none

chore(page-tab): update positioning
  src/__tests__/scss/__snapshots__/SCSS.spec.js.snap
  src/components/UNSTABLE__LayoutModules/Layout.stories.js
  src/components/UNSTABLE__LayoutModules/PageTab/_index.scss
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

chore(release): 1.33.0-prerelease.1 [skip ci]
  package.json
Due: none

Notes added by 'git notes add'
  fd/4403b708eaf15f685a378f9ef1cc3a66e6eb75
Due: none

chore(page-tab): update positioning
  src/components/UNSTABLE__LayoutModules/PageTab/_index.scss
Due: yarn format:precommit, yarn lint:scss:precommit

feat(modular-layouts): add render props
  src/__tests__/scss/__snapshots__/SCSS.spec.js.snap
  src/components/UNSTABLE__LayoutModules/ActionBar/index.mdx
  src/components/UNSTABLE__LayoutModules/CardModule/CardModule.stories.js
  src/components/UNSTABLE__LayoutModules/CardModule/_index.scss
  src/components/UNSTABLE__LayoutModules/CardModule/index.js
  src/components/UNSTABLE__LayoutModules/CardModule/index.mdx
  src/components/UNSTABLE__LayoutModules/Description/Description.stories.js
  src/components/UNSTABLE__LayoutModules/Description/index.js
  src/components/UNSTABLE__LayoutModules/Description/index.mdx
  src/components/UNSTABLE__LayoutModules/ICAModule/ICAModule.stories.js
  src/components/UNSTABLE__LayoutModules/ICAModule/_index.scss
  src/components/UNSTABLE__LayoutModules/ICAModule/index.js
  src/components/UNSTABLE__LayoutModules/ICAModule/index.mdx
  src/components/UNSTABLE__LayoutModules/Layout.stories.js
  src/components/UNSTABLE__LayoutModules/Layout/_index.scss
  src/components/UNSTABLE__LayoutModules/Layout/index.js
  src/components/UNSTABLE__LayoutModules/LayoutModule.js
  src/components/UNSTABLE__LayoutModules/index.js
  src/components/__tests__/__snapshots__/publicAPI.spec.js.snap
  src/index.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

chore(layout-modules): rename components
  src/__tests__/scss/__snapshots__/SCSS.spec.js.snap
  src/components/UNSTABLE__LayoutModules/ActionBarModule/ActionBarModule.stories.js
  src/components/UNSTABLE__LayoutModules/ActionBarModule/_index.scss
  src/components/UNSTABLE__LayoutModules/ActionBarModule/index.js
  src/components/UNSTABLE__LayoutModules/ActionBarModule/index.mdx
  src/components/UNSTABLE__LayoutModules/ButtonClusterModule/ButtonClusterModule.stories.js
  src/components/UNSTABLE__LayoutModules/ButtonClusterModule/_index.scss
  src/components/UNSTABLE__LayoutModules/ButtonClusterModule/images/anatomy.png
  src/components/UNSTABLE__LayoutModules/ButtonClusterModule/index.js
  src/components/UNSTABLE__LayoutModules/ButtonClusterModule/index.mdx
  src/components/UNSTABLE__LayoutModules/CardModule/CardModule.stories.js
  src/components/UNSTABLE__LayoutModules/CardModule/_index.scss
  src/components/UNSTABLE__LayoutModules/CardModule/index.js
  src/components/UNSTABLE__LayoutModules/CardModule/index.mdx
  src/components/UNSTABLE__LayoutModules/DescriptionModule/DescriptionModule.stories.js
  src/components/UNSTABLE__LayoutModules/DescriptionModule/_index.scss
  src/components/UNSTABLE__LayoutModules/DescriptionModule/index.js
  src/components/UNSTABLE__LayoutModules/DescriptionModule/index.mdx
  src/components/UNSTABLE__LayoutModules/ICAModule/_index.scss
  src/components/UNSTABLE__LayoutModules/ICAModule/index.mdx
  src/components/UNSTABLE__LayoutModules/Layout.stories.js
  src/components/UNSTABLE__LayoutModules/PageTabModule/PageTabModule.stories.js
  src/components/UNSTABLE__LayoutModules/PageTabModule/_index.scss
  src/components/UNSTABLE__LayoutModules/PageTabModule/index.js
  src/components/UNSTABLE__LayoutModules/PageTabModule/index.mdx
  src/components/UNSTABLE__LayoutModules/TitleBarModule/TitleBarModule.stories.js
  src/components/UNSTABLE__LayoutModules/TitleBarModule/_index.scss
  src/components/UNSTABLE__LayoutModules/TitleBarModule/_variables.scss
  src/components/UNSTABLE__LayoutModules/TitleBarModule/index.js
  src/components/UNSTABLE__LayoutModules/TitleBarModule/index.mdx
  src/components/UNSTABLE__LayoutModules/TypeLayout/TypeLayout.stories.js
  src/components/UNSTABLE__LayoutModules/TypeLayout/index.mdx
  src/components/UNSTABLE__LayoutModules/_index.scss
  src/components/UNSTABLE__LayoutModules/index.js
  src/components/__tests__/__snapshots__/publicAPI.spec.js.snap
  src/index.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

build: add `Show Info` styles
  .storybook/index.js
  .storybook/preview.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

feat: add `TypeLayoutModule`
  src/__tests__/scss/__snapshots__/SCSS.spec.js.snap
  src/components/TypeLayout/TypeLayout.stories.js
  src/components/UNSTABLE__LayoutModules/ActionBarModule/index.mdx
  src/components/UNSTABLE__LayoutModules/ButtonClusterModule/index.mdx
  src/components/UNSTABLE__LayoutModules/CardModule/index.mdx
  src/components/UNSTABLE__LayoutModules/DescriptionModule/index.mdx
  src/components/UNSTABLE__LayoutModules/ICAModule/index.mdx
  src/components/UNSTABLE__LayoutModules/Layout.stories.js
  src/components/UNSTABLE__LayoutModules/PageTabModule/index.mdx
  src/components/UNSTABLE__LayoutModules/TitleBarModule/index.mdx
  src/components/UNSTABLE__LayoutModules/TypeLayout/index.mdx
  src/components/UNSTABLE__LayoutModules/TypeLayoutModule/TypeLayoutModule.stories.js
  src/components/UNSTABLE__LayoutModules/TypeLayoutModule/_index.scss
  src/components/UNSTABLE__LayoutModules/TypeLayoutModule/index.js
  src/components/UNSTABLE__LayoutModules/TypeLayoutModule/index.mdx
  src/components/UNSTABLE__LayoutModules/_index.scss
  src/components/UNSTABLE__LayoutModules/index.js
  src/components/__tests__/__snapshots__/publicAPI.spec.js.snap
  src/index.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

chore: merge `modular-layouts-documentation` into `modular-layouts-render-props`
  src/components/UNSTABLE__LayoutModules/Description/index.mdx
  src/components/UNSTABLE__LayoutModules/TypeLayout/index.mdx
Due: none

build(mdx-loader): remove unused dependency
  package.json
  yarn.lock
Due: none
