Repository carbon-design-system/ibm-security: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn precommit:format, yarn precommit:lint:js, yarn precommit:lint:scss

.lintstagedrc:

{
  '*.{js, json, html, md, mdx, scss}': ['yarn precommit:format', 'git add'],
  '*.js': ['yarn precommit:lint:js', 'git add'],
  '*.scss': ['yarn precommit:lint:scss', 'git add'],
}

removes padding testing in styles (#1060)
  src/components/LayoutModules/DescriptionListModule/DescriptionListModule-story.js
Due: yarn precommit:format, yarn precommit:lint:js

chore(deps): upgrade Storybook dependencies
  .storybook/main.js
  .yarn/offline-mirror/@storybook-addon-postcss-2.0.0.tgz
  package.json
  yarn.lock
Due: yarn precommit:format, yarn precommit:lint:js

chore(list-item-module): move Column to a simple named function
  src/components/LayoutModules/ListItemModule/index.js
Due: yarn precommit:format, yarn precommit:lint:js

chore(list-item-module): move Column to a simple named function (#1068)
  src/components/LayoutModules/ListItemModule/index.js
Due: yarn precommit:format, yarn precommit:lint:js

chore(data-table-pagination): fix eslint warning and some cleanup
  src/components/DataTable/DataTablePagination/DataTablePagination.js
Due: yarn precommit:format, yarn precommit:lint:js

docs(title-bar-module): element prop
  src/components/LayoutModules/TitleBarModule/index.js
  src/components/__tests__/__snapshots__/publicAPI-test.js.snap
Due: yarn precommit:format, yarn precommit:lint:js

chore(data-table-pagination): fix eslint warning and some cleanup (#1069)
  src/components/DataTable/DataTablePagination/DataTablePagination.js
Due: yarn precommit:format, yarn precommit:lint:js

chore: various eslint fixes
  src/components/ErrorPage/ErrorPage.js
  src/components/ScrollGradient/ScrollGradient.js
  src/components/Tearsheet/Tearsheet.js
  src/components/Wizard/Wizard.js
  src/components/__tests__/__snapshots__/publicAPI-test.js.snap
Due: yarn precommit:format, yarn precommit:lint:js

chore: various eslint fixes (#1071)
  src/components/ErrorPage/ErrorPage.js
  src/components/ScrollGradient/ScrollGradient.js
  src/components/Tearsheet/Tearsheet.js
  src/components/Wizard/Wizard.js
  src/components/__tests__/__snapshots__/publicAPI-test.js.snap
Due: yarn precommit:format, yarn precommit:lint:js

build: add lint:js
  .circleci/config.yml
Due: none

build: update eslint-config-carbon to version 2.8.0
  .yarn/offline-mirror/@babel-generator-7.14.8.tgz
  .yarn/offline-mirror/@babel-generator-7.15.0.tgz
  .yarn/offline-mirror/@babel-helper-validator-identifier-7.14.8.tgz
  .yarn/offline-mirror/@babel-helper-validator-identifier-7.14.9.tgz
  .yarn/offline-mirror/@babel-parser-7.14.8.tgz
  .yarn/offline-mirror/@babel-parser-7.15.0.tgz
  .yarn/offline-mirror/@babel-traverse-7.14.8.tgz
  .yarn/offline-mirror/@babel-traverse-7.15.0.tgz
  .yarn/offline-mirror/@babel-types-7.14.8.tgz
  .yarn/offline-mirror/@babel-types-7.15.0.tgz
  .yarn/offline-mirror/@es-joy-jsdoccomment-0.10.7.tgz
  .yarn/offline-mirror/@es-joy-jsdoccomment-0.9.0-alpha.1.tgz
  .yarn/offline-mirror/@types-json-schema-7.0.8.tgz
  .yarn/offline-mirror/@types-json-schema-7.0.9.tgz
  .yarn/offline-mirror/@typescript-eslint-experimental-utils-4.28.4.tgz
  .yarn/offline-mirror/@typescript-eslint-experimental-utils-4.29.0.tgz
  .yarn/offline-mirror/@typescript-eslint-scope-manager-4.28.4.tgz
  .yarn/offline-mirror/@typescript-eslint-scope-manager-4.29.0.tgz
  .yarn/offline-mirror/@typescript-eslint-types-4.28.4.tgz
  .yarn/offline-mirror/@typescript-eslint-types-4.29.0.tgz
  .yarn/offline-mirror/@typescript-eslint-typescript-estree-4.28.4.tgz
  .yarn/offline-mirror/@typescript-eslint-typescript-estree-4.29.0.tgz
  .yarn/offline-mirror/@typescript-eslint-visitor-keys-4.28.4.tgz
  .yarn/offline-mirror/@typescript-eslint-visitor-keys-4.29.0.tgz
  .yarn/offline-mirror/axe-core-4.3.1.tgz
  .yarn/offline-mirror/axe-core-4.3.2.tgz
  .yarn/offline-mirror/comment-parser-1.1.6-beta.0.tgz
  .yarn/offline-mirror/comment-parser-1.2.3.tgz
  .yarn/offline-mirror/eslint-config-carbon-2.7.0.tgz
  .yarn/offline-mirror/eslint-config-carbon-2.8.0.tgz
  .yarn/offline-mirror/eslint-plugin-jsdoc-35.5.1.tgz
  .yarn/offline-mirror/eslint-plugin-jsdoc-36.0.6.tgz
  .yarn/offline-mirror/jsdoc-type-pratt-parser-1.0.4.tgz
  .yarn/offline-mirror/jsdoc-type-pratt-parser-1.1.1.tgz
  package.json
  yarn.lock
Due: none

fix(header): set aria-expanded and aria-haspopup on the appropriate element
  src/components/Header/Header.js
  src/components/Header/HeaderListItem/HeaderListItem.js
  src/components/Header/HeaderListItem/__tests__/HeaderListItem-test.js
  src/components/Header/HeaderListItem/constants.js
  src/components/Header/__tests__/__snapshots__/Header-test.js.snap
Due: yarn precommit:format, yarn precommit:lint:js

fix(header): set aria-expanded and aria-haspopup on the appropriate element (#1074)
  src/components/Header/Header.js
  src/components/Header/HeaderListItem/HeaderListItem.js
  src/components/Header/HeaderListItem/__tests__/HeaderListItem-test.js
  src/components/Header/HeaderListItem/constants.js
  src/components/Header/__tests__/__snapshots__/Header-test.js.snap
Due: yarn precommit:format, yarn precommit:lint:js

refactor(truncated-list): simplified class component
  src/components/TruncatedList/TruncatedList.js
Due: yarn precommit:format, yarn precommit:lint:js

docs(page-layouts): fix eslint error
  src/components/PageLayouts/stories/index.js
Due: yarn precommit:format, yarn precommit:lint:js

docs(page-layouts): fix eslint error (#1077)
  src/components/PageLayouts/stories/index.js
Due: yarn precommit:format, yarn precommit:lint:js

chore: align comment format for ESLint throw-aways (#1071)
  src/components/DataTable/DataTablePagination/DataTablePagination.js
  src/components/Nav/Nav.js
  src/components/Nav/NavItem/NavItem.js
  src/components/ScrollGradient/ScrollGradient.js
  src/components/Tearsheet/Tearsheet.js
  src/components/Wizard/Wizard.js
Due: yarn precommit:format, yarn precommit:lint:js

chore(filter-subcategory): properly declare useEffect dependencies
  src/components/FilterPanel/LEGACY_FilterPanel/FilterSubcategory/FilterSubcategory.js
Due: yarn precommit:format, yarn precommit:lint:js

chore(filter-subcategory): properly declare useEffect dependencies (#1078)
  src/components/FilterPanel/LEGACY_FilterPanel/FilterSubcategory/FilterSubcategory.js
Due: yarn precommit:format, yarn precommit:lint:js

chore(deps): upgrade Babel dependencies
  .yarn/offline-mirror/@cnakazawa-watch-1.0.3.tgz
  .yarn/offline-mirror/@cnakazawa-watch-1.0.4.tgz
  .yarn/offline-mirror/exec-sh-0.3.2.tgz
  .yarn/offline-mirror/exec-sh-0.3.6.tgz
  .yarn/offline-mirror/is-object-1.0.1.tgz
  .yarn/offline-mirror/is-object-1.0.2.tgz
  .yarn/offline-mirror/remark-slug-6.0.0.tgz
  .yarn/offline-mirror/remark-slug-6.1.0.tgz
  yarn.lock
Due: none

chore(panel): fix eslint issues (#1066)
  src/components/PanelV2/PanelV2.js
Due: yarn precommit:format, yarn precommit:lint:js

feat(styles): deprecate body, grid, and type style utility output (#967)
  docs/migration/2.x/README.md
  docs/migration/2.x/grid.md
  docs/migration/2.x/type.md
  src/platform/body/_index.scss
  src/platform/body/_mixins.scss
Due: yarn precommit:lint:scss

chore(stylelint): fix theme import error, fix RTL warning
  src/globals/rtl/_index.scss
  src/globals/theme/_index.scss
  src/globals/theme/_theme.scss
Due: yarn precommit:lint:scss

test(testing-library): align `datatest-id` format with Cloud & Cognitive
  config/jest/index.js
  src/components/Button/__tests__/Button-test.js
  src/components/ComboButton/__tests__/ComboButton-test.js
  src/components/ComboButton/__tests__/__snapshots__/ComboButton-test.js.snap
  src/components/DataDecorator/Decorator/__tests__/Decorator-test.js
  src/components/ErrorPage/__tests__/ErrorPage-test.js
  src/components/ExternalLink/__tests__/ExternalLink-test.js
  src/components/FilterPanel/FilterPanelAccordion/__tests__/FilterPanelAccordion-test.js
  src/components/FilterPanel/FilterPanelAccordionItem/__tests__/FilterPanelAccordionItem-test.js
  src/components/FilterPanel/FilterPanelGroup/__tests__/FilterPanelGroup-test.js
  src/components/FilterPanel/FilterPanelLabel/__tests__/FilterPanelLabel-test.js
  src/components/FilterPanel/FilterPanelSearch/__tests__/FilterSearch-test.js
  src/components/FilterPanel/LEGACY_FilterPanel/FilterPanel.js
  src/components/FilterPanel/LEGACY_FilterPanel/__tests__/__snapshots__/FilterPanel-test.js.snap
  src/components/FilterPanel/__tests__/FilterPanel-test.js
  src/components/InteractiveTag/__tests__/InteractiveTag-test.js
  src/components/LayoutModules/ButtonClusterModule/__tests__/ButtonClusterModule-test.js
  src/components/LayoutModules/DescriptionListModule/__tests__/DescriptionListModule-test.js
  src/components/NonEntitledSection/__tests__/NonEntitledSection-test.js
  src/components/Portal/__tests__/Portal-test.js
  src/components/ProfileImage/__tests__/ProfileImage-test.js
  src/components/StackedNotification/__tests__/StackedNotification-test.js
  src/components/StepIndicator/__tests__/StepIndicator-test.js
  src/components/SummaryCard/SummaryCardAction/__tests__/SummaryCardAction-test.js
  src/components/SummaryCard/SummaryCardBatchActions/__tests__/SummaryCardBatchActions-test.js
  src/components/SummaryCard/SummaryCardBody/__tests__/SummaryCardBody-test.js
  src/components/SummaryCard/SummaryCardFooter/__tests__/SummaryCardFooter-test.js
  src/components/SummaryCard/SummaryCardHeader/__tests__/SummaryCardHeader-test.js
  src/components/SummaryCard/SummaryCardSelect/__tests__/SummaryCardSelect-test.js
  src/components/SummaryCard/SummaryCardSkeleton/__tests__/SummaryCardSkeleton-test.js
  src/components/SummaryCard/__tests__/SummaryCard-test.js
  src/components/TimeIndicator/__tests__/TimeIndicator-test.js
  src/components/TrendingCard/__tests__/TrendingCard-test.js
  src/components/TruncatedList/__tests__/TruncatedList-test.js
  src/components/TruncatedList/_mocks_/index.js
  src/components/TypeLayout/__tests__/TypeLayout-test.js
Due: yarn precommit:format, yarn precommit:lint:js

chore(stylelint): fix theme import error, fix RTL warning (#1080)
  src/globals/rtl/_index.scss
  src/globals/theme/_index.scss
  src/globals/theme/_theme.scss
Due: yarn precommit:lint:scss

modular-layouts-ica-update (#1055)
  src/components/LayoutModules/ICAModule/index.mdx
Due: none

build: update eslint-config-carbon to version 2.8.0 (#1073)
  package.json
  yarn.lock
Due: none

docs(title-bar-module): element prop (#1070)
  src/components/LayoutModules/TitleBarModule/index.js
  src/components/__tests__/__snapshots__/publicAPI-test.js.snap
Due: yarn precommit:format, yarn precommit:lint:js

chore(node): upgrade to 14
  .nvmrc
Due: none

refactor: fix linting errors (#1029)
  src/__tests__/scss/__snapshots__/styles-test.js.snap
  src/components/DataDecorator/_mixins.scss
  src/components/ICA/ICASkeleton/_index.scss
Due: yarn precommit:lint:scss

build: add Stylelint to CI
  .circleci/config.yml
  .stylelintrc
  package.json
Due: none

build: continue-on-error for lint script
  package.json
Due: none

fix(nav-item-link): remove fixed height to prevent issues with multi-line text
  src/__tests__/scss/__snapshots__/styles-test.js.snap
  src/components/Nav/Nav-story.js
  src/components/Nav/_mixins.scss
Due: yarn precommit:format, yarn precommit:lint:js, yarn precommit:lint:scss

chore(ica): fix Stylelint warnings
  src/__tests__/scss/__snapshots__/styles-test.js.snap
  src/components/ICA/_index.scss
Due: yarn precommit:lint:scss

chore(ica): fix Stylelint warnings (#1086)
  src/__tests__/scss/__snapshots__/styles-test.js.snap
  src/components/ICA/_index.scss
Due: yarn precommit:lint:scss
