Repository carbon-design-system/ibm-security: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

chore: merge `dev` into `539/carbon-upgrade`
  src/__tests__/scss/__snapshots__/SCSS.spec.js.snap
Due: none

fix(tearsheet): add responsive for small variants
  src/__tests__/scss/__snapshots__/SCSS.spec.js.snap
  src/components/Tearsheet/TearsheetSmall/_mixins.scss
  src/components/Tearsheet/_mixins.scss
Due: yarn format:precommit, yarn lint:scss:precommit

fix(tearsheet): add responsive for small variants
  src/components/Tearsheet/_mixins.scss
Due: yarn format:precommit, yarn lint:scss:precommit

chore(storybook): filter stories
  .storybook/config.js
  .storybook/webpack.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

fix(tearsheet): use tabindex variable
  src/components/Tearsheet/Tearsheet.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

chore: merge `dev` into `next`
  src/components/DataTable/DataTable.stories.js
  src/components/Panel/_mixins.scss
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

chore: merge `dev` into `next`
  .yarn/offline-mirror/buffer-crc32-0.2.13.tgz
  .yarn/offline-mirror/glob-7.1.5.tgz
  .yarn/offline-mirror/globby-10.0.1.tgz
  .yarn/offline-mirror/readable-stream-2.3.6.tgz
  src/__tests__/scss/__snapshots__/SCSS.spec.js.snap
Due: none

fix(tearsheet): add responsive for small variants
  src/__tests__/scss/__snapshots__/SCSS.spec.js.snap
  src/components/Tearsheet/TearsheetSmall/_mixins.scss
Due: yarn format:precommit, yarn lint:scss:precommit

chore(step-indicator): update internals
  src/components/StepIndicator/StepIndicator.js
  src/components/StepIndicator/_index.scss
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

chore(step-indicator): update internals
  src/__tests__/scss/__snapshots__/SCSS.spec.js.snap
  src/components/__tests__/__snapshots__/publicAPI.spec.js.snap
Due: none

docs(step-indicator): add migration documentation
  .storybook/index.js
  docs/migration/migrate-to-2.x.md
  src/components/StepIndicator/StepIndicator.js
  src/components/StepIndicator/StepIndicator.stories.js
  src/components/StepIndicator/migrate-to-2.x.md
  src/components/Wizard/Wizard.js
  src/components/Wizard/_index.scss
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

docs(step-indicator): add migration documentation
  .storybook/index.js
  src/components/StepIndicator/StepIndicator.stories.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

docs(data-table): update skeleton story
  src/components/DataTable/stories/with-skeleton.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

fix(decorator): update high severity icon
  src/components/DataDecorator/Decorator/constants.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

docs(data-table): update skeleton story (#594)
  src/components/DataTable/stories/with-skeleton.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

feat(step-indicator): update internals (#593)
  .storybook/index.js
  docs/migration/migrate-to-2.x.md
  src/__tests__/scss/__snapshots__/SCSS.spec.js.snap
  src/components/StepIndicator/StepIndicator.js
  src/components/StepIndicator/StepIndicator.stories.js
  src/components/StepIndicator/_index.scss
  src/components/StepIndicator/migrate-to-2.x.md
  src/components/Wizard/Wizard.js
  src/components/Wizard/_index.scss
  src/components/__tests__/__snapshots__/publicAPI.spec.js.snap
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

chore(release): 1.26.0-prerelease.1 [skip ci]
  package.json
Due: none

Notes added by 'git notes add'
  10/8b4097a7c49c3eb73a1049bf12fd7ab5917152
Due: none

fix(filter-panel): explicitly set `Accordion` height and share styles
  src/__tests__/scss/__snapshots__/SCSS.spec.js.snap
  src/components/FilterPanel/FilterPanelAccordionItem/_mixins.scss
  src/components/FilterPanel/LEGACY_FilterPanel/FilterSubcategory/_index.scss
Due: yarn format:precommit, yarn lint:scss:precommit

docs(dist-tags): update distribution guidance
  README.md
Due: yarn format:precommit

chore(release): 1.26.0-experimental.1 [skip ci]
  package.json
Due: none

Notes added by 'git notes add'
  62/5d3e3a07bf49b36beebec947fbf602401bc884
Due: none

fix(tearsheet): pass through isLoading, provide story examples of making tearsheet content non-interactive when loading (#576)
  src/components/Tearsheet/Tearsheet.js
  src/components/Tearsheet/Tearsheet.stories.js
  src/components/Tearsheet/__tests__/__snapshots__/Tearsheet.spec.js.snap
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

chore(release): 1.26.0-prerelease.2 [skip ci]
  package.json
Due: none

Notes added by 'git notes add'
  e7/e69b878a26c6ef37f100194fdcaca9a9abf4b9
Due: none

feat(search-bar): allow custom sort order for scopes
  src/components/SearchBar/SearchBar.js
  src/components/SearchBar/SearchBar.stories.js
  src/components/SearchBar/__tests__/__snapshots__/SearchBar.spec.js.snap
  src/components/SearchBar/_mocks_/index.js
  src/components/__tests__/__snapshots__/publicAPI.spec.js.snap
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

docs(search-bar): add more details for the sortItems prop
  docs/themes/themes.md
  src/components/SearchBar/SearchBar.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

docs(dist-tags): update distribution guidance (#598)
  README.md
Due: yarn format:precommit

docs: fix themes file
  docs/themes/themes.md
Due: yarn format:precommit

fix(data-table): spread props to absorb changes from Carbon
  src/components/DataTable/DataTable.js
  src/components/DataTable/DataTable.stories.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

docs(layout): add layout examples
  src/components/UNSTABLE__Layout/Layout.stories.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

feat(search-bar): allow custom sort order for scopes (#600)
  src/components/SearchBar/SearchBar.js
  src/components/SearchBar/SearchBar.stories.js
  src/components/SearchBar/__tests__/__snapshots__/SearchBar.spec.js.snap
  src/components/SearchBar/_mocks_/index.js
  src/components/__tests__/__snapshots__/publicAPI.spec.js.snap
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

chore(release): 1.26.0-prerelease.3 [skip ci]
  package.json
Due: none

Notes added by 'git notes add'
  68/f88cb05e8bb375edaf79810ae9bf289c672d8e
Due: none

build(webpack): filter out stories that cab be safely imported
  .storybook/webpack.js
  report.20200610.133149.84978.0.001.json
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

build(webpack): filter out stories that cab be safely imported
  .storybook/webpack.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

docs(decorator): add size select knob to icons story
  src/components/DataDecorator/Decorator/Decorator.stories.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

Path conditions:
  yarn format:precommit: any of: *.{js,md,scss}
  yarn lint:js:precommit: any of: *.js
  yarn test:precommit: any of: *.js
  yarn lint:scss:precommit: any of: *.scss
