Repository carbon-design-system/ibm-security: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

fix(return-to-banner): fix scrolling issue
  src/__tests__/scss/__snapshots__/SCSS.spec.js.snap
  src/components/Shell/Shell.js
  src/components/Shell/_mixins.scss
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

remove inline styling
  src/components/Toolbar/Toolbar.js
  src/components/Toolbar/_mixins.scss
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

Changed toolbar title from string to node so we can have a title as well as a component/tag
  src/components/Toolbar/Toolbar.js
  src/components/Toolbar/_mocks_/index.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

update tests to reflect changes
  src/components/__tests__/__snapshots__/publicAPI.spec.js.snap
Due: none

feat(toolbar): enable nodes in titles (#885)
  src/components/Toolbar/Toolbar.js
  src/components/Toolbar/_mocks_/index.js
  src/components/__tests__/__snapshots__/publicAPI.spec.js.snap
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

chore(release): 1.37.0-prerelease.1 [skip ci]
  package.json
Due: none

Notes added by 'git notes add'
  13/a474af50d936dfca948b1b852f7a63895a3141
Due: none

fix(filter-panel): define checkbox overflow container
  src/__tests__/scss/__snapshots__/SCSS.spec.js.snap
  src/components/FilterPanel/FilterPanel.stories.js
  src/components/FilterPanel/FilterPanelCheckboxWithOverflowMenu/FilterPanelCheckboxWithOverflowMenu.js
  src/components/FilterPanel/FilterPanelCheckboxWithOverflowMenu/_index.scss
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

feat(carbon): upgrade dependencies, fix regressions (#879)
  .yarn/offline-mirror/@carbon-colors-10.15.0.tgz
  .yarn/offline-mirror/@carbon-colors-10.17.0.tgz
  .yarn/offline-mirror/@carbon-grid-10.16.0.tgz
  .yarn/offline-mirror/@carbon-grid-10.17.0.tgz
  .yarn/offline-mirror/@carbon-icon-helpers-10.10.0.tgz
  .yarn/offline-mirror/@carbon-icon-helpers-10.9.0.tgz
  .yarn/offline-mirror/@carbon-icons-react-10.20.0.tgz
  .yarn/offline-mirror/@carbon-icons-react-10.22.0.tgz
  .yarn/offline-mirror/@carbon-import-once-10.3.0.tgz
  .yarn/offline-mirror/@carbon-import-once-10.4.0.tgz
  .yarn/offline-mirror/@carbon-layout-10.14.0.tgz
  .yarn/offline-mirror/@carbon-layout-10.15.0.tgz
  .yarn/offline-mirror/@carbon-motion-10.10.0.tgz
  .yarn/offline-mirror/@carbon-motion-10.9.0.tgz
  .yarn/offline-mirror/@carbon-themes-10.22.1.tgz
  .yarn/offline-mirror/@carbon-themes-10.24.0.tgz
  .yarn/offline-mirror/@carbon-type-10.17.0.tgz
  .yarn/offline-mirror/@carbon-type-10.18.0.tgz
  .yarn/offline-mirror/carbon-components-10.23.2.tgz
  .yarn/offline-mirror/carbon-components-10.25.0.tgz
  .yarn/offline-mirror/carbon-components-react-7.23.2.tgz
  .yarn/offline-mirror/carbon-components-react-7.25.0.tgz
  .yarn/offline-mirror/lodash._baseindexof-3.1.0.tgz
  .yarn/offline-mirror/lodash._bindcallback-3.0.1.tgz
  .yarn/offline-mirror/lodash._cacheindexof-3.0.2.tgz
  .yarn/offline-mirror/lodash._createcache-3.1.2.tgz
  .yarn/offline-mirror/lodash._getnative-3.9.1.tgz
  .yarn/offline-mirror/lodash.restparam-3.6.1.tgz
  docs/themes/themes.md
  package.json
  src/__tests__/scss/__snapshots__/SCSS.spec.js.snap
  src/components/ComboButton/ComboButton.js
  src/components/FilterPanel/FilterPanelSearch/__tests__/FilterSearch.spec.js
  src/components/TagWallFilter/Filter/__tests__/__snapshots__/Filter.spec.js.snap
  src/components/TagWallFilter/__tests__/__snapshots__/TagWallFilter.spec.js.snap
  src/components/__tests__/__snapshots__/publicAPI.spec.js.snap
  src/globals/feature-flags/_index.scss
  yarn.lock
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

chore(release): 1.37.0-prerelease.2 [skip ci]
  package.json
Due: none

Notes added by 'git notes add'
  44/2761cb344b442c7536625fcbb23e05616029a1
Due: none

update tests
  src/__tests__/scss/__snapshots__/SCSS.spec.js.snap
  src/components/Toolbar/__tests__/__snapshots__/Toolbar.spec.js.snap
  src/components/__tests__/__snapshots__/publicAPI.spec.js.snap
Due: none

feat(toolbar): conditionally render settings and support (#870)
  src/__tests__/scss/__snapshots__/SCSS.spec.js.snap
  src/components/Toolbar/Toolbar.js
  src/components/Toolbar/Toolbar.stories.js
  src/components/Toolbar/__tests__/__snapshots__/Toolbar.spec.js.snap
  src/components/Toolbar/_mixins.scss
  src/components/__tests__/__snapshots__/publicAPI.spec.js.snap
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

chore(release): 1.37.0-prerelease.3 [skip ci]
  package.json
Due: none

Notes added by 'git notes add'
  8e/43418b071ed4022aa6572b7f761815fbe0b0d3
Due: none

fix(filter-panel): define checkbox overflow container (#886)
  src/__tests__/scss/__snapshots__/SCSS.spec.js.snap
  src/components/FilterPanel/FilterPanelCheckboxWithOverflowMenu/FilterPanelCheckboxWithOverflowMenu.js
  src/components/FilterPanel/FilterPanelCheckboxWithOverflowMenu/_index.scss
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

chore(release): 1.37.0-prerelease.4 [skip ci]
  package.json
Due: none

Notes added by 'git notes add'
  28/2a5571bbe2ecb6e12811111ae6ab4bab0b94cb
Due: none

chore(release): 1.37.0 [skip ci]
  package.json
Due: none

Notes added by 'git notes add'
  4f/b68ca0803db4a6ed975c67a893fed8d297a36f
Due: none

fix(return-to-banner): fix scrolling issue
  src/__tests__/scss/__snapshots__/SCSS.spec.js.snap
  src/components/Shell/_mixins.scss
Due: yarn format:precommit, yarn lint:scss:precommit

fix(tooltip): Update `Tooltip` `z-index` inside `Portal`
  src/__tests__/scss/__snapshots__/SCSS.spec.js.snap
  src/components/Portal/_mixins.scss
  src/components/Tearsheet/_mixins.scss
Due: yarn format:precommit, yarn lint:scss:precommit

fix(tooltip): Update `Tooltip` `z-index` inside `Portal` (#888)
  src/__tests__/scss/__snapshots__/SCSS.spec.js.snap
  src/components/Portal/_mixins.scss
  src/components/Tearsheet/_mixins.scss
Due: yarn format:precommit, yarn lint:scss:precommit

chore(release): 1.37.1-prerelease.1 [skip ci]
  package.json
Due: none

Notes added by 'git notes add'
  81/1b1e57387f3b99c91fb821289e763038398fe6
Due: none

chore(layout-moduels): add example container
  .storybook/components/ExampleContainer/_index.scss
  .storybook/components/ExampleContainer/index.js
  .storybook/index.scss
  src/components/UNSTABLE__LayoutModules/Layout.stories.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

fix(data-table): remove `z-index` scope, update `z-indexes`
  src/__tests__/scss/__snapshots__/SCSS.spec.js.snap
  src/components/DataTable/_index.scss
  src/components/ScrollGradient/_index.scss
Due: yarn format:precommit, yarn lint:scss:precommit

docs(layout-modules): add narrow grid `Detail` example
  .storybook/components/ExampleBackgroundContainer/_index.scss
  .storybook/components/ExampleBackgroundContainer/index.js
  .storybook/components/ExampleContainer/_index.scss
  src/components/UNSTABLE__LayoutModules/Layout.stories.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

docs(layout-modules): fix Sass import
  .storybook/index.scss
  src/components/UNSTABLE__LayoutModules/Layout.stories.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

feat(carbon): upgrade dependencies
  .yarn/offline-mirror/@carbon-colors-10.17.0.tgz
  .yarn/offline-mirror/@carbon-grid-10.17.0.tgz
  .yarn/offline-mirror/@carbon-grid-10.18.0.tgz
  .yarn/offline-mirror/@carbon-icon-helpers-10.10.0.tgz
  .yarn/offline-mirror/@carbon-icons-react-10.22.0.tgz
  .yarn/offline-mirror/@carbon-layout-10.15.0.tgz
  .yarn/offline-mirror/@carbon-motion-10.10.0.tgz
  .yarn/offline-mirror/@carbon-motion-10.11.0.tgz
  .yarn/offline-mirror/@carbon-themes-10.24.0.tgz
  .yarn/offline-mirror/@carbon-type-10.18.0.tgz
  .yarn/offline-mirror/carbon-components-10.25.0.tgz
  .yarn/offline-mirror/carbon-components-react-7.25.0.tgz
  package.json
  src/__tests__/scss/__snapshots__/SCSS.spec.js.snap
  src/components/__tests__/__snapshots__/publicAPI.spec.js.snap
  yarn.lock
Due: none

feat(carbon): upgrade dependencies
  .yarn/offline-mirror/@carbon-colors-10.18.0.tgz
  .yarn/offline-mirror/@carbon-icon-helpers-10.11.0.tgz
  .yarn/offline-mirror/@carbon-icons-react-10.23.0.tgz
  .yarn/offline-mirror/@carbon-layout-10.16.0.tgz
  .yarn/offline-mirror/@carbon-themes-10.25.0.tgz
  .yarn/offline-mirror/@carbon-type-10.19.0.tgz
  .yarn/offline-mirror/carbon-components-10.26.0.tgz
  .yarn/offline-mirror/carbon-components-react-7.26.0.tgz
Due: none

feat(carbon): upgrade dependencies (#893)
  .yarn/offline-mirror/@carbon-colors-10.17.0.tgz
  .yarn/offline-mirror/@carbon-colors-10.18.0.tgz
  .yarn/offline-mirror/@carbon-grid-10.17.0.tgz
  .yarn/offline-mirror/@carbon-grid-10.18.0.tgz
  .yarn/offline-mirror/@carbon-icon-helpers-10.10.0.tgz
  .yarn/offline-mirror/@carbon-icon-helpers-10.11.0.tgz
  .yarn/offline-mirror/@carbon-icons-react-10.22.0.tgz
  .yarn/offline-mirror/@carbon-icons-react-10.23.0.tgz
  .yarn/offline-mirror/@carbon-layout-10.15.0.tgz
  .yarn/offline-mirror/@carbon-layout-10.16.0.tgz
  .yarn/offline-mirror/@carbon-motion-10.10.0.tgz
  .yarn/offline-mirror/@carbon-motion-10.11.0.tgz
  .yarn/offline-mirror/@carbon-themes-10.24.0.tgz
  .yarn/offline-mirror/@carbon-themes-10.25.0.tgz
  .yarn/offline-mirror/@carbon-type-10.18.0.tgz
  .yarn/offline-mirror/@carbon-type-10.19.0.tgz
  .yarn/offline-mirror/carbon-components-10.25.0.tgz
  .yarn/offline-mirror/carbon-components-10.26.0.tgz
  .yarn/offline-mirror/carbon-components-react-7.25.0.tgz
  .yarn/offline-mirror/carbon-components-react-7.26.0.tgz
  package.json
  src/__tests__/scss/__snapshots__/SCSS.spec.js.snap
  src/components/__tests__/__snapshots__/publicAPI.spec.js.snap
  yarn.lock
Due: none

chore(release): 1.38.0-prerelease.1 [skip ci]
  package.json
Due: none

Notes added by 'git notes add'
  5a/76859ca39cfbf86eddfb988d447668d8eea6c3
Due: none

fix(return-to-banner): fix scrolling issue (#883)
  src/__tests__/scss/__snapshots__/SCSS.spec.js.snap
  src/components/Shell/Shell.js
  src/components/Shell/_mixins.scss
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

chore(release): 1.38.0-prerelease.2 [skip ci]
  package.json
Due: none

Notes added by 'git notes add'
  9b/084d19a1c3f1b33d5936261c79fceb2a834a24
Due: none

build(z-index): move `z-index` declarations into shared file`
  src/components/DataTable/_index.scss
  src/components/FilterPanel/FilterPanelSearch/_mixins.scss
  src/components/FilterPanel/FilterSearch/_index.scss
  src/components/Header/HeaderNotification/_mixins.scss
  src/components/Header/_mixins.scss
  src/components/Header/_variables.scss
  src/components/IconButton/_mixins.scss
  src/components/Nav/_mixins.scss
  src/components/Panel/_mixins.scss
  src/components/PanelV2/_mixins.scss
  src/components/Portal/_mixins.scss
  src/components/ScrollGradient/_index.scss
  src/components/Shell/_mixins.scss
  src/components/SummaryCard/_mixins.scss
  src/components/Tearsheet/_mixins.scss
  src/components/Toolbar/_mixins.scss
  src/globals/layout/_index.scss
Due: yarn format:precommit, yarn lint:scss:precommit

build(z-index): move `z-index` declarations into shared file`
  src/globals/layout/_index.scss
Due: yarn format:precommit, yarn lint:scss:precommit

Path conditions:
  yarn format:precommit: any of: *.{js,md,scss}
  yarn lint:js:precommit: any of: *.js
  yarn test:precommit: any of: *.js
  yarn lint:scss:precommit: any of: *.scss
