Repository carbon-design-system/ibm-security: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

.lintstagedrc:

{
  '*.{js,md,scss}': ['yarn format:precommit', 'git add'],
  '*.js': ['yarn lint:js:precommit', 'git add', 'yarn test:precommit'],
  '*.scss': ['yarn lint:scss:precommit', 'git add'],
}

docs(README): fix copy, update npm guidance (#992)
  README.md
Due: yarn format:precommit

chore: merge `dev` into `button-cluster-module-tests`
  src/components/LayoutModules/ButtonClusterModule/__tests__/ButtonClusterModule.spec.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

test(button-cluster-module): add unit tests (#867)
  src/components/LayoutModules/ButtonClusterModule/__tests__/ButtonClusterModule.spec.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

chore(release): 1.42.0 [skip ci]
  package.json
Due: none

Notes added by 'git notes add'
  b2/07322942bb26404ae4661b52a305886ce2381a
Due: none

build(carbon): upgrade dependencies to `10.37`
  .yarn/offline-mirror/@carbon-grid-10.28.0.tgz
  .yarn/offline-mirror/@carbon-grid-10.29.0.tgz
  .yarn/offline-mirror/@carbon-themes-10.35.0.tgz
  .yarn/offline-mirror/@carbon-themes-10.36.0.tgz
  .yarn/offline-mirror/carbon-components-10.36.0.tgz
  .yarn/offline-mirror/carbon-components-10.37.0.tgz
  .yarn/offline-mirror/carbon-components-react-7.36.0.tgz
  .yarn/offline-mirror/carbon-components-react-7.37.0.tgz
  package.json
  src/__tests__/scss/__snapshots__/SCSS.spec.js.snap
  src/components/DataTable/DataTablePagination/__tests__/__snapshots__/DataTablePagination.spec.js.snap
  src/components/__tests__/__snapshots__/publicAPI.spec.js.snap
  yarn.lock
Due: none

refactor: remove Carbon style overrides
  src/__tests__/scss/__snapshots__/SCSS.spec.js.snap
  src/components/Accordion/_index.scss
  src/components/Breadcrumb/_index.scss
  src/components/ComboBox/_index.scss
  src/components/DatePicker/_index.scss
  src/components/FileUploader/_index.scss
  src/components/MultiSelect/_index.scss
  src/components/Search/_index.scss
  src/components/Select/_index.scss
  src/components/SkeletonText/_index.scss
Due: yarn format:precommit, yarn lint:scss:precommit

test(combo-button): prevent duplicate label error
  src/components/ComboButton/__tests__/ComboButton.spec.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

test(data-table-pagination): fix deprecation warning
  src/components/DataTable/DataTablePagination/DataTablePagination.js
  src/components/DataTable/DataTablePagination/__tests__/__snapshots__/DataTablePagination.spec.js.snap
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

refactor: update Carbon imports
  src/components/Button/__tests__/Button.spec.js
  src/components/ComboButton/__tests__/ComboButton.spec.js
  src/components/FormGroup/index.js
  src/components/Header/HeaderNotification/HeaderNotification.js
  src/components/Icon/_mocks_/index.js
  src/components/IconButtonBar/IconButtonBar.js
  src/components/IconButtonBar/__tests__/IconButtonBar.spec.js
  src/components/InlineLoading/index.js
  src/components/Link/index.js
  src/components/ListBox/index.js
  src/components/PanelV2/__tests__/PanelV2.spec.js
  src/components/RadioButtonGroup/index.js
  src/components/SummaryCard/__tests__/SummaryCard.spec.js
  src/components/Toolbar/__tests__/Toolbar.spec.js
  src/components/UIShell/index.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

test(nav): fix test warning
  src/components/Nav/Nav.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

test(panel): remove deprecated accessibility test
  src/components/PanelV2/__tests__/PanelV2.spec.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

test(panel): remove deprecated accessibility test (#1004)
  src/components/PanelV2/__tests__/PanelV2.spec.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

test(combo-button): fix test
  src/components/ComboButton/__tests__/ComboButton.spec.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

refactor(components): remove duplicate import (#990)
  src/components/_index.scss
Due: yarn format:precommit, yarn lint:scss:precommit

test: upgrade dependencies and fix tests
  .yarn/offline-mirror/accessibility-checker-3.1.7.tgz
  .yarn/offline-mirror/axe-core-4.2.2.tgz
  .yarn/offline-mirror/axios-0.21.1.tgz
  .yarn/offline-mirror/base64-js-1.5.1.tgz
  .yarn/offline-mirror/bl-4.1.0.tgz
  .yarn/offline-mirror/buffer-5.7.1.tgz
  .yarn/offline-mirror/devtools-protocol-0.0.818844.tgz
  .yarn/offline-mirror/extract-zip-2.0.1.tgz
  .yarn/offline-mirror/fs-constants-1.0.0.tgz
  .yarn/offline-mirror/ieee754-1.2.1.tgz
  .yarn/offline-mirror/mkdirp-classic-0.5.3.tgz
  .yarn/offline-mirror/puppeteer-5.5.0.tgz
  .yarn/offline-mirror/tar-fs-2.1.1.tgz
  .yarn/offline-mirror/tar-stream-2.2.0.tgz
  .yarn/offline-mirror/unbzip2-stream-1.4.3.tgz
Due: none

test(button): remove outdated test
  src/components/Button/__tests__/Button.spec.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

Change layout of toolbar nav. Icons to be on the far left and dropdown icon arrow to be on the far right right
  src/components/Toolbar/Toolbar.js
  src/components/Toolbar/_mixins.scss
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

test(button): remove outdated test (#1007)
  src/components/Button/__tests__/Button.spec.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

chore(deps): upgrade downshift dependency
  .yarn/offline-mirror/compute-scroll-into-view-1.0.17.tgz
  .yarn/offline-mirror/downshift-1.31.16.tgz
  .yarn/offline-mirror/downshift-6.1.3.tgz
  package.json
  src/components/TagWallFilter/Filter/Filter.js
  src/components/TagWallFilter/Filter/__tests__/__snapshots__/Filter.spec.js.snap
  src/components/TagWallFilter/__tests__/__snapshots__/TagWallFilter.spec.js.snap
  yarn.lock
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

chore(deps): clear dependency cache
  .yarn/offline-mirror/@babel-runtime-7.14.6.tgz
  .yarn/offline-mirror/react-is-17.0.2.tgz
Due: none

test(nav): fix test warning (#1003)
  src/components/Nav/Nav.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

feat(focus-trap): upgrade dependency
  .yarn/offline-mirror/focus-trap-5.1.0.tgz
  .yarn/offline-mirror/focus-trap-react-7.0.1.tgz
  .yarn/offline-mirror/tabbable-4.0.0.tgz
  package.json
  src/components/__tests__/__snapshots__/publicAPI.spec.js.snap
  yarn.lock
Due: none

fix: add missing offline packages
  .yarn/offline-mirror/focus-trap-6.5.0.tgz
  .yarn/offline-mirror/focus-trap-react-8.5.1.tgz
  .yarn/offline-mirror/tabbable-5.2.0.tgz
Due: none

feat(focus-trap): upgrade dependency
  .yarn/offline-mirror/focus-trap-6.5.0.tgz
  .yarn/offline-mirror/focus-trap-react-8.5.1.tgz
  .yarn/offline-mirror/tabbable-5.2.0.tgz
Due: none

Latest changes to nav and toolbar
  src/components/Nav/NavList/NavList.js
  src/components/Nav/_mixins.scss
  src/components/Toolbar/_mixins.scss
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

feat(focus-trap): upgrade dependency (#1010)
  .yarn/offline-mirror/focus-trap-5.1.0.tgz
  .yarn/offline-mirror/focus-trap-6.5.0.tgz
  .yarn/offline-mirror/focus-trap-react-7.0.1.tgz
  .yarn/offline-mirror/focus-trap-react-8.5.1.tgz
  .yarn/offline-mirror/tabbable-4.0.0.tgz
  .yarn/offline-mirror/tabbable-5.2.0.tgz
  package.json
  src/components/__tests__/__snapshots__/publicAPI.spec.js.snap
  yarn.lock
Due: none

chore(release): 1.43.0-prerelease.1 [skip ci]
  package.json
Due: none

Notes added by 'git notes add'
  9f/649de50109b54aec6539541705ac2e11e9ba11
Due: none

Latest changes to nav and toolbar
  src/components/Nav/_mixins.scss
  src/components/Toolbar/Toolbar.js
  src/components/Toolbar/_mixins.scss
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

update scss values
  src/components/Nav/_mixins.scss
  src/components/Toolbar/_mixins.scss
Due: yarn format:precommit, yarn lint:scss:precommit

feat(toolbar): update toolbar and navigation styles
  src/__tests__/scss/__snapshots__/SCSS.spec.js.snap
  src/components/Nav/NavList/__tests__/__snapshots__/NavList.spec.js.snap
  src/components/Nav/__tests__/__snapshots__/Nav.spec.js.snap
  src/components/Nav/_mixins.scss
  src/components/Toolbar/Toolbar.js
  src/components/Toolbar/_mixins.scss
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit
