Repository carbon-design-system/ibm-security: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

chore(styles): update sass doc group & file comments for consistency
  src/components/DataDecorator/_index.scss
  src/components/DataDecorator/_mixins.scss
  src/components/DelimitedList/_index.scss
  src/components/DelimitedList/_mixins.scss
  src/components/ErrorPage/_index.scss
  src/components/ErrorPage/_mixins.scss
  src/components/Pagination/_index.scss
  src/components/ScrollGradient/_index.scss
  src/components/ScrollGradient/_mixins.scss
  src/components/SearchBar/_index.scss
  src/components/SearchBar/_mixins.scss
  src/components/SkeletonText/_index.scss
  src/components/SkeletonText/_mixins.scss
  src/components/TagWall/_index.scss
  src/components/TagWall/_mixins.scss
  src/components/TagWallFilter/_index.scss
  src/components/TagWallFilter/_mixins.scss
  src/components/TextArea/_index.scss
  src/components/TimePicker/_index.scss
  src/components/TooltipDefinition/_index.scss
  src/components/TypeLayout/_index.scss
  src/components/Wizard/_mixins.scss
Due: yarn format:precommit, yarn lint:scss:precommit

chore(styles): update sass doc group & file comments for consistency (#197)
  src/components/DataDecorator/_index.scss
  src/components/DataDecorator/_mixins.scss
  src/components/DelimitedList/_index.scss
  src/components/DelimitedList/_mixins.scss
  src/components/ErrorPage/_index.scss
  src/components/ErrorPage/_mixins.scss
  src/components/Pagination/_index.scss
  src/components/ScrollGradient/_index.scss
  src/components/ScrollGradient/_mixins.scss
  src/components/SearchBar/_index.scss
  src/components/SearchBar/_mixins.scss
  src/components/SkeletonText/_index.scss
  src/components/SkeletonText/_mixins.scss
  src/components/TagWall/_index.scss
  src/components/TagWall/_mixins.scss
  src/components/TagWallFilter/_index.scss
  src/components/TagWallFilter/_mixins.scss
  src/components/TextArea/_index.scss
  src/components/TimePicker/_index.scss
  src/components/TooltipDefinition/_index.scss
  src/components/TypeLayout/_index.scss
  src/components/Wizard/_mixins.scss
Due: yarn format:precommit, yarn lint:scss:precommit

chore(accordion): update snapshots
  src/components/FilterPanel/FilterCategory/__test__/__snapshots__/FilterCategory.spec.js.snap
Due: none

fix(cool-gray): fix Carbon compatibility
  docs/themes/themes.md
Due: yarn format:precommit

feat(wizard-step): update documentation
  .eslintrc
  .yarn/offline-mirror/lodash._baseindexof-3.1.0.tgz
  .yarn/offline-mirror/lodash._bindcallback-3.0.1.tgz
  .yarn/offline-mirror/lodash._cacheindexof-3.0.2.tgz
  .yarn/offline-mirror/lodash._createcache-3.1.2.tgz
  src/components/DelimitedList/DelimitedList.js
  src/components/DelimitedList/DelimitedList.stories.js
  src/components/Wizard/WizardStep.js
  yarn.lock
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

docs(storybook): add basic contributing guidelines
  .github/CONTRIBUTING.md
Due: yarn format:precommit

chore(release): 1.7.0 [skip ci]
  package.json
Due: none

chore: merge `master` into `dev`
  .yarn/offline-mirror/lodash._baseindexof-3.1.0.tgz
  .yarn/offline-mirror/lodash._bindcallback-3.0.1.tgz
  .yarn/offline-mirror/lodash._cacheindexof-3.0.2.tgz
  .yarn/offline-mirror/lodash._createcache-3.1.2.tgz
  yarn.lock
Due: none

chore(storybook): add proxied component helpers
  .storybook/index.js
  src/components/Accordion/Accordion.stories.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

fix(themes): remove type tokens
  src/globals/theme/_index.scss
  src/globals/theme/_mixins.scss
Due: yarn format:precommit, yarn lint:scss:precommit

fix(themes): fix build output
  src/globals/theme/_functions.scss
  src/globals/theme/_index.scss
  src/globals/theme/_mixins.scss
Due: yarn format:precommit, yarn lint:scss:precommit

fix(tearsheet-small): add content overflow to prevent scrolling
  src/components/Tearsheet/TearsheetSmall/_mixins.scss
Due: yarn format:precommit, yarn lint:scss:precommit

docs(wizard): reorder props, update description
  src/components/Wizard/Wizard.js
  src/components/Wizard/WizardStep.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

fix(tearsheet-small): add content overflow to prevent scrolling (#201)
  src/components/Tearsheet/TearsheetSmall/_mixins.scss
Due: yarn format:precommit, yarn lint:scss:precommit

docs(wizard): refactor stories
  src/components/Wizard/Wizard.stories.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

chore(release): 1.7.1-prerelease.1 [skip ci]
  package.json
Due: none

chore(browserslist): prevent linting rule
  package.json
Due: none

fix(accordion): apply PR feedback
  src/components/Accordion/Accordion.js
  src/components/Accordion/Accordion.stories.js
  src/components/Accordion/_index.scss
  src/components/FilterPanel/FilterCategory/__test__/__snapshots__/FilterCategory.spec.js.snap
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

fix(summary-card): update with styles for loading button, buttons with icons
  src/components/SummaryCard/SummaryCard.stories.js
  src/components/SummaryCard/SummaryCardAction/SummaryCardAction.js
  src/components/SummaryCard/_mixins.scss
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

feat(storybook): add proxy proof-of-concept (#195)
  .storybook/index.js
  src/components/Accordion/Accordion.stories.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

chore(release): 1.7.1-prerelease.2 [skip ci]
  package.json
Due: none

docs(wizard): update story
  src/components/Wizard/Wizard.stories.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

fix(status-icon): align status icon size
  src/components/StatusIcon/_mixins.scss
Due: yarn format:precommit, yarn lint:scss:precommit

fix(status-icon): align status icon size (#203)
  src/components/StatusIcon/_mixins.scss
Due: yarn format:precommit, yarn lint:scss:precommit

fix(status-indicator): fix icon size, text misalignment
  src/components/StatusIndicator/StatusIndicator.js
  src/components/StatusIndicator/__tests__/__snapshots__/StatusIndicator.spec.js.snap
  src/components/StatusIndicator/_mixins.scss
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

chore(release): 1.7.1-prerelease.3 [skip ci]
  package.json
Due: none

fix(accordion): add prop for changing accordion heading alignment (#196)
  src/components/Accordion/Accordion.js
  src/components/Accordion/Accordion.stories.js
  src/components/Accordion/_index.scss
  src/components/Accordion/index.js
  src/components/FilterPanel/FilterCategory/__test__/__snapshots__/FilterCategory.spec.js.snap
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

chore(release): 1.7.1-prerelease.4 [skip ci]
  package.json
Due: none

chore(accordion): format story
  src/components/Accordion/Accordion.stories.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

docs(CODEOWNERS): update CODEOWNERS to reflect team structure
  CODEOWNERS
Due: none

docs(CODEOWNERS): update CODEOWNERS to reflect team structure (#204)
  CODEOWNERS
Due: none

fix(accordion): vertically center align items in heading
  src/components/Accordion/_index.scss
Due: yarn format:precommit, yarn lint:scss:precommit

docs(wizard): experiment simplifying stories
  src/components/Wizard/Wizard.stories.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

fix(data-table): adjust `z-index` to work with `Tearsheet`
  src/components/DataTable/_index.scss
  src/components/Tearsheet/_mixins.scss
Due: yarn format:precommit, yarn lint:scss:precommit

fix(data-decorator): fix text misalignment
  src/components/DataDecorator/_mixins.scss
Due: yarn format:precommit, yarn lint:scss:precommit

fix(accordion): apply align items center to start-aligned heading only
  src/components/Accordion/_index.scss
Due: yarn format:precommit, yarn lint:scss:precommit

fix(decorator): provide only necessary style changes for inline, vertically align, revert viewbox
  src/components/DataDecorator/Decorator/Decorator.js
  src/components/DataDecorator/_mixins.scss
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

fix(accordion): vertically center items in heading (#205)
  src/components/Accordion/_index.scss
Due: yarn format:precommit, yarn lint:scss:precommit

Path conditions:
  yarn format:precommit: any of: *.{js,md,scss}
  yarn lint:js:precommit: any of: *.js
  yarn test:precommit: any of: *.js
  yarn lint:scss:precommit: any of: *.scss
