Repository carbon-design-system/ibm-security: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

.lintstagedrc:

{
  '*.{js,md,scss}': ['yarn format:precommit', 'git add'],
  '*.js': ['yarn lint:js:precommit', 'git add', 'yarn test:precommit'],
  '*.scss': ['yarn lint:scss:precommit', 'git add'],
}

fix(tearsheet): only render titles if props are provided
  src/components/Tearsheet/Tearsheet.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

fix(tearsheet): move margin to top of content wrapper to accommodate no title
  src/components/Tearsheet/_mixins.scss
Due: yarn format:precommit, yarn lint:scss:precommit

test(scss): update styles snapshot
  src/__tests__/scss/__snapshots__/SCSS.spec.js.snap
Due: none

feat(desciption-list): add `stacked` variant
  src/__tests__/scss/__snapshots__/SCSS.spec.js.snap
  src/components/TypeLayout/TypeLayout.js
  src/components/TypeLayout/__tests__/TypeLayout.spec.js
  src/components/TypeLayout/_index.scss
  src/components/__tests__/__snapshots__/publicAPI.spec.js.snap
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

fix(toolbar): spread navigation item props
  src/components/Toolbar/Toolbar.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

docs(layout-modules): update example layouts
  .storybook/preview.js
  src/components/UNSTABLE__LayoutModules/ActionBarModule/index.mdx
  src/components/UNSTABLE__LayoutModules/ButtonClusterModule/index.mdx
  src/components/UNSTABLE__LayoutModules/CardModule/index.mdx
  src/components/UNSTABLE__LayoutModules/DescriptionListModule/index.mdx
  src/components/UNSTABLE__LayoutModules/DescriptionModule/index.mdx
  src/components/UNSTABLE__LayoutModules/ICAModule/index.mdx
  src/components/UNSTABLE__LayoutModules/PageTabModule/index.mdx
  src/components/UNSTABLE__LayoutModules/TitleBarModule/index.mdx
  src/components/UNSTABLE__LayoutModules/docs/Examples/index.mdx
  src/components/UNSTABLE__LayoutModules/docs/examples/Detail/images/detail-layout.png
  src/components/UNSTABLE__LayoutModules/docs/examples/Detail/index.mdx
  src/components/UNSTABLE__LayoutModules/docs/examples/Overview/images/overview-layout.png
  src/components/UNSTABLE__LayoutModules/docs/examples/Overview/index.mdx
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

feat(desciption-list): add `stacked` variant
  src/__tests__/scss/__snapshots__/SCSS.spec.js.snap
  src/components/TypeLayout/_index.scss
Due: yarn format:precommit, yarn lint:scss:precommit

fix(nav): correctly apply `onClick` handlers
  src/components/Nav/Nav.js
  src/components/Nav/Nav.stories.js
  src/components/Nav/NavList/NavList.js
  src/components/Toolbar/_mocks_/index.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

fix(nav): correctly apply `onClick` handlers
  src/components/Nav/NavList/NavList.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

docs(panel): update `PanelV2` story to show `ComboButton`, fix style issue
  src/__tests__/scss/__snapshots__/SCSS.spec.js.snap
  src/components/ComboButton/_index.scss
  src/components/ComboButton/_variables.scss
  src/components/PanelV2/PanelV2.stories.js
  src/components/PanelV2/_mixins.scss
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

feat(data-decorator): pass through `focusTrapOptions`
  src/components/DataDecorator/DataDecorator.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

fix(panel-v2): fix style issue
  src/__tests__/scss/__snapshots__/SCSS.spec.js.snap
  src/components/PanelV2/_mixins.scss
Due: yarn format:precommit, yarn lint:scss:precommit

feat(data-decorator): pass through `focusTrapOptions`
  src/components/__tests__/__snapshots__/publicAPI.spec.js.snap
Due: none

fix(combo-button): fix button state, console errors (#736)
  src/__tests__/scss/__snapshots__/SCSS.spec.js.snap
  src/components/ComboButton/ComboButton.js
  src/components/ComboButton/__tests__/__snapshots__/ComboButton.spec.js.snap
  src/components/ComboButton/_index.scss
  src/components/ComboButton/_variables.scss
  src/components/PanelV2/PanelV2.stories.js
  src/components/PanelV2/_mixins.scss
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

chore(release): 1.34.0-prerelease.12 [skip ci]
  package.json
Due: none

Notes added by 'git notes add'
  3c/cd8aca59df72b54b4caea4bf909da9cc6048f2
Due: none

docs(layout-modules): add updated design documentation
  src/components/UNSTABLE__LayoutModules/ActionBarModule/images/anatomy.png
  src/components/UNSTABLE__LayoutModules/ActionBarModule/images/do.png
  src/components/UNSTABLE__LayoutModules/ActionBarModule/images/dont.png
  src/components/UNSTABLE__LayoutModules/ActionBarModule/index.mdx
  src/components/UNSTABLE__LayoutModules/ButtonClusterModule/images/dont.png
  src/components/UNSTABLE__LayoutModules/ButtonClusterModule/images/layout-considerations.png
  src/components/UNSTABLE__LayoutModules/ButtonClusterModule/index.mdx
  src/components/UNSTABLE__LayoutModules/CardModule/images/anatomy.png
  src/components/UNSTABLE__LayoutModules/CardModule/images/dont.png
  src/components/UNSTABLE__LayoutModules/CardModule/images/variants.png
  src/components/UNSTABLE__LayoutModules/CardModule/index.mdx
  src/components/UNSTABLE__LayoutModules/DescriptionListModule/images/anatomy.png
  src/components/UNSTABLE__LayoutModules/DescriptionListModule/images/do.png
  src/components/UNSTABLE__LayoutModules/DescriptionListModule/images/dont.png
  src/components/UNSTABLE__LayoutModules/DescriptionListModule/images/layout-considerations.png
  src/components/UNSTABLE__LayoutModules/DescriptionListModule/images/variants.png
  src/components/UNSTABLE__LayoutModules/DescriptionListModule/index.mdx
  src/components/UNSTABLE__LayoutModules/DescriptionModule/DescriptionModule.stories.js
  src/components/UNSTABLE__LayoutModules/DescriptionModule/images/anatomy .png
  src/components/UNSTABLE__LayoutModules/DescriptionModule/images/anatomy.png
  src/components/UNSTABLE__LayoutModules/DescriptionModule/images/do.png
  src/components/UNSTABLE__LayoutModules/DescriptionModule/images/dont.png
  src/components/UNSTABLE__LayoutModules/DescriptionModule/images/layout-considerations.png
  src/components/UNSTABLE__LayoutModules/DescriptionModule/images/variants.png
  src/components/UNSTABLE__LayoutModules/DescriptionModule/index.mdx
  src/components/UNSTABLE__LayoutModules/ICAModule/images/anatomy.png
  src/components/UNSTABLE__LayoutModules/ICAModule/images/do.png
  src/components/UNSTABLE__LayoutModules/ICAModule/images/dont.png
  src/components/UNSTABLE__LayoutModules/ICAModule/images/interactions.png
  src/components/UNSTABLE__LayoutModules/ICAModule/index.mdx
  src/components/UNSTABLE__LayoutModules/PageTabModule/images/anatomy.png
  src/components/UNSTABLE__LayoutModules/PageTabModule/images/do.png
  src/components/UNSTABLE__LayoutModules/PageTabModule/images/dont.png
  src/components/UNSTABLE__LayoutModules/PageTabModule/index.mdx
  src/components/UNSTABLE__LayoutModules/TitleBarModule/images/anatomy.png
  src/components/UNSTABLE__LayoutModules/TitleBarModule/images/do.png
  src/components/UNSTABLE__LayoutModules/TitleBarModule/images/dont.png
  src/components/UNSTABLE__LayoutModules/TitleBarModule/images/variants.png
  src/components/UNSTABLE__LayoutModules/TitleBarModule/index.mdx
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

docs(layout-modules): add updated design documentation
  src/components/UNSTABLE__LayoutModules/ActionBarModule/index.mdx
Due: none

chore: merge `dev` into `789/stacked-description-list`
  src/__tests__/scss/__snapshots__/SCSS.spec.js.snap
  src/components/TypeLayout/_index.scss
Due: yarn format:precommit, yarn lint:scss:precommit

docs(layout-modules): add `Source` to MDX provider
  .storybook/components/Source/index.js
  .storybook/preview.js
  src/components/UNSTABLE__LayoutModules/CardModule/index.mdx
  src/components/UNSTABLE__LayoutModules/DescriptionListModule/index.mdx
  src/components/UNSTABLE__LayoutModules/DescriptionModule/index.mdx
  src/components/UNSTABLE__LayoutModules/ICAModule/index.mdx
  src/components/UNSTABLE__LayoutModules/TitleBarModule/index.mdx
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

docs(card-module): remove layout considerations
  src/components/UNSTABLE__LayoutModules/CardModule/images/layout-considerations.png
  src/components/UNSTABLE__LayoutModules/CardModule/index.mdx
Due: none

fix(tearsheet): only render titles if props are provided (#798)
  src/__tests__/scss/__snapshots__/SCSS.spec.js.snap
  src/components/Tearsheet/Tearsheet.js
  src/components/Tearsheet/_mixins.scss
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

chore(release): 1.34.0-prerelease.13 [skip ci]
  package.json
Due: none

Notes added by 'git notes add'
  79/b76ddd1caad3aea0629cf2579f82185544f9b4
Due: none

refactor(decorator): fix linting errors
  src/components/DataDecorator/Decorator/Decorator.stories.js
  src/components/DataDecorator/Decorator/__tests__/Decorator.spec.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

docs(layout-modules): story code updates
  src/components/UNSTABLE__LayoutModules/ButtonClusterModule/index.mdx
  src/components/UNSTABLE__LayoutModules/CardModule/CardModule.stories.js
  src/components/UNSTABLE__LayoutModules/CardModule/index.mdx
  src/components/UNSTABLE__LayoutModules/DescriptionListModule/index.mdx
  src/components/UNSTABLE__LayoutModules/DescriptionModule/DescriptionModule.stories.js
  src/components/UNSTABLE__LayoutModules/DescriptionModule/images/anatomy .png
  src/components/UNSTABLE__LayoutModules/DescriptionModule/images/anatomy.png
  src/components/UNSTABLE__LayoutModules/DescriptionModule/index.mdx
  src/components/UNSTABLE__LayoutModules/ICAModule/ICAModule.stories.js
  src/components/UNSTABLE__LayoutModules/ICAModule/index.mdx
  src/components/UNSTABLE__LayoutModules/PageTabModule/index.mdx
  src/components/UNSTABLE__LayoutModules/TitleBarModule/TitleBarModule.stories.js
  src/components/UNSTABLE__LayoutModules/TitleBarModule/index.mdx
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

docs(layout-modules): update `CardModule` stories
  src/components/UNSTABLE__LayoutModules/CardModule/CardModule.stories.js
  src/components/UNSTABLE__LayoutModules/CardModule/index.mdx
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

docs(toolbar): use `action` instead of `console.log`
  src/components/Nav/Nav.stories.js
  src/components/Toolbar/_mocks_/index.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

fix(nav): correctly apply `onClick` handlers, spread `Toolbar` props (#802)
  src/components/Nav/Nav.js
  src/components/Nav/Nav.stories.js
  src/components/Nav/NavList/NavList.js
  src/components/Toolbar/Toolbar.js
  src/components/Toolbar/_mocks_/index.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

chore(release): 1.34.0-prerelease.14 [skip ci]
  package.json
Due: none

Notes added by 'git notes add'
  7c/468c6ac2af5d9fe060467e5fd0b0158a0987f5
Due: none

feat(panel): add overlay toggling
  src/components/PanelV2/PanelV2.js
  src/components/PanelV2/PanelV2.stories.js
  src/components/Portal/Portal.js
  src/components/__tests__/__snapshots__/publicAPI.spec.js.snap
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

feat(panel): add overlay toggling
  src/components/PanelV2/PanelV2.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

feat(data-decorator): pass through `focusTrapOptions` (#803)
  src/components/DataDecorator/DataDecorator.js
  src/components/DataDecorator/Decorator/Decorator.stories.js
  src/components/DataDecorator/Decorator/__tests__/Decorator.spec.js
  src/components/__tests__/__snapshots__/publicAPI.spec.js.snap
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

chore(release): 1.34.0-prerelease.15 [skip ci]
  package.json
Due: none

Notes added by 'git notes add'
  08/aba178369b9494385de6bfda44b138dee3fb17
Due: none

chore(release): 1.34.0 [skip ci]
  package.json
Due: none

Notes added by 'git notes add'
  c4/cbca182d35a77906b3d60a0ea2bb71767984ef
Due: none

feat(data-decorator): pass through overlay options
  src/components/DataDecorator/DataDecorator.js
  src/components/DataDecorator/DataDecorator.stories.js
  src/components/PanelV2/PanelV2.js
  src/components/PanelV2/PanelV2.stories.js
  src/components/__tests__/__snapshots__/publicAPI.spec.js.snap
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

Add onClick handler to navItems so the toolbar closes when item is clicked https://jsw.ibm.com/browse/SECCON-4160
  src/components/Toolbar/Toolbar.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit
