Repository carbon-design-system/ibm-security: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

.lintstagedrc:

{
  "linters": {
    '*.{js,md,scss}': ['yarn format:precommit', 'git add'],
    '*.js': ['yarn lint:js:precommit', 'git add', 'yarn test:precommit'],
    '*.scss': ['yarn lint:scss:precommit', 'git add'],
  }
}

docs(themes): align with Carbon
  docs/themes/themes.md
Due: yarn format:precommit

docs(themes): document code
  docs/themes/themes.md
  scripts/themes/index.js
  scripts/themes/templates/index.hbs
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

chore(pre-commit): test commit
  .huskyrc
Due: none

docs(themes): document code
  .huskyrc
Due: none

fix(nav-item-link): provide navitemlink display name
  src/components/Nav/NavItem/__tests__/__snapshots__/NavItem.spec.js.snap
  src/components/Nav/NavItemLink/NavItemLink.js
  src/components/Nav/NavList/__tests__/__snapshots__/NavList.spec.js.snap
  src/components/Nav/__tests__/__snapshots__/Nav.spec.js.snap
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

feat(nav-item-link): add component that accepts custom tag, include in nav (#155)
  src/components/Nav/Nav.stories.js
  src/components/Nav/NavItem/NavItem.js
  src/components/Nav/NavItem/__tests__/__snapshots__/NavItem.spec.js.snap
  src/components/Nav/NavItemLink/NavItemLink.js
  src/components/Nav/NavItemLink/index.js
  src/components/Nav/NavList/__tests__/__snapshots__/NavList.spec.js.snap
  src/components/Nav/__tests__/__snapshots__/Nav.spec.js.snap
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

chore(release): 1.5.1-prerelease.3 [skip ci]
  package.json
Due: none

chore(delimited-list): clean up prop comments
  src/components/DelimitedList/DelimitedList.js
  src/components/DelimitedList/DelimitedList.stories.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

chore(themes): fix namespace
  .storybook/addons/addon-theme/Theme/index.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

feat(data-table): add `TableToolbarDownload` component (#130)
  .yarn/offline-mirror/export-to-csv-0.2.1.tgz
  package.json
  src/components/DataTable/DataTable.js
  src/components/DataTable/DataTable.stories.js
  src/components/DataTable/TableToolbarDownload.js
  src/components/DataTable/index.js
  src/components/DataTable/stories/with-toolbar.js
  src/index.js
  yarn.lock
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

chore(release): 1.5.1-prerelease.4 [skip ci]
  package.json
Due: none

fix(storybook): add centering override
  .storybook/config.js
  .storybook/index.js
  src/components/ErrorPage/ErrorPage.stories.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

fix(storybook): disable centered on some stories
  .storybook/index.js
  src/components/ErrorPage/ErrorPage.stories.js
  src/components/Header/Header.stories.js
  src/components/NonEntitledSection/NonEntitledSection.stories.js
  src/components/PanelV2/PanelV2.stories.js
  src/components/Shell/Shell.stories.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

Populating row's empty property with empty string and only allowing exporting when rows and headers exist
  src/components/DataTable/TableToolbarDownload.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

Populating row's empty property with empty string and only allowing exporting when rows and headers exist (#164)
  src/components/DataTable/TableToolbarDownload.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

fix(ica): modularise styles
  .storybook/components/Container/index.js
  src/components/ICA/ICASkeleton/_index.scss
  src/components/ICA/ICASkeleton/_mixins.scss
  src/components/ICA/_index.scss
  src/components/ICA/_mixins.scss
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

fix(non-entitled-section): modularise styles
  .storybook/components/Container/index.js
  src/components/ICA/ICASkeleton/_index.scss
  src/components/NonEntitledSection/_index.scss
  src/components/NonEntitledSection/_mixins.scss
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

fix(notification): modularise component styles
  .storybook/components/Container/index.js
  src/components/Notification/ToastNotification/_index.scss
  src/components/Notification/_index.scss
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

fix(pill): modularise styles
  .storybook/components/Container/index.js
  .yarn/offline-mirror/@carbon-motion-10.4.0.tgz
  package.json
  src/components/DataDecorator/__tests__/__snapshots__/DataDecorator.spec.js.snap
  src/components/Notification/ToastNotification/_index.scss
  src/components/Notification/_index.scss
  src/components/PanelV2/PanelV2.js
  src/components/PanelV2/__tests__/__snapshots__/PanelV2.spec.js.snap
  src/components/PanelV2/_index.scss
  src/components/PanelV2/_mixins.scss
  src/components/Pill/_index.scss
  src/components/Pill/_mixins.scss
  yarn.lock
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

fix(search-bar): modularise styles
  .storybook/components/Container/index.js
  src/components/ProgressIndicator/_index.scss
  src/components/ScrollGradient/_index.scss
  src/components/ScrollGradient/_mixins.scss
  src/components/Search/_index.scss
  src/components/SearchBar/_index.scss
  src/components/SearchBar/_mixins.scss
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

fix(select): add focus text color override
  src/components/Select/_index.scss
Due: yarn format:precommit, yarn lint:scss:precommit

chore(delimited-list): tidy story
  .storybook/index.js
  src/components/DelimitedList/DelimitedList.stories.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

fix(select): add focus text color override (#169)
  src/components/Select/_index.scss
Due: yarn format:precommit, yarn lint:scss:precommit

chore(release): 1.5.1-prerelease.5 [skip ci]
  package.json
Due: none

docs(themes): documentation revisions
  README.md
  docs/g11n.md
  docs/migration/2.x-color.md
  docs/migration/2.x-grid.md
  docs/migration/2.x-layout.md
  docs/migration/2.x-type.md
  docs/themes/README.md
  src/components/Button/migrate-to-2.x.md
  src/components/DataTable/migrate-to-2.x.md
  src/components/FilterPanel/FilterPanel.stories.js
  src/components/ICA/ICA.js
  src/components/ICA/ICA.stories.js
  src/components/Tag/migrate-to-2.x.md
  src/internal/FeatureFlags.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

chore(release): 1.6.0 [skip ci]
  package.json
Due: none

chore(themes): rename variable
  src/globals/theme/_index.scss
  src/globals/theme/_mixins.scss
Due: yarn format:precommit, yarn lint:scss:precommit

fix(app-scan): cherry pick changes from GitHub Enterprise
  .gitignore
  src/components/InlineLoading/InlineLoading.stories.js
  src/components/ProfileImage/ProfileImage.stories.js
  src/components/ProfileImage/__tests__/ProfileImage.spec.js
  src/components/ProfileImage/__tests__/__snapshots__/ProfileImage.spec.js.snap
  src/components/ProfileImage/_mocks_/index.js
  src/components/Tooltip/Tooltip.stories.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

fix(cool-gray): refine tokens for components
  src/components/Button/_mixins.scss
  src/components/DataDecorator/_mixins.scss
  src/components/Icon/Icon.stories.js
  src/components/Notification/ToastNotification/_index.scss
  src/components/Notification/_index.scss
  src/components/Shell/_mixins.scss
  src/globals/theme/_mixins.scss
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

fix(toolbar): add tooltip revisions
  src/components/Toolbar/_mixins.scss
  src/globals/theme/_mixins.scss
Due: yarn format:precommit, yarn lint:scss:precommit

fix(toolbar): add tooltip revisions
  src/globals/theme/_mixins.scss
  src/globals/theme/_variables.scss
Due: yarn format:precommit, yarn lint:scss:precommit

fix(themes): allow overrides
  src/globals/theme/_variables.scss
Due: yarn format:precommit, yarn lint:scss:precommit
