Repository carbon-design-system/ibm-security: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

.lintstagedrc:

{
  '*.{js,md,scss}': ['yarn format:precommit', 'git add'],
  '*.js': ['yarn lint:js:precommit', 'git add', 'yarn test:precommit'],
  '*.scss': ['yarn lint:scss:precommit', 'git add'],
}

fix(summary-card): add initial a11y tests
  src/components/SummaryCard/__tests__/SummaryCard.spec.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

fix(summary-card): update comments for upcoming tests & structure
  src/components/SummaryCard/__tests__/SummaryCard.spec.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

docs(summary-card): update test comments
  src/components/SummaryCard/__tests__/SummaryCard.spec.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

chore(release): 1.16.0 [skip ci]
  package.json
Due: none

Notes added by 'git notes add'
  fe5996ff374b8064d833e8e87aeed834abaebc51
Due: none

fix(panel): add a11y props and attributes (#308)
  src/components/DataDecorator/__tests__/__snapshots__/DataDecorator.spec.js.snap
  src/components/Panel/PanelContainer.js
  src/components/Panel/PanelContent.js
  src/components/Panel/__tests__/__snapshots__/Panel.spec.js.snap
  src/components/PanelV2/PanelV2.js
  src/components/PanelV2/PanelV2.stories.js
  src/components/PanelV2/__tests__/__snapshots__/PanelV2.spec.js.snap
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

chore(release): 1.16.0-prerelease.2 [skip ci]
  package.json
Due: none

Notes added by 'git notes add'
  a11d3f0366a3481b5bbe05ad100a2e28a4f92aae
Due: none

fix(panel-v2): update tests to include changes to panel content wrapper and scrolling content settings
  src/components/PanelV2/__tests__/PanelV2.spec.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

fix(panel-v2): add Axe and DAP test for hasScrollingContent=true
  src/components/PanelV2/__tests__/PanelV2.spec.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

chore: remove duplicate dependency
  package.json
Due: none

fix(panel-v2): include subtitle as node type check in axe and dap
  src/components/PanelV2/__tests__/PanelV2.spec.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

docs(panel-v2): update dap test label
  src/components/PanelV2/__tests__/PanelV2.spec.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

chore(format): format `dev`
  docs/themes/README.md
Due: yarn format:precommit

fix(panel): only apply aria-labelledBy if valid title or subtitle
  src/components/Panel/PanelContainer.js
  src/components/PanelV2/PanelV2.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

fix(panel): update aria-labelledby
  src/components/Panel/PanelContainer.js
  src/components/PanelV2/PanelV2.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

docs(panelv2): add knobs for title, subtitle, and aria-label
  src/components/PanelV2/PanelV2.stories.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

fix(summary-card): add more tab and a11y tests for expanded content
  src/components/SummaryCard/__tests__/SummaryCard.spec.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

fix(summary-card): add title and aria-label to close button to resolve axe violation
  src/components/SummaryCard/SummaryCardAction/SummaryCardAction.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

chore: update docs command to git add docs dir only
  package.json
Due: none

fix(summary-card): clean up test comments
  src/components/SummaryCard/__tests__/SummaryCard.spec.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

fix(summary-card): add tests for summary card action component
  src/components/SummaryCard/SummaryCardAction/__tests__/SummaryCardAction.spec.js
  src/components/SummaryCard/__tests__/SummaryCard.spec.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

chore: update docs command to git add docs dir only (#336)
  package.json
Due: none

chore(format): format `dev`
  package.json
Due: none

docs(panelv2): add knobs for title, subtitle, and aria-label (#334)
  src/components/PanelV2/PanelV2.stories.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

fix(panel): only apply aria-labelledby if title or subtitle provided (#333)
  src/components/Panel/PanelContainer.js
  src/components/PanelV2/PanelV2.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

chore(release): 1.16.0-prerelease.3 [skip ci]
  package.json
Due: none

Notes added by 'git notes add'
  5ffa03d865994d637499e6bc5581987cec3ab750
Due: none

fix(summary-card): use prefix vars in tests
  src/components/SummaryCard/SummaryCardHeader/SummaryCardHeader.js
  src/components/SummaryCard/__tests__/SummaryCard.spec.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

fix(pagination): use namespace vars in tests
  src/components/UNSTABLE__Pagination/__tests__/UNSTABLE_Pagination.spec.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

docs(readme): update codesandbox link
  README.md
Due: yarn format:precommit

fix(unstable-pagination): remove duplicate dependency and update yarn lock
  .yarn/offline-mirror/@testing-library-user-event-8.0.3.tgz
  .yarn/offline-mirror/@testing-library-user-event-8.0.4.tgz
  .yarn/offline-mirror/@testing-library-user-event-8.1.0.tgz
  package.json
  yarn.lock
Due: none

chore: update testing-library/user-event version
  package.json
  yarn.lock
Due: none

docs(readme): update codesandbox link (#338)
  README.md
Due: yarn format:precommit

fix(summary-card): update action button tests and DAP test ids
  src/components/SummaryCard/SummaryCardAction/__tests__/SummaryCardAction.spec.js
  src/components/SummaryCard/SummaryCardBatchActions/SummaryCardBatchActions.js
  src/components/SummaryCard/SummaryCardBatchActions/__tests__/SummaryCardBatchActions.spec.js
  src/components/SummaryCard/SummaryCardBatchActions/__tests__/__snapshots__/SummaryCardBatchActions.spec.js.snap
  src/components/SummaryCard/__tests__/SummaryCard.spec.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

fix(summary-card): add test for summary card body
  src/components/SummaryCard/SummaryCardBody/SummaryCardBody.js
  src/components/SummaryCard/SummaryCardBody/__tests__/SummaryCardBody.spec.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

fix(summary-card): add header and footer tests
  src/components/SummaryCard/SummaryCardAction/SummaryCardAction.js
  src/components/SummaryCard/SummaryCardAction/__tests__/SummaryCardAction.spec.js
  src/components/SummaryCard/SummaryCardBatchActions/SummaryCardBatchActions.js
  src/components/SummaryCard/SummaryCardBatchActions/__tests__/SummaryCardBatchActions.spec.js
  src/components/SummaryCard/SummaryCardFooter/SummaryCardFooter.js
  src/components/SummaryCard/SummaryCardFooter/__tests__/SummaryCardFooter.spec.js
  src/components/SummaryCard/SummaryCardHeader/__tests__/SummaryCardHeader.spec.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

fix(summary-card): add skeleton component tests
  src/components/SummaryCard/SummaryCardSkeleton/SummaryCardSkeleton.js
  src/components/SummaryCard/SummaryCardSkeleton/__tests__/SummaryCardSkeleton.spec.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

fix(summary-card): update wording and render for action test
  src/components/SummaryCard/SummaryCardAction/__tests__/SummaryCardAction.spec.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

fix(panelv2): update tests to use a11y matchers and user events (#324)
  src/components/PanelV2/__tests__/PanelV2.spec.js
  src/components/PanelV2/__tests__/__snapshots__/PanelV2.spec.js.snap
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit
