Repository carbon-design-system/ibm-security: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

.lintstagedrc:

{
  '*.{js,md,scss}': ['yarn format:precommit', 'git add'],
  '*.js': ['yarn lint:js:precommit', 'git add', 'yarn test:precommit'],
  '*.scss': ['yarn lint:scss:precommit', 'git add'],
}

Notes added by 'git notes add'
  82/cfef2cffb185d81a9dab841dd74fe5d2408391
Due: none

chore(release): 1.36.0 [skip ci]
  package.json
Due: none

Notes added by 'git notes add'
  58/54bd20aa71523347fc048b94dfab5e92e2b4f1
Due: none

feat(navigation-card): add logic, story, and styles
  src/__tests__/scss/__snapshots__/SCSS.spec.js.snap
  src/components/NavigationCard/NavigationCard.stories.js
  src/components/NavigationCard/_index.scss
  src/components/NavigationCard/index.js
  src/components/_index.scss
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

docs(layout-modules): add missing `narrow grid` links
  src/components/UNSTABLE__LayoutModules/CardModule/index.mdx
  src/components/UNSTABLE__LayoutModules/ICAModule/index.mdx
Due: none

fix(data-table): correct scroll gradient not displaying
  src/components/DataTable/DataTable.stories.js
  src/components/DataTable/_index.scss
  src/components/DataTable/stories/with-scroll-gradient.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

fix(data-table): update scss snapshot
  src/__tests__/scss/__snapshots__/SCSS.spec.js.snap
Due: none

test(navigation-card): update snapshot tests
  src/__tests__/scss/__snapshots__/SCSS.spec.js.snap
  src/components/NavigationCard/_index.scss
  src/components/NavigationCard/index.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

fix(return-to-banner): remove need for applying margin (#861)
  src/__tests__/scss/__snapshots__/SCSS.spec.js.snap
  src/components/Shell/_mixins.scss
Due: yarn format:precommit, yarn lint:scss:precommit

chore(release): 1.36.1-prerelease.1 [skip ci]
  package.json
Due: none

Notes added by 'git notes add'
  fa/59cf8191c8e6e6b1c478170609d6779e81b6b7
Due: none

fix(data-table): correct scroll gradient not displaying (#862)
  src/__tests__/scss/__snapshots__/SCSS.spec.js.snap
  src/components/DataTable/DataTable.stories.js
  src/components/DataTable/_index.scss
  src/components/DataTable/stories/with-scroll-gradient.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

chore(release): 1.36.1-prerelease.2 [skip ci]
  package.json
Due: none

Notes added by 'git notes add'
  b8/664c80881dfd4c739b63eedfe1ddc6a2525af6
Due: none

docs(issue-templates): fix labels (#853)
  .github/ISSUE_TEMPLATE/BUG.md
  .github/ISSUE_TEMPLATE/PROPOSAL.md
Due: yarn format:precommit

test(action-bar-module): add unit tests
  src/components/UNSTABLE__LayoutModules/ActionBarModule/ActionBarModule.js
  src/components/UNSTABLE__LayoutModules/ActionBarModule/ActionBarModuleItems/__tests__/ActionBarModuleItems.spec.js
  src/components/UNSTABLE__LayoutModules/ActionBarModule/ActionBarModuleItems/index.js
  src/components/UNSTABLE__LayoutModules/ActionBarModule/index.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

Large and small tearsheet had odd scrolling behaviour in chrome version 87
  docs/themes/themes.md
  src/components/Tearsheet/TearsheetSmall/_mixins.scss
  src/components/Tearsheet/_mixins.scss
Due: yarn format:precommit, yarn lint:scss:precommit

test(button-cluster-module): add unit tests
  src/components/UNSTABLE__LayoutModules/ButtonClusterModule/__tests__/ButtonClusterModule.spec.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

test(description-list-module): add unit tests
  src/components/UNSTABLE__LayoutModules/DescriptionListModule/__tests__/DescriptionListModule.spec.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

test(description-list-module): add unit tests (#868)
  src/components/UNSTABLE__LayoutModules/DescriptionListModule/__tests__/DescriptionListModule.spec.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

test(title-bar-module): add unit tests
  src/components/UNSTABLE__LayoutModules/TitleBarModule/__tests__/TitleBarModule.spec.js
  src/components/UNSTABLE__LayoutModules/TitleBarModule/index.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

update css snapshots
  src/__tests__/scss/__snapshots__/SCSS.spec.js.snap
  src/components/ComboButton/__tests__/__snapshots__/ComboButton.spec.js.snap
  src/components/Header/__tests__/__snapshots__/Header.spec.js.snap
  src/components/__tests__/__snapshots__/publicAPI.spec.js.snap
Due: none

chore: merge `dev` into `SECCON-9657`
  docs/themes/themes.md
  src/__tests__/scss/__snapshots__/SCSS.spec.js.snap
  src/components/ComboButton/__tests__/__snapshots__/ComboButton.spec.js.snap
  src/components/Header/__tests__/__snapshots__/Header.spec.js.snap
  src/components/UNSTABLE__LayoutModules/DescriptionListModule/__tests__/DescriptionListModule.spec.js
  src/components/__tests__/__snapshots__/publicAPI.spec.js.snap
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

Large and small tearsheet had odd scrolling behaviour in chrome versi… (#866)
  src/__tests__/scss/__snapshots__/SCSS.spec.js.snap
  src/components/Tearsheet/TearsheetSmall/_mixins.scss
  src/components/Tearsheet/_mixins.scss
Due: yarn format:precommit, yarn lint:scss:precommit

conditionally render settings and support
  src/components/Toolbar/Toolbar.js
  src/components/Toolbar/Toolbar.stories.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

test(card-module): add unit tests
  src/components/UNSTABLE__LayoutModules/CardModule/__tests__/CardModule.spec.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

test(card-module): fix typo
  src/components/UNSTABLE__LayoutModules/CardModule/__tests__/CardModule.spec.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

chore(release): 1.36.1 [skip ci]
  package.json
Due: none

Notes added by 'git notes add'
  b0/0876bcf7a10484da55f23305706367f9ed195a
Due: none

test(description-module): add unit tests
  src/components/UNSTABLE__LayoutModules/DescriptionModule/__tests__/DescriptionModule.spec.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

test(ica-module): add unit tests
  src/components/UNSTABLE__LayoutModules/ICAModule/__tests__/ICAModule.spec.js
  src/components/UNSTABLE__LayoutModules/ICAModule/index.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

refactor(title-bar-module): remove unneccessary string interpolation
  src/components/UNSTABLE__LayoutModules/TitleBarModule/index.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

test(with-background): add unit tests
  src/components/UNSTABLE__LayoutModules/Background/__tests__/Background.spec.js
  src/components/UNSTABLE__LayoutModules/Background/index.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

test(layout-module): add unit tests
  src/components/UNSTABLE__LayoutModules/Background/index.js
  src/components/UNSTABLE__LayoutModules/CardModule/index.js
  src/components/UNSTABLE__LayoutModules/DescriptionModule/index.js
  src/components/UNSTABLE__LayoutModules/ICAModule/index.js
  src/components/UNSTABLE__LayoutModules/LayoutModule.js
  src/components/UNSTABLE__LayoutModules/TitleBarModule/index.js
  src/components/UNSTABLE__LayoutModules/__tests__/LayoutModule.spec.js
  src/components/UNSTABLE__LayoutModules/index.js
  src/components/__tests__/__snapshots__/publicAPI.spec.js.snap
  src/index.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

fix(delimited-list): remove unneccesary dependent
  src/components/DelimitedList/DelimitedList.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

fix(focus): add `blurTimer` as Hook dependent
  src/globals/utils/focus.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

feat(carbon): upgrade dependencies
  .yarn/offline-mirror/@carbon-colors-10.15.0.tgz
  .yarn/offline-mirror/@carbon-colors-10.17.0.tgz
  .yarn/offline-mirror/@carbon-grid-10.16.0.tgz
  .yarn/offline-mirror/@carbon-grid-10.17.0.tgz
  .yarn/offline-mirror/@carbon-icon-helpers-10.10.0.tgz
  .yarn/offline-mirror/@carbon-icon-helpers-10.9.0.tgz
  .yarn/offline-mirror/@carbon-icons-react-10.20.0.tgz
  .yarn/offline-mirror/@carbon-icons-react-10.22.0.tgz
  .yarn/offline-mirror/@carbon-import-once-10.3.0.tgz
  .yarn/offline-mirror/@carbon-import-once-10.4.0.tgz
  .yarn/offline-mirror/@carbon-layout-10.14.0.tgz
  .yarn/offline-mirror/@carbon-layout-10.15.0.tgz
  .yarn/offline-mirror/@carbon-motion-10.10.0.tgz
  .yarn/offline-mirror/@carbon-motion-10.9.0.tgz
  .yarn/offline-mirror/@carbon-themes-10.22.1.tgz
  .yarn/offline-mirror/@carbon-themes-10.24.0.tgz
  .yarn/offline-mirror/@carbon-type-10.17.0.tgz
  .yarn/offline-mirror/@carbon-type-10.18.0.tgz
  .yarn/offline-mirror/carbon-components-10.23.2.tgz
  .yarn/offline-mirror/carbon-components-10.25.0.tgz
  .yarn/offline-mirror/carbon-components-react-7.23.2.tgz
  .yarn/offline-mirror/carbon-components-react-7.25.0.tgz
  docs/themes/themes.md
  package.json
  src/__tests__/scss/__snapshots__/SCSS.spec.js.snap
  src/components/TagWallFilter/Filter/__tests__/__snapshots__/Filter.spec.js.snap
  src/components/TagWallFilter/__tests__/__snapshots__/TagWallFilter.spec.js.snap
  src/components/__tests__/__snapshots__/publicAPI.spec.js.snap
  src/globals/feature-flags/_index.scss
  yarn.lock
Due: yarn format:precommit, yarn lint:scss:precommit

test(filter-panel-search): update to test immediate functionality
  src/components/FilterPanel/FilterPanelSearch/__tests__/FilterSearch.spec.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

conditionally set height
  src/components/Toolbar/Toolbar.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

fix(combo-button): remove scrolling workaround
  .yarn/offline-mirror/lodash._baseindexof-3.1.0.tgz
  .yarn/offline-mirror/lodash._bindcallback-3.0.1.tgz
  .yarn/offline-mirror/lodash._cacheindexof-3.0.2.tgz
  .yarn/offline-mirror/lodash._createcache-3.1.2.tgz
  .yarn/offline-mirror/lodash._getnative-3.9.1.tgz
  .yarn/offline-mirror/lodash.restparam-3.6.1.tgz
  src/components/ComboButton/ComboButton.js
  yarn.lock
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit
