Repository carbon-design-system/ibm-security: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

.lintstagedrc:

{
  '*.{js,md,scss}': ['yarn format:precommit', 'git add'],
  '*.js': ['yarn lint:js:precommit', 'git add', 'yarn test:precommit'],
  '*.scss': ['yarn lint:scss:precommit', 'git add'],
}

docs(peer-dependencies): add migration documentation
  docs/migration/2.x/README.md
Due: yarn format:precommit

docs: update migration documentation
  docs/migration/2.x/README.md
  docs/migration/2.x/grid.md
  docs/migration/2.x/layout.md
  docs/migration/2.x/themes.md
  docs/migration/2.x/type.md
  docs/themes/themes.md
Due: yarn format:precommit

chore: merge `dev` into `spike/migration`
  src/__tests__/scss/__snapshots__/SCSS.spec.js.snap
  src/components/ICA/ICA.stories.js
  src/components/UNSTABLE__Pagination/_index.scss
  src/globals/feature-flags/_index.scss
  src/globals/type/_index.scss
  src/platform/body/_index.scss
  src/platform/body/_mixins.scss
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

chore: merge `dev` into `spike/migration`
  README.md
  docs/themes/README.md
Due: yarn format:precommit

chore: merge `dev` into `spike/migration`
  package.json
Due: none

chore: merge `dev` into `spike/migration`
  .storybook/index.scss
Due: yarn format:precommit, yarn lint:scss:precommit

fix: remove unused Carbon imports and overrides
  src/__tests__/scss/__snapshots__/SCSS.spec.js.snap
  src/components/Breadcrumb/_index.scss
  src/components/OverflowMenu/_index.scss
  src/components/Tile/_index.scss
  src/globals/type/_index.scss
Due: yarn format:precommit, yarn lint:scss:precommit

refactor(deprecate): update copy, add missing URLs
  src/globals/deprecate/_index.scss
  src/globals/deprecate/index.js
  src/globals/layout/_index.scss
  src/globals/scss-exports/spacing.module.scss
  src/globals/theme/_index.scss
  src/globals/type/_index.scss
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

refactor(colors): move private theme colors into appropriate file
  src/globals/color/_index.scss
  src/globals/theme/_variables.scss
Due: yarn format:precommit, yarn lint:scss:precommit

chore: merge `dev` into `isolate-settings`
  docs/themes/themes.md
Due: yarn format:precommit

fix: remove unused Carbon imports and overrides (#984)
  src/__tests__/scss/__snapshots__/SCSS.spec.js.snap
  src/components/Breadcrumb/_index.scss
  src/components/OverflowMenu/_index.scss
  src/components/Tile/_index.scss
  src/globals/type/_index.scss
Due: yarn format:precommit, yarn lint:scss:precommit

chore(release): 1.42.0-prerelease.3 [skip ci]
  package.json
Due: none

Notes added by 'git notes add'
  10/da69b1cd942c17c03132be0450c46c98f8b0ff
Due: none

build(deprecate): add suppression mechanism
  src/globals/deprecate/_index.scss
  src/globals/grid/_index.scss
  src/globals/layout/_index.scss
  src/globals/scss-exports/spacing.module.scss
  src/globals/theme/_index.scss
  src/globals/theme/_mixins.scss
  src/globals/type/_index.scss
  src/index.scss
Due: yarn format:precommit, yarn lint:scss:precommit

chore: merge `fix-migration-urls` into `suppress-deprecation-warnings`
  src/globals/deprecate/_index.scss
  src/globals/deprecate/index.js
  src/globals/layout/_index.scss
  src/globals/scss-exports/spacing.module.scss
  src/globals/theme/_index.scss
  src/globals/type/_index.scss
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

build(deprecate): add suppression mechanism (#985)
  src/globals/deprecate/_index.scss
  src/globals/deprecate/index.js
  src/globals/grid/_index.scss
  src/globals/layout/_index.scss
  src/globals/scss-exports/spacing.module.scss
  src/globals/theme/_index.scss
  src/globals/theme/_mixins.scss
  src/globals/type/_index.scss
  src/index.scss
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

test(configuration): add timeout for `accessibility-checker`, simplify configuration
  .yarn/offline-mirror/cssfontparser-1.2.1.tgz
  .yarn/offline-mirror/jest-canvas-mock-2.1.2.tgz
  jest.config.js
  package.json
  yarn.lock
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

test(configuration): add timeout for `accessibility-checker`, simplify configuration (#986)
  .yarn/offline-mirror/cssfontparser-1.2.1.tgz
  .yarn/offline-mirror/jest-canvas-mock-2.1.2.tgz
  jest.config.js
  package.json
  yarn.lock
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

chore: merge `dev` into `deprecate-helpers`
  docs/migration/2.x/README.md
  src/platform/body/_index.scss
  src/platform/body/_mixins.scss
Due: yarn format:precommit, yarn lint:scss:precommit

chore: merge `dev` into `deprecate-helpers`
  docs/migration/2.x/README.md
Due: yarn format:precommit

docs(migration): add process instructions
  docs/migration/2.x/README.md
Due: yarn format:precommit

docs(deprecate): update import references to be more explicit
  src/globals/scss-exports/spacing.module.scss
  src/globals/theme/_index.scss
Due: yarn format:precommit, yarn lint:scss:precommit

docs(deprecate): update import references to be more explicit
  src/globals/scss-exports/spacing.module.scss
Due: yarn format:precommit, yarn lint:scss:precommit

removed comment
  src/components/ICA/__tests__/ICA.spec.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

build(css): add `next` build
  .gitignore
  .yarn/offline-mirror/clean-css-4.2.1.tgz
  .yarn/offline-mirror/clean-css-5.1.2.tgz
  .yarn/offline-mirror/clean-css-cli-4.3.0.tgz
  .yarn/offline-mirror/clean-css-cli-5.3.0.tgz
  .yarn/offline-mirror/commander-7.2.0.tgz
  package.json
  scripts/styles.js
  src/__tests__/scss/SCSS.spec.js
  src/__tests__/scss/__snapshots__/SCSS.spec.js.snap
  src/globals/build.scss
  yarn.lock
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

refactor(components): remove duplicate import
  src/components/_index.scss
Due: yarn format:precommit, yarn lint:scss:precommit

build(css): call `excludeExternals`
  scripts/styles.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

chore: merge `dev` into `spike/peer-dependencies`
  README.md
Due: yarn format:precommit

docs(README): fix copy, update npm guidance
  README.md
Due: yarn format:precommit

build(carbon): schedule Carbon upgrade
  .github/workflows/carbon.yml
Due: none

docs(README): add migration documentation
  docs/migration/2.x/README.md
Due: yarn format:precommit

build: automate Carbon upgrade
  .github/workflows/carbon.yml
Due: none
