Repository carbon-design-system/ibm-security: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

chore(release): 1.14.0 [skip ci]
  package.json
Due: none

fix(trending-card): update tests to use Link component
  src/components/TrendingCard/__tests__/TrendingCard.spec.js
  src/components/TrendingCard/__tests__/__snapshots__/TrendingCard.spec.js.snap
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

fix(trending-card): use Link component in test (#309)
  src/components/TrendingCard/__tests__/TrendingCard.spec.js
  src/components/TrendingCard/__tests__/__snapshots__/TrendingCard.spec.js.snap
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

chore(release): 1.14.0-prerelease.4 [skip ci]
  package.json
Due: none

feat(a11y): add DAP and Axe matchers to Jest, add TrendingCard a11y tests
  .gitignore
  .yarn/offline-mirror/axe-core-3.4.1.tgz
  .yarn/offline-mirror/del-4.1.1.tgz
  .yarn/offline-mirror/ibma-aat-2.0.3-alpha.tgz
  .yarn/offline-mirror/is-path-in-cwd-2.1.0.tgz
  .yarn/offline-mirror/is-path-inside-2.1.0.tgz
  .yarn/offline-mirror/ws-6.2.1.tgz
  aat/aat.js
  config/jest/matchers/toHaveNoAxeViolations.js
  config/jest/matchers/toHaveNoDAPViolations.js
  config/jest/setupAfterEnv.js
  package.json
  src/components/TrendingCard/__tests__/TrendingCard.spec.js
  yarn.lock
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

feat(shell): add header action
  src/components/SecurityShell/SecurityShell.js
  src/components/SecurityShell/SecurityShell.stories.js
  src/components/SecurityShell/index.js
  src/index.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

chore: move axe-core to dev dependencies
  package.json
Due: none

chore: update yarn offline mirrors
  .yarn/offline-mirror/chromedriver-77.0.0.tgz
  .yarn/offline-mirror/debug-4.1.0.tgz
  .yarn/offline-mirror/deep-diff-0.3.8.tgz
  .yarn/offline-mirror/extract-zip-1.6.7.tgz
  .yarn/offline-mirror/fd-slicer-1.0.1.tgz
  .yarn/offline-mirror/is-url-1.2.4.tgz
  .yarn/offline-mirror/is2-2.0.1.tgz
  .yarn/offline-mirror/pend-1.2.0.tgz
  .yarn/offline-mirror/proxy-from-env-1.0.0.tgz
  .yarn/offline-mirror/puppeteer-1.20.0.tgz
  .yarn/offline-mirror/tcp-port-used-1.0.1.tgz
  .yarn/offline-mirror/yauzl-2.4.1.tgz
Due: none

chore(release): 1.14.1-prerelease.1 [skip ci]
  package.json
Due: none

chore: format
  src/components/SecurityShell/SecurityShell.js
  src/components/SecurityShell/SecurityShell.stories.js
  src/components/SecurityShell/index.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

test(legacy-filter-panel): update snapshots
  src/components/FilterPanel/LEGACY_FilterPanel/FilterSearch/__tests__/__snapshots__/FilterSearch.spec.js.snap
  src/components/FilterPanel/LEGACY_FilterPanel/FilterSelector/__tests__/FilterSelector.spec.js
  src/components/FilterPanel/LEGACY_FilterPanel/FilterSelector/__tests__/__snapshots__/FilterSelector.spec.js.snap
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

docs(filter-panel): add missing file comments
  src/components/FilterPanel/FilterAccordion/FilterAccordion.js
  src/components/FilterPanel/FilterAccordion/_index.scss
  src/components/FilterPanel/FilterAccordion/index.js
  src/components/FilterPanel/FilterAccordionItem/FilterAccordiontItem.js
  src/components/FilterPanel/FilterAccordionItem/_index.scss
  src/components/FilterPanel/FilterAccordionItem/_mixins.scss
  src/components/FilterPanel/FilterAccordionItem/index.js
  src/components/FilterPanel/FilterCheckbox/FilterCheckbox.js
  src/components/FilterPanel/FilterGroup/FilterGroup.js
  src/components/FilterPanel/FilterGroup/_index.scss
  src/components/FilterPanel/FilterGroup/_mixins.scss
  src/components/FilterPanel/FilterGroup/index.js
  src/components/FilterPanel/FilterLabel/FilterLabel.js
  src/components/FilterPanel/FilterLabel/index.js
  src/components/FilterPanel/_index.scss
  src/components/FilterPanel/_mixins.scss
  src/components/FilterPanel/index.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

test(filter-panel): create new tests
  .yarn/offline-mirror/@testing-library-user-event-8.0.3.tgz
  package.json
  src/components/FilterPanel/FilterAccordion/FilterAccordion.js
  src/components/FilterPanel/FilterAccordion/__tests__/FilterAccordion.spec.js
  src/components/FilterPanel/FilterAccordionItem/FilterAccordiontItem.js
  src/components/FilterPanel/FilterAccordionItem/__tests__/FilterAccordionItem.spec.js
  src/components/FilterPanel/FilterCheckbox/FilterCheckbox.js
  src/components/FilterPanel/FilterCheckbox/__tests__/FilterCheckbox.spec.js
  src/components/FilterPanel/FilterCheckbox/_mixins.scss
  src/components/FilterPanel/FilterGroup/__tests__/FilterGroup.spec.js
  src/components/FilterPanel/FilterLabel/FilterLabel.js
  src/components/FilterPanel/FilterLabel/__tests__/FilterLabel.spec.js
  src/components/FilterPanel/FilterPanel.js
  src/components/FilterPanel/FilterSearch/FilterSearch.js
  src/components/FilterPanel/FilterSearch/__tests__/FilterSearch.spec.js
  src/components/FilterPanel/LEGACY_FilterPanel/FilterPanel.js
  src/components/FilterPanel/LEGACY_FilterPanel/__tests__/__snapshots__/FilterPanel.spec.js.snap
  src/components/FilterPanel/__tests__/FilterPanel.spec.js
  yarn.lock
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

test(filter-search): test on change interaction
  src/components/FilterPanel/FilterSearch/__tests__/FilterSearch.spec.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

fix(panel): use lib directory for carbon's prop and id utilities
  src/components/Panel/PanelContainer.js
  src/components/PanelV2/PanelV2.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

fix(panel): remove unnecessary panelarialabel prop
  src/components/Panel/PanelContainer.js
  src/components/PanelV2/PanelV2.js
  src/components/PanelV2/__tests__/__snapshots__/PanelV2.spec.js.snap
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

fix(filter-panel): default export
  src/components/FilterPanel/FilterAccordion/index.js
  src/components/FilterPanel/FilterAccordionItem/index.js
  src/components/FilterPanel/FilterCheckbox/index.js
  src/components/FilterPanel/FilterGroup/index.js
  src/components/FilterPanel/FilterLabel/index.js
  src/components/FilterPanel/FilterPanel.js
  src/components/FilterPanel/FilterPanel.stories.js
  src/components/FilterPanel/FilterSearch/index.js
  src/components/FilterPanel/index.js
  src/index.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

test(filter-panel): fix broken import
  src/components/FilterPanel/__tests__/FilterPanel.spec.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

feat(shell): add toolbar toggle logic
  src/components/SecurityShell/SecurityShell.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

refactor(filter-panel): remove extraneous data from component
  src/components/FilterPanel/FilterPanel.js
  src/components/FilterPanel/index.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

refactor(fiter-panel): address comments
  src/components/FilterPanel/FilterAccordion/FilterAccordion.js
  src/components/FilterPanel/FilterCheckbox/FilterCheckbox.js
  src/components/FilterPanel/FilterGroup/FilterGroup.js
  src/components/FilterPanel/FilterLabel/FilterLabel.js
  src/components/FilterPanel/FilterPanel.js
  src/components/FilterPanel/LEGACY_FilterPanel/FilterSelector/_mixins.scss
  src/components/FilterPanel/LEGACY_FilterPanel/FilterSubcategory/_mixins.scss
  src/components/FilterPanel/LEGACY_FilterPanel/__tests__/FilterPanel.spec.js
  src/components/FilterPanel/LEGACY_FilterPanel/_index.scss
  src/index.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

feat(filter-label: add count label prop for a11y and i18n
  src/components/FilterPanel/FilterAccordion/FilterAccordion.js
  src/components/FilterPanel/FilterAccordionItem/FilterAccordiontItem.js
  src/components/FilterPanel/FilterCheckbox/FilterCheckbox.js
  src/components/FilterPanel/FilterGroup/FilterGroup.js
  src/components/FilterPanel/FilterLabel/FilterLabel.js
  src/components/FilterPanel/FilterLabel/__tests__/FilterLabel.spec.js
  src/components/FilterPanel/FilterPanel.stories.js
  src/components/FilterPanel/FilterSearch/FilterSearch.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

test(filter-accordion): fix tests
  src/components/FilterPanel/FilterAccordion/FilterAccordion.js
  src/components/FilterPanel/LEGACY_FilterPanel/FilterSelector/__tests__/__snapshots__/FilterSelector.spec.js.snap
  src/index.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

docs(filter-accordion-item): add more info about spacing number
  src/components/FilterPanel/FilterAccordionItem/_mixins.scss
Due: yarn format:precommit, yarn lint:scss:precommit

chore: update tests configuration
  aat/aat.js
  config/jest/index.js
  config/jest/setupAfterEnv.js
  package.json
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

docs(storybook): add `Get Started`
  .storybook/GetStarted.stories.js
  .storybook/config.js
  README.md
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

fix(jest): update import syntax in matcher files
  config/jest/matchers/toHaveNoAxeViolations.js
  config/jest/matchers/toHaveNoDAPViolations.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

feat(a11y): add DAP and Axe matchers to Jest, add TrendingCard tests (#312)
  .gitignore
  .yarn/offline-mirror/axe-core-3.4.1.tgz
  .yarn/offline-mirror/chromedriver-77.0.0.tgz
  .yarn/offline-mirror/debug-4.1.0.tgz
  .yarn/offline-mirror/deep-diff-0.3.8.tgz
  .yarn/offline-mirror/del-4.1.1.tgz
  .yarn/offline-mirror/extract-zip-1.6.7.tgz
  .yarn/offline-mirror/fd-slicer-1.0.1.tgz
  .yarn/offline-mirror/ibma-aat-2.0.3-alpha.tgz
  .yarn/offline-mirror/is-path-in-cwd-2.1.0.tgz
  .yarn/offline-mirror/is-path-inside-2.1.0.tgz
  .yarn/offline-mirror/is-url-1.2.4.tgz
  .yarn/offline-mirror/is2-2.0.1.tgz
  .yarn/offline-mirror/pend-1.2.0.tgz
  .yarn/offline-mirror/proxy-from-env-1.0.0.tgz
  .yarn/offline-mirror/puppeteer-1.20.0.tgz
  .yarn/offline-mirror/tcp-port-used-1.0.1.tgz
  .yarn/offline-mirror/ws-6.2.1.tgz
  .yarn/offline-mirror/yauzl-2.4.1.tgz
  aat/aat.js
  config/jest/index.js
  config/jest/matchers/toHaveNoAxeViolations.js
  config/jest/matchers/toHaveNoDAPViolations.js
  package.json
  src/components/TrendingCard/__tests__/TrendingCard.spec.js
  yarn.lock
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

chore(release): 1.14.1-prerelease.2 [skip ci]
  package.json
Due: none

chore(release): 1.15.0 [skip ci]
  package.json
Due: none

feat(shell): add notifications template
  src/components/SecurityShell/SecurityShell.js
  src/components/SecurityShell/SecurityShell.stories.js
  src/components/SecurityShell/index.js
  src/index.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

Fix to keep header popover's width from extending full width of window when browser width is sufficiently small.
  src/components/Header/_mixins.scss
Due: yarn format:precommit, yarn lint:scss:precommit

Reduce 100% full width breakpoint while still maintaining mobile support
  src/components/Header/_mixins.scss
Due: yarn format:precommit, yarn lint:scss:precommit

feat(shell): add basic styles
  src/components/SecurityHeader/_mixins.scss
  src/components/SecurityShell/SecurityShell.js
  src/components/SecurityShell/SecurityShell.stories.js
  src/components/SecurityShell/_index.scss
  src/components/_index.scss
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

fix(header): prevent header popover's width from spanning browser window (#321)
  src/components/Header/_mixins.scss
Due: yarn format:precommit, yarn lint:scss:precommit

chore(release): 1.15.1-prerelease.1 [skip ci]
  package.json
Due: none

fix(filter-accordion-item): count and focus outline overlap
  src/components/FilterPanel/FilterAccordionItem/_mixins.scss
Due: yarn format:precommit, yarn lint:scss:precommit

docs(themes): revise notes about using sass to apply themes
  docs/themes/README.md
Due: yarn format:precommit

feat(panelv2): add updated tests
  .yarn/offline-mirror/@testing-library-user-event-8.0.3.tgz
  package.json
  src/components/PanelV2/__tests__/PanelV2.spec.js
  src/components/PanelV2/__tests__/__snapshots__/PanelV2.spec.js.snap
  yarn.lock
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

Path conditions:
  yarn format:precommit: any of: *.{js,md,scss}
  yarn lint:js:precommit: any of: *.js
  yarn test:precommit: any of: *.js
  yarn lint:scss:precommit: any of: *.scss
