Repository carbon-design-system/ibm-security: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

.lintstagedrc:

{
  '*.{js,md,scss}': ['yarn format:precommit', 'git add'],
  '*.js': ['yarn lint:js:precommit', 'git add', 'yarn test:precommit'],
  '*.scss': ['yarn lint:scss:precommit', 'git add'],
}

Notes added by 'git notes add'
  5fa786e7fc8aff1c06370b035ce58b436dbe244b
Due: none

fix(themes): create unique flag
  README.md
  docs/themes/README.md
  src/globals/feature-flags/_index.scss
Due: yarn format:precommit, yarn lint:scss:precommit

chore(release): update carbon to v10.11.0-rc.0
  .yarn/offline-mirror/@carbon-colors-10.8.0.tgz
  .yarn/offline-mirror/@carbon-colors-10.8.1.tgz
  .yarn/offline-mirror/@carbon-colors-10.9.0-rc.0.tgz
  .yarn/offline-mirror/@carbon-grid-10.10.0-rc.0.tgz
  .yarn/offline-mirror/@carbon-grid-10.9.0.tgz
  .yarn/offline-mirror/@carbon-icon-helpers-10.6.0.tgz
  .yarn/offline-mirror/@carbon-icon-helpers-10.7.0-rc.0.tgz
  .yarn/offline-mirror/@carbon-icons-react-10.10.0-rc.0.tgz
  .yarn/offline-mirror/@carbon-icons-react-10.9.0.tgz
  .yarn/offline-mirror/@carbon-icons-react-10.9.2.tgz
  .yarn/offline-mirror/@carbon-layout-10.8.0.tgz
  .yarn/offline-mirror/@carbon-layout-10.8.2.tgz
  .yarn/offline-mirror/@carbon-layout-10.9.0-rc.0.tgz
  .yarn/offline-mirror/@carbon-motion-10.6.0.tgz
  .yarn/offline-mirror/@carbon-motion-10.7.0-rc.0.tgz
  .yarn/offline-mirror/@carbon-themes-10.10.0.tgz
  .yarn/offline-mirror/@carbon-themes-10.11.0-rc.0.tgz
  .yarn/offline-mirror/@carbon-type-10.10.0-rc.0.tgz
  .yarn/offline-mirror/@carbon-type-10.9.0.tgz
  .yarn/offline-mirror/@carbon-type-10.9.2.tgz
  .yarn/offline-mirror/carbon-components-10.10.0.tgz
  .yarn/offline-mirror/carbon-components-10.11.0-rc.0.tgz
  .yarn/offline-mirror/carbon-components-react-7.10.0.tgz
  .yarn/offline-mirror/carbon-components-react-7.11.0-rc.0.tgz
  .yarn/offline-mirror/carbon-icons-7.0.7.tgz
  .yarn/offline-mirror/cssmin-0.4.3.tgz
  .yarn/offline-mirror/node-sass-4.13.1.tgz
  .yarn/offline-mirror/scss-to-json-2.0.0.tgz
  docs/themes/themes.md
  package.json
  yarn.lock
Due: yarn format:precommit

feat(exports): export all Carbon components to be superseded by Carbon for IBM Security (#445)
  src/components/__tests__/__snapshots__/publicAPI.spec.js.snap
  src/index.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

chore(release): 1.20.0-prerelease.2 [skip ci]
  package.json
Due: none

Notes added by 'git notes add'
  f8f68d9f8267e9f76a7034e1642a158a01324191
Due: none

feat(truncated-list): create component
  src/components/TruncatedList/TruncatedList.js
  src/components/TruncatedList/TruncatedList.stories.js
  src/components/TruncatedList/__tests__/TruncatedList.spec.js
  src/components/TruncatedList/_index.scss
  src/components/TruncatedList/_mocks_/index.js
  src/components/TruncatedList/index.js
  src/components/__tests__/__snapshots__/publicAPI.spec.js.snap
  src/components/_index.scss
  src/index.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

refactor(filter-panel-accordion-item): use truncated list
  src/components/FilterPanel/FilterPanelAccordionItem/FilterPanelAccordiontItem.js
  src/components/FilterPanel/FilterPanelAccordionItem/__tests__/FilterPanelAccordionItem.spec.js
  src/components/FilterPanel/FilterPanelAccordionItem/_mixins.scss
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

fix(nav): accommodate single child
  src/components/Nav/Nav.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

fix(nav): accommodate single child (#471)
  src/components/Nav/Nav.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

chore(release): 1.20.0-prerelease.3 [skip ci]
  package.json
Due: none

Notes added by 'git notes add'
  dcfcfc74a7d5c1c53c73a668f250021761174683
Due: none

test(scss): update script to include all potential imports
  .gitignore
  package.json
  scripts/debugScss.js
  scripts/scss/index.js
  src/globals/grid/css-gridish/scss/_core.scss
  src/globals/grid/css-gridish/scss/_functions.scss
  src/globals/grid/css-gridish/scss/_mixins.scss
  src/globals/grid/css-gridish/scss/_sass-list-maps.scss
  src/globals/grid/css-gridish/scss/_utilities.scss
  src/globals/grid/css-gridish/scss/_values.scss
  src/globals/grid/css-gridish/scss/_variables.scss
  src/globals/grid/css-gridish/scss/bx-grid-legacy.scss
  src/globals/grid/css-gridish/scss/bx-grid.scss
  yarn.lock
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

test(scss): update script to include all potential imports
  package.json
  scripts/scss/index.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

test(scss): update script to include all potential imports
  scripts/scss/index.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

chore(glob): add offline dependency
  .yarn/offline-mirror/glob-7.1.6.tgz
  package.json
Due: none

docs(theme): add comment for theme generation
  src/globals/theme/_index.scss
Due: yarn format:precommit, yarn lint:scss:precommit

chore(release): 1.20.0 [skip ci]
  package.json
Due: none

Notes added by 'git notes add'
  f304f187b1fa061fafee7b5ad450bf0447244850
Due: none

fix(reset): ensure reset is not compiled in output CSS (#465)
  src/globals/_index.scss
Due: yarn format:precommit, yarn lint:scss:precommit

chore(release): 1.20.1-prerelease.1 [skip ci]
  package.json
Due: none

Notes added by 'git notes add'
  f66183c2fbab73bae0c5a7ea1bd6c3ca2fd8feb8
Due: none

Allow link to open in new tab on error page
  src/components/ErrorPage/ErrorPage.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

chore: initial commit
  src/globals/theme/_functions.scss
  src/globals/theme/_index.scss
  src/globals/theme/_mixins.scss
Due: yarn format:precommit, yarn lint:scss:precommit

Update src/components/ErrorPage/ErrorPage.js
  src/components/ErrorPage/ErrorPage.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

docs(themes): update feature flag documentation
  README.md
  docs/themes/README.md
  src/globals/feature-flags/_index.scss
Due: yarn format:precommit, yarn lint:scss:precommit

docs(themes): update feature flag documentation
  src/globals/feature-flags/_index.scss
Due: yarn format:precommit, yarn lint:scss:precommit

fix(tokens): create theming blacklist
  src/globals/theme/_functions.scss
  src/globals/theme/_index.scss
  src/globals/theme/_mixins.scss
  src/globals/theme/_variables.scss
Due: yarn format:precommit, yarn lint:scss:precommit

fix(nav-item): remove active state for external links
  src/components/Nav/NavItem/NavItem.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

fix(themes): add blacklist for CSS custom property generation
  src/globals/_index.scss
  src/globals/theme/_index.scss
Due: yarn format:precommit, yarn lint:scss:precommit

test(css): add CSS snapshot, bundle size snapshot
  .gitignore
Due: none

test(css): add CSS snapshot, bundle size snapshot
  .gitignore
  src/__tests__/css/__snapshots__/index.js.snap
  src/__tests__/css/index.js
  src/globals/grid/css-gridish/scss/_core.scss
  src/globals/grid/css-gridish/scss/_functions.scss
  src/globals/grid/css-gridish/scss/_mixins.scss
  src/globals/grid/css-gridish/scss/_sass-list-maps.scss
  src/globals/grid/css-gridish/scss/_utilities.scss
  src/globals/grid/css-gridish/scss/_values.scss
  src/globals/grid/css-gridish/scss/_variables.scss
  src/globals/grid/css-gridish/scss/bx-grid-legacy.scss
  src/globals/grid/css-gridish/scss/bx-grid.scss
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

test(css): add CSS snapshot, bundle size snapshot
  .gitignore
  src/__tests__/css/CSS.spec.js
  src/__tests__/css/__snapshots__/CSS.spec.js.snap
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

test(css): add CSS snapshot, bundle size snapshot
  src/__tests__/css/CSS.spec.js
  src/__tests__/css/__snapshots__/CSS.spec.js.snap
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

test(css): add CSS snapshot, bundle size snapshot
  src/__tests__/css/CSS.spec.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

test(css): add CSS snapshot, bundle size snapshot
  src/__tests__/css/__snapshots__/CSS.spec.js.snap
Due: none

fix(truncated-list): toggle button styles
  src/components/TruncatedList/TruncatedList.js
  src/components/TruncatedList/TruncatedList.stories.js
  src/components/TruncatedList/__tests__/TruncatedList.spec.js
  src/components/TruncatedList/_index.scss
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

fix(filter-panel-accordion): list style
  src/components/FilterPanel/FilterPanelAccordionItem/FilterPanelAccordiontItem.js
  src/components/FilterPanel/FilterPanelAccordionItem/_mixins.scss
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

fix(truncated-list): spacing
  src/components/TruncatedList/TruncatedList.stories.js
  src/components/TruncatedList/_index.scss
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit
