Repository carbon-design-system/ibm-security: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

fix(details-page-layout): update proptypes
  src/components/LayoutTemplates/DetailsPage1/DetailsPage1.js
  src/components/LayoutTemplates/DetailsPage1/_mixins.scss
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

chore: fix carbon colors yarn offline file
  .yarn/offline-mirror/@carbon-colors-10.8.0.tgz
Due: none

fix(skip-link): remove 0 height rule from link wrapper
  src/components/Shell/_mixins.scss
Due: yarn format:precommit, yarn lint:scss:precommit

feat(details-page): add unstable flag to component names, update public api snapshot
  src/components/LayoutTemplates/DetailsPage1/DetailsPage1.stories.js
  src/components/LayoutTemplates/DetailsPage1/index.js
  src/components/LayoutTemplates/UNSTABLE__DetailsPage1/UNSTABLE__DetailsPage1.js
  src/components/LayoutTemplates/UNSTABLE__DetailsPage1/UNSTABLE__DetailsPage1.stories.js
  src/components/LayoutTemplates/UNSTABLE__DetailsPage1/_index.scss
  src/components/LayoutTemplates/UNSTABLE__DetailsPage1/_mixins.scss
  src/components/LayoutTemplates/UNSTABLE__DetailsPage1/index.js
  src/components/__tests__/__snapshots__/publicAPI.spec.js.snap
  src/index.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

feat(details-page): move subcomponents to separate files
  src/components/LayoutTemplates/UNSTABLE__DetailsPage1/UNSTABLE__DetailsPage1.js
  src/components/LayoutTemplates/UNSTABLE__DetailsPage1/UNSTABLE__DetailsPage1Aside.js
  src/components/LayoutTemplates/UNSTABLE__DetailsPage1/UNSTABLE__DetailsPage1Main.js
  src/components/LayoutTemplates/UNSTABLE__DetailsPage1/UNSTABLE__DetailsPage1Section.js
  src/components/LayoutTemplates/UNSTABLE__DetailsPage1/UNSTABLE__DetailsPage1SectionDefinition.js
  src/components/LayoutTemplates/UNSTABLE__DetailsPage1/UNSTABLE__DetailsPage1SectionTerm.js
  src/components/LayoutTemplates/UNSTABLE__DetailsPage1/index.js
  src/components/__tests__/__snapshots__/publicAPI.spec.js.snap
  src/index.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

fix(styles): update details page layout styles import path
  src/components/_index.scss
Due: yarn format:precommit, yarn lint:scss:precommit

fix(skip-to-content): move margin and `z-index`
  src/components/ScrollGradient/ScrollGradient.stories.js
  src/components/Shell/_mixins.scss
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

chore: format `dev`
  src/components/ScrollGradient/ScrollGradient.stories.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

fix(step-indicator): update tests, remove old snapshots (#390)
  src/components/StepIndicator/StepIndicator.js
  src/components/StepIndicator/__tests__/Step.spec.js
  src/components/StepIndicator/__tests__/StepIndicator.spec.js
  src/components/StepIndicator/__tests__/__snapshots__/StepIndicator.spec.js.snap
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

chore(release): 1.19.0-prerelease.6 [skip ci]
  package.json
Due: none

Notes added by 'git notes add'
  d030baeacc3cd64959c9b178932d7310d9ad2d6e
Due: none

docs(contributing): update directions for forking the repo (#443)
  .github/CONTRIBUTING.md
Due: yarn format:precommit

feat(decorator): deprecate inert prop, make inert by default, update stories
  src/components/DataDecorator/Decorator/Decorator.js
  src/components/DataDecorator/Decorator/Decorator.stories.js
  src/components/DataDecorator/_mixins.scss
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

docs(themes): commit autogenerated theme doc updates
  docs/themes/themes.md
Due: yarn format:precommit

Update src/components/DataDecorator/Decorator/Decorator.js
  src/components/DataDecorator/Decorator/Decorator.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

fix(decorator): inert styles by default, add interactive class, update active focus outline
  src/components/DataDecorator/Decorator/Decorator.js
  src/components/DataDecorator/_mixins.scss
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

fix(decorator): update tests to reflect inert prop deprecation
  src/components/DataDecorator/Decorator/__tests__/Decorator.spec.js
  src/components/Pill/Pill.js
  src/components/__tests__/__snapshots__/publicAPI.spec.js.snap
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

fix(skip-to-content): use carbon component and minimize styles
  src/components/Shell/Shell.js
  src/components/Shell/_mixins.scss
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

fix(skip-to-content): restore top margin
  src/components/Shell/_mixins.scss
Due: yarn format:precommit, yarn lint:scss:precommit

feat(card-layout): add example card layouts
  src/components/LayoutTemplates/UNSTABLE__CardLayout/UNSTABLE__CardLayout.js
  src/components/LayoutTemplates/UNSTABLE__CardLayout/UNSTABLE__CardLayout.stories.js
  src/components/LayoutTemplates/UNSTABLE__CardLayout/UNSTABLE__CardLayoutAside.js
  src/components/LayoutTemplates/UNSTABLE__CardLayout/UNSTABLE__CardLayoutColumn.js
  src/components/LayoutTemplates/UNSTABLE__CardLayout/UNSTABLE__CardLayoutMain.js
  src/components/LayoutTemplates/UNSTABLE__CardLayout/UNSTABLE__CardLayoutRow.js
  src/components/LayoutTemplates/UNSTABLE__CardLayout/_index.scss
  src/components/LayoutTemplates/UNSTABLE__CardLayout/_mixins.scss
  src/components/LayoutTemplates/UNSTABLE__CardLayout/index.js
  src/components/LayoutTemplates/index.js
  src/components/_index.scss
  src/index.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

fix(card-layout): use switch, update api snapshot
  src/components/LayoutTemplates/UNSTABLE__CardLayout/UNSTABLE__CardLayoutColumn.js
  src/components/__tests__/__snapshots__/publicAPI.spec.js.snap
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

chore(release): 1.19.1-prerelease.1 [skip ci]
  package.json
Due: none

Notes added by 'git notes add'
  39e8e42d6e804ee9a69ea8c0140f61748bd22f4d
Due: none

chore(release): 1.19.1 [skip ci]
  package.json
Due: none

Notes added by 'git notes add'
  acf83ab33d35172c7ca0b0a2d6164121675d6ec5
Due: none

fix(details-page): reformat export statements
  docs/themes/themes.md
  src/components/LayoutTemplates/UNSTABLE__DetailsPage1/index.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

docs(details-page): add proptypes documentation
  docs/themes/themes.md
  src/components/LayoutTemplates/UNSTABLE__DetailsPage1/UNSTABLE__DetailsPage1.js
  src/components/LayoutTemplates/UNSTABLE__DetailsPage1/UNSTABLE__DetailsPage1Aside.js
  src/components/LayoutTemplates/UNSTABLE__DetailsPage1/UNSTABLE__DetailsPage1Main.js
  src/components/LayoutTemplates/UNSTABLE__DetailsPage1/UNSTABLE__DetailsPage1Section.js
  src/components/LayoutTemplates/UNSTABLE__DetailsPage1/UNSTABLE__DetailsPage1SectionDefinition.js
  src/components/LayoutTemplates/UNSTABLE__DetailsPage1/UNSTABLE__DetailsPage1SectionTerm.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

fix(details-page): update main export and api snapshot
  src/components/__tests__/__snapshots__/publicAPI.spec.js.snap
  src/index.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

fix(skip-to-content): fix focus and left position
  src/components/Shell/_mixins.scss
Due: yarn format:precommit, yarn lint:scss:precommit

fix(skip-to-content): change text color to white
  src/components/Shell/_mixins.scss
Due: yarn format:precommit, yarn lint:scss:precommit

fix(theme): add CSS custom property flag
  README.md
  docs/themes/README.md
  src/globals/feature-flags/_index.scss
  src/globals/theme/_index.scss
  src/globals/theme/_mixins.scss
Due: yarn format:precommit, yarn lint:scss:precommit

fix(reset): ensure reset is not compiled in output CSS
  src/globals/_index.scss
Due: yarn format:precommit, yarn lint:scss:precommit

docs(theme): update copyright information
  src/globals/feature-flags/_index.scss
  src/globals/theme/_index.scss
  src/globals/theme/_mixins.scss
Due: yarn format:precommit, yarn lint:scss:precommit

fix(skip-to-content): use Carbon's SkipToContent component, update focus styles (#398)
  src/components/Shell/Shell.js
  src/components/Shell/_mixins.scss
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

chore(release): 1.19.2-prerelease.1 [skip ci]
  package.json
Due: none

Notes added by 'git notes add'
  97db7bc5a7e306922d5745e874448c3f391286ae
Due: none

docs(decorator): capitalize word in demo
  src/components/DataDecorator/Decorator/Decorator.stories.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

feat(decorator): deprecate inert prop and fix color contrast (#441)
  src/components/DataDecorator/Decorator/Decorator.js
  src/components/DataDecorator/Decorator/Decorator.stories.js
  src/components/DataDecorator/Decorator/__tests__/Decorator.spec.js
  src/components/DataDecorator/_mixins.scss
  src/components/Pill/Pill.js
  src/components/__tests__/__snapshots__/publicAPI.spec.js.snap
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

chore(release): 1.20.0-prerelease.1 [skip ci]
  package.json
Due: none

Path conditions:
  yarn format:precommit: any of: *.{js,md,scss}
  yarn lint:js:precommit: any of: *.js
  yarn test:precommit: any of: *.js
  yarn lint:scss:precommit: any of: *.scss
