Repository carbon-design-system/ibm-security: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

.lintstagedrc:

{
  '*.{js,md,scss}': ['yarn format:precommit', 'git add'],
  '*.js': ['yarn lint:js:precommit', 'git add', 'yarn test:precommit'],
  '*.scss': ['yarn lint:scss:precommit', 'git add'],
}

Notes added by 'git notes add'
  e6c3be73dce53fde29959516bd14a5423030a7de
Due: none

fix(data-table): prevent overflow cell `z-index` from leaking
  src/components/DataTable/_index.scss
Due: yarn format:precommit, yarn lint:scss:precommit

chore: add prop to toggle scroll gradient
  src/components/Tearsheet/Tearsheet.js
  src/components/Tearsheet/_mixins.scss
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

test: wip
  src/components/FilterPanel/FilterPanelCheckboxWithOverflowMenu/FilterPanel.stories.js
  src/components/FilterPanel/FilterPanelCheckboxWithOverflowMenu/FilterPanelCheckboxWithOverflowMenu.js
  src/components/FilterPanel/FilterPanelCheckboxWithOverflowMenu/__tests__/FilterPanelCheckboxWithOverflowMenu.spec.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

fix(loading-message): display message with overlay
  src/components/Loading/Loading.stories.js
  src/components/Loading/LoadingMessage/LoadingMessage.js
  src/components/Loading/LoadingMessage/_index.scss
  src/components/Loading/_index.scss
  src/components/__tests__/__snapshots__/publicAPI.spec.js.snap
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

test(scss): add import tests
  scripts/scss/compile/index.js
  scripts/scss/index.js
  src/__tests__/css/CSS.spec.js
  src/__tests__/scss/SCSS.spec.js
  src/__tests__/scss/__snapshots__/SCSS.spec.js.snap
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

test(scss): update snapshot test to match CI
  src/__tests__/scss/SCSS.spec.js
  src/__tests__/scss/__snapshots__/SCSS.spec.js.snap
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

test(scss): update snapshot test to match CI
  src/__tests__/scss/SCSS.spec.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

fix(theme): move ignore list to variables for use across partials
  src/globals/theme/_index.scss
  src/globals/theme/_variables.scss
Due: yarn format:precommit, yarn lint:scss:precommit

docs(button): update `loading` prop description
  src/components/Button/Button.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

feat(button): permit disable toggle for `loading` (#495)
  src/components/Button/Button.js
  src/components/Button/__tests__/Button.spec.js
  src/components/Button/_mixins.scss
  src/components/SummaryCard/SummaryCardAction/SummaryCardAction.js
  src/components/__tests__/__snapshots__/publicAPI.spec.js.snap
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

chore(release): 1.22.0-prerelease.1 [skip ci]
  package.json
Due: none

Notes added by 'git notes add'
  65305ee850630eb77a5c9de8ae1433f9dc71c10e
Due: none

fix(theme): move ignore list to variables for use across partials (#502)
  src/globals/theme/_index.scss
  src/globals/theme/_variables.scss
Due: yarn format:precommit, yarn lint:scss:precommit

chore(release): 1.22.0-prerelease.2 [skip ci]
  package.json
Due: none

Notes added by 'git notes add'
  8df9dfe6a4c4c7441b2082f3aa1d7efd35555b99
Due: none

build(webpack): add `es` configuration
  scripts/webpack/index.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

fix(transition): migrate internals
  .yarn/offline-mirror/@babel-runtime-7.9.2.tgz
  .yarn/offline-mirror/chain-function-1.0.1.tgz
  .yarn/offline-mirror/csstype-2.6.10.tgz
  .yarn/offline-mirror/dom-helpers-5.1.4.tgz
  .yarn/offline-mirror/react-addons-css-transition-group-15.6.2.tgz
  .yarn/offline-mirror/react-transition-group-1.2.1.tgz
  .yarn/offline-mirror/react-transition-group-4.3.0.tgz
  .yarn/offline-mirror/regenerator-runtime-0.13.5.tgz
  package.json
  src/components/Header/HeaderNotification/_mixins.scss
  src/components/Header/_mixins.scss
  src/components/PanelV2/_mixins.scss
  src/components/SummaryCard/_mixins.scss
  src/components/TagWallFilter/__tests__/__snapshots__/TagWallFilter.spec.js.snap
  src/components/Tearsheet/_mixins.scss
  src/components/Toolbar/_mixins.scss
  src/components/Transition/Transition.js
  src/components/Transition/__tests__/__snapshots__/Transition.spec.js.snap
  src/globals/motion/_index.scss
  yarn.lock
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

fix(transition): migrate internals
  src/components/Header/HeaderNotification/_mixins.scss
  src/components/Header/_mixins.scss
  src/components/PanelV2/_mixins.scss
  src/components/SummaryCard/_mixins.scss
  src/components/TagWallFilter/__tests__/__snapshots__/TagWallFilter.spec.js.snap
  src/components/Tearsheet/_mixins.scss
  src/components/Toolbar/_mixins.scss
  src/components/Transition/Transition.js
  src/components/Transition/__tests__/__snapshots__/Transition.spec.js.snap
  src/globals/motion/_index.scss
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

fix(modular-layouts): clean up styles and add mixins, functions
  src/components/Layouts/Layouts.stories.js
  src/components/Layouts/_index.scss
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

feat(google-analytics): add property
  .storybook/addons.js
  .yarn/offline-mirror/@emotion-cache-10.0.29.tgz
  .yarn/offline-mirror/@emotion-core-10.0.28.tgz
  .yarn/offline-mirror/@emotion-css-10.0.27.tgz
  .yarn/offline-mirror/@emotion-hash-0.8.0.tgz
  .yarn/offline-mirror/@emotion-is-prop-valid-0.8.8.tgz
  .yarn/offline-mirror/@emotion-memoize-0.7.4.tgz
  .yarn/offline-mirror/@emotion-serialize-0.11.16.tgz
  .yarn/offline-mirror/@emotion-sheet-0.9.4.tgz
  .yarn/offline-mirror/@emotion-styled-10.0.27.tgz
  .yarn/offline-mirror/@emotion-styled-base-10.0.31.tgz
  .yarn/offline-mirror/@emotion-stylis-0.8.5.tgz
  .yarn/offline-mirror/@emotion-unitless-0.7.5.tgz
  .yarn/offline-mirror/@emotion-utils-0.11.3.tgz
  .yarn/offline-mirror/@emotion-weak-memoize-0.2.5.tgz
  .yarn/offline-mirror/@storybook-addon-google-analytics-5.3.18.tgz
  .yarn/offline-mirror/@storybook-addons-5.3.18.tgz
  .yarn/offline-mirror/@storybook-api-5.3.18.tgz
  .yarn/offline-mirror/@storybook-channels-5.3.18.tgz
  .yarn/offline-mirror/@storybook-client-logger-5.3.18.tgz
  .yarn/offline-mirror/@storybook-core-events-5.3.18.tgz
  .yarn/offline-mirror/@storybook-csf-0.0.1.tgz
  .yarn/offline-mirror/@storybook-router-5.3.18.tgz
  .yarn/offline-mirror/@storybook-theming-5.3.18.tgz
  .yarn/offline-mirror/babel-plugin-emotion-10.0.33.tgz
  .yarn/offline-mirror/emotion-theming-10.0.27.tgz
  .yarn/offline-mirror/has-symbols-1.0.1.tgz
  .yarn/offline-mirror/is-symbol-1.0.3.tgz
  .yarn/offline-mirror/react-ga-2.7.0.tgz
  .yarn/offline-mirror/telejson-3.3.0.tgz
  .yarn/offline-mirror/ts-dedent-1.1.1.tgz
  package.json
  yarn.lock
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

fix(breadcrumb): reset containing `ol` browser defaults
  src/components/Breadcrumb/_index.scss
Due: yarn format:precommit, yarn lint:scss:precommit

fix(breadcrumb): reset containing `ol` browser defaults (#505)
  src/components/Breadcrumb/_index.scss
Due: yarn format:precommit, yarn lint:scss:precommit

chore(release): 1.22.0-prerelease.3 [skip ci]
  package.json
Due: none

Notes added by 'git notes add'
  b3f7f7f61c1a45f7ac4a4cdacaa8d4a2a4490998
Due: none

test(summary-card-footer): add children to test renders
  src/components/SummaryCard/SummaryCardFooter/__tests__/SummaryCardFooter.spec.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

test(summary-card-body): add children to test renders
  src/components/SummaryCard/SummaryCardBody/__tests__/SummaryCardBody.spec.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

test(time-indicator): add children to test render
  src/components/TimeIndicator/__tests__/TimeIndicator.spec.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

test(stacked-notification): add missing status icon description prop to tests
  src/components/StackedNotification/__tests__/StackedNotification.spec.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

fix(stacked-notification): include StatusIconDescription prop and improve proptype info
  src/components/StackedNotification/StackedNotification.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

fix(stacked-notification): update iconDescription prop
  src/components/StackedNotification/StackedNotification.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

test(summary-card): add missing children prop to test render
  src/components/SummaryCard/__tests__/SummaryCard.spec.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

chore: update public api snapshot to reflect proptype changes
  src/components/__tests__/__snapshots__/publicAPI.spec.js.snap
Due: none

test(filter-panel): prevent extra attrs from generating warnings in tests
  src/components/FilterPanel/__tests__/FilterPanel.spec.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

test(filter-panel): prevent extra attrs from generating warnings in tests (#510)
  src/components/FilterPanel/__tests__/FilterPanel.spec.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

fix(tagwall): use carbon tag with filter, update un-selected styles
  src/components/TagWall/TagWall.js
  src/components/TagWall/_mixins.scss
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

fix(tagwall): accommodate text truncation in list of options
  src/components/TagWallFilter/Filter/Filter.js
  src/components/Tearsheet/TearsheetSmall/_mixins.scss
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

fix(tagwall): update tag color overrides
  src/components/TagWall/_mixins.scss
Due: yarn format:precommit, yarn lint:scss:precommit

fix(tagwall): accommodate truncation in tags and list items
  src/components/TagWall/TagWall.js
  src/components/TagWall/_mixins.scss
  src/components/TagWallFilter/Filter/Filter.js
  src/components/TagWallFilter/TagWallFilter.stories.js
  src/components/Tearsheet/TearsheetSmall/_mixins.scss
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit
