Repository carbon-design-system/ibm-security: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn precommit:format, yarn precommit:lint:js, yarn precommit:lint:scss

.lintstagedrc:

{
  '*.{js, json, html, md, mdx, scss}': ['yarn precommit:format', 'git add'],
  '*.js': ['yarn precommit:lint:js', 'git add'],
  '*.scss': ['yarn precommit:lint:scss', 'git add'],
}

Notes added by 'git notes add'
  fa/860dbc5a61a34fc459d1e63f37c3a35d32702f
Due: none

revert to previous spacing
  src/__tests__/scss/__snapshots__/styles-test.js.snap
  src/components/LayoutModules/TitleBarModule/_index.scss
  src/components/__tests__/__snapshots__/public-api-test.js.snap
Due: yarn precommit:lint:scss

fix(navitem): Remove blue lines in safari
  src/components/Nav/_mixins.scss
Due: yarn precommit:lint:scss

fix(storybook): update addon-storysource for renamed LayoutModules
  .storybook/main.js
Due: yarn precommit:format, yarn precommit:lint:js

feature(ICA): Make label and value node prop types
  src/__tests__/scss/__snapshots__/styles-test.js.snap
  src/components/ICA/ICA.js
  src/components/__tests__/__snapshots__/public-api-test.js.snap
Due: yarn precommit:format, yarn precommit:lint:js

feat(focus-trap-react): upgrade package and fix dependency
  .yarn/offline-mirror/focus-trap-6.6.1.tgz
  .yarn/offline-mirror/focus-trap-6.7.1.tgz
  .yarn/offline-mirror/focus-trap-react-8.7.1.tgz
  .yarn/offline-mirror/focus-trap-react-8.8.1.tgz
  package.json
  src/components/Portal/Portal.js
  src/components/Tearsheet/TearsheetSmall/__tests__/__snapshots__/TearsheetSmall-test.js.snap
  src/components/__tests__/__snapshots__/public-api-test.js.snap
  yarn.lock
Due: yarn precommit:format, yarn precommit:lint:js

fix(storybook): reduce regex for files affected by storysource
  .storybook/main.js
Due: yarn precommit:format, yarn precommit:lint:js

feat(focus-trap-react): upgrade package and fix dependency (#1111)
  .yarn/offline-mirror/focus-trap-6.6.1.tgz
  .yarn/offline-mirror/focus-trap-6.7.1.tgz
  .yarn/offline-mirror/focus-trap-react-8.7.1.tgz
  .yarn/offline-mirror/focus-trap-react-8.8.1.tgz
  package.json
  src/components/Portal/Portal.js
  src/components/Tearsheet/TearsheetSmall/__tests__/__snapshots__/TearsheetSmall-test.js.snap
  src/components/__tests__/__snapshots__/public-api-test.js.snap
  yarn.lock
Due: yarn precommit:format, yarn precommit:lint:js

chore(release): 1.45.0-prerelease.9 [skip ci]
  package.json
Due: none

Notes added by 'git notes add'
  d3/c3d6c1dd1989d4a236bc4cee823a189b0e189e
Due: none

fix(storybook): Update addon-storysource for renamed Layout Modules (#1108)
  .storybook/main.js
Due: yarn precommit:format, yarn precommit:lint:js

chore(release): 1.45.0-prerelease.10 [skip ci]
  package.json
Due: none

Notes added by 'git notes add'
  3b/78128f23a0c9163af6c8dca4f802f458a4f486
Due: none

feature(ICA): Add information icon to label, and edit icon with tooltip to value
  src/components/ICA/ICA-story.js
  src/components/ICA/ICA.js
  src/components/ICA/_index.scss
  src/components/ICA/_mocks_/index.js
Due: yarn precommit:format, yarn precommit:lint:js, yarn precommit:lint:scss

feature(ICA): Add information icon to label, and edit icon with tooltip to value
  src/__tests__/scss/__snapshots__/styles-test.js.snap
  src/components/ICA/ICA-story.js
  src/components/ICA/ICA.js
  src/components/ICA/_mocks_/index.js
  src/components/__tests__/__snapshots__/public-api-test.js.snap
Due: yarn precommit:format, yarn precommit:lint:js

feature(ICA): Add information icon to label, and edit icon with tooltip to value
  src/components/ICA/ICA.js
  src/components/__tests__/__snapshots__/public-api-test.js.snap
Due: yarn precommit:format, yarn precommit:lint:js

fix(Shell): Remove blue lines in safari
  src/__tests__/scss/__snapshots__/styles-test.js.snap
  src/components/__tests__/__snapshots__/public-api-test.js.snap
Due: none

feature(ICA): Add information icon to label, and edit icon with tooltip to value
  src/__tests__/scss/__snapshots__/styles-test.js.snap
  src/components/__tests__/__snapshots__/public-api-test.js.snap
Due: none

fix(navitem): Remove blue lines in safari (#1106)
  src/__tests__/scss/__snapshots__/styles-test.js.snap
  src/components/Nav/_mixins.scss
Due: yarn precommit:lint:scss

chore(release): 1.45.0-prerelease.11 [skip ci]
  package.json
Due: none

Notes added by 'git notes add'
  13/343c56cb74a67368297e16f89d3a81bff518f9
Due: none

feature(ICA): Add information icon to label, and edit icon with tooltip to value
  src/components/ICA/ICA-story.js
  src/components/ICA/ICA.js
Due: yarn precommit:format, yarn precommit:lint:js

feature(ICA): Add information icon to label, and edit icon with tooltip to value
  src/components/ICA/ICA.js
Due: yarn precommit:format, yarn precommit:lint:js

feature(ICA): Add optional information and iconButton prop (#1110)
  src/__tests__/scss/__snapshots__/styles-test.js.snap
  src/components/ICA/ICA-story.js
  src/components/ICA/ICA.js
  src/components/ICA/_index.scss
  src/components/__tests__/__snapshots__/public-api-test.js.snap
Due: yarn precommit:format, yarn precommit:lint:js, yarn precommit:lint:scss

docs: use `getDocsId` for `LinkTo instances`
  src/components/LayoutModules/ActionBarModule/index.mdx
  src/components/LayoutModules/CardAreaModule/index.mdx
  src/components/LayoutModules/DescriptionListModule/index.mdx
  src/components/LayoutModules/DescriptionModule/index.mdx
  src/components/LayoutModules/ICAModule/index.mdx
  src/components/LayoutModules/TitleBarModule/index.mdx
  src/components/LayoutModules/docs/examples/Detail/index.mdx
  src/components/LayoutModules/docs/examples/Overview/index.mdx
  src/components/LayoutModules/stories/Library.stories.mdx
Due: none

docs(library): add Storybook layout modules library compatibility
  .storybook/index.js
  src/components/LayoutModules/stories/Library.stories.mdx
  src/components/LayoutModules/stories/index.js
Due: yarn precommit:format, yarn precommit:lint:js

Revert "feature(ICA): Add optional information and iconButton prop (#1110)"
  src/__tests__/scss/__snapshots__/styles-test.js.snap
  src/components/ICA/ICA-story.js
  src/components/ICA/ICA.js
  src/components/ICA/_index.scss
  src/components/__tests__/__snapshots__/public-api-test.js.snap
Due: yarn precommit:format, yarn precommit:lint:js, yarn precommit:lint:scss

Revert "feature(ICA): Add optional information and iconButton prop (#1110)" (#1115)
  src/__tests__/scss/__snapshots__/styles-test.js.snap
  src/components/ICA/ICA-story.js
  src/components/ICA/ICA.js
  src/components/ICA/_index.scss
  src/components/__tests__/__snapshots__/public-api-test.js.snap
Due: yarn precommit:format, yarn precommit:lint:js, yarn precommit:lint:scss

Revert "Revert "feature(ICA): Add optional information and iconButton prop (#1110)" (#1115)"
  src/__tests__/scss/__snapshots__/styles-test.js.snap
  src/components/ICA/ICA-story.js
  src/components/ICA/ICA.js
  src/components/ICA/_index.scss
  src/components/__tests__/__snapshots__/public-api-test.js.snap
Due: yarn precommit:format, yarn precommit:lint:js, yarn precommit:lint:scss

chore(release): 1.45.0-prerelease.12 [skip ci]
  package.json
Due: none

Notes added by 'git notes add'
  ba/c2cb55abfc5ce63ccc4c65be357733c6ca00b5
Due: none

Revert "Revert "feature(ICA): Add optional information and iconButton prop (#1110)" (#1115)" (#1116)
  src/__tests__/scss/__snapshots__/styles-test.js.snap
  src/components/ICA/ICA-story.js
  src/components/ICA/ICA.js
  src/components/ICA/_index.scss
  src/components/__tests__/__snapshots__/public-api-test.js.snap
Due: yarn precommit:format, yarn precommit:lint:js, yarn precommit:lint:scss

chore(release): 1.45.0-prerelease.13 [skip ci]
  package.json
Due: none

Notes added by 'git notes add'
  a8/268b3e2c9a73b4fc28554da9424c0b48a8017f
Due: none

docs(library): add Storybook layout modules library compatibility (#1114)
  .storybook/index.js
  src/components/LayoutModules/stories/Library.stories.mdx
  src/components/LayoutModules/stories/index.js
Due: yarn precommit:format, yarn precommit:lint:js

docs: use `getDocsId` for `LinkTo instances` (#1113)
  src/components/LayoutModules/ActionBarModule/index.mdx
  src/components/LayoutModules/CardAreaModule/index.mdx
  src/components/LayoutModules/DescriptionListModule/index.mdx
  src/components/LayoutModules/DescriptionModule/index.mdx
  src/components/LayoutModules/ICAModule/index.mdx
  src/components/LayoutModules/TitleBarModule/index.mdx
  src/components/LayoutModules/docs/examples/Detail/index.mdx
  src/components/LayoutModules/docs/examples/Overview/index.mdx
  src/components/LayoutModules/stories/Library.stories.mdx
Due: none

chore(release): 1.46.0 [skip ci]
  package.json
Due: none
