Repository carbon-design-system/ibm-security: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

refactor(type-layout): update type style
  src/__tests__/scss/__snapshots__/SCSS.spec.js.snap
  src/components/TypeLayout/_index.scss
Due: yarn format:precommit, yarn lint:scss:precommit

feat(ica-module): update spacing
  src/__tests__/scss/__snapshots__/SCSS.spec.js.snap
  src/components/UNSTABLE__LayoutModules/ICAModule/ICAModule.stories.js
  src/components/UNSTABLE__LayoutModules/ICAModule/_index.scss
  src/components/UNSTABLE__LayoutModules/ICAModule/index.js
  src/components/UNSTABLE__LayoutModules/ICAModule/index.mdx
  src/components/UNSTABLE__LayoutModules/Layout.stories.js
  src/components/UNSTABLE__LayoutModules/TitleBarModule/_index.scss
  src/components/UNSTABLE__LayoutModules/TitleBarModule/_variables.scss
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

docs(button-cluster): update decorator style
  .storybook/decorators/_index.scss
Due: yarn format:precommit, yarn lint:scss:precommit

chore: merge `dev` into `button-sizes`
  src/components/Button/Button.stories.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

fix(card-microlayout): update node-sass in yarn.lock
  yarn.lock
Due: none

docs(button): use a link for `kind`
  src/components/Button/Button.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

refactor(themes): add feature flag compatibility
  src/__tests__/scss/__snapshots__/SCSS.spec.js.snap
  src/globals/feature-flags/_index.scss
Due: yarn format:precommit, yarn lint:scss:precommit

fix(card-microlayout): update snapshots
  src/__tests__/scss/__snapshots__/SCSS.spec.js.snap
  src/components/__tests__/__snapshots__/publicAPI.spec.js.snap
Due: none

refactor(themes): add feature flag compatibility
  src/__tests__/scss/__snapshots__/SCSS.spec.js.snap
Due: none

feat(carbon): upgrade packages
  src/__tests__/scss/__snapshots__/SCSS.spec.js.snap
  src/components/Checkbox/_index.scss
  src/components/InteractiveTag/InteractiveTag.js
  src/components/InteractiveTag/__tests__/InteractiveTag.spec.js
  src/components/InteractiveTag/_mixins.scss
  src/components/SummaryCard/_mixins.scss
  src/components/TagWall/TagWall.js
  src/components/TagWall/__tests__/TagWall.spec.js
  src/components/TagWall/__tests__/__snapshots__/TagWall.spec.js.snap
  src/components/TagWall/_mixins.scss
  src/components/TagWallFilter/__tests__/__snapshots__/TagWallFilter.spec.js.snap
  src/components/TypeLayout/TypeLayout.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

feat(carbon): upgrade packages
  src/components/Card/Card.stories.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

feat(carbon): upgrade packages
  .yarn/offline-mirror/@carbon-grid-10.23.0.tgz
  .yarn/offline-mirror/@carbon-grid-10.24.0.tgz
  .yarn/offline-mirror/@carbon-icons-react-10.28.0.tgz
  .yarn/offline-mirror/@carbon-icons-react-10.29.0.tgz
  .yarn/offline-mirror/@carbon-layout-10.21.0.tgz
  .yarn/offline-mirror/@carbon-layout-10.22.0.tgz
  .yarn/offline-mirror/@carbon-themes-10.30.0.tgz
  .yarn/offline-mirror/@carbon-themes-10.31.0.tgz
  .yarn/offline-mirror/@carbon-type-10.24.0.tgz
  .yarn/offline-mirror/@carbon-type-10.25.0.tgz
  .yarn/offline-mirror/carbon-components-10.31.0.tgz
  .yarn/offline-mirror/carbon-components-10.32.0.tgz
  .yarn/offline-mirror/carbon-components-react-7.31.0.tgz
  .yarn/offline-mirror/carbon-components-react-7.32.0.tgz
  .yarn/offline-mirror/copy-to-clipboard-3.3.1.tgz
  package.json
  src/__tests__/scss/__snapshots__/SCSS.spec.js.snap
  src/components/DataTable/DataTablePagination/__tests__/__snapshots__/DataTablePagination.spec.js.snap
  src/components/FilterPanel/LEGACY_FilterPanel/FilterSubcategory/__tests__/__snapshots__/FilterSubcategory.spec.js.snap
  src/components/Header/__tests__/__snapshots__/Header.spec.js.snap
  src/components/Panel/__tests__/__snapshots__/Panel.spec.js.snap
  src/components/SearchBar/__tests__/__snapshots__/SearchBar.spec.js.snap
  src/components/TagWall/__tests__/__snapshots__/TagWall.spec.js.snap
  src/components/TagWallFilter/Filter/__tests__/__snapshots__/Filter.spec.js.snap
  src/components/TagWallFilter/__tests__/__snapshots__/TagWallFilter.spec.js.snap
  src/components/Tearsheet/TearsheetSmall/__tests__/__snapshots__/TearsheetSmall.spec.js.snap
  src/components/Tearsheet/__tests__/__snapshots__/Tearsheet.spec.js.snap
  src/components/__tests__/__snapshots__/publicAPI.spec.js.snap
  yarn.lock
Due: none

feat(carbon): upgrade packages
  src/components/TypeLayout/TypeLayout.js
  src/components/TypeLayout/__tests__/TypeLayout.spec.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

feat(list-item-module): 10 stories with hover/link states
  docs/themes/themes.md
  src/components/UNSTABLE__LayoutModules/ListItemModule/ListItemModule.stories.js
  src/components/UNSTABLE__LayoutModules/ListItemModule/_index.scss
  src/components/UNSTABLE__LayoutModules/ListItemModule/index.js
  src/components/UNSTABLE__LayoutModules/ListItemModule/index.mdx
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

chore: merge `dev` into `spike/carbon-prefix`
  src/components/ICA/ICA.stories.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

docs(button): update references to Carbon documentation
  .storybook/index.js
  src/components/Accordion/Accordion.stories.js
  src/components/Button/Button.stories.js
  src/components/FilterPanel/FilterPanelCheckboxWithOverflowMenu/FilterPanelCheckboxWithOverflowMenu.stories.js
  src/components/StepIndicator/StepIndicator.stories.js
  src/components/UIShell/UIShell.stories.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

build(sass): add migrator
  .yarn/offline-mirror/sass-migrator-1.3.7.tgz
  package.json
  yarn.lock
Due: none

chore: stash merge
  README.md
  docs/migration/2.x/README.md
  docs/migration/2.x/color.md
  docs/migration/2.x/themes.md
  docs/migration/carbon-for-ibm-security/README.md
  docs/migration/carbon-for-ibm-security/color.md
  docs/migration/carbon-for-ibm-security/grid.md
  docs/migration/carbon-for-ibm-security/layout.md
  docs/migration/carbon-for-ibm-security/type.md
  src/components/Breadcrumb/migration/carbon-for-ibm-security.md
  src/components/Button/migration/2.x.md
  src/components/Button/migration/carbon-for-ibm-security.md
  src/components/Card/migration/2.x.md
  src/components/DataDecorator/migration/2.x.md
  src/components/DataDecorator/migration/carbon-for-ibm-security.md
  src/components/DataTable/migrate-to-2.x.md
  src/components/DataTable/migration/carbon-for-ibm-security.md
  src/components/Header/migration/2.x.md
  src/components/Header/migration/carbon-for-ibm-security.md
  src/components/Icon/migration/carbon-for-ibm-security.md
  src/components/IconButton/migration/2.x.md
  src/components/IconButton/migration/carbon-for-ibm-security.md
  src/components/Loading/migration/carbon-for-ibm-security.md
  src/components/MultiSelect/migration/carbon-for-ibm-security.md
  src/components/Notification/migrate-to-2.x.md
  src/components/Notification/migration/2.x.md
  src/components/Notification/migration/carbon-for-ibm-security.md
  src/components/Pagination/migrate-to-2.x.md
  src/components/Pagination/migration/carbon-for-ibm-security.md
  src/components/Panel/migration/2.x.md
  src/components/Panel/migration/carbon-for-ibm-security.md
  src/components/Search/migrate-to-2.x.md
  src/components/Search/migration/carbon-for-ibm-security.md
  src/components/Tag/InteractiveTag/migration/carbon-for-ibm-security.md
  src/components/TextInput/migrate-to-2.x.md
  src/components/TextInput/migration/carbon-for-ibm-security.md
  src/components/TypeLayout/migrate-to-2.x.md
  src/components/TypeLayout/migration/carbon-for-ibm-security.md
Due: yarn format:precommit

docs(button-cluster): update decorator style (#918)
  .storybook/decorators/_index.scss
Due: yarn format:precommit, yarn lint:scss:precommit

feat(ica-module): update spacing (#920)
  src/__tests__/scss/__snapshots__/SCSS.spec.js.snap
  src/components/UNSTABLE__LayoutModules/ICAModule/ICAModule.stories.js
  src/components/UNSTABLE__LayoutModules/ICAModule/_index.scss
  src/components/UNSTABLE__LayoutModules/ICAModule/index.js
  src/components/UNSTABLE__LayoutModules/ICAModule/index.mdx
  src/components/UNSTABLE__LayoutModules/Layout.stories.js
  src/components/UNSTABLE__LayoutModules/TitleBarModule/_index.scss
  src/components/UNSTABLE__LayoutModules/TitleBarModule/_variables.scss
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

chore(release): 1.39.0-prerelease.1 [skip ci]
  package.json
Due: none

Notes added by 'git notes add'
  d5/104c97bfcd107808fef9f93a86ac259e2c2ac0
Due: none

feat(list-module): add ListItemModule stories
  docs/themes/themes.md
  src/components/UNSTABLE__LayoutModules/ListItemModule/ListItemModule.stories.js
  src/components/UNSTABLE__LayoutModules/ListItemModule/_index.scss
  src/components/UNSTABLE__LayoutModules/ListItemModule/index.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

fix(layout-modules): tweak styles (#912)
  src/__tests__/scss/__snapshots__/SCSS.spec.js.snap
  src/components/TypeLayout/_index.scss
  src/components/UNSTABLE__LayoutModules/ActionBarModule/ActionBarModule.stories.js
  src/components/UNSTABLE__LayoutModules/ActionBarModule/_index.scss
  src/components/UNSTABLE__LayoutModules/ActionBarModule/index.mdx
  src/components/UNSTABLE__LayoutModules/CardModule/CardModule.stories.js
  src/components/UNSTABLE__LayoutModules/DescriptionModule/_index.scss
  src/components/UNSTABLE__LayoutModules/Layout.stories.js
  src/components/UNSTABLE__LayoutModules/TitleBarModule/TitleBarModule.stories.js
  src/components/UNSTABLE__LayoutModules/TitleBarModule/_index.scss
  src/components/UNSTABLE__LayoutModules/TitleBarModule/index.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

chore(release): 1.39.0-prerelease.2 [skip ci]
  package.json
Due: none

Notes added by 'git notes add'
  5c/c05ed2b5c6fa780c0a7beaff5caf7ed70a882c
Due: none

fix(list-module): update specs
  src/__tests__/scss/__snapshots__/SCSS.spec.js.snap
  src/components/UNSTABLE__LayoutModules/ListItemModule/_index.scss
  src/components/__tests__/__snapshots__/publicAPI.spec.js.snap
Due: yarn format:precommit, yarn lint:scss:precommit

fix(list-module): button width to fill available space
  src/components/UNSTABLE__LayoutModules/ListItemModule/_index.scss
Due: yarn format:precommit, yarn lint:scss:precommit

fix(list-module): update spec for button width
  src/__tests__/scss/__snapshots__/SCSS.spec.js.snap
Due: none

feat(canary-banner): added InlineNotification inside LayoutModules
  src/components/UNSTABLE__LayoutModules/Layout.stories.js
  src/components/UNSTABLE__LayoutModules/_index.scss
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

docs(migration): restructure migration documentation
  README.md
  docs/migration/2.x-type.md
  docs/migration/2.x/README.md
  docs/migration/carbon-for-ibm-security/README.md
  docs/migration/carbon-for-ibm-security/color.md
  docs/migration/migrate-to-2.x.md
  src/components/Button/migrate-to-2.x.md
  src/components/Button/migration/2.x.md
  src/components/Card/migration/2.x.md
  src/components/DataDecorator/migrate-to-2.x.md
  src/components/DataDecorator/migration/2.x.md
  src/components/DataDecorator/migration/carbon-for-ibm-security.md
  src/components/Header/migrate-to-2.x.md
  src/components/Header/migration/2.x.md
  src/components/IconButton/migrate-to-2.x.md
  src/components/IconButton/migration/2.x.md
  src/components/Notification/migration/2.x.md
  src/components/Panel/migration/2.x.md
  src/components/Portal/migration/2.x.md
  src/components/StepIndicator/migration/2.x.md
  src/components/Tag/migration/carbon-for-ibm-security.md
  src/globals/grid/_index.scss
Due: yarn format:precommit, yarn lint:scss:precommit

docs(layout-modules): add `Overview` section
  src/components/UNSTABLE__LayoutModules/ActionBarModule/ActionBarModule.stories.js
  src/components/UNSTABLE__LayoutModules/ButtonClusterModule/ButtonClusterModule.stories.js
  src/components/UNSTABLE__LayoutModules/CardModule/CardModule.stories.js
  src/components/UNSTABLE__LayoutModules/DescriptionListModule/DescriptionListModule.stories.js
  src/components/UNSTABLE__LayoutModules/DescriptionModule/DescriptionModule.stories.js
  src/components/UNSTABLE__LayoutModules/ICAModule/ICAModule.stories.js
  src/components/UNSTABLE__LayoutModules/PageTabModule/PageTabModule.ignore.js
  src/components/UNSTABLE__LayoutModules/TitleBarModule/TitleBarModule.stories.js
  src/components/UNSTABLE__LayoutModules/stories/Overview.stories.mdx
  src/components/UNSTABLE__LayoutModules/stories/index.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

fix(list-module): button onClick & remove unneeded Fragments
  src/components/UNSTABLE__LayoutModules/ListItemModule/ListItemModule.stories.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

Path conditions:
  yarn format:precommit: any of: *.{js,md,scss}
  yarn lint:js:precommit: any of: *.js
  yarn test:precommit: any of: *.js
  yarn lint:scss:precommit: any of: *.scss
