Repository carbon-design-system/ibm-security: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

fix(decorator): add `vertical-align` property (#367)
  src/components/DataDecorator/_mixins.scss
Due: yarn format:precommit, yarn lint:scss:precommit

chore(release): 1.17.1-prerelease.1 [skip ci]
  package.json
Due: none

Notes added by 'git notes add'
  ee9a64dcea5cfcd6f0273581729296fa06497065
Due: none

fix(pill): update tests, remove old snapshots
  src/components/Pill/__tests__/Pill.spec.js
  src/components/Pill/__tests__/__snapshots__/Pill.spec.js.snap
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

fix(accordion): remove alignment class name check
  src/components/Accordion/__tests__/Accordion.spec.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

fix(accordion): add alignment test, fix custom class addition (#361)
  src/components/Accordion/Accordion.js
  src/components/Accordion/__tests__/Accordion.spec.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

chore(release): 1.17.1-prerelease.2 [skip ci]
  package.json
Due: none

Notes added by 'git notes add'
  d0a6ba860c659597a210de11b40ed39d226d4494
Due: none

fix(loading-message): update tests, move spread attribute
  src/components/Loading/LoadingMessage/LoadingMessage.js
  src/components/Loading/LoadingMessage/__tests__/LoadingMessage.spec.js
  src/components/Loading/__tests__/LoadingMessage.spec.js
  src/components/Loading/__tests__/__snapshots__/LoadingMessage.spec.js.snap
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

feat(shell): add `Profile` recipe
  src/components/UNSTABLE__Shell/HeaderAction/index.js
  src/components/UNSTABLE__Shell/NotificationsPopover/index.js
  src/components/UNSTABLE__Shell/PopoverAccount/index.js
  src/components/UNSTABLE__Shell/PopoverAccountItem/index.js
  src/components/UNSTABLE__Shell/PopoverAccountList/index.js
  src/components/UNSTABLE__Shell/ProfilePopover/index.js
  src/components/UNSTABLE__Shell/Shell.stories.js
  src/components/UNSTABLE__Shell/ShellHeader/index.js
  src/components/UNSTABLE__Shell/_index.scss
  src/components/UNSTABLE__Shell/index.js
  src/index.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

docs(loading-message): update loading test comments
  src/components/Loading/LoadingMessage/__tests__/LoadingMessage.spec.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

fix(time-indicator): update tests and remove old snapshots
  src/components/TimeIndicator/__tests__/TimeIndicator.spec.js
  src/components/TimeIndicator/__tests__/__snapshots__/TimeIndicator.spec.js.snap
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

fix(portal): update test structure, remove old snapshots
  src/components/Portal/__tests__/Portal.spec.js
  src/components/Portal/__tests__/__snapshots__/Portal.spec.js.snap
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

fix(filter-panel-group): remove header if no title is provided
  src/components/FilterPanel/FilterPanelGroup/FilterPanelGroup.js
  src/components/FilterPanel/FilterPanelGroup/__tests__/FilterPanelGroup.spec.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

feat(shell): add `badge` configuration
  src/components/SecurityHeader/SecurityHeader.js
  src/components/SecurityHeader/_mixins.scss
  src/components/UNSTABLE__Shell/HeaderAction/index.js
  src/components/UNSTABLE__Shell/NotificationsPopover/index.js
  src/components/UNSTABLE__Shell/PopoverNotification/index.js
  src/components/UNSTABLE__Shell/Shell.js
  src/components/UNSTABLE__Shell/Shell.stories.js
  src/components/UNSTABLE__Shell/ShellToolbar/index.js
  src/components/UNSTABLE__Shell/ToolbarAction/index.js
  src/components/UNSTABLE__Shell/_index.scss
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

fix(delimited-list): update state of component when element.current, truncate, or items change
  src/components/DelimitedList/DelimitedList.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

fix(delimited-list): use empty string for nonexistant title
  src/components/DelimitedList/DelimitedList.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

fix(delimited-list): revert change to title attribute
  src/components/DelimitedList/DelimitedList.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

fix(filter-panel-group): remove header if no title is provided (#372)
  src/components/FilterPanel/FilterPanelGroup/FilterPanelGroup.js
  src/components/FilterPanel/FilterPanelGroup/__tests__/FilterPanelGroup.spec.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

chore(release): 1.17.1-prerelease.3 [skip ci]
  package.json
Due: none

Notes added by 'git notes add'
  f33f6643a0c0968018683ca983bcbba21b56367a
Due: none

chore(delimited-list): do not export namespace yet
  src/components/DelimitedList/DelimitedList.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

fix(portal): update portal tests
  src/components/Portal/__tests__/Portal.spec.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

fix(filer-panel): add a11y tests to subcomponents, change it keyword to test
  src/components/FilterPanel/FilterPanelAccordion/__tests__/FilterPanelAccordion.spec.js
  src/components/FilterPanel/FilterPanelAccordionItem/__tests__/FilterPanelAccordionItem.spec.js
  src/components/FilterPanel/FilterPanelCheckbox/__tests__/FilterPanelCheckbox.spec.js
  src/components/FilterPanel/FilterPanelGroup/__tests__/FilterPanelGroup.spec.js
  src/components/FilterPanel/FilterPanelLabel/__tests__/FilterPanelLabel.spec.js
  src/components/FilterPanel/FilterPanelSearch/__tests__/FilterSearch.spec.js
  src/components/FilterPanel/LEGACY_FilterPanel/FilterCategory/__test__/FilterCategory.spec.js
  src/components/FilterPanel/LEGACY_FilterPanel/FilterSearch/__tests__/FilterSearch.spec.js
  src/components/FilterPanel/LEGACY_FilterPanel/FilterSelector/__tests__/FilterSelector.spec.js
  src/components/FilterPanel/LEGACY_FilterPanel/FilterSubcategory/__tests__/FilterSubcategory.spec.js
  src/components/FilterPanel/LEGACY_FilterPanel/__tests__/FilterPanel.spec.js
  src/components/FilterPanel/LEGACY_FilterPanel/__tests__/FilterPanelUtilities.spec.js
  src/components/FilterPanel/__tests__/FilterPanel.spec.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

fix(filter-panel): update accordion and accordionitem tests
  src/components/FilterPanel/FilterPanelAccordion/__tests__/FilterPanelAccordion.spec.js
  src/components/FilterPanel/FilterPanelAccordionItem/__tests__/FilterPanelAccordionItem.spec.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

fix(filter-panel): add a11y tests
  src/components/FilterPanel/__tests__/FilterPanel.spec.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

fix(filter-panel-accordion-item): reorder elements so li are only children of ul elems
  src/components/FilterPanel/FilterPanelAccordionItem/FilterPanelAccordiontItem.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

fix(filter-panel-accordion-item): use outline and transparent border to prevent hover + focus overlap
  src/components/FilterPanel/FilterPanelAccordionItem/_mixins.scss
Due: yarn format:precommit, yarn lint:scss:precommit

chore(a11y): revert refactor
  config/jest/index.js
  config/jest/matchers/toHaveNoAxeViolations.js
  config/jest/matchers/toHaveNoDAPViolations.js
  src/components/TrendingCard/__tests__/TrendingCard.spec.js
  src/components/UNSTABLE__Shell/__tests__/Shell.spec.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

feat(shell): add technical preview
  src/components/Button/Button.js
  src/components/Button/migrate-to-2.x.md
  src/components/SecurityHeader/HeaderNotification/constants.js
  src/components/UNSTABLE__Shell/Shell.stories.js
  src/components/UNSTABLE__Shell/ShellReturnToBanner/index.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

chore(shell): format stories
  src/components/UNSTABLE__Shell/Shell.stories.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

fix(pill): update test id
  src/components/Pill/__tests__/Pill.spec.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

fix(pill): add inline, type, and noIcon tests
  src/components/Pill/Pill.js
  src/components/Pill/__tests__/Pill.spec.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

fix(portal): update tests
  src/components/Portal/__tests__/Portal.spec.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

fix(filter-panel-accordion-item): reorder elements so li are only children of ul elems (#377)
  src/components/FilterPanel/FilterPanelAccordionItem/FilterPanelAccordiontItem.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

chore(release): 1.17.1-prerelease.4 [skip ci]
  package.json
Due: none

Notes added by 'git notes add'
  31fe7cd917c5303388f96e3bc2e7f7e6505fb71b
Due: none

fix(ica): update tests for ica and skeleton variation
  src/components/ICA/ICASkeleton/__tests__/ICASkeleton.spec.js
  src/components/ICA/ICASkeleton/__tests__/__snapshots__/ICASkeleton.spec.js.snap
  src/components/ICA/__tests__/ICA.spec.js
  src/components/ICA/__tests__/__snapshots__/ICA.spec.js.snap
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

fix(portal): update event bubbling tests
  src/components/Portal/__tests__/Portal.spec.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

fix(portal): remove initialFocus test
  src/components/Portal/__tests__/Portal.spec.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

Path conditions:
  yarn format:precommit: any of: *.{js,md,scss}
  yarn lint:js:precommit: any of: *.js
  yarn test:precommit: any of: *.js
  yarn lint:scss:precommit: any of: *.scss
