Repository carbon-design-system/ibm-security: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

docs(layout-modules): start narrow grid `Overview` example
  src/components/UNSTABLE__LayoutModules/Layout.stories.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

Update package.json
  package.json
Due: none

docs(layout-modules): start narrow grid `Overview` example
  .storybook/components/ExampleBackgroundContainer/_index.scss
  src/components/UNSTABLE__LayoutModules/Layout.stories.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

build(deps): add `@carbon/telemetry` to offline mirror
  yarn.lock
Due: none

chore(release): 1.38.0 [skip ci]
  package.json
Due: none

Notes added by 'git notes add'
  a2/568e820edd4c7dcc824420065edc6672fc85fd
Due: none

docs(layout-modules): start condensed grid `Overview` example
  .storybook/components/ExampleBackgroundContainer/_index.scss
  .storybook/components/ExampleBackgroundContainer/index.js
  src/components/UNSTABLE__LayoutModules/Layout.stories.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

fix(button): align `Button` sizes with Carbon
  src/__tests__/scss/__snapshots__/SCSS.spec.js.snap
  src/components/Button/Button.js
  src/components/Button/__tests__/Button.spec.js
  src/components/Button/_mixins.scss
  src/components/ComboButton/__tests__/__snapshots__/ComboButton.spec.js.snap
  src/components/DataDecorator/DataDecorator.stories.js
  src/components/Header/__tests__/__snapshots__/Header.spec.js.snap
  src/components/Panel/Panel.stories.js
  src/components/Panel/__tests__/__snapshots__/Panel.spec.js.snap
  src/components/Panel/_mixins.scss
  src/components/TagWall/__tests__/__snapshots__/TagWall.spec.js.snap
  src/components/TagWallFilter/__tests__/__snapshots__/TagWallFilter.spec.js.snap
  src/components/Tearsheet/Tearsheet.js
  src/components/Tearsheet/TearsheetSmall/TearsheetSmall.js
  src/components/Tearsheet/TearsheetSmall/__tests__/__snapshots__/TearsheetSmall.spec.js.snap
  src/components/Tearsheet/TearsheetSmall/_mixins.scss
  src/components/Tearsheet/__tests__/__snapshots__/Tearsheet.spec.js.snap
  src/components/__tests__/__snapshots__/publicAPI.spec.js.snap
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

fix(button): align `Button` sizes with Carbon
  src/components/Button/Button.js
  src/components/Button/Button.stories.js
  src/components/Panel/Panel.stories.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

feat(list-module): explore `ListModule`
  src/__tests__/scss/__snapshots__/SCSS.spec.js.snap
  src/components/UNSTABLE__LayoutModules/ListModule/ListModule.stories.js
  src/components/UNSTABLE__LayoutModules/ListModule/_index.scss
  src/components/UNSTABLE__LayoutModules/ListModule/index.js
  src/components/UNSTABLE__LayoutModules/ListModule/index.mdx
  src/components/UNSTABLE__LayoutModules/_index.scss
  src/components/UNSTABLE__LayoutModules/index.js
  src/components/__tests__/__snapshots__/publicAPI.spec.js.snap
  src/index.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

feat(list-module): use CSS Grid Layout
  src/__tests__/scss/__snapshots__/SCSS.spec.js.snap
  src/components/UNSTABLE__LayoutModules/ListModule/ListModule.stories.js
  src/components/UNSTABLE__LayoutModules/ListModule/_index.scss
  src/components/UNSTABLE__LayoutModules/ListModule/index.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

fix(summary-card): fix high contrast button
  src/__tests__/scss/__snapshots__/SCSS.spec.js.snap
  src/components/SummaryCard/_mixins.scss
Due: yarn format:precommit, yarn lint:scss:precommit

feat(list-module): use CSS Grid Layout
  src/__tests__/scss/__snapshots__/SCSS.spec.js.snap
  src/components/UNSTABLE__LayoutModules/ListModule/ListModule.stories.js
  src/components/UNSTABLE__LayoutModules/ListModule/_index.scss
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

docs(layout-modules): explore border configuration
  .storybook/components/ExampleBackgroundContainer/_index.scss
  src/components/UNSTABLE__LayoutModules/Layout.stories.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

feat(list-module): add list module example
  src/__tests__/scss/__snapshots__/SCSS.spec.js.snap
  src/components/UNSTABLE__LayoutModules/ListModule/ListModule.stories.js
  src/components/UNSTABLE__LayoutModules/ListModule/_index.scss
  src/components/UNSTABLE__LayoutModules/ListModule/index.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

refactor(layout): refactor layout stories
  .storybook/components/Background/_index.scss
  .storybook/components/Background/index.js
  .storybook/components/ExampleBackgroundContainer/_index.scss
  .storybook/components/ExampleBackgroundContainer/index.js
  .storybook/index.scss
  src/__tests__/scss/__snapshots__/SCSS.spec.js.snap
  src/components/UNSTABLE__LayoutModules/ICAModule/ICAModule.stories.js
  src/components/UNSTABLE__LayoutModules/ICAModule/_index.scss
  src/components/UNSTABLE__LayoutModules/ICAModule/index.js
  src/components/UNSTABLE__LayoutModules/ICAModule/index.mdx
  src/components/UNSTABLE__LayoutModules/Layout.stories.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

fix(loading): remove override
  src/__tests__/scss/__snapshots__/SCSS.spec.js.snap
  src/components/Loading/LoadingMessage/LoadingMessage.js
  src/components/Loading/LoadingMessage/_index.scss
  src/components/Loading/_index.scss
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

fix(loading): remove override (#904)
  src/__tests__/scss/__snapshots__/SCSS.spec.js.snap
  src/components/Loading/LoadingMessage/LoadingMessage.js
  src/components/Loading/LoadingMessage/_index.scss
  src/components/Loading/_index.scss
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

chore(release): 1.38.0-prerelease.3 [skip ci]
  package.json
Due: none

Notes added by 'git notes add'
  50/d2a2545ad4b039b542bb9bb78d9695aae30e67
Due: none

feat(layout-modules): move to 'stable'
  src/__tests__/scss/__snapshots__/SCSS.spec.js.snap
  src/components/LayoutModules/LayoutModule.js
  src/components/LayoutModules/_variables.scss
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

feat(list-item-module): rename component
  src/__tests__/scss/__snapshots__/SCSS.spec.js.snap
  src/components/UNSTABLE__LayoutModules/ListItemModule/ListItemModule.stories.js
  src/components/UNSTABLE__LayoutModules/ListItemModule/_index.scss
  src/components/UNSTABLE__LayoutModules/ListItemModule/index.js
  src/components/UNSTABLE__LayoutModules/ListItemModule/index.mdx
  src/components/UNSTABLE__LayoutModules/_index.scss
  src/components/UNSTABLE__LayoutModules/index.js
  src/components/__tests__/__snapshots__/publicAPI.spec.js.snap
  src/index.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

feat(list-module): add list module example
  src/__tests__/scss/__snapshots__/SCSS.spec.js.snap
  src/components/UNSTABLE__LayoutModules/ListItemModule/_index.scss
Due: yarn format:precommit, yarn lint:scss:precommit

docs(layout): use influencer example
  .storybook/index.scss
  src/components/UNSTABLE__LayoutModules/Layout.stories.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

chore(release): 1.38.1-prerelease.1 [skip ci]
  package.json
Due: none

Notes added by 'git notes add'
  af/eb0149e3ad23ec7adcf2d02d74d82ae79319a6
Due: none

chore(release): 1.38.1 [skip ci]
  package.json
Due: none

Notes added by 'git notes add'
  15/01091ad89c2efbe375f348ac34fd6a01600c4d
Due: none

feat(list-item-module): update API
  src/components/UNSTABLE__LayoutModules/ListItemModule/ListItemModule.stories.js
  src/components/UNSTABLE__LayoutModules/ListItemModule/index.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

Added sizes default, lg, and xlg to the ICA component. Styling is updated to match these cases
  src/__tests__/scss/__snapshots__/SCSS.spec.js.snap
  src/components/ICA/ICA.js
  src/components/ICA/ICA.stories.js
  src/components/ICA/_index.scss
  src/components/__tests__/__snapshots__/publicAPI.spec.js.snap
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

fix(description-list): tidy up styles
  src/__tests__/scss/__snapshots__/SCSS.spec.js.snap
  src/components/TypeLayout/TypeLayout.js
  src/components/TypeLayout/__tests__/TypeLayout.spec.js
  src/components/TypeLayout/_index.scss
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

Added trending arrow to ICA. Fixed styling logic to work with ICAModule
  src/__tests__/scss/__snapshots__/SCSS.spec.js.snap
  src/components/ICA/ICA.js
  src/components/ICA/ICA.stories.js
  src/components/ICA/_index.scss
  src/components/__tests__/__snapshots__/publicAPI.spec.js.snap
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

fix(description-list): tidy up styles
  src/__tests__/scss/__snapshots__/SCSS.spec.js.snap
  src/components/TypeLayout/_index.scss
Due: yarn format:precommit, yarn lint:scss:precommit

feat(description-module): add `short` variant
  src/__tests__/scss/__snapshots__/SCSS.spec.js.snap
  src/components/UNSTABLE__LayoutModules/DescriptionModule/DescriptionModule.stories.js
  src/components/UNSTABLE__LayoutModules/DescriptionModule/_index.scss
  src/components/UNSTABLE__LayoutModules/DescriptionModule/index.js
  src/components/__tests__/__snapshots__/publicAPI.spec.js.snap
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

fix(layout-modules): tweak styles
  src/__tests__/scss/__snapshots__/SCSS.spec.js.snap
  src/components/TypeLayout/_index.scss
  src/components/UNSTABLE__LayoutModules/ActionBarModule/ActionBarModule.stories.js
  src/components/UNSTABLE__LayoutModules/ActionBarModule/_index.scss
  src/components/UNSTABLE__LayoutModules/CardModule/CardModule.stories.js
  src/components/UNSTABLE__LayoutModules/ICAModule/_index.scss
  src/components/UNSTABLE__LayoutModules/Layout.stories.js
  src/components/UNSTABLE__LayoutModules/TitleBarModule/TitleBarModule.stories.js
  src/components/UNSTABLE__LayoutModules/TitleBarModule/_index.scss
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

fix(layout-modules): tweak styles
  src/__tests__/scss/__snapshots__/SCSS.spec.js.snap
  src/components/TypeLayout/TypeLayout.stories.js
  src/components/TypeLayout/_index.scss
  src/components/UNSTABLE__LayoutModules/DescriptionListModule/DescriptionListModule.stories.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

fix(layout-modules): tweak styles
  src/__tests__/scss/__snapshots__/SCSS.spec.js.snap
  src/components/TypeLayout/TypeLayout.stories.js
  src/components/TypeLayout/_index.scss
  src/components/UNSTABLE__LayoutModules/ActionBarModule/index.mdx
  src/components/UNSTABLE__LayoutModules/CardModule/CardModule.stories.js
  src/components/UNSTABLE__LayoutModules/DescriptionListModule/DescriptionListModule.stories.js
  src/components/UNSTABLE__LayoutModules/DescriptionModule/_index.scss
  src/components/UNSTABLE__LayoutModules/Layout.stories.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

Path conditions:
  yarn format:precommit: any of: *.{js,md,scss}
  yarn lint:js:precommit: any of: *.js
  yarn test:precommit: any of: *.js
  yarn lint:scss:precommit: any of: *.scss
