Repository carbon-design-system/ibm-security: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

.lintstagedrc:

{
  '*.{js,md,scss}': ['yarn format:precommit', 'git add'],
  '*.js': ['yarn lint:js:precommit', 'git add', 'yarn test:precommit'],
  '*.scss': ['yarn lint:scss:precommit', 'git add'],
}

chore(release): 1.22.0 [skip ci]
  package.json
Due: none

Notes added by 'git notes add'
  9fd5d25cf4865836a6bb76550b9bb76a476812d9
Due: none

chore(tagwall): import carbon helper classes scss
  src/components/TagWall/_mixins.scss
  src/components/Tearsheet/TearsheetSmall/_mixins.scss
Due: yarn format:precommit, yarn lint:scss:precommit

chore: update snapshots to reflect tagwall updates
  src/components/TagWall/__tests__/__snapshots__/TagWall.spec.js.snap
  src/components/TagWallFilter/Filter/__tests__/__snapshots__/Filter.spec.js.snap
  src/components/TagWallFilter/__tests__/__snapshots__/TagWallFilter.spec.js.snap
Due: none

chore: add missing required children props to test renders (#507)
  src/components/SummaryCard/SummaryCardBody/__tests__/SummaryCardBody.spec.js
  src/components/SummaryCard/SummaryCardFooter/__tests__/SummaryCardFooter.spec.js
  src/components/SummaryCard/__tests__/SummaryCard.spec.js
  src/components/TimeIndicator/__tests__/TimeIndicator.spec.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

fix(tagwall): add title attribute
  src/components/TagWall/TagWall.js
  src/components/TagWallFilter/Filter/Filter.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

chore: update tagwall related snapshots to reflect title attr updates
  src/components/TagWall/__tests__/__snapshots__/TagWall.spec.js.snap
  src/components/TagWallFilter/Filter/__tests__/__snapshots__/Filter.spec.js.snap
  src/components/TagWallFilter/__tests__/__snapshots__/TagWallFilter.spec.js.snap
Due: none

fix(filter): import helper classes scss
  src/components/TagWallFilter/Filter/_mixins.scss
  src/components/Tearsheet/TearsheetSmall/_mixins.scss
Due: yarn format:precommit, yarn lint:scss:precommit

fix: address changes requested
  .storybook/index.js
  src/components/FilterPanel/FilterPanelCheckbox/FilterPanelCheckbox.stories.js
  src/components/FilterPanel/FilterPanelCheckboxWithOverflowMenu/FilterPanel.stories.js
  src/components/FilterPanel/FilterPanelCheckboxWithOverflowMenu/FilterPanelCheckboxWithOverflowMenu.stories.js
  src/components/FilterPanel/FilterPanelCheckboxWithOverflowMenu/_index.scss
  src/components/FilterPanel/index.js
  src/index.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

chore: remove yarn report
  report.20200428.155225.35203.0.001.json
Due: none

revert(yarn): lockfile updates
  yarn.lock
Due: none

fix(filter-panel-checkbox-with-overflow-menu): remove unnecessary props
  src/components/FilterPanel/FilterPanelCheckboxWithOverflowMenu/FilterPanelCheckboxWithOverflowMenu.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

test: fix broken changes
  src/components/FilterPanel/FilterPanelCheckboxWithOverflowMenu/__tests__/FilterPanelCheckboxWithOverflowMenu.spec.js
  src/components/__tests__/__snapshots__/publicAPI.spec.js.snap
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

fix(tagwall): accommodate truncation in tags and list items (#513)
  src/components/TagWall/TagWall.js
  src/components/TagWall/__tests__/__snapshots__/TagWall.spec.js.snap
  src/components/TagWall/_mixins.scss
  src/components/TagWallFilter/Filter/Filter.js
  src/components/TagWallFilter/Filter/__tests__/__snapshots__/Filter.spec.js.snap
  src/components/TagWallFilter/Filter/_mixins.scss
  src/components/TagWallFilter/TagWallFilter.stories.js
  src/components/TagWallFilter/__tests__/__snapshots__/TagWallFilter.spec.js.snap
  src/components/Tearsheet/TearsheetSmall/_mixins.scss
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

chore(release): 1.22.1-prerelease.1 [skip ci]
  package.json
Due: none

Notes added by 'git notes add'
  2521e82ab60763cfe74916bf62537ef778df2020
Due: none

docs(tearsheet): add id to input in small tearsheet demo
  src/components/Tearsheet/Tearsheet.stories.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

docs(tearsheet): add id to input in small tearsheet demo (#516)
  src/components/Tearsheet/Tearsheet.stories.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

fix(checkbox): override border color for focus state
  src/components/Checkbox/_index.scss
Due: yarn format:precommit, yarn lint:scss:precommit

Update src/components/Checkbox/_index.scss
  src/components/Checkbox/_index.scss
Due: yarn format:precommit, yarn lint:scss:precommit

fix(checkbox): override border color for focus state (#518)
  src/components/Checkbox/_index.scss
Due: yarn format:precommit, yarn lint:scss:precommit

chore(release): 1.22.1-prerelease.2 [skip ci]
  package.json
Due: none

Notes added by 'git notes add'
  6e87d8df56f65cb5ffefc7cdb873c101d951aa52
Due: none

docs(radio-button): remove checked knob from story so component is interactive
  src/components/RadioButton/RadioButton.stories.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

docs(radio-button): remove checked knob from story so component is interactive (#520)
  src/components/RadioButton/RadioButton.stories.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

fix(nav): update type checking for rhl
  src/components/Nav/Nav.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

fix(transition): migrate internals (#503)
  .yarn/offline-mirror/@babel-runtime-7.9.2.tgz
  .yarn/offline-mirror/chain-function-1.0.1.tgz
  .yarn/offline-mirror/csstype-2.6.10.tgz
  .yarn/offline-mirror/dom-helpers-5.1.4.tgz
  .yarn/offline-mirror/react-addons-css-transition-group-15.6.2.tgz
  .yarn/offline-mirror/react-transition-group-1.2.1.tgz
  .yarn/offline-mirror/react-transition-group-4.3.0.tgz
  .yarn/offline-mirror/regenerator-runtime-0.13.5.tgz
  package.json
  src/components/TagWallFilter/__tests__/__snapshots__/TagWallFilter.spec.js.snap
  src/components/Transition/Transition.js
  src/components/Transition/__tests__/__snapshots__/Transition.spec.js.snap
  yarn.lock
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

chore(release): 1.22.1-prerelease.3 [skip ci]
  package.json
Due: none

Notes added by 'git notes add'
  946578c3768c064b67b4137ea02339ae8348b322
Due: none

fix(layout): add 0 margin to h2s, add todos to styles
  src/components/Layouts/Layouts.stories.js
  src/components/Layouts/_index.scss
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

fix(data-table): prevent overflow cell `z-index` from leaking (#499)
  src/components/DataTable/_index.scss
Due: yarn format:precommit, yarn lint:scss:precommit

chore(release): 1.22.1-prerelease.4 [skip ci]
  package.json
Due: none

Notes added by 'git notes add'
  923b2a503afd9b330a2e8b928ddec49d8a9c3756
Due: none

fix(nav): compare child component name before rendering navlist
  src/components/Nav/Nav.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

feat(analytics): test environment deploy
  .storybook/addons.js
  .storybook/webpack.js
  .yarn/offline-mirror/git-branch-2.0.1.tgz
  package.json
  yarn.lock
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

feat(analytics): test environment deploy
  .storybook/addons.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

feat(analytics): test environment deploy
  .storybook/addons.js
  .storybook/webpack.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

feat(analytics): add conditional to initialise on `master`
  .storybook/addons.js
  .storybook/webpack.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit
