Repository carbon-design-system/ibm-security: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

docs(storybook): add theming support
  .storybook/addons/addon-theme/Theme/index.js
  .storybook/addons/addon-theme/index.js
  .storybook/components/DocsPage/index.js
  .storybook/docs/_index.scss
  .storybook/index.scss
  .storybook/preview.js
  src/components/UNSTABLE__LayoutModules/ButtonClusterModule/ButtonClusterModule.stories.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

feat(layout-modules): add page tab module, update decorator style
  .storybook/decorators/_index.scss
  src/__tests__/scss/__snapshots__/SCSS.spec.js.snap
  src/components/UNSTABLE__LayoutModules/PageTabModule/PageTabModule.stories.js
  src/components/UNSTABLE__LayoutModules/PageTabModule/_index.scss
  src/components/UNSTABLE__LayoutModules/PageTabModule/index.js
  src/components/UNSTABLE__LayoutModules/_index.scss
  src/components/UNSTABLE__LayoutModules/index.js
  src/components/__tests__/__snapshots__/publicAPI.spec.js.snap
  src/index.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

chore(release): 1.34.0-prerelease.3 [skip ci]
  package.json
Due: none

Notes added by 'git notes add'
  bb/ce29794cc301d37ad08e95fb0a72132d7e609d
Due: none

Update src/components/TypeLayout/TypeLayout.js
  src/components/TypeLayout/TypeLayout.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

chore(type-layout): move `defaultProps`
  src/components/TypeLayout/TypeLayout.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

feat(layout-modules): add `TitleBarModule` and stories
  src/__tests__/scss/__snapshots__/SCSS.spec.js.snap
  src/components/UNSTABLE__LayoutModules/TitleBarModule/TitleBarModule.stories.js
  src/components/UNSTABLE__LayoutModules/TitleBarModule/_index.scss
  src/components/UNSTABLE__LayoutModules/TitleBarModule/index.js
  src/components/UNSTABLE__LayoutModules/_index.scss
  src/components/UNSTABLE__LayoutModules/index.js
  src/components/__tests__/__snapshots__/publicAPI.spec.js.snap
  src/index.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

chore(title-bar-module): remove unneccesary `className` prop
  src/components/UNSTABLE__LayoutModules/TitleBarModule/index.js
  src/components/__tests__/__snapshots__/publicAPI.spec.js.snap
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

refactor(layout-modules): update style variables
  src/components/UNSTABLE__LayoutModules/ICAModule/_index.scss
  src/components/UNSTABLE__LayoutModules/TitleBarModule/_index.scss
  src/components/UNSTABLE__LayoutModules/TitleBarModule/index.js
  src/components/UNSTABLE__LayoutModules/TitleBarModule/index.mdx
  src/components/__tests__/__snapshots__/publicAPI.spec.js.snap
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

feat(description-list): rename module
  src/__tests__/scss/__snapshots__/SCSS.spec.js.snap
  src/components/UNSTABLE__LayoutModules/DescriptionListModule/DescriptionListModule.stories.js
  src/components/UNSTABLE__LayoutModules/DescriptionListModule/_index.scss
  src/components/UNSTABLE__LayoutModules/DescriptionListModule/index.js
  src/components/UNSTABLE__LayoutModules/DescriptionListModule/index.mdx
  src/components/UNSTABLE__LayoutModules/DescriptionModule/DescriptionModule.stories.js
  src/components/UNSTABLE__LayoutModules/Layout.stories.js
  src/components/UNSTABLE__LayoutModules/PageTabModule/PageTabModule.stories.js
  src/components/UNSTABLE__LayoutModules/TypeLayoutModule/index.js
  src/components/UNSTABLE__LayoutModules/_index.scss
  src/components/UNSTABLE__LayoutModules/index.js
  src/components/__tests__/__snapshots__/publicAPI.spec.js.snap
  src/index.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

feat(layout-modules): update spacing
  src/__tests__/scss/__snapshots__/SCSS.spec.js.snap
  src/components/UNSTABLE__LayoutModules/ICAModule/_index.scss
  src/components/UNSTABLE__LayoutModules/TitleBarModule/_index.scss
Due: yarn format:precommit, yarn lint:scss:precommit

docs(modular-layouts): add design documentation
  .storybook/docs/_index.scss
  .storybook/index.scss
  src/components/UNSTABLE__LayoutModules/ButtonCluster/images/Troubleshooting 1.png
  src/components/UNSTABLE__LayoutModules/ButtonCluster/images/Troubleshooting 2.png
  src/components/UNSTABLE__LayoutModules/ButtonCluster/images/anatomy.png
  src/components/UNSTABLE__LayoutModules/ButtonCluster/images/buttonCluster-example-1.png
  src/components/UNSTABLE__LayoutModules/ButtonCluster/images/buttonCluster-example-2.png
  src/components/UNSTABLE__LayoutModules/ButtonCluster/images/buttonCluster-layoutConsiderations.png
  src/components/UNSTABLE__LayoutModules/ButtonCluster/images/buttonClusterModule-do.png
  src/components/UNSTABLE__LayoutModules/ButtonCluster/images/buttonClusterModule-dont.png
  src/components/UNSTABLE__LayoutModules/ButtonCluster/index.mdx
  src/components/UNSTABLE__LayoutModules/CardModule/images/Card-module_Slack_button.png
  src/components/UNSTABLE__LayoutModules/CardModule/images/Card-module_anatomy.png
  src/components/UNSTABLE__LayoutModules/CardModule/images/Card-module_carbon-for-security_button.png
  src/components/UNSTABLE__LayoutModules/CardModule/images/Card-module_detail-layout_button.png
  src/components/UNSTABLE__LayoutModules/CardModule/images/Card-module_do.png
  src/components/UNSTABLE__LayoutModules/CardModule/images/Card-module_dont.png
  src/components/UNSTABLE__LayoutModules/CardModule/images/Card-module_layout-considerations.png
  src/components/UNSTABLE__LayoutModules/CardModule/images/Card-module_overview-layout_button.png
  src/components/UNSTABLE__LayoutModules/CardModule/index.mdx
  src/images/Detail-layout_button.png
  src/images/Overview-layout_button.png
Due: yarn format:precommit, yarn lint:scss:precommit

docs(type-layout): refactor to better support `addon-docs` (#776)
  src/components/TypeLayout/TypeLayout.js
  src/components/__tests__/__snapshots__/publicAPI.spec.js.snap
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

chore: merge `modular-layouts-documentation` into `modular-layouts/design-documentation`
  src/components/UNSTABLE__LayoutModules/CardModule/index.mdx
  src/images/Detail-layout_button.png
  src/images/Overview-layout_button.png
Due: none

docs(layout-modules): share examples and troubleshooting
  .storybook/preview.js
  src/components/UNSTABLE__LayoutModules/ActionBarModule/index.mdx
  src/components/UNSTABLE__LayoutModules/ButtonClusterModule/index.mdx
  src/components/UNSTABLE__LayoutModules/CardModule/images/detail-layout.png
  src/components/UNSTABLE__LayoutModules/CardModule/images/github.png
  src/components/UNSTABLE__LayoutModules/CardModule/images/overview-layout.png
  src/components/UNSTABLE__LayoutModules/CardModule/images/slack.png
  src/components/UNSTABLE__LayoutModules/CardModule/index.mdx
  src/components/UNSTABLE__LayoutModules/DescriptionListModule/index.mdx
  src/components/UNSTABLE__LayoutModules/DescriptionModule/index.mdx
  src/components/UNSTABLE__LayoutModules/ICAModule/index.mdx
  src/components/UNSTABLE__LayoutModules/PageTabModule/index.mdx
  src/components/UNSTABLE__LayoutModules/TitleBarModule/index.mdx
  src/components/UNSTABLE__LayoutModules/docs/Examples/images/detail-layout.png
  src/components/UNSTABLE__LayoutModules/docs/Examples/images/overview-layout.png
  src/components/UNSTABLE__LayoutModules/docs/Examples/index.mdx
  src/components/UNSTABLE__LayoutModules/docs/Troubleshooting/images/github.png
  src/components/UNSTABLE__LayoutModules/docs/Troubleshooting/images/slack.png
  src/components/UNSTABLE__LayoutModules/docs/Troubleshooting/index.mdx
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

feat(layout-modules): finalise API
  .storybook/docs/_index.scss
  .storybook/preview.js
  report.20200612.131039.17838.0.001.json
  src/components/UNSTABLE__LayoutModules/ActionBarModule/index.mdx
  src/components/UNSTABLE__LayoutModules/ButtonClusterModule/index.mdx
  src/components/UNSTABLE__LayoutModules/CardModule/index.js
  src/components/UNSTABLE__LayoutModules/CardModule/index.mdx
  src/components/UNSTABLE__LayoutModules/DescriptionListModule/index.mdx
  src/components/UNSTABLE__LayoutModules/DescriptionModule/index.js
  src/components/UNSTABLE__LayoutModules/DescriptionModule/index.mdx
  src/components/UNSTABLE__LayoutModules/ICAModule/ICAModule.stories.js
  src/components/UNSTABLE__LayoutModules/ICAModule/index.js
  src/components/UNSTABLE__LayoutModules/ICAModule/index.mdx
  src/components/UNSTABLE__LayoutModules/PageTabModule/index.mdx
  src/components/UNSTABLE__LayoutModules/TitleBarModule/index.mdx
  src/components/UNSTABLE__LayoutModules/docs/Examples/index.mdx
  src/components/UNSTABLE__LayoutModules/docs/Troubleshooting/index.mdx
  src/components/__tests__/__snapshots__/publicAPI.spec.js.snap
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

docs(type-layout): rewrite stories to CSF
  src/components/TypeLayout/TypeLayout.stories.js
  src/components/TypeLayout/_mocks_/index.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

docs(storybook): update unordered list styles
  .storybook/docs/_index.scss
  src/components/UNSTABLE__LayoutModules/ActionBarModule/index.mdx
  src/components/UNSTABLE__LayoutModules/ButtonClusterModule/index.mdx
  src/components/UNSTABLE__LayoutModules/CardModule/index.mdx
  src/components/UNSTABLE__LayoutModules/DescriptionListModule/index.mdx
  src/components/UNSTABLE__LayoutModules/DescriptionModule/index.mdx
  src/components/UNSTABLE__LayoutModules/ICAModule/index.mdx
  src/components/UNSTABLE__LayoutModules/PageTabModule/index.mdx
  src/components/UNSTABLE__LayoutModules/TitleBarModule/index.mdx
Due: yarn format:precommit, yarn lint:scss:precommit

docs(page-tab): add `Docs` support
  src/components/UNSTABLE__LayoutModules/PageTabModule/PageTabModule.stories.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

docs(action-bar): add WIP documentation
  src/components/UNSTABLE__LayoutModules/ActionBarModule/images/anatomy.png
  src/components/UNSTABLE__LayoutModules/ActionBarModule/images/do.png
  src/components/UNSTABLE__LayoutModules/ActionBarModule/images/dont.png
  src/components/UNSTABLE__LayoutModules/ActionBarModule/index.mdx
Due: none

feat(layout-modules): add page tab module, update decorator style (#783)
  .storybook/decorators/_index.scss
  src/__tests__/scss/__snapshots__/SCSS.spec.js.snap
  src/components/UNSTABLE__LayoutModules/PageTabModule/PageTabModule.stories.js
  src/components/UNSTABLE__LayoutModules/PageTabModule/_index.scss
  src/components/UNSTABLE__LayoutModules/PageTabModule/index.js
  src/components/UNSTABLE__LayoutModules/_index.scss
  src/components/UNSTABLE__LayoutModules/index.js
  src/components/__tests__/__snapshots__/publicAPI.spec.js.snap
  src/index.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

chore(release): 1.34.0-prerelease.4 [skip ci]
  package.json
Due: none

Notes added by 'git notes add'
  c2/d0c97ddc40c4db1c4dae34494b59b85cd37b51
Due: none

feat(layout-modules): add `DescriptionListModule`
  src/components/TypeLayout/_index.scss
  src/components/TypeLayout/_variables.scss
  src/components/UNSTABLE__LayoutModules/DescriptionListModule/DescriptionListModule.stories.js
  src/components/UNSTABLE__LayoutModules/DescriptionListModule/_index.scss
  src/components/UNSTABLE__LayoutModules/DescriptionListModule/index.js
  src/components/UNSTABLE__LayoutModules/_index.scss
  src/components/UNSTABLE__LayoutModules/index.js
  src/index.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

feat(layout-modules): add `DescriptionListModule`
  src/__tests__/scss/__snapshots__/SCSS.spec.js.snap
  src/components/__tests__/__snapshots__/publicAPI.spec.js.snap
Due: none

feat(layout-modules): add `TitleBarModule` and stories (#787)
  src/__tests__/scss/__snapshots__/SCSS.spec.js.snap
  src/components/UNSTABLE__LayoutModules/TitleBarModule/TitleBarModule.stories.js
  src/components/UNSTABLE__LayoutModules/TitleBarModule/_index.scss
  src/components/UNSTABLE__LayoutModules/TitleBarModule/index.js
  src/components/UNSTABLE__LayoutModules/_index.scss
  src/components/UNSTABLE__LayoutModules/index.js
  src/components/__tests__/__snapshots__/publicAPI.spec.js.snap
  src/index.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

chore(release): 1.34.0-prerelease.5 [skip ci]
  package.json
Due: none

Notes added by 'git notes add'
  09/a7a4c5a14ce8a9f7408ae06507a6e6a3fae4e5
Due: none

docs(storybook): add configuration to support custom MDX
  .storybook/components/Canvas/index.js
  .storybook/docs/_index.scss
  .storybook/main.js
  .storybook/preview.js
  .storybook/theme/index.js
  package.json
  yarn.lock
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

docs(storybook): fix theme order
  .storybook/theme/index.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

build(addon-links): add `addon-links` package
  .yarn/offline-mirror/@storybook-addon-links-6.0.26.tgz
Due: none

chore: merge `dev` into `description-list-module`
  src/components/UNSTABLE__LayoutModules/DescriptionListModule/DescriptionListModule.stories.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

feat(description-list): rename `TypeLayout`
  src/__tests__/scss/__snapshots__/SCSS.spec.js.snap
  src/components/DescriptionList/DescriptionList.js
  src/components/DescriptionList/DescriptionList.stories.js
  src/components/DescriptionList/__tests__/DescriptionList.spec.js
  src/components/DescriptionList/_index.scss
  src/components/DescriptionList/_mocks_/index.js
  src/components/DescriptionList/index.js
  src/components/TypeLayout/TypeLayout.stories.js
  src/components/TypeLayout/_index.scss
  src/components/TypeLayout/index.js
  src/components/__tests__/__snapshots__/publicAPI.spec.js.snap
  src/components/_index.scss
  src/index.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

feat(description-list): rename `TypeLayout`
  src/components/TypeLayout/_index.scss
  src/components/TypeLayout/index.js
  src/components/__tests__/__snapshots__/publicAPI.spec.js.snap
  src/components/_index.scss
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

docs(type-layout): add migration documentation
  src/components/TypeLayout/index.js
  src/components/TypeLayout/migrate-to-2.x.md
  src/components/__tests__/__snapshots__/publicAPI.spec.js.snap
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

docs(storybook): add and update configuration to support custom MDX (#788)
  .storybook/components/Canvas/index.js
  .storybook/docs/_index.scss
  .storybook/main.js
  .storybook/preview.js
  .storybook/theme/index.js
  .yarn/offline-mirror/@storybook-addon-links-6.0.26.tgz
  package.json
  yarn.lock
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

feat(layout-modules): add `DescriptionListModule` (#791)
  src/__tests__/scss/__snapshots__/SCSS.spec.js.snap
  src/components/TypeLayout/_index.scss
  src/components/TypeLayout/_variables.scss
  src/components/UNSTABLE__LayoutModules/DescriptionListModule/DescriptionListModule.stories.js
  src/components/UNSTABLE__LayoutModules/DescriptionListModule/_index.scss
  src/components/UNSTABLE__LayoutModules/DescriptionListModule/index.js
  src/components/UNSTABLE__LayoutModules/_index.scss
  src/components/UNSTABLE__LayoutModules/index.js
  src/components/__tests__/__snapshots__/publicAPI.spec.js.snap
  src/index.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

chore(release): 1.34.0-prerelease.6 [skip ci]
  package.json
Due: none

Notes added by 'git notes add'
  88/def261bf6287d5cc5e9ad7c55ad9047034e09c
Due: none

Path conditions:
  yarn format:precommit: any of: *.{js,md,scss}
  yarn lint:js:precommit: any of: *.js
  yarn test:precommit: any of: *.js
  yarn lint:scss:precommit: any of: *.scss
