Repository carbon-design-system/ibm-security: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

chore(release): 1.16.0-prerelease.4 [skip ci]
  package.json
Due: none

Notes added by 'git notes add'
  40b961a18450e3cf1fa4d9eb8eb1399ac7ee45e3
Due: none

chore: update react testing library user-event
  .yarn/offline-mirror/@babel-runtime-7.7.4.tgz
  .yarn/offline-mirror/@babel-runtime-7.8.4.tgz
  .yarn/offline-mirror/@testing-library-dom-6.10.1.tgz
  .yarn/offline-mirror/@testing-library-dom-6.12.0.tgz
  .yarn/offline-mirror/@testing-library-user-event-8.0.3.tgz
  .yarn/offline-mirror/@testing-library-user-event-8.1.0.tgz
  .yarn/offline-mirror/@types-istanbul-lib-report-1.1.1.tgz
  .yarn/offline-mirror/@types-istanbul-lib-report-3.0.0.tgz
  .yarn/offline-mirror/@types-react-16.9.11.tgz
  .yarn/offline-mirror/@types-react-16.9.19.tgz
  .yarn/offline-mirror/@types-react-dom-16.9.4.tgz
  .yarn/offline-mirror/@types-react-dom-16.9.5.tgz
  .yarn/offline-mirror/@types-testing-library__dom-6.10.0.tgz
  .yarn/offline-mirror/@types-testing-library__dom-6.12.0.tgz
  .yarn/offline-mirror/@types-yargs-13.0.3.tgz
  .yarn/offline-mirror/@types-yargs-13.0.7.tgz
  .yarn/offline-mirror/@types-yargs-parser-13.1.0.tgz
  .yarn/offline-mirror/@types-yargs-parser-15.0.0.tgz
  .yarn/offline-mirror/csstype-2.6.8.tgz
  .yarn/offline-mirror/source-map-resolve-0.5.3.tgz
  package.json
  yarn.lock
Due: none

fix(unstable-pagination): rename test file, add tests for checking root class
  src/components/UNSTABLE__Pagination/PageSelector.js
  src/components/UNSTABLE__Pagination/__tests__/PageSelector.spec.js
  src/components/UNSTABLE__Pagination/__tests__/Pagination.spec.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

docs(unstable-pagination): add notes about testing page selector
  src/components/UNSTABLE__Pagination/__tests__/Pagination.spec.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

docs(unstable-pagination): update top-of-file comments
  src/components/UNSTABLE__Pagination/__tests__/PageSelector.spec.js
  src/components/UNSTABLE__Pagination/__tests__/Pagination.spec.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

docs(summary-card): update top of file comments in tests
  src/components/SummaryCard/SummaryCardBatchActions/__tests__/SummaryCardBatchActions.spec.js
  src/components/SummaryCard/SummaryCardBody/__tests__/SummaryCardBody.spec.js
  src/components/SummaryCard/SummaryCardFooter/__tests__/SummaryCardFooter.spec.js
  src/components/SummaryCard/SummaryCardHeader/__tests__/SummaryCardHeader.spec.js
  src/components/SummaryCard/SummaryCardSkeleton/__tests__/SummaryCardSkeleton.spec.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

fix(summary-card): update skeleton component test
  src/components/SummaryCard/SummaryCardSkeleton/__tests__/SummaryCardSkeleton.spec.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

fix(pagination): remove page selector test
  src/components/UNSTABLE__Pagination/PageSelector.js
  src/components/UNSTABLE__Pagination/__tests__/PageSelector.spec.js
  src/components/UNSTABLE__Pagination/__tests__/Pagination.spec.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

fix(summary-card): remove unnecessary tests
  src/components/SummaryCard/SummaryCardAction/SummaryCardAction.js
  src/components/SummaryCard/SummaryCardAction/__tests__/SummaryCardAction.spec.js
  src/components/SummaryCard/SummaryCardBatchActions/SummaryCardBatchActions.js
  src/components/SummaryCard/SummaryCardBatchActions/__tests__/SummaryCardBatchActions.spec.js
  src/components/SummaryCard/SummaryCardBody/SummaryCardBody.js
  src/components/SummaryCard/SummaryCardBody/__tests__/SummaryCardBody.spec.js
  src/components/SummaryCard/SummaryCardFooter/SummaryCardFooter.js
  src/components/SummaryCard/SummaryCardFooter/__tests__/SummaryCardFooter.spec.js
  src/components/SummaryCard/SummaryCardHeader/__tests__/SummaryCardHeader.spec.js
  src/components/SummaryCard/SummaryCardSkeleton/SummaryCardSkeleton.js
  src/components/SummaryCard/SummaryCardSkeleton/__tests__/SummaryCardSkeleton.spec.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

fix(summary-card): update summary card skeleton test id
  src/components/SummaryCard/SummaryCardSkeleton/__tests__/SummaryCardSkeleton.spec.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

fix(summary-card-container): update tests
  src/components/SummaryCard/SummaryCard.stories.js
  src/components/SummaryCard/SummaryCardContainer/SummaryCardContainer.js
  src/components/SummaryCard/SummaryCardContainer/__tests__/SummaryCardContainer.spec.js
  src/components/SummaryCard/SummaryCardContainer/__tests__/__snapshots__/SummaryCardContainer.spec.js.snap
  src/components/SummaryCard/SummaryCardSelect/__tests__/SummaryCardSelect.spec.js
  src/components/SummaryCard/SummaryCardSelect/__tests__/__snapshots__/SummaryCardSelect.spec.js.snap
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

fix(summary-card-container): undo fowardRef change and story test
  src/components/SummaryCard/SummaryCard.stories.js
  src/components/SummaryCard/SummaryCardContainer/SummaryCardContainer.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

chore: update to carbon 10.9.3
  package.json
  yarn.lock
Due: none

chore: update yarn offline files
  .yarn/offline-mirror/@carbon-colors-10.7.0.tgz
  .yarn/offline-mirror/@carbon-colors-10.7.2.tgz
  .yarn/offline-mirror/@carbon-grid-10.8.0.tgz
  .yarn/offline-mirror/@carbon-grid-10.8.2.tgz
  .yarn/offline-mirror/@carbon-icon-helpers-10.5.0.tgz
  .yarn/offline-mirror/@carbon-icon-helpers-10.5.2.tgz
  .yarn/offline-mirror/@carbon-icons-react-10.8.0.tgz
  .yarn/offline-mirror/@carbon-icons-react-10.8.2.tgz
  .yarn/offline-mirror/@carbon-layout-10.7.0.tgz
  .yarn/offline-mirror/@carbon-layout-10.7.3.tgz
  .yarn/offline-mirror/@carbon-motion-10.5.0.tgz
  .yarn/offline-mirror/@carbon-motion-10.5.2.tgz
  .yarn/offline-mirror/@carbon-themes-10.9.0.tgz
  .yarn/offline-mirror/@carbon-themes-10.9.3.tgz
  .yarn/offline-mirror/@carbon-type-10.8.0.tgz
  .yarn/offline-mirror/@carbon-type-10.8.3.tgz
  .yarn/offline-mirror/carbon-components-10.10.0-alpha.0.tgz
  .yarn/offline-mirror/carbon-components-10.9.3.tgz
  .yarn/offline-mirror/carbon-components-react-7.9.0.tgz
  .yarn/offline-mirror/carbon-components-react-7.9.2.tgz
Due: none

fix(interactive-tag): update filter prop, update tagwall tests
  src/components/Tag/InteractiveTag/InteractiveTag.js
  src/components/Tag/InteractiveTag/__tests__/__snapshots__/InteractiveTag.spec.js.snap
  src/components/TagWall/__tests__/TagWall.spec.js
  src/components/TagWall/__tests__/__snapshots__/TagWall.spec.js.snap
  src/components/TagWallFilter/__tests__/__snapshots__/TagWallFilter.spec.js.snap
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

chore: update carbon-components-react
  package.json
  yarn.lock
Due: none

chore: commit updated snapshots and yarn offline files
  .yarn/offline-mirror/carbon-components-react-7.9.2.tgz
  .yarn/offline-mirror/carbon-components-react-7.9.3.tgz
  src/components/DataTable/DataTablePagination/__tests__/__snapshots__/DataTablePagination.spec.js.snap
  src/components/StackedNotification/__tests__/__snapshots__/StackedNotification.spec.js.snap
  src/components/SummaryCard/SummaryCardBatchActions/__tests__/__snapshots__/SummaryCardBatchActions.spec.js.snap
  src/components/SummaryCard/SummaryCardContainer/__tests__/__snapshots__/SummaryCardContainer.spec.js.snap
  src/components/Tag/InteractiveTag/__tests__/__snapshots__/InteractiveTag.spec.js.snap
  src/components/TagWall/__tests__/__snapshots__/TagWall.spec.js.snap
  src/components/TagWallFilter/__tests__/__snapshots__/TagWallFilter.spec.js.snap
Due: none

feat(decorator): added optional title prop
  src/components/DataDecorator/Decorator/Decorator.js
  src/components/DataDecorator/Decorator/Decorator.stories.js
  src/components/DataDecorator/Decorator/__tests__/__snapshots__/Decorator.spec.js.snap
  src/components/DataDecorator/__tests__/__snapshots__/DataDecorator.spec.js.snap
  src/components/Pill/__tests__/__snapshots__/Pill.spec.js.snap
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

chore(release): 1.16.1 [skip ci]
  package.json
Due: none

Notes added by 'git notes add'
  dbfa50ba947da8e36079af26357119b8626c7584
Due: none

chore(release): 2.1.0 [skip ci]
  package.json
Due: none

Notes added by 'git notes add'
  a9c37a7a22c10fc1a5dd353e201353fb70d20f0c
Due: none

feat(shell): create production sub-components
  .eslintrc
  src/components/SecurityHeader/SecurityHeader.js
  src/components/SecurityHeader/__tests__/__snapshots__/SecurityHeader.spec.js.snap
  src/components/SecurityHeader/_mixins.scss
  src/components/SecurityShell/SecurityShell.js
  src/components/SecurityShell/SecurityShell.stories.js
  src/components/SecurityShell/index.js
  src/components/UNSTABLE__Shell/HeaderAction/index.js
  src/components/UNSTABLE__Shell/HeaderActions/index.js
  src/components/UNSTABLE__Shell/Shell.js
  src/components/UNSTABLE__Shell/Shell.stories.js
  src/components/UNSTABLE__Shell/ShellHeader/index.js
  src/components/UNSTABLE__Shell/ShellHeaderName/index.js
  src/components/UNSTABLE__Shell/ShellReturnToBanner/index.js
  src/components/UNSTABLE__Shell/ShellSkipToContent/index.js
  src/components/UNSTABLE__Shell/ShellToolbar/index.js
  src/components/UNSTABLE__Shell/ToolbarAction/index.js
  src/components/UNSTABLE__Shell/_index.scss
  src/components/UNSTABLE__Shell/index.js
  src/components/_index.scss
  src/index.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

chore: update to carbon 10.9.3 (#341)
  .yarn/offline-mirror/@carbon-colors-10.7.0.tgz
  .yarn/offline-mirror/@carbon-colors-10.7.2.tgz
  .yarn/offline-mirror/@carbon-grid-10.8.0.tgz
  .yarn/offline-mirror/@carbon-grid-10.8.2.tgz
  .yarn/offline-mirror/@carbon-icon-helpers-10.5.0.tgz
  .yarn/offline-mirror/@carbon-icon-helpers-10.5.2.tgz
  .yarn/offline-mirror/@carbon-icons-react-10.8.0.tgz
  .yarn/offline-mirror/@carbon-icons-react-10.8.2.tgz
  .yarn/offline-mirror/@carbon-layout-10.7.0.tgz
  .yarn/offline-mirror/@carbon-layout-10.7.3.tgz
  .yarn/offline-mirror/@carbon-motion-10.5.0.tgz
  .yarn/offline-mirror/@carbon-motion-10.5.2.tgz
  .yarn/offline-mirror/@carbon-themes-10.9.0.tgz
  .yarn/offline-mirror/@carbon-themes-10.9.3.tgz
  .yarn/offline-mirror/@carbon-type-10.8.0.tgz
  .yarn/offline-mirror/@carbon-type-10.8.3.tgz
  .yarn/offline-mirror/carbon-components-10.10.0-alpha.0.tgz
  .yarn/offline-mirror/carbon-components-10.9.3.tgz
  .yarn/offline-mirror/carbon-components-react-7.9.0.tgz
  .yarn/offline-mirror/carbon-components-react-7.9.3.tgz
  package.json
  src/components/DataTable/DataTablePagination/__tests__/__snapshots__/DataTablePagination.spec.js.snap
  src/components/StackedNotification/__tests__/__snapshots__/StackedNotification.spec.js.snap
  src/components/SummaryCard/SummaryCardBatchActions/__tests__/__snapshots__/SummaryCardBatchActions.spec.js.snap
  src/components/SummaryCard/SummaryCardContainer/__tests__/__snapshots__/SummaryCardContainer.spec.js.snap
  src/components/Tag/InteractiveTag/InteractiveTag.js
  src/components/Tag/InteractiveTag/__tests__/__snapshots__/InteractiveTag.spec.js.snap
  src/components/TagWall/__tests__/TagWall.spec.js
  src/components/TagWall/__tests__/__snapshots__/TagWall.spec.js.snap
  src/components/TagWallFilter/__tests__/__snapshots__/TagWallFilter.spec.js.snap
  yarn.lock
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

chore(release): 1.16.1-prerelease.1 [skip ci]
  package.json
Due: none

Notes added by 'git notes add'
  fa74446410005e5d57d60c6c45551f26dbb1c365
Due: none

fix(summary-card-container): add tabindex to batch actions tests and story
  src/components/SummaryCard/SummaryCard.stories.js
  src/components/SummaryCard/SummaryCardContainer/__tests__/SummaryCardContainer.spec.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

chore(shell): break out sub-components
  src/components/UNSTABLE__Shell/HeaderAction/index.js
  src/components/UNSTABLE__Shell/HeaderActions/index.js
  src/components/UNSTABLE__Shell/NotificationsPopover/index.js
  src/components/UNSTABLE__Shell/Popover/index.js
  src/components/UNSTABLE__Shell/PopoverContent/index.js
  src/components/UNSTABLE__Shell/PopoverFooter/index.js
  src/components/UNSTABLE__Shell/PopoverHeader/index.js
  src/components/UNSTABLE__Shell/PopoverNotification/index.js
  src/components/UNSTABLE__Shell/Shell.js
  src/components/UNSTABLE__Shell/Shell.stories.js
  src/components/UNSTABLE__Shell/ShellHeader/index.js
  src/components/UNSTABLE__Shell/ShellHeaderName/index.js
  src/components/UNSTABLE__Shell/ShellReturnToBanner/index.js
  src/components/UNSTABLE__Shell/ToolbarAction/index.js
  src/components/UNSTABLE__Shell/index.js
  src/index.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

fix(trending-card): reformat tests and remove snapshots
  src/components/TrendingCard/__tests__/TrendingCard.spec.js
  src/components/TrendingCard/__tests__/__snapshots__/TrendingCard.spec.js.snap
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

fix(trending-card): add test to check that custom classes in wrapper and custom link are combined
  src/components/TrendingCard/__tests__/TrendingCard.spec.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

fix(trending-card): restore DAP matcher to tests
  src/components/TrendingCard/__tests__/TrendingCard.spec.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

fix(data-decorator): do not render primary button if prop not provided
  src/components/DataDecorator/DataDecorator.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

chore: update data decorator snapshot
  src/components/DataDecorator/__tests__/__snapshots__/DataDecorator.spec.js.snap
Due: none

fix(summary-card): apply PR feedback
  src/components/SummaryCard/SummaryCardContainer/__tests__/SummaryCardContainer.spec.js
  src/components/SummaryCard/SummaryCardSelect/__tests__/SummaryCardSelect.spec.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

chore(shell): create profile recipe
  config/jest/index.js
  config/jest/matchers/toHaveNoAxeViolations.js
  config/jest/matchers/toHaveNoDAPViolations.js
  package.json
  src/components/IconButton/migrate-to-2.x.md
  src/components/TrendingCard/__tests__/TrendingCard.spec.js
  src/components/UNSTABLE__Shell/PopoverTitle/index.js
  src/components/UNSTABLE__Shell/ProfilePopover/index.js
  src/components/UNSTABLE__Shell/Shell.stories.js
  src/components/UNSTABLE__Shell/ShellSkipToContent/index.js
  src/components/UNSTABLE__Shell/__tests__/Shell.spec.js
  src/components/UNSTABLE__Shell/index.js
  src/index.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

chore: add hex-rgb dependency
  .yarn/offline-mirror/hex-rgb-4.1.0.tgz
  package.json
  yarn.lock
Due: none

fix(scroll-gradient): update linear-gradient logic to work in safari
  src/components/ScrollGradient/ScrollGradient.js
  src/components/ScrollGradient/ScrollGradient.stories.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

docs(scroll-gradient): update color prop desc
  src/components/ScrollGradient/ScrollGradient.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

fix: update scrollgradient usage in codebase
  src/components/DataTable/DataTablePagination/__tests__/__snapshots__/DataTablePagination.spec.js.snap
  src/components/DataTable/Table.js
  src/components/DataTable/__tests__/__snapshots__/DataTable.spec.js.snap
  src/components/FilterPanel/LEGACY_FilterPanel/FilterSubcategory/FilterSubcategory.js
  src/components/FilterPanel/LEGACY_FilterPanel/FilterSubcategory/__tests__/__snapshots__/FilterSubcategory.spec.js.snap
  src/components/Header/Header.js
  src/components/ScrollGradient/__tests__/ScrollGradient.spec.js
  src/components/ScrollGradient/__tests__/__snapshots__/ScrollGradient.spec.js.snap
  src/components/SummaryCard/SummaryCardBody/SummaryCardBody.js
  src/components/TagWallFilter/__tests__/__snapshots__/TagWallFilter.spec.js.snap
  src/components/Tearsheet/Tearsheet.js
  src/components/Tearsheet/TearsheetSmall/TearsheetSmall.js
  src/components/Tearsheet/TearsheetSmall/__tests__/__snapshots__/TearsheetSmall.spec.js.snap
  src/components/Tearsheet/__tests__/__snapshots__/Tearsheet.spec.js.snap
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

Path conditions:
  yarn format:precommit: any of: *.{js,md,scss}
  yarn lint:js:precommit: any of: *.js
  yarn test:precommit: any of: *.js
  yarn lint:scss:precommit: any of: *.scss
