Repository carbon-design-system/ibm-security: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn format:precommit, yarn lint:js:precommit, yarn lint:scss:precommit

.lintstagedrc:

{
  '*.{js,md,scss}': ['yarn format:precommit', 'git add'],
  '*.js': ['yarn lint:js:precommit', 'git add'],
  '*.scss': ['yarn lint:scss:precommit', 'git add'],
}

chore(release): 1.44.0-prerelease.3 [skip ci]
  package.json
Due: none

Notes added by 'git notes add'
  98/d467ef0dcbbefb5cc19869e1b87caec916b7f2
Due: none

chore(scroll-gradient): remove `ResizeObserver` polyfill (#1030)
  config/jest/index.js
  package.json
  src/components/ScrollGradient/ScrollGradient.js
  src/components/ScrollGradient/__mocks__/index.js
  src/components/ScrollGradient/__tests__/ScrollGradient-test.js
  src/components/__tests__/__snapshots__/publicAPI-test.js.snap
Due: yarn format:precommit, yarn lint:js:precommit

chore(trending-card): sort prop types
  src/components/TrendingCard/index.js
Due: yarn format:precommit, yarn lint:js:precommit

chore(wizard-step): sort prop types
  src/components/Wizard/WizardStep.js
Due: yarn format:precommit, yarn lint:js:precommit

chore(wizard): sort prop types
  src/components/Wizard/Wizard.js
Due: yarn format:precommit, yarn lint:js:precommit

chore(type-layout): sort prop types
  src/components/TypeLayout/TypeLayout.js
Due: yarn format:precommit, yarn lint:js:precommit

chore(truncated-list): sort prop types
  src/components/TruncatedList/TruncatedList.js
Due: yarn format:precommit, yarn lint:js:precommit

chore(tearsheet-small): sort prop types
  src/components/Tearsheet/TearsheetSmall/TearsheetSmall.js
Due: yarn format:precommit, yarn lint:js:precommit

docs(wizard): add loadingMessage prop type
  src/components/Wizard/Wizard.js
  src/components/__tests__/__snapshots__/publicAPI-test.js.snap
Due: yarn format:precommit, yarn lint:js:precommit

docs(tag-wall-filter): sort prop types
  src/components/TagWallFilter/Filter/Filter.js
  src/components/TagWallFilter/TagWallFilter.js
Due: yarn format:precommit, yarn lint:js:precommit

docs(tearsheet): sort prop types
  src/components/Tearsheet/Tearsheet.js
Due: yarn format:precommit, yarn lint:js:precommit

docs(tag-wall): sort prop types
  src/components/TagWall/TagWall.js
Due: yarn format:precommit, yarn lint:js:precommit

chore(globals): fix jsdoc params in deprecate util
  src/globals/deprecate/index.js
Due: yarn format:precommit, yarn lint:js:precommit

chore(globals): fix jsdoc params in deprecate util (#1045)
  src/globals/deprecate/index.js
Due: yarn format:precommit, yarn lint:js:precommit

chore: sort prop types for TagWall - WizardStep (#1044)
  src/components/TagWall/TagWall.js
  src/components/TagWallFilter/Filter/Filter.js
  src/components/TagWallFilter/TagWallFilter.js
  src/components/Tearsheet/Tearsheet.js
  src/components/Tearsheet/TearsheetSmall/TearsheetSmall.js
  src/components/TrendingCard/index.js
  src/components/TruncatedList/TruncatedList.js
  src/components/TypeLayout/TypeLayout.js
  src/components/Wizard/Wizard.js
  src/components/Wizard/WizardStep.js
  src/components/__tests__/__snapshots__/publicAPI-test.js.snap
Due: yarn format:precommit, yarn lint:js:precommit

chore(scroll-gradient): remove ResizeObserver polyfill
  config/jest/index.js
Due: yarn format:precommit, yarn lint:js:precommit

style(prettier): add Carbon configuration (#1043)
  rollup.config.js
Due: yarn format:precommit, yarn lint:js:precommit

Removed flex that has been added to .bx--link which collapses the white space around the words
  src/components/NonEntitledSection/_index.scss
Due: yarn format:precommit, yarn lint:scss:precommit

feat(deps): upgrade production dependencies
  .yarn/offline-mirror/@babel-runtime-7.14.8.tgz
  .yarn/offline-mirror/flatpickr-4.6.3.tgz
  .yarn/offline-mirror/focus-trap-6.5.0.tgz
  .yarn/offline-mirror/focus-trap-6.6.0.tgz
  .yarn/offline-mirror/focus-trap-react-8.5.1.tgz
  .yarn/offline-mirror/focus-trap-react-8.7.0.tgz
  .yarn/offline-mirror/react-is-16.13.0.tgz
  .yarn/offline-mirror/react-transition-group-4.4.2.tgz
  .yarn/offline-mirror/throttle-debounce-3.0.1.tgz
  package.json
  src/components/__tests__/__snapshots__/publicAPI-test.js.snap
  yarn.lock
Due: none

chore(flatpickr): remove dependency
  .yarn/offline-mirror/flatpickr-4.6.3.tgz
  package.json
  yarn.lock
Due: none

chore(flatpickr): remove dependency (#1048)
  .yarn/offline-mirror/flatpickr-4.6.3.tgz
  package.json
  yarn.lock
Due: none

fixes alignment of the subsection action buttons when label is present
  src/components/LayoutModules/TitleBarModule/_index.scss
Due: yarn format:precommit, yarn lint:scss:precommit

updates snapshot
  src/__tests__/scss/__snapshots__/SCSS.spec.js.snap
Due: none

Added display:inline to header link to add spacing between words
  src/components/Header/_mixins.scss
Due: yarn format:precommit, yarn lint:scss:precommit

fix(dependencies): move prettier-config-carbon to dev dependency
  package.json
Due: none

modular-layouts-ica-update
  src/components/LayoutModules/ICAModule/index.mdx
Due: none

fix(header): Updated snapshot
  src/__tests__/scss/__snapshots__/styles-test.js.snap
Due: none

fix(header): Added display:inline to header link to add spacing between words (#1052)
  src/__tests__/scss/__snapshots__/styles-test.js.snap
  src/components/Header/_mixins.scss
Due: yarn format:precommit, yarn lint:scss:precommit

chore(release): 1.44.0-prerelease.4 [skip ci]
  package.json
Due: none

Notes added by 'git notes add'
  e6/e148e698f95ace2a51682c3bfdbb607b89b82f
Due: none

chore: merge `dev` into `refactor/lint`
  src/components/Card/Card.js
Due: yarn format:precommit, yarn lint:js:precommit

chore: eslint fixes (#1050)
  src/components/Card/Card.js
Due: yarn format:precommit, yarn lint:js:precommit

fix(dependencies): move prettier-config-carbon to dev dependency (#1053)
  package.json
Due: none
