Repository carbon-design-system/ibm-security: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

.lintstagedrc:

{
  '*.{js,md,scss}': ['yarn format:precommit', 'git add'],
  '*.js': ['yarn lint:js:precommit', 'git add', 'yarn test:precommit'],
  '*.scss': ['yarn lint:scss:precommit', 'git add'],
}

fix(truncated-list): add icon back in
  src/components/FilterPanel/FilterPanelAccordionItem/FilterPanelAccordiontItem.js
  src/components/TruncatedList/TruncatedList.js
  src/components/TruncatedList/__tests__/TruncatedList.spec.js
  src/components/TruncatedList/_index.scss
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

refactor(filter-panel-checkbox-with-overflow-menu): use cleaner focus logic
  src/components/FilterPanel/FilterPanelCheckboxWithOverflowMenu/FilterPanel.stories.js
  src/components/FilterPanel/FilterPanelCheckboxWithOverflowMenu/FilterPanelCheckboxWithOverflowMenu.js
  src/components/FilterPanel/FilterPanelCheckboxWithOverflowMenu/_index.scss
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

feat(focus): create and utilize component focus hook
  src/components/FilterPanel/FilterPanelCheckboxWithOverflowMenu/FilterPanel.stories.js
  src/components/FilterPanel/FilterPanelCheckboxWithOverflowMenu/FilterPanelCheckboxWithOverflowMenu.js
  src/components/FilterPanel/FilterPanelSearch/FilterPanelSearch.js
  src/globals/utils/focus.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

fix(nav-item): remove active state for external links (#484)
  src/components/Nav/NavItem/NavItem.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

chore(release): 1.20.1-prerelease.2 [skip ci]
  package.json
Due: none

Notes added by 'git notes add'
  12ed7e4bf3ae555eedcc79eea323e0416fc3c0ab
Due: none

feat(truncated-list): remove icons
  src/components/TruncatedList/TruncatedList.js
  src/components/TruncatedList/TruncatedList.stories.js
  src/components/TruncatedList/__tests__/TruncatedList.spec.js
  src/components/TruncatedList/_index.scss
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

fix(filter-panel-accordion-item): expand button label
  src/components/FilterPanel/FilterPanelAccordionItem/FilterPanelAccordiontItem.js
  src/components/__tests__/__snapshots__/publicAPI.spec.js.snap
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

feat(truncated-list): create component (#469)
  src/components/FilterPanel/FilterPanelAccordionItem/FilterPanelAccordiontItem.js
  src/components/FilterPanel/FilterPanelAccordionItem/__tests__/FilterPanelAccordionItem.spec.js
  src/components/FilterPanel/FilterPanelAccordionItem/_mixins.scss
  src/components/TruncatedList/TruncatedList.js
  src/components/TruncatedList/TruncatedList.stories.js
  src/components/TruncatedList/__tests__/TruncatedList.spec.js
  src/components/TruncatedList/_index.scss
  src/components/TruncatedList/_mocks_/index.js
  src/components/TruncatedList/index.js
  src/components/__tests__/__snapshots__/publicAPI.spec.js.snap
  src/components/_index.scss
  src/index.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

chore(release): 1.21.0-prerelease.1 [skip ci]
  package.json
Due: none

Notes added by 'git notes add'
  07e90ed5f4f6bb452787e188a9478d0f14215fee
Due: none

feat(modular-layouts): initial commit of demo files
  src/components/Layouts/Layouts.stories.js
  src/components/Layouts/_index.scss
  src/components/_index.scss
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

docs(storybook): update storybook sidebar with package info and version
  .storybook/theme/index.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

feat(filter-panel-checkbox-withh-overflow-menu): match container width
  src/components/FilterPanel/FilterPanelCheckboxWithOverflowMenu/FilterPanelCheckboxWithOverflowMenu.js
  src/components/FilterPanel/FilterPanelCheckboxWithOverflowMenu/_index.scss
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

fix(filter-panel-checkbox-withh-overflow-menu): position bug
  src/components/FilterPanel/FilterPanelCheckboxWithOverflowMenu/FilterPanelCheckboxWithOverflowMenu.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

fix(filter-panel-search): blur delay to give users more time
  src/components/FilterPanel/FilterPanelSearch/FilterPanelSearch.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

docs(storybook): wrap text in brandTitle in code tag
  .storybook/theme/index.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

docs(storybook): update storybook sidebar with package info and version (#488)
  .storybook/theme/index.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

fix(theme): add CSS custom property flag (#464)
  README.md
  docs/themes/README.md
  src/globals/feature-flags/_index.scss
  src/globals/theme/_index.scss
  src/globals/theme/_mixins.scss
Due: yarn format:precommit, yarn lint:scss:precommit

chore(release): 1.21.0-prerelease.2 [skip ci]
  package.json
Due: none

Notes added by 'git notes add'
  165d4213f942669dd9d7491269df3bac7247adbc
Due: none

open in same tab if external is false, and new tab if external is true
  src/components/ErrorPage/ErrorPage.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

test(scss): update script to include all potential imports (#474)
  .gitignore
  .yarn/offline-mirror/glob-7.1.6.tgz
  package.json
  scripts/debugScss.js
  scripts/scss/index.js
  src/globals/grid/css-gridish/scss/_core.scss
  src/globals/grid/css-gridish/scss/_functions.scss
  src/globals/grid/css-gridish/scss/_mixins.scss
  src/globals/grid/css-gridish/scss/_sass-list-maps.scss
  src/globals/grid/css-gridish/scss/_utilities.scss
  src/globals/grid/css-gridish/scss/_values.scss
  src/globals/grid/css-gridish/scss/_variables.scss
  src/globals/grid/css-gridish/scss/bx-grid-legacy.scss
  src/globals/grid/css-gridish/scss/bx-grid.scss
  yarn.lock
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

test(filter-panel-checkbox-with-overflow-menu): wip a11y fix
  src/components/FilterPanel/FilterPanelCheckboxWithOverflowMenu/FilterPanelCheckboxWithOverflowMenu.js
  src/components/FilterPanel/FilterPanelCheckboxWithOverflowMenu/__tests__/FilterPanelCheckboxWithOverflowMenu.spec.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

fix(tokens): filter by color
  src/globals/theme/_index.scss
Due: yarn format:precommit, yarn lint:scss:precommit

Allow link to open in new tab on error page (#480)
  src/components/ErrorPage/ErrorPage.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

fix(scss): fix broken imports
  src/components/ComboBox/_index.scss
  src/components/DatePicker/_index.scss
  src/components/FilterPanel/FilterPanelAccordionItem/_mixins.scss
  src/components/FilterPanel/FilterSearch/_index.scss
  src/components/Tag/InteractiveTag/_mixins.scss
  src/components/Tearsheet/TearsheetSmall/_mixins.scss
  src/components/TruncatedList/_index.scss
Due: yarn format:precommit, yarn lint:scss:precommit

fix(button): permit disable toggle for `loading`
  src/components/Button/Button.js
  src/components/Button/__tests__/Button.spec.js
  src/components/Button/_mixins.scss
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit, yarn lint:scss:precommit

fix(button): permit disable toggle for `loading`
  src/components/SummaryCard/SummaryCardAction/SummaryCardAction.js
  src/components/__tests__/__snapshots__/publicAPI.spec.js.snap
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

fix(themes): update variable naming
  src/globals/theme/_index.scss
  src/globals/theme/_mixins.scss
Due: yarn format:precommit, yarn lint:scss:precommit

fix(themes): update variable naming
  src/components/SummaryCard/SummaryCardAction/SummaryCardAction.js
Due: yarn format:precommit, yarn lint:js:precommit, yarn test:precommit

fix(scss): fix broken imports (#494)
  src/components/ComboBox/_index.scss
  src/components/DatePicker/_index.scss
  src/components/FilterPanel/FilterPanelAccordionItem/_mixins.scss
  src/components/FilterPanel/FilterSearch/_index.scss
  src/components/Tag/InteractiveTag/_mixins.scss
  src/components/Tearsheet/TearsheetSmall/_mixins.scss
  src/components/TruncatedList/_index.scss
Due: yarn format:precommit, yarn lint:scss:precommit

chore(release): 1.21.0-prerelease.3 [skip ci]
  package.json
Due: none

Notes added by 'git notes add'
  8b980c0e30d4a06b66cbb30944cd92bcd5f3ff1c
Due: none

fix(themes): add token ignore list for CSS custom properties (#492)
  src/globals/_index.scss
  src/globals/theme/_functions.scss
  src/globals/theme/_index.scss
  src/globals/theme/_mixins.scss
  src/globals/theme/_variables.scss
Due: yarn format:precommit, yarn lint:scss:precommit

chore(release): 1.21.0-prerelease.4 [skip ci]
  package.json
Due: none

Notes added by 'git notes add'
  936fa1068c8e813f2879076e0cfb0367178189ec
Due: none

chore(release): 1.21.0 [skip ci]
  package.json
Due: none
